.clubheader{
	background-color: #FB8C00;
	border-radius: 0;
	border: none;
	height: 250px;
}
.navbarcolour{
	background-color: #012454;
	color: white;

}
.bordernow {
	border: none;
}
.buttoncolour{
	border-color: #012454;
	color: #012454;
}
.buttoncolour:hover{
	background-color: #FB8C00;

}

.btn-outline-primary{
	color: #000000;
}
.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #FB8C00; 
    border-color: #007bff;
    transition: 0.5s;
}

.xcdx-btn{
	text-align: center;
	width: 30%;
	padding: 2% 1.7%;  
	background-color: #012454;
	transition: 0.5s ease-in-out;
	text-decoration: none;
	border-radius: 50px;
}
.xcdx-btn:hover{
	background-color: #FB8C00;
	 transition: 0.5s;
	 border-radius: 10px;
}
.xcdx-btn a{
	color: #ffffff;
}

a:link {
  text-decoration: none;
}
.socl{
background-color: #78335d;
}