<%include header%>

<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">
  <!-- Main Content -->
  <div id="content">
    <!-- Topbar -->
    <%include navbar%>
    <!-- End of Topbar -->

    <!-- Begin Page Content -->
    <div id="content-field"><%include dashboard%></div>
    <!-- /.container-fluid -->
  </div>
</div>
<!-- End of Content Wrapper -->

<%include footer%>
