body{
	font-family: 'Source Sans Pro', sans-serif;
}

.back-to-home{
	color: #fff;
	background: #78335D;
	text-decoration: none;
	border: none;
}
#top-navigation{
	border: none;
	background: #1e272e;
	color: #fff;
}
#gbu-logo{
	width: 30px;
	height: 30px;
	display: inline-flex;
}
#gbu-name{
	color: #fff;
	display: inline-flex;
	text-decoration: none;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
}
#col-college-name-1{
	padding-right: 20px;
	font-family: font-family: 'Poppins', sans-serif;
	font-family: 'Lato', sans-serif;
	border-right: 7px solid #cc3636; 
}
#college-name-1{
	font-size: 22px;
	font-weight: 600;
	color: #010327;
	text-align: right;
	letter-spacing: 0;
}
#college-name-2{
	font-size: 26px;
	font-weight: 550;
	color: #010327;
	font-family: 'Lato', sans-serif;
	display: inline-flex;
}
.vl {
  	border: 2px solid #cc3636;
 	height: 36px;
 	display: inline-flex;
 	margin: 10px;
}

.navbar{
	color: #012454;
	align-items: center;
	background: #fff;
	border-top: 3px solid #cc3636;
}
.nav-link{
	font-weight: 600;
	color: #012454;
	font-size: 16px;
	text-decoration: none;
}
.nav-link:hover{
	color: #cc3636;
	transition-delay: .s;
}
#section1-background{
	background: url(../../img/campuslife3.jpg);
	background-attachment: fixed;
	background-size:cover;
	opacity: .9;
	width: 100%;
	padding: 5%;
	height: 500px;
	filter: brightness(80%);
}
#section1-content{
	opacity: 1;
	color: #fff;
}
#school-name{
	color: #fff;
	font-weight: 700;
	filter: brightness(200%);
	font-size: 44px;
}
#branches-name-section1{
	background: orange;
	color: #fff;
	opacity: 1;
	padding: 20px;
}
#branches-name-section1:hover{
	background: yellow;
	color: #012454;
}

#photo-galary-header{
	text-align: center;
	font-weight: 700;
	color: #000;
}
#photo-galary-header-p{
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}

 @media (min-width: 0) {
	 .card-deck .card {
		 flex: 0 0 calc(100% - 30px);
	}
}
 @media (min-width: 576px) {
	 .card-deck .card {
		 flex: 0 0 calc(50% - 30px);
		 
	}
}
 @media (min-width: 768px) {
	 .card-deck .card {
		 flex: 0 0 calc(33.3333333333% - 30px);
	}
}
 @media (min-width: 992px) {
	 .card-deck .card {
		 flex: 0 0 calc(25% - 30px);
	}
}
 @media (min-width: 1200px) {
	 .card-deck .card {
		 flex: 0 0 calc(25% - 30px);
	}
}
 .jumbotron{
 	background: #fff;
 	box-shadow: 0 0 20px 0 #bbb5b5;
}
 .card-header{
 	border: none;
 	background-color: #cc3636;
 	color: #fff;
 }
 .dropdown-item:hover{
 	background: #cc3636;
 	color: #fff;
 }