body{

  font-family: 'Lato', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;
  text-align:justify; 
  text-justify:auto;
}
p{
  text-align:justify; 
  text-justify:auto;
}
.back-to-home{
	color: #fff;
	background: #78335D;
	text-decoration: none;
	border: none;
}
#top-navigation{
	border: none;
	background: #1e272e;
	color: #fff;
}
#gbu-logo{
	width: 30px;
	height: 30px;
	display: inline-flex;
}
#gbu-name{
	color: #fff;
	display: inline-flex;
	text-decoration: none;
	font-weight: 400;
	font-family: 'Source Sans Pro', sans-serif;
}
#col-college-name-1{
	padding-right: 20px;
	font-family: font-family: 'Poppins', sans-serif;
	font-family: 'Lato', sans-serif;
	border-right: 7px solid #cc3636; 
}
#college-name-1{
	font-size: 18px;
	font-weight: 600;
	color: #010327;
	text-align: right;
	letter-spacing: 0;
}
#college-name-2{
	color: #010327;
	font-weight: 500;
	font-family: 'Lato', sans-serif;
}
.navbar{
	color: #012454;
	align-items: center;
	background: #fff;
	border-top: 3px solid #cc3636;
}
.nav-link{
	font-weight: 600;
	color: #012454;
	font-size: 16px;
	text-decoration: none;
}
.nav-link:hover{
	color: #cc3636;
	transition-delay: .s;
}
#section1-background{
	background: url(../../img/campuslife3.jpg);
	background-attachment: fixed;
	background-size:cover;
	opacity: .9;
	width: 100%;
	padding: 5%;
	height: 500px;
	filter: brightness(80%);
}
#section1-content{
	opacity: 1;
	color: #fff;
}
#school-name{
	color: #fff;
	font-weight: 700;
	filter: brightness(200%);
	font-size: 44px;
}
#branches-name-section1{
	background: orange;
	color: #fff;
	opacity: 1;
	padding: 20px;
}
#branches-name-section1:hover{
	background: yellow;
	color: #012454;
}

#photo-galary-header{
	text-align: center;
	font-weight: 700;
	color: #000;
}
#photo-galary-header-p{
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}

 @media (min-width: 0) {
	 .card-deck .card {
		 flex: 0 0 calc(100% - 30px);
	}
}
 @media (min-width: 576px) {
	 .card-deck .card {
		 flex: 0 0 calc(50% - 30px);
		 
	}
}
 @media (min-width: 768px) {
	 .card-deck .card {
		 flex: 0 0 calc(33.3333333333% - 30px);
	}
}
 @media (min-width: 992px) {
	 .card-deck .card {
		 flex: 0 0 calc(25% - 30px);
	}
}
 @media (min-width: 1200px) {
	 .card-deck .card {
		 flex: 0 0 calc(25% - 30px);
	}
}
 .jumbotron{
 	background: #fff;
 	box-shadow: 0 0 20px 0 #bbb5b5;
}
 .card-header{
 	border: none;
 	background-color: #cc3636;
 	color: #fff; 	
 }
 .dropdown-item:hover{
 	background: #cc3636;
 	color: #fff;
 }
@media only screen and (min-width : 320px) {
		#col-college-name-1{
			border-right: 4px solid #cc3636; 
		}
		#college-name-1{
	      	font-size: 12px;
	    }
		#college-name-2{
			font-size: 12px;
	    }
	    #fill-image {
        width: 180%;
        margin-left: -40%;
        margin-right: -40%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
@media only screen and (min-width : 480px) {
		#col-college-name-1{
			border-right: 5px solid #cc3636; 
		}
  		#college-name-1{
      	    font-size: 13px;
        }
        #college-name-2{
      	    font-size: 14px;
        }
        #fill-image {
        width: 180%;
        margin-left: -40%;
        margin-right: -40%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
@media only screen and (min-width : 768px) {
		#col-college-name-1{
			border-right: 6px solid #cc3636; 
		}
  		#college-name-1{
    	  	font-size: 17px;
        }
        #college-name-2{
      	    font-size: 18px;
        }
        #fill-image {
        width: 160%;
        background-size: cover;
        background-position: center;
        margin-left: -30%;
        margin-right: -30%;
        background-repeat: no-repeat;
      }
    }
@media only screen and (min-width : 992px) {
		#col-college-name-1{
			border-right: 7px solid #cc3636; 
		}
  		#college-name-1{
    	  	font-size: 19px;
        }
      	#college-name-2{
      		font-size: 20px;
        }

      #fill-image {
        width: 100%;
        background-size: cover;
        margin: 0;
        background-position: center;
        background-repeat: no-repeat;
      }
    }
@media only screen and (min-width : 1200px) {
		#col-college-name-1{
			border-right: 7px solid #cc3636; 
		}	
  		#college-name-1{
    	  	font-size: 22px;
      	}
        #college-name-2{
      	    font-size: 24px;
        }

      #fill-image {
        width: 100%;
        background-size: cover;
        margin: 0;
        background-position: center;
        background-repeat: no-repeat;
      }
    }


#card-image{
	height: 200px;
	margin: 0px auto;
	max-width: 200px;
	align-items: center;
	}

#carousel-item-img{
	padding-left: 20% ;
	width: 80%;
}
#card-height{
	height: 300px;
}