<%include header%>
  <section class="text-center py-5 " style="background-color: #fff;" >
    <h3>404 - Page not found</h3>
    <p style="text-align: center;">Sorry, an error has occured, Requested page not found!</p>
    <a href="/"><button class="btn btn-outline-success" type="button" name="button"><i class="fa fa-home"></i>Go Home</button></a>
  </section>
  <%include footer%>
