<%include header%>
    <div class="jumbotron mb-0 clubheader1" style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat;">
      <div class="container mb-0 text-white">
        <h1 class="display-5 text-center text-dark mb-0">
        <strong>
        IEEE-GBU STUDENT BRANCH
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <!-- Nevigation End -->
    <div class="container">
      
      <div class=" mt-2 mb-5">
        <div class=" pl-2">
              <h2 class=" text-lg-left mt-4 mb-0">
                About
              </h2>
              <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
              </div>
            </div>
          <br><br>
            <p class="text-justify">
              <ul>
                <li>IEEE and its members inspire a global community to innovate for a better tomorrow through highly cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing, and technology information around the globe.</li>
                <br>
                <li>IEEE offers a wide range of learning and career enhancement opportunities within the engineering sciences, research, and other technology areas. The goal of these programs is to ensure the growth of skill and knowledge among professionals and to foster individual commitment to continuing education among IEEE members, the engineering and scientific community, and the general public.</li>
              </ul>
            </p>
          </div>
          <br>
          
           <div class=" pl-2">
              <h2 class=" text-lg-left mt-4 mb-0">
                Important Links
              </h2>
              <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
              </div>
            </div>
         <br><br>
          <div class="row">
            <div class="col-md-6 ">
              <div class="xcdx-btn">
                <a href="http://www.gbu.co.in/"> IEEE-GBU STUDENT BRANCH</a>
              </div><br>
              <div class="xcdx-btn">
              <a href="https://www.ieee.org/"> IEEE.ORG</a>
            </div>
            
            
            <br>
            
            <div class="xcdx-btn">
              <a href="https://www.ieee.org/membership/join/index.html"> JOIN IEEE</a>
            </div><br>
            <div class="xcdx-btn">
            <a href="https://www.ieee.org/Loginforms/myIEEE/login.html">SIGN INTO MYIEEE</a>
          </div>
          
          <br>
        </div>
        <div class="col-md-6">
          
          <div class="xcdx-btn">
            <a href="https://www.ieee.org/about/help/my-account/web-account.html?WT.mc_id=msim_wa#">CREATE IEEE ACCOUNT</a>
          </div><br><div class="xcdx-btn">
          <a href="https://www.ieee.org/membership/renew.html">RENEW MEMBERSHIP</a>
        </div>
        
        <br>
        <div class="xcdx-btn">
          <a href="https://www.ieee.org/sitemap.html">MORE SITES</a>
        </div>
      </div>
    </div>
    <br>
    <div >
    </div>
  </div>

<%include footer%>