<%include header%>
   <div class="jumbotron mb-0 clubheader1"style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
      <div class="container mb-0 ">
        <h1 class="display-5 text-center mb-0 text-dark">
        <strong>
        INTERNATIONAL COLLABORATION
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    
    <!-- Nevigation End -->
   <div class="container">
      <div class=" mt-2 mb-5">
        <div >
          <div class="container ">
            <h2 class=" text-lg-left mt-4 mb-0">
        About
        </h2>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
        <div class="mb-5 ml-2">
          <img src="assets-academics/img/internationalCollaboration.jpg" class="img-fluid" alt="International imCollaborationage">
          
          <p class="card-text text-justify mt-2">
            <ul>
              <li>International Collaboration Cell’ of Gautam Buddha University is involved in developing academic collaboration with Universities abroad. We have already signed ‘Memorandum of Understanding (MOU) with Sheffield Hallam University, Manchester Metropolitan University U.K., Queensland University (Australia) and Academy of Business Studies (Denmark), and are in process of developing such relationship with certain other Universities in Netherland, U.K. and U.S.A. Our Collaboration covers students and faculty collaboration in teaching, research and professional development areas.</li>
              <li>The U.P. Govt. provides full financial support to students belonging to SC/ST categories & BPL students of General, OBC & Minorities. The financial support includes passage, boarding and all academic fees & expenditures for studying abroad for one semester. Our second batch of such students is undergoing their studies at Shaffield Hallam University, U.K</li>
            </ul>
           </p>
        </div>
      </div>
    </div>
  </div>
</div>
 <%include footer%>