<%include header%>
    <div class="jumbotron mb-0 clubheader1" style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
      <div class="container mb-0 ">
        <h1 class="display-5 mb-0 text-dark text-center">
        <strong>
        ANTI RAGGING
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <div class="container">
      <div class="container">
        <h2 class=" text-lg-left mt-4 mb-0">
        About
        </h2>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
      </div>
      <br>
      <div class="ml-4">
        <p class="card-text text-justify mt-2">
          <ul class="ml-4">
            <li>Ragging has ruined countless innocent lives and careers. In order to eradicate it, Hon’ble Supreme Court in Civil Appeal No. 887 of 2009, passed the judgement wherein guidelines were issued for setting up of a Central Crisis Hotline and Anti-Ragging database.</li><br>
            <li>In accordance with the orders, UGC (University Grants Commission), Govt. of India has developed a web portal of <a href="https://www.antiragging.in/">Anti Ragging</a>.
            <br>
            <strong>This portal will contain</strong>
            <ul class="ml-4">
              <li>Undertaking confirmed by each student and his/her parents or guardians, which will then be stored electronically and will contain the details of each student.
              </li>
              <li>Record of registered complaints received and the status of the action taken.
              </li>
            </ul>
          </li><br>
          <li>The aim of the portal is to eliminate ragging in all its forms from universities, deemed universities and other higher educational institutions in the country. This will be achieved by preventing its occurrence and punishing those who indulge in ragging, in accordance with the Supreme Court Regulations.
          </li>
        </ul>
      </p>
    </div>
    <div class="container ">
      <h2 class="text-lg-left mt-4 mb-0">
      Anti Ragging Committee-GBU
      </h2>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 20%; background-color:#FB8C00 "></div>
    </div>
    <br>
    <div class="ml-4">
      <p class="card-text text-justify mt-2">
        Anti Ragging Committee will monitor the measures taken by the college for prevention of ragging, will look
        into the specific instances of ragging and complaints of ragging; and suggest appropriate action /
        punishment against individuals who indulge in ragging.<br>
        As per Letter No <a href="http://www.gbu.ac.in/General/AntiRaggingComm_3Jan18.jpg" style="color:blue">GBU-002/Admin./2.1/2017-4603</a>
        dated 26,october,2017 from the office of Registrar(Gautam Buddha University) following
        Faculty members are assigned the responsibility given for Minority Cell:<br>
        <ul class="ml-4">
          <li>Dr. Nirmita Mahrotra (Chairperson)</li>
          <li>Dr. M.A. Ansari (Member)</li>
          <li>Dr. Lovy Sarikwal (Member)</li>
          <li>Dr. Mamta Sharma (Member)</li>
          <li>Dr. Satish Chandra (Member)</li>
          <li>Dr. Bhawana Joshi (Member)</li>
          <li>Dr. Amit Awasthi (Member)</li>
          <li>Dr. Deepali Singh (Member)</li>
          <li>Dr. C.V.Siva Sai (Member)</li>
          <li>Dr. Subhasis Bhandra (Member)</li>
          <li>Dr. Varsha Dixit (Member)</li>
          <li>Dr. Deepti Goyal (Member)</li>
          <li>Dr. Vibhavari (Member)</li>
          <li>Dr. Sandeep Sharma (Member)</li>
        </ul>
      </p>
    </div>
  </div>
  <div class="container ">
    <h2 class="text-lg-left mt-4 mb-0">
    National Anti Ragging Help Line
    </h2>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 20%; background-color:#FB8C00 "></div>
  </div>
  <br>
  <div class=" container">
    <div class="ml-3">
      <p class="card-text text-justify mt-2">
        National Anti Ragging Help Line (UGC Crisis Hotline 24x7)
        <br>
        Toll Free Number* 1800-180-5522 <br>
        (helpline@antiragging.in)
      </p>
    </div>
    
  </div>
  <div class="container ">
    <h2 class="  text-lg-left mt-4 mb-0">
    Downloads
    </h2>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width:6%; background-color:#FB8C00 "></div>
  </div>
  <br>
  <div class=" container">
    
    <div class="mt-3">
      <ul class="ml-4" style=" list-style-type: square!important;">
        <li><a href="http://www.ugc.ac.in/page/Ragging-Related-circulars.aspx"> UGC Anti Ragging Act &amp; Regulations </a>
      
    </li><br>
      <li><a href="http://www.gbu.ac.in/General/UGCRegulation2009_27Feb2017.pdf">  UGC Regulation on Curbing the Menace of Ragging in Higher Educational Institutions, 2009</a>
    
  </li><br>
    <li>
      <a href="http://antiragging.in/Site/Affidavits_Registration.aspx">  Anti-Ragging Undertaking by Students and Parents/Guardians </a>
    
  </li><br>
    <li><a href="http://www.gbu.ac.in/General/Officeorder_AntiRagging_16July19.pdf"> Anti-Ragging Undertaking from Students for Registration </a>
 
</li>  <br>
</ul>
</div>

</div>

<%include footer%>