<%include header%>
    <div class="jumbotron mb-0 clubheader1" style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat; background-position: inherit;">
      <div class="container  mb-0 ">
        <h1 class="display-5 mb-0 text-center">
        <strong>
        RESEARCH AND PUBLICATION
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
   
    <div class="container">
      <div class=" mt-2 mb-5">
        <div class=" pl-2">
              <h2 class=" text-lg-left mt-4 mb-0">
                About
              </h2>
              <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
              </div>
            </div>
             
                <br>
                <br>
             <p class=" text-justify mt-2">
            The University aspires to make a distinct identity at both national and international levels as an integrated academic and research institution of excellent repute. The University promotes research and explorations of possibilities that can prepare students endowed with innovative and entrepreneurial orientations and a deeply rooted faith in human values. Thus the University is dedicated to create an educated and progressive society which provides equal opportunities to all. <br><br>
            Research being at the core, the University patronizes attempts to provide new theoretical frameworks which enable reassessment and refinement of current practices and theory. The path-breaking interdisciplinary research by the faculty helps directly enhance qualitatively teaching-learning environment of the University and caters to the needs the practicing professionals in the field. More attention is paid to the relevance, objectivity, and depth of research. In addition to conduct research internally, the faculty is encouraged to undertake several projects which are commissioned and funded by the institutions/companies of national / international repute. Faculty of the University also commit themselves to supervise the research work by the scholars under the Ph. D. programme conducted in the modes such as, faculty/research associates, JRF/UGC sponsored projects, CSIR projects, and other research funding organizations. <br><br>
          </p>
            
                </div>
          
         
           <div class="table table-responsive">

              <h2 class=" text-lg-left mt-4 mb-0">
                Research Bulletins
              </h2>
              <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 15%; background-color:#FB8C00 "></div>
        <table class="table table-hover table-bordered mt-2">
            <thead>
              <tr>
                <th scope="col">Sl.</th>
                <th scope="col">Details :</th>
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>GBU’s Research Bulletin I</td>
                <td><a class="text-light" href="../../../../gbudata/Programfiles/Research@GBUBullatin.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>GBU’s Research Bulletin II</td>
                <td><a class="text-light" href="../../../../gbudata/Programfiles/Research_Bulletin[2].pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
            </tbody>
          </table>
      </div>
        </div>
<%include footer%>