<%include header%>
     <div class="jumbotron mb-0 clubheader bgimage_about_report_mukul">
      <style>
          @media only screen and (min-width: 992px){
            .bgimage_about_report_mukul{
              background-position: 100% 52%;
            }
          }
        </style>
      <div class="container mb-0  ">
        <h1 class="display-4 text-right mb-2" style="color:#78335D"><strong>NIRF Report</strong></h1>
        <hr class="mt-0  pt-0 mb-2">
        <h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4>
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <div class="section-1 p-4">
              <div class="container">
                <div class="row " style="padding: 20px 0px;">
                  <div class="column col-md-6 " style=" background-image: url(../../../../gbudata/approval/NIRF.jpg);background-repeat: no-repeat;background-size: cover;height: 380px;" >
                    
                  </div>
                  <div class="column col-md-6">
                    <h2 style="font-size: 22px !important;">National Institutional Ranking Framework</h2>​​​​
                    <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
                    <p>The National Institutional Ranking Framework is a methodology adopted by the Ministry of Human Resource Development, Government of India, to rank institutions of higher education in India.The Framework was approved by the MHRD and launched by Minister of Human Resource Development on 29 September 2015. 
                      This framework outlines a methodology to rank institutions across the country. The methodology draws from the overall recommendations broad understanding arrived at by a Core Committee set up by MHRD, to identify the broad parameters for ranking various universities and institutions. The parameters broadly cover “Teaching, Learning and Resources,” “Research and Professional Practices,” “Graduation Outcomes,” “Outreach and Inclusivity,” and “Perception”.
                      <br>
                      <br>
                      <br>
                      <a href="../../../../gbudata/General/NIRF_report_4Jan18.pdf"><button type="button" class="btn btn-success">NIRF report</button></a>
                      </p>
                  </div>
                </div>
              </div>
            </div>


<%include footer%>