<%include header%>
		<div class="jumbotron mb-0 clubheader1" style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
			<div class="container mb-0 ">
				<h1 class="display-5 mb-0 text-dark text-center">
				<strong>
				NATIONAL SERVICE SCHEME
				</strong>
				</h1>
				<hr class="mt-0  pt-0 mb-1">
			</div>
		</div>
		<!-- End pagr title -->
		<!-- Start Nevigation  -->
		
		<!-- Nevigation End -->
		<div class="container ">
				<h3 class="text-lg-left mt-4 mb-0">
				About 
				</h3>
				<div class=" mb-3 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
		</div>
		<br>
		<br>
		<div class="container">
				<p class=" text-justify">In India, the idea of involving students in the task of national service dates back to the times of Mahatma Gandhi, the father of the nation. The central theme which he tried to impress upon his student audience time and again, was that they should always keep before them, their social responsibility. The first duty of the students should be, not to treat their period of study as one of the opportunities for indulgence in intellectual luxury, but for preparing themselves for final dedication in the service of those who provided the sinews of the nation with the national goods & services so essential to society. Advising them to form a living contact with the community in whose midst their institution is located, he suggested that instead of undertaking academic research about economic and social disability, the students should do "something positive so that the life of the villagers might be raised to a higher material and moral level". <br>
					The post-independence era was marked by an urge for introducing social service for students, both as a measure of educational reform and as a means to improve the quality of educated manpower. The University Grants Commission headed by Dr. Radhakrishnan recommended introduction of national service in the academic institutions on a voluntary basis with a view to developing healthy contacts between the students and teachers on the one hand and establishing a constructive linkage between the campus and the community on the other hand.
				</p>

		</div>
		<br>
		<div class="container">
			<h3 class=" text-lg-left mt-4 mb-0">Photo Gallery</h3>
			<div class=" mb-3 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
		</div><br>	<br>
		<!-- gallery 1st row -->
		<!-- <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel"> -->
		<!--Slides-->
		<div class="container" >
			<!--First slide-->
			<div class="row ">
				<div class="col-md-3 mb-3">
					<div class="card">
						<img class="img-fluid" src="assets-academics/img/nss/nss1.jpg" alt="Card image cap">
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card">
						<img class="img-fluid" src="assets-academics/img/nss/nss2.jpg" alt="Card image cap">
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card">
						<img class="img-fluid" src="assets-academics/img/nss/nss3.jpg" alt="Card image cap">
					</div>
				</div>
				<div class="col-md-3 mb-3">
					<div class="card">
						<img class="img-fluid" src="assets-academics/img/nss/nss4.jpg" alt="Card image cap">
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="container">
			<div class="container ">
				<h3 class=" text-lg-left mt-4 mb-0">
				Downloads
				</h3>
				<div class=" mb-3 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
			</div>
			<br>
			 <table class="table table-hover table-bordered mt-2">
            <thead>
              <tr>
                <th scope="col">Sl.</th>
                <th scope="col">Details :</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>Committee Swachhata Pakhwada</td>
                <td><a class="text-light" href="../../../../gbudata/NSS/CommitteesSwachhataPakhwada.pdf"><button class="btn btn-info ">Download</button></a></td>
                
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>NSS Photogallery</td>
                <td><a class="text-light" href="http://172.25.5.2/NSS_Photo_Gallery/"><button class="btn btn-info ">Download</button></a></td>
                
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>New beginning of Swachhata Pakhwada in GBU</td>
                <td><a class="text-light" href="../../../../gbudata/NSS/GBU_swachattaPakhwada_9July2017.jpg"><button class="btn btn-info ">Download</button></a></td>
                
              </tr>
            </tbody>
          </table>
		</div>
		

		<!-- <div class="container">
			<div class="xcdx-btn">
				<a href="../../../../gbudata/NSS/CommitteesSwachhataPakhwada.pdf"> 1. Committee Swachhata Pakhwada</a>
			</div>
			<br>
			<div class="xcdx-btn">
				<a href="http://172.25.5.2/NSS_Photo_Gallery/">2. NSS Photogallery</a>
			</div>
			<br>
			<div class="xcdx-btn">
				<a href="../../../../gbudata/NSS/GBU_swachattaPakhwada_9July2017.jpg">3. New beginning of Swachhata Pakhwada in GBU</a>
			</div>
			
		</div> -->
			<%include footer%>