<%include header%>
		 <div class="jumbotron mb-0 clubheader1" style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
      <div class="container mb-0 ">
        <h1 class="display-5 mb-0 text-dark text-center">
        <strong>
        STUDENT SATISFACTION SURVEY
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
					
		<div class="  mt-3 mb-5">
			<div class="container ">
				<h2 class="text-lg-left mt-4 mb-0">
				About
				</h2>
				<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
					
				</div>
				
			</div>
		</div>
		<div class="container">
			<div class="ml-0">
				<p class="text-justify">
					The student satisfaction survey collects in-depth data of a student’s satisfaction with <b>GBU</b>. This survey template consists multiple question types that collect feedback about multiple aspects of the school that can help the management to streamline services. The survey was created by experts and leaders in the education sector that have an understanding of the metrics that define the success of a school. It contains questions that collect data about the referenceability of the school, grading or rating questions that encompass various parameters of the school as well as feedback about the academic advisor and other school staff.
				</p>
			</div>
			<br>
			<div >
				<h1 class=" text-lg-left mt-4 mb-0">
				Survey Form
				</h1>
				<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 8%; background-color:#FB8C00 "></div>
				
			</div>
			<br>
			<br>
			<div class="mt-2">
				<a class="xcdx-btn" href="https://docs.google.com/forms/d/e/1FAIpQLSfLHZk157jLUgD2ByzHwFTEfE4COk4OWQq8n1Ye-0rC4rfBiQ/viewform?usp=sf_link">
					Survey Form
				</a>
			</div>
			
		</div>
			<%include footer%>