<%include header%>
    <div class="jumbotron mb-0 clubheader1"style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
      <div class="container mb-0 ">
        <h1 class="display-5 text-center mb-0 text-dark">
        <strong>
        INTERNATIONAL STUDENT AFFAIRS
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <div class="container">
    <section>
      <h4 class=" text-lg-left mt-4 mb-0">
        About
        </h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
        <br>
        <br>
          <div class="ml-2">
         <p class="card-text text-justify mt-2">
          We at Gautam Buddha University, Greater Noida, Uttar Pradesh, INDIA offer a very cordial welcome to the International students wishing to join different programmes of the University for higher study. We are trying to reach out to our prospective students through our web site, giving information about our University and its schools and the programmes going on over here.<br> Gautam Buddha University in compliance with the approval of the competent authority agreed in principle to open admissions to International Students from the coming academic session (2012-2013). To enforce it properly the University has created a separate entity to look after the matter related to admissions of International Students in terms of procedure, process, admission, and related administration. This new entity of the University is named as INTERNATIONAL AFFAIRS headed by the newly created designation of DIRECTOR.
        </p>
      </div>
    </section>
    <section>
     <h4 class=" text-lg-left mt-4 mb-0">
        Motto of International Affairs Cell
        </h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
           <br>
          
          <div class="ml-2">
          <p class="card-text text-justify mt-2">
             The International Affairs Office can advise students on all matters relating to application, admission, fees, arrival services and orientation. It also offers an ongoing support and after arrival advice. The International Students' Office is responsible to provide all necessary help to International students if there is any query/queries arise like:
       <ul class="ml-4 " style="list-style-type: disc!important;">
        <li>How to choose your course of study</li>
        <li>How to fill in the application form for admission</li>
        <li>Course information</li>
        <li>Whether your academic qualifications are suitable</li>
        <li>English Remedial Programme</li>
        <li>Orientation</li>
        <li>Visa formalities</li>
        <li>Accommodation/Hostels</li>
        <li>Any other issues </li></ul>
              The staffs of the International Students’ Office are dedicated to meeting the needs of International students by providing them course information, processing of admission application as efficiently as possible and giving advice on living and studying in campus. The office is also responsible for the development and implementation of Gautam Buddha University's Internationalisation policy. International Students' Office also fosters various Bridge Courses for International students in various arenas according to their needs from time to time.<br> In brief, the Director International Students' Office is friend, philosopher and guide for the International students who should feel free to approach this office for any assistance they may require.
            </p>
          </div>      
    </section>
    <section>
    <h4 class=" text-lg-left mt-4 mb-0">
        Features of International Affairs Cell
        </h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
           
           <br>
           <br>
          <div class="ml-2">
          <p class="card-text text-justify mt-2">
              The Gautam Buddha University has planned to attract a large number of International students for not only Undergraduate and Post Graduate courses, but also for M.Phil. and Ph.D. programs. This Cell will facilitate the international student community in acquiring information, arranges for their admission, and looks after their welfare. Since its inception in August 2008, the Gautam Buddha University has striven to live up to these ideals. We believe that the University is responsible not just for imparting knowledge, but for locating knowledge in society; so as to build a better future. Besides looking after admissions, eligibility, and other related issues, the Centre coordinates with ICCR, Ministry of External Affairs, different embassies and consulates for various purposes including the scholarships.<br>
               Gautam Buddha University model for Internationalization of Higher Education has these unique features:
              <ul class="ml-4" style="list-style-type: disc!important;">
                <li>Single Window</li>
                <li>Networking</li>
                <li>Interfacing</li>
                <li>Wireless connectivity</li>
                <li>Interaction</li>
                <li>Multi / Interdisciplinary</li>
                <li>Competitive and Affordable</li>
              </ul>              
              In the age of globalization, Gautam Buddha University has set out to make its presence felt globally through internationalization of its programmes and opening new avenues of association for international student community.</p>
            </div>  
    </section>
    <section>
     <h4 class=" text-lg-left mt-4 mb-0">
        Contact us
        </h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
           
           <br>
           <br>
          
          <div class="ml-2">
          <p class="card-text text-justify mt-2">
          For further details, all are advised to contact:<br>
                        The Director<br>
                      International Affairs Cell<br>
                    Gautam Buddha University, Greater Noida<br>
                  Gautam Buddha Nagar, Uttar Pradesh-201308
                INDIA
              Phone: +91-120-234XXXX<br>
              Fax: +91-20-2344450 (Attention Director, International Affairs)<br>
              Mobile:<a href="tel:+91-9810926121">+91-9810926121</a>/<a href="tel:8130117721">8130117721</a><br>
              E-mail: <a href="mailto:director_ia@gbu.ac.in">director_ia@gbu.ac.in</a> 
          </p>
        </div> 
    </section>
  </div>
      <%include footer%>