<%include header%>
		
		<div class="jumbotron mb-0 clubheader1"style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
      <div class="container mb-0 ">
        <h1 class="display-5 text-center mb-0 text-dark">
        <strong>
        NATIONAL ACADEMIC DEPOSITORY
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
		<!-- End pagr title -->
<div class="container">
					<div class="  mt-3 mb-3">
            <div class="container ">
                <h2 class="text-lg-left mt-4 mb-0">
                About
                </h2>
                <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
                    
                </div>
                
            </div>
        </div>
						<br>
					<p class="text-justify">
					<ul style="list-style-type: square; ">
						<li class="text-justify">The vision of National Academic Depository (NAD) is born out of an initiative to provide an online store house of all academic awards. National Academic Depository (NAD) is a 24X7 online store house of all academic awards viz.certificates, diplomas, degrees, mark-sheets etc. duly digitised and lodged by academic institutions / boards / eligibility assessment bodies. NAD not only ensures easy access to and retrieval of an academic award but also validates and guarantees its authenticity and safe storage.</li>
						<li class="text-justify">National Academic Depository comprises of two interoperable digital depositories viz. CDSL Ventures Limited (CVL) and NSDL Database Management Limited (NDML). These digital depositories have ensured hardware, network facilities and software of prescribed quality for smooth and secured operationalisation of NAD.</li>
                       
                       			
					<ul style="list-style-type: square; ">
                	 <li class="text-justify">Operate in fully online mode</li>
                    <li class="text-justify">Allow lodging of Academic awards in a digital format, maintaining the integrity of access to the database and of the awards lodged in the database.</li>
                    <li class="text-justify">Allow students to retrieve their lodged academic awards at any time.</li>
                    <li class="text-justify">Allow employers and other person with prior approval of the concerned student to verify the authenticity of any academic award.</li>
                    <li class="text-justify">Maintain the authenticity, integrity and confidentiality of the database.</li>
                </ul></li>
                </ul>
                <br><h5>Visit NAD Official Website</h5>  
                <br>
                <a class="btn btn-success" target="_blank" href="https://nad.gov.in/">Visit</a>
                </p>
                </div>
			
				<%include footer%>