<%include header%>
    <div class="jumbotron mb-0 clubheader1" style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
      <div class="container mb-0 ">
        <h1 class="display-5 mb-0 text-dark text-center">
        <strong>
        NIRF REPORT
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <div class="container">
      <div class="card-body">
        <h2 class="  text-lg-left mt-4 mb-0">
          About
        </h2>
       <div class=" mb-3 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
       <br>
       <br>
      <div class="m-auto">
        <p>
<ul>
     <li> The National Institutional Ranking Framework is a methodology adopted by the Ministry of Human Resource Development, Government of India, to rank institutions of higher education in India.
     </li>
     <br>
    <li>
        The Framework was approved by the MHRD and launched by Minister of Human Resource Development on 29 September 2015.
    </li>
</ul>
</p>
      </div>
      </div>
    </div>
    
    <div class="container">
      <div class="card-body">
        <h2 class="  text-lg-left mt-4 mb-0">
          Downloads
        </h2>
       <div class=" mb-3 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
      <div class="table">
        <table class="table table-hover table-bordered mt-2">
            <thead>
              <tr>
                <th scope="col">Sl.</th>
                <th scope="col">Details :</th>
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Report of NIRF</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/General/NIRF_report_4Jan18.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>

<%include footer%>