<%include header%>
    <div class="jumbotron mb-0 clubheader1"style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
      <div class="container mb-0 ">
        <h1 class="display-5 mb-0 text-dark text-center">
        <strong>
        TRAINING & CONSULTATIONS
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <!-- End pagr title -->
    <div class="container">
              <h2 class=" text-lg-left mt-4 mb-0">
            About
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
            <br>
          <div class="ml-1">
          <p class="card-text text-justify mt-2">
          The training and consultation department is conducting courses and programs of training and development for the students of all schools of Gautam Buddha University. The goal relates to the importance of human resources development and improvement of the skills, as well as increasing the awareness and knowledge in different fields, which reflects positively on the performance of the students and their efficiency at work. 
          <br>
          Subsequently, this develops the institution and improves its role in ascending to the highest ranks.
          <br>  
          <strong>Our Vision</strong>
          <br>
          To be and remain the pioneers, leaders and distinguished in providing training and consultancy.
          <br>
          <strong>Our Mission</strong>
          <br>
           To do our best in providing the best qualitative training and consultancy with high professionalism and quality using the most developed and modern technologies, and in order to minimize the managerial and technological gap between students' and external world.
          </p>
            </div>

            <div class="table">
              <h2 class=" text-lg-left mt-4 mb-0">
                Downloads
              </h2>
              <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
        <table class="table table-hover table-bordered mt-2 ml-4">
            <thead>
              <tr>
                <th scope="col">Sl.</th>
                <th scope="col">Details :</th>
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Professional Development Programmes</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/MDP_2010-11.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
            </tbody>
          </table>
      </div>
  </div>
<%include footer%>