	<%include header%>
	<section>
		<div class="jumbotron mb-0 clubheader1" style="background-image:url(assets-academics/img/banner5.png);background-size: cover; background-repeat: no-repeat;">
			<div class="container mb-0 ">
				<h1 class="display-5 text-light text-center mb-0 text-dark font-weight-dark">
				<strong>
				Academic Programmes as per CBCS
				</strong>
				</h1>
				<hr class="mt-0  pt-0 mb-1">
			</div>
		</div>
	</section>
<!-- 	banner section end -->	
<!-- body section start -->
<div class="container mt-4">
<!-- School Of Management start from here -->									
					       <section>
									<h3 class="text-lg-left">School Of Management</h3>
									<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive table-bordered">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>Program Name</th>
													<th>Course Structure/Syllabus</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>
													<td>Integrated Dual Degree Programme BBA-MBA</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/IBM.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>2. </td>
													<td>MBA</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/MBA.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>3.</td>
													<td>MBA (Tourism and Travel)</td>
													<td> <a href="#"> Course Structure </a> </td>
												</tr>
												<tr>
													<td>4. </td>
													<td>Ph.D. (Business Management)</td>
													<td> <a href="../../../../gbudata/AcadProg/SOM/Ph.D.rar"> Course Structure </a> </td>
												</tr>
												<tr>
													<td>5. </td>
													<td>MBA (Data Mining)</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/Course Outline data mining revised final.pdf">Course Structure </a> </td>
												</tr>
												<tr>
													<td>6. </td>
													<td>MBA (Business Intelligence)</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/Course outline-Business Intelligence.pdf">Course Structure </a></td>
												</tr>
												<tr>
													<td>7 </td>
													<td>MBA I Sem Sec-A</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/MBA I Sem Sec-A.rar">Course Structure </a></td>
												</tr>
												<tr>
													<td>8 </td>
													<td>MBA I Sem Sec-B</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/MBA I Sem Sec-B.rar">Course Structure </a></td>
												</tr>
												<tr>
													<td>9 </td>
													<td>Integrated MBA</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/Integreted MBA.zip">Course Structure </a></td>
												</tr>
												<tr>
													<td>10 </td>
													<td>Dual Degree MBA</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/Dual Degree MBA I Sem.rar">Course Structure </a></td>
												</tr>
												<tr>
													<td>11 </td>
													<td>B.com Hons Section-A</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/B.com Hons Section- A.rar">Course Structure </a></td>
												</tr>
												<tr>
													<td>12 </td>
													<td>B.com Hons Section-B</td>
													<td><a href="../../../../gbudata/AcadProg/SOM/B.com Hons  Sec- B.rar">Course Structure </a></td>
												</tr>
											</tbody>
										</table>
									</div>
						   </section>
<!-- School Of Management start here -->				
<!-- SOB start from here -->
						<section class="mt-4">
									<h3 class="text-lg-left">School Of Biotechnology</h3>
									<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive table-bordered">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>Program Name</th>
													<th>Course Structure</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>
													<td>Integrated Dual Degree Programme B.Tech - M.Tech/MBA (Biotechnology)</td>
													<td><a href="../../../../gbudata/AcadProg/SOBT/Course Struture_Intergrated BTech MTech_2020 onwards.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>2.</td>
													<td>M.Tech. Biotech (Two years programme)</td>
													<td> <a href="../../../../gbudata/AcadProg/SOBT/Course Struture_MTech_2020 onwards.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>3.</td>
													<td>M.Sc. Biotech (Two years programme)</td>
													<td> <a href="../../../../gbudata/AcadProg/SOBT/Course Struture_M.Sc._2020 onwards.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>4.</td>
													<td>Ph.D. (Biotechnology)</td>
													<td> <a href="../../../../gbudata/AcadProg/SOBT/Course Structure_PHD_2020 onwards.pdf"> Course Structure </a> </td>
												</tr>
											</tbody>
										</table>
									</div>
						</section>
<!-- SOB end here -->
<!-- soict start from here -->
						    <section class="mt-4">
									<h3 class="text-lg-left">School Of Information & communications technology </h3>
									<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive table-bordered">
											<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>Department</th>
													<th>Program Name</th>
													<th>Course Structure/Syllabus</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>
													<td>EC</td>
													<td>Integrated Dual Degree VLSI (ECE)</td>
													<td><a href="../../../../gbudata/data/ict/ECE Syllabus/Dual Degree VLSI (ECE).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>2.</td>
													<td>EC</td>
													<td>Integrated Dual Degree WCN (ECE)</td>
													<td><a href="../../../../gbudata/data/ict/ECE Syllabus/Dual Degree WCN (ECE).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>3.</td>
													<td>EC</td>
													<td>M.Tech. VLSI Design_Scheme and Syllabi</td>
													<td><a href="../../../../gbudata/data/ict/ECE Syllabus/M.Tech. VLSI Design_Scheme and Syllabi.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>4.</td>
													<td>EC</td>
													<td>Integrated Dual Degree VLSI (ECE)</td>
													<td><a href="../../../../gbudata/data/ict/ECE Syllabus/Dual Degree VLSI (ECE).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>5.</td>
													<td>CS</td>
													<td>SOICT_CourseStruc(17-19)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/2 M.Tech - AIR/SOICT_CourseStruc(17-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>6.</td>
													<td>CS</td>
													<td>MTech SE (2017-19)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/2 Year M.Tech -SE/MTech SE (2017-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>7.</td>
													<td>CS</td>
													<td>SOICT_MTechCS_(2017-19)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/2 Year M.Tech CS/SOICT_MTechCS_(2017-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>8.</td>
													<td>CS</td>
													<td>IT (2016-20)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2016-20).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>9.</td>
													<td>CS</td>
													<td>IT (2017-21)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2017-21).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>10.</td>
													<td>CS</td>
													<td>IT (2018-22)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2018-22).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>11.</td>
													<td>CS</td>
													<td>Dual Degree ISR final (2014-19)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/integrated/Dual Degree ISR final (2014-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>12.</td>
													<td>CS</td>
													<td>Dual degree ISR final (2015-20)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/integrated/Dual degree ISR final (2015-20).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>13.</td>
													<td>CS</td>
													<td>Dual degree ISR final (2016-21)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/integrated/Dual degree ISR final (2016-21).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>14.</td>
													<td>CS</td>
													<td>Dual degree ISR final (2017-22)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/integrated/Dual degree ISR final (2017-22).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>15.</td>
													<td>CS</td>
													<td>Dual degree SE final( 2015-20)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/integrated/Dual degree SE final( 2015-20).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>16.</td>
													<td>CS</td>
													<td>Dual degree SE final( 2016-21)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/integrated/Dual degree SE final( 2016-21).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>17.</td>
													<td>CS</td>
													<td>Dual degree SE final( 2017-22)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/integrated/Dual degree SE final( 2017-22).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>18.</td>
													<td>CS</td>
													<td>Dual degree SE final(14-19)</td>
													<td><a href="../../../../gbudata/data/ict/CSE Syllabus/integrated/Dual degree SE final(14-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>19.</td>
													<td>CS</td>
													<td>M.Tech(Cyber Security)</td>
													<td><a href="../../../../gbudata/programms/2YEARm.TECHcYBERsECURITY.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>20.</td>
													<td>CS</td>
													<td>B.Tech (4 Year CSE)</td>
													<td><a href="../../../../gbudata/programms/4 Year B.Tech CSE.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>21.</td>
													<td>CS</td>
													<td>B.Tech (AI)</td>
													<td><a href="../../../../gbudata/programms/4 Year B.Tech.  AI.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>22.</td>
													<td>CS</td>
													<td>B.C.A</td>
													<td><a href="../../../../gbudata/programms/BCA FINAL.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>23.</td>
													<td>CS</td>
													<td>M.C.A</td>
													<td><a href="../../../../gbudata/programms/MCA FINAL.pdf"> Course Structure</a></td>
												</tr>
											</tbody>
										</table>
									</div>
						  </section>
<!-- soict end here -->
<!-- soe start from here -->
			            <section class="mt-4">
									<h3 class="text-lg-left">School Of Engineering</h3>
									<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive table-bordered">
									<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>Department</th>
													<th>Program Name</th>
													<th>Course Structure/Syllabus</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>	
													<td>CE</td>
													<td>Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
													<td> <a href="../../../../gbudata/AcadProg/SOE/ICE-EV.pdf"> Course Structure (EV) </a>
												</td>
											</tr>
											<tr>
												<td>2.</td>
												<td>EE</td>
												<td>Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
												<td><a href="../../../../gbudata/AcadProg/SOE/ICE-Str.pdf"> Course Structure (STR) </a>
											</td>
										</tr>
										<tr>
											<td>3.</td>
											<td>ME</td>
											<td>Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/IME.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>4.</td>
											<td>AR</td>
											<td>Bachelor in Architecture (B. Arch.)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/IAR.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>5.</td>
											<td>AR</td>
											<td>M.Plan (Masters in Urban and Regional Planning)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MURP.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>5.</td>
											<td>CE</td>
											<td>M.Tech. (Environmental Engineering)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MEV.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>6. </td>
											<td>CE</td>
											<td>M.Tech. (Structural Engineering)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MST.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>7.</td>
											<td>EE</td>
											<td>M.Tech. (Power System Engineering)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MPS.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>8.</td>
											<td>EE</td>
											<td>M.Tech. (Instrumentation and Control)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MIC.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>9.</td>
											<td>EE</td>
											<td>M.Tech. (Power Electronics and Drives)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MPD.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>10.</td>
											<td>ME</td>
											<td>M.Tech. (Manufacturning Engg)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MME.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>11.</td>
											<td>ME</td>
											<td>M.Tech. (Design Engg.)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MDE.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>12.</td>
											<td>ME</td>
											<td>M.Tech. (Thermal Engg.)</td>
											<td><a href="../../../../gbudata/AcadProg/SOE/MTH.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>13.</td>
											<td>EE</td>
											<td>Ph.D. (Electrical Engg.)</td>
											<td> <a href="../../../../gbudata/AcadProg/SOE/MTH.pdf"> Course Structure </a> </td>
										</tr>
										<tr>
											<td>14.</td>
											<td>CE</td>
											<td>Ph.D. (Civil Engg.)</td>
											<td> <a href="../../../../gbudata/AcadProg/SOE/MTH.pdf"> Course Structure </a> </td>
										</tr>
										<tr>
											<td>15.</td>
											<td>EE</td>
											<td>Ph.D. (Electrical Engg.)</td>
											<td><a href="/cbcs/program/soe/ee/pee"> Course Structure</a></td>
										</tr>
										<tr>
											<td>16.</td>
											<td>CE</td>
											<td>Ph.D. (Civil Engg.)</td>
											<td><a href="/cbcs/program/soe/ce/pce"> Course Structure</a></td>
										</tr>
									</tbody>
								</table>
							</div>
				</section>
<!-- soe end here -->
<!-- School Of Humanities & Social Sciences start from here -->
				<section class="mt-4">
					        <h3 class="text-lg-left">School Of Humanities & Social Sciences</h3>
							<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
							<br>
							<br>
							<div class="text-justify table-responsive table-bordered">
							<table class="table table-hover t">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>Program Name</th>
											<th>Course Structure/syllabus</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1.</td>
											<td>M.A. (History and Civilization)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MHC.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>2.</td>
											<td>M.A. (Economics, Planning and Development)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MEP.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>3.</td>
											<td>M.A. (English)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MEN.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>4. </td>
											<td>M.A. (Hindi)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MHI.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>5.</td>
											<td>M.A. (Urdu)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MUD.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>6.</td>
											<td>M.A. (Mass Communication)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MMC.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>7.</td>
											<td>MSW (Master in Social Work)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MSW.PDF"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>8.</td>
											<td>M.A. (Sociology)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MSO.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>9.</td>
											<td>M.A./ M.Sc. (Applied Psychology) (With a provision of M.Sc. For the candidates with Science background)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MPM.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>10.</td>
											<td>M.A. (Political Science and International Relations)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MPR.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>11.</td>
											<td>M.A. (Education)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MED.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>12.</td>
											<td>M. Phil. (Clinical Psychology)</td>
											<td><a href="../../../../gbudata/AcadProg/SOHSS/MCP.pdf"> Course Structure</a></td>
											
										</tr>
									</tbody>
								</table>
							</div>
			    </section>

<!-- School Of Humanities & Social Sciences end here -->
<!-- School Of Vocational Studies Applied Sciences start from here -->
				<section class="mt-4">
							<h3 class="text-lg-left">School Of Vocational Studies &amp; Applied Sciences</h3>
							<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
							<br>
							<br>
							<div class="text-justify table-responsive table-bordered">
							<table class="table table-hover text-justify">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>Program Name</th>
											<th>Course Structure</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1.</td>
											<td>Integrated Dual Degree Programme B.Tech-M.Tech/MBA (Food Processing and Technology)</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/IFT.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>2.</td>
											<td>M.Tech. Food Processing and Technology</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/MFT.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>3.</td>
											<td>M.Sc. Applied Chemistry</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/MAC.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>4.</td>
											<td>M.Sc. Applied Physics</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/MAP.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>5.</td>
											<td>M.Sc. Applied Mathematics</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/MAM.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>6.</td>
											<td>M.Sc. Environmental Science</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/MES.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>7.</td>
											<td>M.Sc. Food Science</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/MFS.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>8.</td>
											<td>B.Sc Physical Sciences</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/SOVSAS_BSc_Syllabus_final_12Aug2016.pdf"> Course Structure &amp; Syllabus</a></td>
											
										</tr>
										<tr>
											<td>9.</td>
											<td>Ph.D. (Applied Physics)</td>
											<td> <a href="../../../../gbudata/AcadProg/SOVSAS/PAP.pdf"> Course Structure </a> </td>
										</tr>
										<tr>
											<td>10.</td>
											<td>Ph.D. (Applied Chemistry)</td>
											<td> <a href="../../../../gbudata/AcadProg/SOVSAS/MFT.pdf pac"> Course Structure </a> </td>
											
										</tr>
										<tr>
											<td>11.</td>
											<td>Ph.D. (Applied Mathematics)</td>
											<td><a href="../../../../gbudata/AcadProg/SOVSAS/PAM.pdf"> Course Structure</a></td>
											
										</tr>
									</tbody>
								</table>
							</div>
				 </section>
<!-- School Of Vocational Studies Applied Sciences end here -->
<!-- School Of Law Justice & Governance start from here -->
				 <section class="mt-4">
							<h3 class="text-lg-left">School Of Law Justice & Governance</h3>
							<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
							<br>
							<br>
							<div class="text-justify table-responsive table-bordered">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>Program Name</th>
											<th>Course Structure/Syllabus</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1.</td>
											<td>Integrated Dual Degree Programme BA-LLB</td>
											<td><a href="../../../../gbudata/AcadProg/SOLJG/IBL.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>2.</td>
											<td>Integrated Dual Degree Programme BBA-LLB</td>
											<td> <a href="../../../../gbudata/AcadProg/SOLJG/IBL.pdfibbl"> Course Structure </a> </td>
											
										</tr>
										<tr>
											<td>3.</td>
											<td> LLM (MASTER OF LAWS)</td>
											<td> <a href="../../../../gbudata/AcadProg/SOLJG/LLMCourseStructure_4March2016.pdf"> Course Structure </a> </td>
											
										</tr>
										<tr>
											<td>4.</td>
											<td> Ph.D in Law</td>
											<td> <a href="../../../../gbudata/AcadProg/SOLJG/PhDCourseStucture_4March2016.pdf"> Course Structure </a> </td>
											
										</tr>
									</tbody>
								</table>
							</div>
				</section>
<!-- School Of Law Justice & Governance end here -->
<!-- School Of Buddhist Studies Civilization start from here -->
				<section class="mt-4">
					        <h2 class="text-lg-left">School Of Buddhist Studies &amp; Civilization</h2>
							<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
							<br>
							<br>
							<div class="text-justify table-responsive table-bordered">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>Program Name</th>
											<th>Course Structure/Syllabus</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1. </td>
											<td>B.A. (Hons) - M. A. in Buddhist Studies and Civilization</td>
											<td><a href="../../../../gbudata/AcadProg/SOBSC/IBS.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>2. </td>
											<td>M.A. (Buddhist Studies and Civilization)</td>
											<td><a href="../../../../gbudata/AcadProg/SOBSC/MBS.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>3.</td>
											<td>M.Phil. (Buddhist Studies and Civilization)</td>
											<td><a href="../../../../gbudata/AcadProg/SOBSC/MBC.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>4.</td>
											<td>Ph.D. (Buddhist Studies and Civilization)</td>
											<td><a href="../../../../gbudata/AcadProg/SOBSC/PBS.pdf"> Course Structure</a></td>
											
										</tr>
									</tbody>
								</table>
							</div>
				</section>
<!-- School Of Buddhist Studies Civilization end here -->
</div>
								
		
<%include footer%>