<%include header%>
        <div class="jumbotron mb-0 clubheader bgimage_about_organisation_mukul">
        <style>
          @media only screen and (min-width: 992px){
            .bgimage_about_organisation_mukul{
              background-position: 100% 52%;
            }
          }
        </style>
  <div class="container mb-0  ">
    <h1 class="display-4 text-right mb-2" style="color:#ffffff"><strong>GBU Act, Statute and Ordinance </strong></h1>
    <hr class="mt-0  pt-0 mb-2">
    <h4 class="display-5 text-right mb-1" style="color: #ffffff">About Us</h4>
  </div>
</div>
       <!--  <div class="text-center pt-5" >
        <h1 style="font-weight: 700 ; font-size: 44px; color: #010327">Gautam Buddha University Act, Statute and Ordinance</h1>
        </div> -->
        <!---details of page start from here-->
        <div class="jumbotron" style="background-color:#ffffff; ">
       <div class="container">
        <ul>
          <li><strong>Gautam Buddha University Act</strong> </li>
              <p>Under Article 200 of the "Constitution of India", The Governor approved Uttar Pradesh Gautam Buddha University
                 Bill, 2002, passed by Uttar Pradesh Legislature on 5 September 2002. Following Act is enacted in the 53rd
                 year of the Republic of India and This Act shall be called Uttar Pradesh Gautam Buddha University Act,2002.<br>
              <a href="http://www.gbu.ac.in/Programfiles/Act_10Jan18.pdf" style="color:blue">Read Gautam Buddha University Act</a></p>
          <li><strong>Amended Act</strong> </li>
          <p>The State Legislature is not in power and the Governor has got this solution that such circumstances
             exist, due to which it becomes necessary for them to act immediately hence Article 213 of the constitution.
             The  Governor promulgates the following Ordinances by exercising the power conferred by clause(1):
              This Ordinance will be called Uttar Pradesh Gautam Buddha University(Amendment) Ordinance 2013.<br>
              <a href="http://www.gbu.ac.in/Programfiles/AmendedAct_10Jan18.pdf" style="color:blue">Read Gautam Buddha University (Amendment) Act</a>
           </p>

          <li><strong>Gautam Buddha University Statute</strong> </li>
          <p>In pursuance of provisions of section  24 of the Uttar Pradesh Gautam Budhha university  act 2002
          (U.P. act no. 9 of 2002), the Gautam Buddha education society hereby makes the following statues:
          These statues may be called The Uttar Pradesh's first statues , 2007.
           They shall come into force at once. <br>
           <a href="http://www.gbu.ac.in/Programfiles/Statute_10Jan18.pdf" style="color:blue">Read Gautam Buddha University Statute</a>
           </p>
          <li><strong>Gautam Buddha University Approved Ordinance</strong></li>
              <p>The compilation of first amended Ordinances consists of details such as School of Studies,
                Academic Council, Academic Programmes, International Students Affairs, Fee payable by the students,
                Leave rules, Employees conduct rules,Service Regulations for existing employees etc. <br>
              <a href="http://www.gbu.ac.in/Programfiles/ApprovedOrdinance_10Jan18.pdf" style="color:blue">Read Gautam Buddha University Approved Ordinance</a></p>
  </ul>
      </div>
      </div>
      <hr>
<%include footer%>