<!doctype html>
<html lang="en">
  <head>
    <title>Gautam Buddha University</title>
    <link rel="icon" type="image/gif/png" href="./img/logo_gbu.png">

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <header class="sticky-top">
      <nav class="navbar bg-light navbar-expand-lg ">
        <div class="container">
          <a href="/" class="navbar-brand">
            <img src="../img/logo_gbu.png" width="50" class="img-fluid">
            <h5 class="px-1 my-auto" id="college-name">
               गौतम बुद्ध विश्वविद्यालय<br>Gautam Buddha University<br>
            </h5>
          </a>
          <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
          <span ><i class="fa fa-bars"></i></span>
          </button>
          <div class="navbar-collapse collapse justify-content-end" id="collapsibleNavbar">
            <i class="fa fa-user-circle fa-2x"></i>
          </div>
        </div>
      </nav>
    </header>
    <div class="container">
      <h1>Admin Panel</h1>
      <hr>
        <section>
          <a href="/ivy99_gbu_adminPage/news"><button class="btn btn-outline-primary">News</button></a>
          <a href="/ivy99_gbu_adminPage/notices"><button class="btn btn-outline-success">Notices</button></a>
          <a href="/ivy99_gbu_adminPage/events"><button class="btn btn-outline-warning">Events</button></a>
          <a href="/ivy99_gbu_adminPage/workshops"><button class="btn btn-outline-primary">Workshops</button></a>
          <a href="/ivy99_gbu_adminPage/conferences"><button class="btn btn-outline-success">Conferences</button></a>
          <a href="/ivy99_gbu_adminPage/activities"><button class="btn btn-outline-warning">Activities</button></a>
           <a href="/ivy99_gbu_adminPage/tender"><button class="btn btn-outline-success">Tender</button></a>
          <a href="/ivy99_gbu_adminPage/e-tender"><button class="btn btn-outline-warning"> E-Tender</button></a>

        </section>
    </div>

   <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="./js/main.js"></script>
  </body>
</html>
