<%include admission-header%>
    <div class="container pt-3">
      <div class="container-fluid m-0 px-5 py-3">
        <h3 class="text-lg-left m-0 p-0">Admission Team</h3>
        <div class=" my-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
        <br><br>
        <ul>
          <li>
            <h6 class="font-weight-bold">Dr. Pradeep Tomar <p class="mr-5 float-right">Chairperson</p>
            </h6>
            <p>University School of Information and Communication Technology,<br>
              Gautam Buddha University, Greater NOIDA, 201312,<br>
              Distt. Gautam Budh Nagar, Uttar Pradesh, INDIA</p>
          </li>

          <li>
            <h6 class="font-weight-bold">Dr. Rakesh Kumar Srivastava <p class="mr-5 float-right">Coordinator</p>
            </h6>
            <p>University School of Management,<br>
              Gautam Buddha University, Greater NOIDA, 201312,<br>
              Distt. Gautam Budh Nagar, Uttar Pradesh, INDIA</p>
          </li>

          <li>
            <h6 class="font-weight-bold">Dr. Vivek Kumar Mishra <p class="mr-5 float-right">Co-Coordinator</p>
            </h6>
            <p>University School of Humanities & Social Sciences,<br>
              Gautam Buddha University, Greater NOIDA, 201312,<br>
              Distt. Gautam Budh Nagar, Uttar Pradesh, INDIA</p>
          </li>

          <li>
            <h6 class="font-weight-bold">Dr. Amit Ujlayan <p class="mr-5 float-right">Member</p>
            </h6>
            <p>University School of Vocational Studies & Applied Sciences,<br>
              Gautam Buddha University, Greater NOIDA, 201312,<br>
              Distt. Gautam Budh Nagar, Uttar Pradesh, INDIA</p>
          </li>

          <li>
            <h6 class="font-weight-bold">Dr. Krishna Kant Dwivedi <p class="mr-5 float-right">Member</p>
            </h6>
            <p>University School of Law, Justice & Governance,<br>
              Gautam Buddha University, Greater NOIDA, 201312,<br>
              Distt. Gautam Budh Nagar, Uttar Pradesh, INDIA</p>
          </li>

          <li>
            <h6 class="font-weight-bold">Dr. Omveer Singh <p class="mr-5 float-right">Member</p>
            </h6>
            <p>University School of Engineering,<br>
              Gautam Buddha University, Greater NOIDA, 201312,<br>
              Distt. Gautam Budh Nagar, Uttar Pradesh, INDIA</p>
          </li>

          <li>
            <h6 class="font-weight-bold">Dr. Arun Solanki <p class="mr-5 float-right">Member</p>
            </h6>
            <p>University School of Information and Communication Technology,<br>
              Gautam Buddha University, Greater NOIDA, 201312,<br>
              Distt. Gautam Budh Nagar, Uttar Pradesh, INDIA</p>
          </li>

          <li>
            <h6 class="font-weight-bold">Dr. Arvind Kumar Singh <p class="mr-5 float-right">Constituent Member</p>
            </h6>
            <p>University School of Buddhist Studies & Civilization,<br>
              Gautam Buddha University, Greater NOIDA, 201312,<br>
              Distt. Gautam Budh Nagar, Uttar Pradesh, INDIA</p>
          </li>
        </ul>
      </div>

    </div>

    <%include footer%>