<%include header%>
  <body>
    <!--nav bar section start from here -->
    <!-- s slide -->
    <div id="page" class="jumbotron slide-cont mt-0 mb-0 pt-2">
      <ul class="cb-slideshow">
        <!-- img ration w/h==1891/626 OR 3.02/1 -->
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
        <li><span>Image 06</span></li>
        <li><span>Image 07</span></li>
      </ul>
      <div class="info-over-slide m-0  ">
        <!-- Codrops top bar -->
        <div class="container">
          <div class="card-body  ">
            <div class=" text-lg-right">
              <h3 class="mt-3 mb-0 font-weight-bold" style="font-family: 'Playball', cursive; "> APPLICATION FORM </h3><br>
              <div class=" float-right" style="height: 10px; width: 50%; background-color:#FB8C00 "></div><br>
            </div>
          </div>
          <div class="row ">
            <div class="text-justify text-center text-white m-auto p-2 xcdx-btn">
              <a class="text-white" href="http://gbuadmissions.in/" target="_blank" >GBU Admission</a>
            </div>
            <div class="text-center text-white m-auto p-2 xcdx-btn">
              <a class="text-white" href="https://gbu.epravesh.com/" target="_blank">GBU E-pravesh</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- e slide -->
    <div class="text-center navbarcolor sticky inline-block pt-1 pb-1">
      <h3>Schools of Studies</h3>
      <p>Engineering | ICT |  Management | Vocational |  Biotechnology | Buddhism | Law |  Humanities</p>
    </div>
    <div class="fadeuponsc jumbotron m-0 page-header">
      <div class="over-lay mt-0">
        <div class="container img-h mt-0">
          <div class=" width-50 ml-3 h-line position-relative">
            <!-- IMG PX ratio is h/w == 500/490 ||   -->
            <img class="fadeuponsc position-absolute img-fluid img-gbu float-right" alt="gbu" src="../admission/assets/img/Admission_home/gbu-img.jpg">
          </div>
          <div class=" width-50">
            <div class="sp1" ></div>
            <div class="title">
              <div class="fadeuponsc">
                <h3 style="font-size: 1.25rem"> Admissions</h3><h1 style="font-size: 3.25rem; color: #012454">Reach Higher</h1>
              </div>
              <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
              <div style="height: 40px"></div>
              <div>
                <p class="fadeuponsc text-justify  font-weight-lighter m-3" style="font-size:1.405rem; width: 80%;">The opportunity of a Gautam Buddha University education attracts the brightest minds from around the world.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br><br>
    <!-- S Tab -->
    <!-- ===================== -->
    <br>
    <div class="fadeuponsc container navbar-expand-md ">
      <ul class="nav navbar-nav list-unstyled nabar-expand-md nav-justified mx-auto ">
        <li class="nav-item nav-itemc m-1">
          <a href="#home" class="nav-link" data-toggle="tab"> Under Graduation </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#noti" class="nav-link" data-toggle="tab"> Post Graduation </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#msg" class="nav-link" data-toggle="tab"> Ph.D/M.Phil </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#cr-dp" class="nav-link" data-toggle="tab"> Certification/Diploma </a>
        </li>
      </ul>
    </div>
    <!--E tab -->
    <div class="jumbotron mt-3 text-center">
      <div class=" tab-content container">
        <div class="tab-pane active" id="home"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Undergraduation Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify" >
                    <h6 class="">Undergraduatin Courses</h6>
                    <p>(B.Tech) in Civil Engineering, Mechanical Engineering, Electrical Engineering, Computer Science Engineering & Electronics and Communication Engineering, Food Processing and Technology, Biotechnology, Integrated Dual Degree Programme BBA-MBA, Integrated Dual Degree Programme BBA-MBA, BA+ LLB (5-Year Integrated Programme), Bachelor in Architecture (B. Arch), B.Tech in Information Technology (IT), B. Sc., B. Voc. (Bachelor of Vocational Studies) in Food Processing, B.A. (Hons.)-MA in Buddhist Studies and Civilization.</p>
                  </div>
                  <br>
                  <br>
                  <a href="https://gbu.epravesh.com/" class="xcdx-btn text-white p-4">Undergraduation Admissions</a>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <!-- img resolution ration h/w == 400/490 -->
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbu-ug.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="noti"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Postgraduation Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify" >
                    <h5>Postgraduation courses</h5>
                    <p>M. Plan (Master of Urban and Regional Planning), M.Tech in Power System Engineering, M.Tech in Instrumentation and Control, M.Tech in Power Electronics and Drives, M.Tech (Biotech), M.Tech in Specialization in Software Engineering, M. Tech in Specialization in Intelligent System and Robotics, M.Tech in Specialization in Wireless Communication and Networks, M.Tech in Specialization in VLSI Design, M.Tech in Computer Science.
                      <p id="pgex" class="collapse fadeuponsc text-justify left-70 visible">M.Tech in Embedded System, M.Tech in Food Processing and Technology, M. Sc. in Applied Chemistry, M. Sc.in Applied Physics, M. Sc. in Applied Mathematics, M. Sc. in Environmental Science, M. Sc. in Food Science, MA in Buddhist Studies & Civilization, M. Phil in Buddhist Studies & Civilization, MA in Education, MA in History and Civilization, MA in Economics, Planning and Development, MA in English, MA in Hindi, MA in Urdu, MA in Mass Communication, MSW(Master in Social Work), MA in Sociology, MA in Political Science and International Relations, MA/M.Sc. in Applied Psychology, Master in Disability Rehabilitation & Administration, M.Phil in Clinical Psychology, Master in Public Policy and Governance
                      </p>
                    </p>
                    <a href="#pgex" class="float-right collapsed expand-a" data-toggle="collapse" aria-expanded="false"><strong class="btn btn-outline-primary  justify-content-center color-black ">Expand</strong></a>
                  </div>
                  <br>
                  <br>
                  <br>
                  <a href="https://gbu.epravesh.com/" class="xcdx-btn text-white p-4">Postgraduation Admissions</a>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbu-pg.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="msg"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Ph.D/M.Phil Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify" >
                    <h5>Ph.D/M.Phil courses</h5>
                    <p>Ph.D. (Electrical Engg.), (Power converters & Drives, Control System Optimization, Biomedical Instrumentation & Image Processing), Ph.D. in Civil Engineering, Ph.D. (Architecture & Planning), Ph.D. (Mechanical Engg.), Ph.D. in Management, Ph.D. in Applied Chemistry, Ph.D. in Applied Physics, Ph.D. in Applied Mathematics, Ph.D. in various areas of Biotechnology, Ph.D. in law </p>
                  </div>
                  <br>
                  <br>
                  <a href="https://gbu.epravesh.com/" class="xcdx-btn text-white p-4">Postgraduation Admissions</a>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbu-phd.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="cr-dp"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Certification/ Diploma Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify" >
                    <h5>Certification/Diploma Admissions</h5>
                    <p>PG DIPLOMA IN BUSINESS AND ECONOMIC LAWS ( PGL01 )
                      PG DIPLOMA IN ENGLISH LANGUAGE TEACHING (ELT) (PART-TIME,NON-RESIDENTIAL) ( PGH01 )
                      DIPLOMA IN URDU LANGUAGE (PART-TIME,NON-RESIDENTIAL) ( DH01 )
                      CERTIFICATE COURSE IN PALI LANGUAGE AND LITERATURE (PART-TIME) ( CBS01 )
                      PG DIPLOMA IN PALI LANGUAGE AND LITERATURE (PART-TIME) ( PGBS01 )
                    PG DIPLOMA IN BUDDHIST TOURISM AND HERITAGE (PART-TIME) ( PGBS02 )</p>
                  </div>
                  <br>
                  <br>
                  <a href="https://gbu.epravesh.com/" class="xcdx-btn text-white p-4">Diploma Admissions</a>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbuug.jpg">
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <hr>
        <div class="fadeuponsc container ">
          <ul class=" row  list-unstyled nav-justified">
            <li class=" nav-item nav-itemc pt-3 pb-3">
              <a href="https://gbu.epravesh.com/GBU/Evening_Programme_Brochure.pdf" class="nav-link">Admission Brochure </a>
            </li>
            <li class="nav-item nav-itemc pt-3 pb-3">
              <a href="http://gbu.ac.in" class="nav-link"> Fees Structure </a>
            </li>
            <li class="nav-item nav-itemc pt-3 pb-3">
              <a href="http://gbu.ac.in" class="nav-link">Important Dates </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br>
    <!-- ---------------- -->
    <!-- INFORMATION AND APPLICATION FORM -->
    <div class="fadeuponsc card bordernow mt-0 mb-2 container">
      <div class="card-body ">
        <div class=" text-lg-right">
          <h1 class="font-weight-light mt-4 mb-0">INFORMATION AND APPLICATION FORM </h1>
          <hr class="mb-2 mt-2">
        </div>
      </div>
      <div class="row mb-2">
        <div class="text-justify text-center text-white m-auto p-3 xcdx-btn"><a class="text-white " href="http://gbuadmissions.in/" target="_blank" >GBU Admission</a></div>
        <div class="text-center text-white m-auto p-3 xcdx-btn"><a class="text-white" href="https://gbu.epravesh.com/" target="_blank">GBU E-pravesh</a></div>
      </div>
    </div>
    <!-- FAQs -->
    <div class="fadeuponsc card bordernow mt-2 mb-2 container">
      <div class="fadeuponsc card-body ">
        <div class=" text-lg-right">
          <h1 class="font-weight-light mt-4 mb-0">FAQ's</h1>
          <hr class="mb-2 mt-2">
        </div>
      </div>
      <div class="fadeuponsc card-body ">
        <strong><h4>Why Greater Noida Is The Ideal Destination For Your Education ?</h4></strong> <br>
        <p class="fadeuponsc text-justify left-70">
          For many students college life is more than the college itself. This is a period in your life that changes your personality. It makes you who you will be as an adult and makes you aware of the world.
          Hence it is of vital importance that while choosing a college for higher education, you also pay attention to the city which will be your home for the next few years.
          There are multiple advantages of being in Greater Noida for your higher education. It is a metropolitan hub, with people from not only across the country but also the world residing here. This exposes you to multiple cultures and a wide variety of beliefs and opinions and helps you grow as a person.
          <br>
        Noida is also located in the National Capital Region, giving it an added advantage of location and connectivity to the rest of the country, and by extension the world.</p>
        <div id="adq1" class="collapse"> <p class="fadeuponsc text-justify left-70">Since it is so close to the national capital, students are exposed to a plethora of fields, opportunities, co curricular, internships and experiences.Being so close to industry, students have numerable opportunities to explore their talents and polish their knowledge. This helps them to update their set of skills and make their resume more attractive. Let’s also not forget that Noida itself was established for the purpose of industry, the city has multiple industries, companies and organisations where students from multiple fields can work. <br>
          Living in Noida is also very delightful. The city is affordable, with good intracity transport and a highly developed social infrastructure. Students can explore malls, gardens, Okhla bird sanctuary or the street food hotspots from Bramhaputra Market to Atta. The city has something for everyone.  This gives Greater Noida an edge over other cities because only a very few cities in India can offer as many advantages like these. Gautam Buddha University, established by the Uttar Pradesh Gautam Buddha University Act 2002 UP Act No. 9 of 2002, is one of the most prestigious universities in the region. The university provides the students with infrastructure at par with international standards. The faculty here is devoted to providing quality education to students.  There are dedicated and well-equipped labs for all disciplines. There are eight different schools of studies at the university, making it an ideal destination for students from across disciplines and from across the country.This makes GBU, the ideal choice for your higher education.
        </p>
      </div>
      <a  href="#adq1" class="float-right collapsed expand-a" data-toggle="collapse" aria-expanded="false"><strong class="btn btn-outline-primary  justify-content-center color-black ">Expand</strong></a>
      <br><br>
      <hr class="mt-2 mb-3">
      <strong><h4>Is GBU A Government University?</h4></strong> <br>
      <p class="fadeuponsc card-text text-justify">Gautam Buddha University ("GBU") (गौतम बुद्ध विश्वविद्यालय) is a research university established under Uttar Pradesh Gautam Buddha University Act, 2002 and came into existence in year 2008. It is located in Greater Noida, Gautam Buddha Nagar district of Uttar Pradesh, India.[2][3] It is one of Uttar Pradesh's state government university which commenced its first academic session in the year 2008. University campus is spread over 511 acres in Greater Noida and offers Bachelors, Masters and Doctoral degrees in Engineering, Business Administration, Computer Applications, Biotechnology and Buddhist Studies and is mainly focused on research.It has one of the iconic infrastructure in the country.
      </p>
      <hr class="mt-2 mb-3">
      <br><br>
      <strong><h4>How Is The Infrastructure Of Gbu ?</h4></strong> <br>
      <p class="fadeuponsc card-text text-justify"> best thing about this college is its infrastructure. You will like the campus. Classrooms and labs are fully air-conditioned. Hostel facility is mandatory for every student, and a single room is allotted to every student. They are maintained well. There are grounds and courts for every sport.
      </p>
      <hr class="mt-2 mb-3">
      <br><br>
      <strong><h4>How is The Campus Life Of Students In GBU ?</h4></strong> <br>
      <p class="fadeuponsc text-justify">
        Only a good body houses a perfect mind and a pure soul. Gautam Buddha University has planned and is developing one of the finest campuses that can rival the best in the world. The University campus is an architectural marvel and has in its master plan:<br>
        <ul>
          <li>A campus spread over 511 acres with about 54000 plus sqm of constructed area, and 30% green   belt with more than 50,000 trees already planted,</li>
          <li>A central library with a reading hall that can house 2000 students at a time</li>
          <li>An administrative building,</li>
          <li>Eight school buildings</li>
          <li>The faculty & staff quarters, married research scholar hostels</li>
          <li>Hostel complexes for 5000 students,</li>
          <li>Two international guesthouses,</li>
          <li>An international centre</li>
          <li>A meditation Centre</li>
          <li>A swimming Pool,</li>
          <li>Water bodies and many other facilities</li>
        </ul>
      </p>
      <br>
      <div class="fadeuponsc collapse" id="lfq-4">
        <h4>Meditation Centre</h4><p>
        In addition to curricular inputs the university is creating facilities to guide and shape physical, mental and spiritual growth of young minds, body and soul. The Jyoti Rao Phule Meditation Centre, inspired by stupa-architecture, will be functional in June 2009. This structural marvel will accommodate huge number of practitioners of meditation in its all modern forms and will also house a library with a sizeable body of literature.</p>
        <br><br><br>
        <div class="img-show row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-6 mt-1">                <img class="img-fluid img-thumbnail" src="../admission/assets/img/meditation/mdc1.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/meditation/mdc2.jfif" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/meditation/mdc3.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/meditation/mdc4.jpg" alt="">
          </div>
        </div>
        <br><br>
        <h4>Sports Activities</h4><p>
          The university promotes multi dimensional growth with emphasis on an integrated physical and intellectual training. Though in its formative stage, it has appointed a physical training officer and has devised special slots in daily curriculum for physical training, track and field activities, and other sports both indoor and outdoor ones. A huge sports ground with an eight lane track is shaping physical health of its inmates. <br>
          Shauryotasva, annual sports meet aims at motivating students participate and add physical extensions to their intellectual quests. Recently concluded the first sports meet Shauryotasva 09 witnessed an excellent display of sportsman's spirits of students and faculty members.
        </p>
        <br><br><br>
        <div class="img-show row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-6 mt-1">                <img class="img-fluid img-thumbnail" src="../admission/assets/img/sport/sp1.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/sport/sp2.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/sport/sp3.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/sport/sp4.jpg" alt="">
          </div>
        </div>
        <br><br>
        <br><br>
        <h4>Cultural Activities</h4>
        <h5>Abhivyanjana: Unraveling meanings</h5><p>
        "Culture is the widening of mind and spirits" well displayed by the students of Gautam Buddha University. The beauty of every culture is enhanced by the minds that practice it. Abhivyanjana is a birth of a new tradition. It is GBU's annual cultural and management event that intends to add wings to intellect, imagery, and creativity of our students. It is very essential for every civilization to preserve their heritage and celebrate it from time to time. No culture can survive in isolation hence it is imperative to make the young generation aware of this heritage. Abhivyanjana aims at dissolving the cultural demarcations and facilitating a new school of thought where every student thinks beyond the limit but still grounded to his values. It also gives a platform to the budding managers and compels them to think out of the box.</p>
        <br><br><br>
        <style type="text/css">
        .img-show img{
        width: 400px;
        height: 200px;
        }
        </style>
        <div class="img-show row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/culturalfest/clfs1.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/culturalfest/clfs2.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/culturalfest/clfs3.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/culturalfest/clfs4.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/culturalfest/clfs5.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/culturalfest/clfs6.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/culturalfest/clfs7.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="../admission/assets/img/culturalfest/clfs8.jpg" alt="">
          </div>
        </div>
        <br>
      </div>
      <a  href="#lfq-4" class="float-right collapsed expand-a" data-toggle="collapse" aria-expanded="false"><strong class="btn btn-outline-primary  justify-content-center color-black ">Expand</strong></a>
      <br><br>
      <hr>
    </div>
  </div> 
<%include footer%>