<%include admission-header%>
<div class="container pt-3">
  <h3 class="text-lg-left mt-3 mb-0 pl-5">International Students</h3>
  <div class=" my-2 ml-5 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
  <div class="container-fluid p-5">
    <p>
      The fee structure shall be decided or may be revised by the competent authority of the University from time to time.
      <strong>Academic Fee and Hostel Fees are same for the Foreign Nationals from SAARC and ASEAN Nations and Indian Nationals. In addition to the academic as mentioned in <a href="/admission/fee-structure">Fee Structure</a>. <br>
    A separate Registration fee will be charged from International Students which is as under:</strong></p>
    <p><strong> i. Foreign Nationals of SAARC and ASEAN Countries: One time registration fee of US $500</strong> (or equivalent in Indian Currency as per the prevailing exchange rate) for Non- Technical and/or Non-Professional Programmes of all the
      Schools, as the case may be. Whereas, US $1000 (or equivalent in Indian Currency as per the prevailing exchange rate) for Technical and/or Professional Programmes of all the Schools, as the case may be.
    </p>
    <p><strong>ii. International Students of other than SAARC and ASEAN Countries: One time registration fee of US $700</strong> (or equivalent in Indian Currency as per the prevailing exchange rate) for Non-Technical and/or Non-Professional Programmes of all the Schools, as the case may be. Whereas, US $1500 (or equivalent in Indian Currency as per the prevailing exchange rate) for Technical and/or Professional Programmes of all the Schools, as the case may be.</p>
    <p><strong>iii. One time registration fee of US $200</strong> for Diploma/Certificate programmes from Foreign Nationals of SAARC and ASEAN Countries and <strong>US $400</strong> for Diploma/Certificate programmes from foreign nationals of other than SAARC and ASEAN Countries. </p>
    <!--  <p><strong>Note: </strong> <br>
      <span class="text-danger">*</span>  <br>
    </p> -->
    <hr>
    <a href="" target="_blank">Application Form for Admission of International Students <i class="fa fa-download"></i></a> <br>
    <a href="" target="_blank">Ordinance for Admission of International Students <i class="fa fa-download"></i></a>
  </div>
</div>
<%include footer%>