<%include admission-header%>
  <!-- start slide -->
<div class="container-fluid" >
         <div class="row my-0 p-0">
            <div class="col p-0">
               <div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                     <li data-target="#demo" data-slide-to="0" class="active"></li>
                     <li data-target="#demo" data-slide-to="1"></li>
                     <li data-target="#demo" data-slide-to="2"></li>
                     <!-- <li data-target="#demo" data-slide-to="3"></li>
                     <li data-target="#demo" data-slide-to="4"></li> -->
                  </ul>
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                  <img src="../../../admission/banner/bannerq.jpg" id="fill" width="100%" height="100%">
                  <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                     <h2>Gautam Buddha University for the Session 2020-21 offers around 100 programmes to the prospective admission seekers, encompassing many new and sunrise disciplines of studies.</h2>
                  </div>
               </div>
                     <div class="carousel-item">
                        <img src="../../../admission/banner/Artificial Intelligene.jpg" id="fill" width="100%" height="100%">
                      </div>
                     <div class="carousel-item">
                        <img src="../../../admission/banner/data science.jpg" id="fill" width="100%" height="100%">
                     </div>
                     
                  </div>
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                     <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                     <span class="carousel-control-next-icon"></span>
                  </a>
               </div>
            </div>
            
         </div>
      </div>  <!-- end slide -->

  <!-- <div class="" style="background-color: #78335D; height: 30px;">
    <div class="container text-center" style="vertical-align:middle;">
      <marquee align="center" onmouseout="start();" onmouseover="stop();" scrollamount="4">
        <a href="http://adm-del.nielit.in/">
          <p style="color: #ffffff; font-size: 16px;">Registration open for Admission in Advance Certificate Course in Big Data Analytics </p>
        </a>
      </marquee>
    </div>
  </div> -->

  <div class="container-fluid" style="background-color: #e9ecef">
    <div class="row">
      <div class="col-md-4 my-1 pt-3">
        <div class="card shadow" id="">
          <div class="card-header" style="background-color:#78335D" id="">
          <h5 class=" text-center text-white">Latest Updates</h5>
        </div>
          <div class="card-body">
          <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
            <ul>
              <a href="https://gbu.formapply.in/">
              <li>
            <p style="color: red;  font-size: 16px;">Admission open for the Academic Session 2020-21</p>
         </li></a>
            </ul>
           
         <a href="http://adm-del.nielit.in/">
            <p style="color: blue; font-size: 16px;">Registration open for Admission in Advance Certificate Course in Big Data Analytics </p>
         </a>
            </marquee>
          </div>
        </div>
      </div>
      <div class="col-md-8 my-1 pt-3">
        <div class="card shadow" id="">
          <div class="card-header text-center text-white" style="background-color:#78335D">
            <h5 class=" text-center text-white">Eight Schools of Learning</h5>
            </div>

          <style type="text/css">
            p {
              color: gray;
            }

            h6 {
              color: #fb8d1c;
              font-weight: bold;
            }
          </style>

          <div class="card-body" style="font-size: 14px;">

            <!-- <img src="../admission/assets/img/schools.png" style="align-content: center"> -->

            <h6>University School of Management</h6>
            <p>Dual Degree Programme BBA-MBA [with exit option after BBA]; B.Com. (Hons.); MBA (HRM /Finance/Marketing/Operations/Strategy); MBA (Business Analytics); and Ph.D. (Management).</p>

            <h6>University School of Information and Communication Technology</h6>
            <p>B.Tech (CSE, ECE, IT, Artificial Intelligence); Five Year Integrated B.Tech.-M.Tech. (ECE/CSE) (Without permission to exit and lateral entry options); BCA; M.Tech (CSE, ECE, Cyber Security); MCA and Ph.D. (ECE/CSE). <br> (Lateral Entry
              option is available for Diploma holders and Science Graduates in B.Tech (ECE/CSE/AI) Programme).</p>

            <h6>University School of Biotechnology</h6>
            <p>Integrated (B. Tech.-M. Tech. (Biotechnology)/MBA) Programme (with no exit and without lateral entry options); M.Tech in Biotechnology; M.Sc. in Biotechnology; M.Sc. (Molecular Medicine); M.Sc. (Genomics & Genome Engineering) and Ph.D.
              (Biotechnology).</p>

            <h6>University School of Engineering</h6>
            <p>B.Tech (CE, ME, EE); B.Arch; I.D.; Dual Degree (4+2) B.Tech.-M.Tech. (EE) (with exit option after 4 years); M.Tech. in Electrical Engineering; M.Tech. in Civil Engineering; Master of Urban & Regional Planning (MURP), M.Arch. and Ph.D.
              (ME, EE, CE and Architecture & Planning). <br>(Lateral Entry option is available for Diploma holders and Science Graduates in B.Tech (CEME, EE) Programme).</p>

            <div id="more1" class="collapse">

              <h6>University School of Vocational Studies and Applied Sciences</h6>
              <p>B.Tech (Food Processing and Technology); B.Sc. (Physical Sciences); B.Sc. (Hons.) Physics/ Chemistry/Mathematics; M.Tech. (Food Processing and Technology); M.Sc. (Applied Chemistry, Applied Physics, Applied Mathematics, Environmental
                Science and Food Science) and Ph.D. (Applied Physics, Applied Mathematics, Applied Chemistry and Environmental Science).</p>


              <h6>University School of Humanities and Social Sciences</h6>
              <p>B.A.; B.A. (Hons.) in English, Political Science, Applied Psychology, Hindi, Urdu, Economics, History; Bachelor of Social Work (BSW); B.Ed.; MA (Economics, Planning and Development; English; Hindi; Urdu; Political Science and
                International Relations; Education; History & Civilization); MA/M.Sc. (Applied Psychology); MSW; M.Phil (Clinical Psychology); M.Phil (Political Science & International Relations); PG Diploma in English Language Teaching; Diploma in
                Urdu Language and Ph.D. (Political Science and International Relations, English/Linguistics).</p>


              <h6>University School of Buddhist Studies and Civilization</h6>
              <p>BA (Hons.) (Buddhist Studies & Civilization); Certificate Course in Pali Language and Literature; Post Graduate Diploma in Pali Language and Literature; Post Graduate Diploma in Buddhist Tourism and Heritage; MA (Buddhist Studies &
                Civilization) and M.Phil (Buddhist Studies & Civilization) and Ph.D (Buddhist Studies & Civilization)</p>

              <h6>University School of Law, Justice & Governance</h6>
              <p>BA. LL.B (5-Year Integrated Programme); PG Diploma in Business & Economic Laws; LL.M. (one year) and Ph.D (Law).</p>
            </div>
            <a href="#more1" class="float-right collapsed expand-a" data-toggle="collapse" aria-expanded="false"><strong class="btn btn-outline-primary">Expand</strong></a>

          </div>


        </div>
      </div>

    </div>
  </div>
  <br>
    <!-- ===================== -->
    <div class="container-fluid" style="background-color: #78335d">
    <div class="fadeuponsc container navbar-expand-md ">
      <ul class="nav navbar-nav list-unstyled nabar-expand-md nav-justified mx-auto ">
        <li class="nav-item nav-itemc m-1">
          <a href="#home" class="nav-link text-white" data-toggle="tab"> Under Graduation </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#noti" class="nav-link text-white" data-toggle="tab"> Post Graduation </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#msg" class="nav-link text-white" data-toggle="tab"> Ph.D/M.Phil </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#cr-dp" class="nav-link text-white" data-toggle="tab"> Certification/Diploma </a>
        </li>
      </ul>
    </div>
  </div>
    <!--E tab -->
    <div class="container mb-0 text-center">
      <div class=" tab-content container">
        <div class="tab-pane active" id="home"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left text-sm-center">Undergraduation Admissions</h2>
                  <div class="" style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify">
                    <h5 class="">Undergraduation Courses</h5>
                    <p>B.Tech. in Civil Engineering, Mechanical Engineering, Electrical Engineering, Computer Science Engineering & Electronics and Communication Engineering, Food Processing and Technology, Biotechnology, Integrated Dual Degree
                      Programme BBA-MBA, Integrated Dual Degree Programme BBA-MBA, BA+ LLB (5-Year Integrated Programme), Bachelor in Architecture (B. Arch), B.Tech in Information Technology (IT), B. Sc., B. Voc. (Bachelor of Vocational Studies) in
                      Food Processing, B.A. (Hons.)-MA in Buddhist Studies and Civilization.</p>
                  </div>
                  <br>
                  <br>
                  <!-- <a href="https://gbu.epravesh.com/" class="xcdx-btn text-white p-4">Undergraduation Admissions</a> -->
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/img/gbu-ug.jpg" style="height: 50%;">
              </div>
            </div>
          </div>
        </div>
        <div class="container tab-pane" id="noti">
          
        <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Postgraduation courses</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify">
                    <h5>Ph.D/M.Phil courses</h5>
                    <p>M. Plan (Master of Urban and Regional Planning), M.Tech in Power System Engineering, M.Tech in Instrumentation and Control, M.Tech in Power Electronics and Drives, M.Tech (Biotech), M.Tech in Specialization in Software
                      Engineering, M. Tech in Specialization in Intelligent System and Robotics, M.Tech in Specialization in Wireless Communication and Networks, M.Tech in Specialization in VLSI Design, M.Tech in Computer Science.</p>
                      <p class="text-justify">M.Tech in Embedded System, M.Tech in Food Processing and Technology, M. Sc. in Applied Chemistry, M. Sc.in Applied Physics, M. Sc. in Applied Mathematics, M.
                        Sc. in Environmental Science, M. Sc. in Food Science, MA in Buddhist Studies & Civilization, M. Phil in Buddhist Studies & Civilization, MA in Education, MA in History and Civilization, MA in Economics, Planning and
                        Development, MA in English, MA in Hindi, MA in Urdu, MA in Mass Communication, MSW(Master in Social Work), MA in Sociology, MA in Political Science and International Relations, MA/M.Sc. in Applied Psychology, Master in
                        Disability Rehabilitation & Administration, M.Phil in Clinical Psychology, Master in Public Policy and Governance
                      </p>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
              
            </div>
          </div>
        </div>
        <div class="container tab-pane" id="msg"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Ph.D/M.Phil Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify">
                    <h5>Ph.D/M.Phil courses</h5>
                    <p>Ph.D. (Electrical Engg.), (Power converters & Drives, Control System Optimization, Biomedical Instrumentation & Image Processing), Ph.D. in Civil Engineering, Ph.D. (Architecture & Planning), Ph.D. (Mechanical Engg.), Ph.D. in
                      Management, Ph.D. in Applied Chemistry, Ph.D. in Applied Physics, Ph.D. in Applied Mathematics, Ph.D. in various areas of Biotechnology, Ph.D. in law </p>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbu-phd.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="container tab-pane" id="cr-dp"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Certification/ Diploma Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify">
                    <h5>Certification/Diploma Admissions</h5>
                    <p class="text-justify">PG DIPLOMA IN BUSINESS AND ECONOMIC LAWS ( PGL01 )
                      PG DIPLOMA IN ENGLISH LANGUAGE TEACHING (ELT) (PART-TIME,NON-RESIDENTIAL) ( PGH01 )
                      DIPLOMA IN URDU LANGUAGE (PART-TIME,NON-RESIDENTIAL) ( DH01 )
                      CERTIFICATE COURSE IN PALI LANGUAGE AND LITERATURE (PART-TIME) ( CBS01 )
                      PG DIPLOMA IN PALI LANGUAGE AND LITERATURE (PART-TIME) ( PGBS01 )
                      PG DIPLOMA IN BUDDHIST TOURISM AND HERITAGE (PART-TIME) ( PGBS02 )</p>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbuug.jpg">
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <hr>
        <div class="fadeuponsc container">
          <ul class=" row  list-unstyled nav-justified">
            <li class=" nav-item nav-itemc py-3">
              <a href="#" target="_blank" class="nav-link">Admission Brochure </a>
            </li>
            <li class="nav-item nav-itemc py-3">
              <a href="/admission/fee-structure" class="nav-link"> Fees Structure </a>
            </li>
            <li class="nav-item nav-itemc py-3">
              <a href="/admission/important-dates" class="nav-link">Important Dates </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
<%include footer%>