<%include admission-header%>
        <div class="container card-body">
          <h3 class=" text-lg-left mt-4 mb-0">
          Schools and Program
          </h3>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 12%; background-color:#FB8C00 "></div>
          <br>
      
        </div>
    

<%include footer%>