<%include admission-header%>
<div class="container">
   <h3 class="text-lg-left mt-4 mb-0">
      Fee Structure
   </h3>
   <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
   <br>
   <br>
   <div class="container-fluid">
      <table class="table-sm table-responsive table-striped border-0" border="1">
         <thead>
            <tr class="text-center text-white" style="background-color: #78335d">
               <th class="py-5">S.No.</th>
               <th class="py-5">PROGRAMME(S)</th>
               <th class="py-4">Registration Fee (&#8377;)<span class="text-danger">*</span> <span class="small">(NON-REFUNDABLE)</span></th>
               <th class="py-4">Security Fee (&#8377;)<span class="text-danger">*</span> <span class="small">(REFUNDABLE)</span> </th>
               <th class="py-4">Library Fee (&#8377;)<span class="text-danger">*</span></th>
               <th class="py-4">Sports Fee (&#8377;)<span class="text-danger">*</span></th>
               <th class="py-4">Examination Fee (&#8377;) <span class="small">(Per Sem)</span></th>
               <th class="py-4">Academic Fee (&#8377;) <span class="small">(Per Sem)</span></th>
               <th class="py-4">Total Fee (&#8377;) <span class="small"> <br>(1<sup>st</sup> Sem)</span></th>
               <th class="py-4">Total Fee (&#8377;) <span class="small"> <br>(2<sup>nd</sup> Sem <span class="text-primary">#</span>)</span></th>
            </tr>
         </thead>
         <tbody>
            <tr>
               <td colspan="10" class="text-primary"><b>UNIVERSITY SCHOOL OF ENGINEERING</b></td>
            </tr>
            <tr>
               <td>1</td>
               <td>B. Tech. Programmes (ME/EE/CE) (4-Year ) &amp; B.Tech. (Lateral Entry)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>2</td>
               <td>Bachelor in Architecture (B. Arch.)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>100,000/-</td>
               <td>122,000/-</td>
               <td>100,500/-</td>
            </tr>
            <tr>
               <td>3</td>
               <td>Bachelor of Design (I.D.)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>42,000/-</td>
               <td>64,000/-</td>
               <td>42,500/-</td>
            </tr>
            <tr>
               <td>4</td>
               <td>Dual Degree B.Tech. (EE 4 Year) + M.Tech. (EE 2 Year)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>5</td>
               <td>All M. Tech.</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>60,000/-</td>
               <td>82,000/-</td>
               <td>60,500/-</td>
            </tr>
            <tr>
               <td>6</td>
               <td>Master in Architecture</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>45,000/-</td>
               <td>67,000/-</td>
               <td>45,500/-</td>
            </tr>
            <tr>
               <td>7</td>
               <td>Master of Urban &amp; Regional Planning (MURP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>45,000/-</td>
               <td>67,000/-</td>
               <td>45,500/-</td>
            </tr>
            <tr>
               <td>8</td>
               <td>Ph.D. (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,000/-</td>
            </tr>
            <tr>
               <td>9</td>
               <td>Ph.D. (WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>80,000/-</td>
               <td>102,000/-</td>
               <td>80,000/-</td>
            </tr>
            <tr>
               <td colspan="10" class="text-primary"><b>UNIVERSITY SCHOOL OF ICT</b></td>
            </tr>
            <tr>
               <td>1</td>
               <td>B.Tech. (CSE) (Under Self Finance) &amp; B.Tech. (Lateral Entry)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>98,000/-</td>
               <td>120,000/-</td>
               <td>98,500/-</td>
            </tr>
            <tr>
               <td>2</td>
               <td>B. Tech. Programmes (CSE/ECE/IT) (4-Year ) &amp; B.Tech. (Lateral Entry)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>3</td>
               <td>B.Tech. Artificial Intelligence &amp; B.Tech. (Lateral Entry)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>135,000/-</td>
               <td>157,000/-</td>
               <td>135,500/</td>
            </tr>
            <tr>
               <td>4</td>
               <td>B.Tech. Design Engineering</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>85,000/-</td>
               <td>107,000/-</td>
               <td>85,500/</td>
            </tr>
            <tr>
               <td>5</td>
               <td>Bachelor of Computer Application (BCA)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,500/-</td>
            </tr>
            <tr>
               <td>6</td>
               <td>5 Year Integrated B.Tech.-M.Tech. (CSE) and (ECE)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>7</td>
               <td>All M. Tech.&nbsp;</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>60,000/-</td>
               <td>82,000/-</td>
               <td>60,500/-</td>
            </tr>
            <tr>
               <td>8</td>
               <td>Master of Computer Application (MCA)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>30,000/-</td>
               <td>52,000/-</td>
               <td>30,500/-</td>
            </tr>
            <tr>
               <td>9</td>
               <td>Ph.D. (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,000/-</td>
            </tr>
            <tr>
               <td>10</td>
               <td>Ph.D. (WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>80,000/-</td>
               <td>102,000/-</td>
               <td>80,000/-</td>
            </tr>
            <tr>
               <td colspan="10" class="text-primary"><b>UNIVERSITY SCHOOL OF BIOTECHNOLOGY</b></td>
            </tr>
            <tr>
               <td>1</td>
               <td>&nbsp;5 Year Integrated B.Tech. (Biotechnology)-M.Tech. (Biotechnology)/ MBA</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>2</td>
               <td>All M. Tech.&nbsp;</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>60,000/-</td>
               <td>82,000/-</td>
               <td>60,500/-</td>
            </tr>
            <tr>
               <td>3</td>
               <td>M.Sc. (Biotechnology, Molecular Medicine, Genomics and Genome Engineering)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>45,000/-</td>
               <td>67,000/-</td>
               <td>45,500/-</td>
            </tr>
            <tr>
               <td>4</td>
               <td>Ph.D. (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,000/-</td>
            </tr>
            <tr>
               <td>5</td>
               <td>Ph.D. (WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>80,000/-</td>
               <td>102,000/-</td>
               <td>80,000/-</td>
            </tr>
            <tr>
               <td colspan="10" class="text-primary"><b>UNIVERSITY SCHOOL OF MANAGEMENT</b></td>
            </tr>
            <tr>
               <td>1</td>
               <td>Dual Degree BBA-MBA</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>2</td>
               <td>B.Sc. (Hotel Management)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>52,000/-</td>
               <td>74,000/-</td>
               <td>52,500/-</td>
            </tr>
            <tr>
               <td>3</td>
               <td>B.Com. (Hons.)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,500/-</td>
            </tr>
            <tr>
               <td>4</td>
               <td>MBA (HRM/Finance/Marketing/ Strategy/Operations)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>97,500/-</td>
               <td>119,500/-</td>
               <td>98,000/-</td>
            </tr>
            <tr>
               <td>5</td>
               <td>MBA (Business Analytics)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>125,000/-</td>
               <td>147,000/-</td>
               <td>125,500/-</td>
            </tr>
            <tr>
               <td>6</td>
               <td>Ph.D. (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,000/-</td>
            </tr>
            <tr>
               <td>7</td>
               <td>Ph.D. (WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>80,000/-</td>
               <td>102,000/-</td>
               <td>80,000/-</td>
            </tr>
            <tr>
               <td colspan="10" class="text-primary"><b>UNIVERSITY SCHOOL OF VOCATIONAL STUDIES AND APPLIED SCIENCES</b></td>
            </tr>
            <tr>
               <td>1</td>
               <td>B. Sc. (Physical Sciences) and B.Sc. (Hons.) Physics, Chemistry, Mathematics</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>2</td>
               <td>B. Tech. Programmes (FPT) (4-Year ) &amp; B.Tech. (Lateral Entry)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>3</td>
               <td>M.Sc. (Applied Chemistry, Applied Physics, Applied Mathematics, Food Science and Environmental Science)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,500/-</td>
            </tr>
            <tr>
               <td>4</td>
               <td>All M. Tech.</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>60,000/-</td>
               <td>82,000/-</td>
               <td>60,500/-</td>
            </tr>
            <tr>
               <td>5</td>
               <td>PG Diploma in Polyurethane Technology</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>30,000/-</td>
               <td>52,000/-</td>
               <td>30,500/-</td>
            </tr>
            <tr>
               <td>6</td>
               <td>PG Diploma in Environment Management (PGDEM)(WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>45,000/-</td>
               <td>67,000/-</td>
               <td>45,500/-</td>
            </tr>
            <tr>
               <td>7</td>
               <td>PG Diploma in Environment Management (PGDEM) (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>30,000/-</td>
               <td>52,000/-</td>
               <td>30,500/-</td>
            </tr>
            <tr>
               <td>8</td>
               <td>Ph.D. (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,000/-</td>
            </tr>
            <tr>
               <td>9</td>
               <td>Ph.D. (WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>80,000/-</td>
               <td>102,000/-</td>
               <td>80,000/-</td>
            </tr>
            <tr>
               <td colspan="10" class="text-primary"><b>UNIVERSITY SCHOOL OF LAW, JUSTICE AND GOVERNANCE</b></td>
            </tr>
            <tr>
               <td>1</td>
               <td>B.A. LL.B. (5-Year Integrated Programme)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>2</td>
               <td>LL.M.</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>65,000/-</td>
               <td>87,000/-</td>
               <td>65,500/-</td>
            </tr>
            <tr>
               <td>3</td>
               <td>PG Diploma in Economics Laws</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>30,000/-</td>
               <td>52,000/-</td>
               <td>30,500/-</td>
            </tr>
            <tr>
               <td>4</td>
               <td>Ph.D. (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,000/-</td>
            </tr>
            <tr>
               <td>5</td>
               <td>Ph.D. (WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>80,000/-</td>
               <td>102,000/-</td>
               <td>80,000/-</td>
            </tr>
            <tr>
               <td colspan="10" class="text-primary"><b>UNIVERSITY SCHOOL OF HUMANITIES AND SOCIAL SCIENCES</b></td>
            </tr>
            <tr>
               <td>1</td>
               <td>Bachelor of Social Work (BSW)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>15,000/-</td>
               <td>37,000/-</td>
               <td>15,500/-</td>
            </tr>
            <tr>
               <td>2</td>
               <td>B.Ed. (Specialization: Arts &amp; Commerce)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,500/-</td>
            </tr>
            <tr>
               <td>3</td>
               <td>B.Sc. (Hons.) Applied Psychology</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>30,000/-</td>
               <td>52,000/-</td>
               <td>30,500/-</td>
            </tr>
            <tr>
               <td>4</td>
               <td>B.A. Journalism and Mass Communication</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>15,000/-</td>
               <td>37,000/-</td>
               <td>15,500/-</td>
            </tr>
            <tr>
               <td>5</td>
               <td>B.A. (Hons.) (English, Hindi, Urdu, History, Political Science, Applied Psychology, Economics, Buddhist Studies &amp; Civilization)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>15,000/-</td>
               <td>37,000/-</td>
               <td>15,500/-</td>
            </tr>
            <tr>
               <td>6</td>
               <td>M.A. (Education; Economics, Planning &amp; Development; History; English; Hindi; Urdu; and Political Science &amp; International Relations)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>7</td>
               <td>M.A. Journalism and Mass Communication</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,500/-</td>
            </tr>
            <tr>
               <td>8</td>
               <td>M.A. / M.Sc. (Applied Psychology) with specialization in Clinical &amp; Counselling Psychology</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>45,000/-</td>
               <td>67,000/-</td>
               <td>45,500/-</td>
            </tr>
            <tr>
               <td>9</td>
               <td>Master in Social Wor (MSW)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>10</td>
               <td>M.Phil. (Clinical Psychology)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>150,000/-</td>
               <td>172,000/-</td>
               <td>150,500/-</td>
            </tr>
            <tr>
               <td>11</td>
               <td>M.Phil. (Political Science &amp; International Relations)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>30,000/-</td>
               <td>52,000/-</td>
               <td>30,500/-</td>
            </tr>
            <tr>
               <td>12</td>
               <td>PG Diploma in English Language Teaching (ELT) (Part-Time, Non-Residential)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>13</td>
               <td>Diploma in Urdu Language (Part-Time, Non-Residential)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>14</td>
               <td>Ph.D. (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,000/-</td>
            </tr>
            <tr>
               <td>15</td>
               <td>Ph.D. (WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>80,000/-</td>
               <td>102,000/-</td>
               <td>80,000/-</td>
            </tr>
            <tr>
               <td colspan="10" class="text-primary"><b>UNIVERSITY SCHOOL OF BUDDHIST STUDIES AND CIVILIZATION</b></td>
            </tr>
            <tr>
               <td>1</td>
               <td>B.A. (Hons.) (Buddhist Studies &amp; Civilization)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>15,000/-</td>
               <td>37,000/-</td>
               <td>15,500/-</td>
            </tr>
            <tr>
               <td>2</td>
               <td>M.A. (Buddhist Studies &amp; Civilization)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>3</td>
               <td>M.Phil. (Buddhist Studies &amp; Civilization)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>35,000/-</td>
               <td>57,000/-</td>
               <td>35,500/-</td>
            </tr>
            <tr>
               <td>4</td>
               <td>Certificate in Pāli Language and Literature</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>5</td>
               <td>PG Diploma in Pāli Language and Literature</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>6</td>
               <td>PG Diploma in Buddhist Tourism and Heritage</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>20,000/-</td>
               <td>42,000/-</td>
               <td>20,500/-</td>
            </tr>
            <tr>
               <td>7</td>
               <td>Ph.D. (FT)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>25,000/-</td>
               <td>47,000/-</td>
               <td>25,000/-</td>
            </tr>
            <tr>
               <td>8</td>
               <td>Ph.D. (WP)</td>
               <td>10,000/-</td>
               <td>10,000/-</td>
               <td>1,000/-</td>
               <td>500/-</td>
               <td>500/-</td>
               <td>80,000/-</td>
               <td>102,000/-</td>
               <td>80,000/-</td>
            </tr>
         </tbody>
      </table>
      <br>
      <p><b>Note: </b> <br>
         <span class="text-danger">*</span> One Time Payment <br>
         <span class="text-primary">#</span> 2<sup>nd</sup> Semester & onwards
      </p>
      <br>
      <h6>IN ADDITION TO THE ABOVE FEE</h6>
      <p> <b>• Hostel Charges per academic Year:</b> <br>
         &#8377; 40,000/- Per Annum per candidate for Single Seated Room <br>
         &#8377; 30,000/- Per Annum per candidate for Triple Seated Room <br>
         <b>• Mess Charges per Academic Year:</b> <br>
         &#8377; 30,000/- Per Annum or as per actual, whichever is higher.
      </p>
      <h4> <u>Note:</u></h4>
      <ol class="ml-3">
         <li class="text-left">Academic Fee will be charged semester-wise. </li>
         <li class="text-left">Relaxation to SC/ST candidates in the fee is as per UP govt. norms/rules. </li>
         <li class="text-left"><b>Registration fee is onetime non-refundable fee, and not a part of academic fee.</b> <span class="text-danger">It will be compulsory for all Courses/Programmes. This is not refundable.</span> </li>
         <li class="text-left">Security Fee (Caution Money) of <b>Rupees Ten Thousand only</b> will be charged for all Courses/Programmes. This is refundable after submission of no dues certificate from all Departments through School Dean. <b>Security Fee
            (Caution Money) is not applicable to Foreign/International Students.</b> 
         </li>
         <li class="text-left">The <b>First Year Students</b> will be allotted <b>Triple Seated</b> accommodation till the availability of the same. <b>Thereafter single seated</b> rooms may be allotted <b>subject to the
            availability</b> of such accommodation in the university hostel. 
         </li>
         <li class="text-left">In case of non-availability of both Triple seated and single seated rooms, student shall have to reside outside the University campus till the room(s) for allotment are available. Hostel exemption would not ordinarily be allowed. Only in
            exceptional circumstances can it be allowed on case to case basis by the competent authority. However, as and when the room/s is/are available, students will have to shift in the hostel accommodation of the University. The university is
            residential university, where in its act prescribes for residing in the hostel. So the students shall have to stay in the hostel by paying the hostel fee. 
         </li>
         <li class="text-left">Fee would be liable to change from time to time, as determine by the Fee Review Committee.</li>
      </ol>
   </div>
</div>
<%include footer%>