<%include admission-header%>


  <div class="container">
    <h3 class=" text-lg-left mt-4 mb-0">Contact Us</h3>
    <div class=" my-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
    <br><br>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h5 class="ml-2"> <b>Admission Office</b></h5>
        <p class="card-text ml-2">
          Administrative Block, <br>
          Gautam Buddha University, <br>
          Greater NOIDA,
          Gautam Budh Nagar,<br>
          Uttar Pradesh-201312 (INDIA)<br>
          <!--  <i class="fa fa-envelope"></i>&nbsp; <a href="mailto:info@gbu.ac.in"> info@gbu.ac.in</a> <br> -->
          <i class="fa fa-envelope"></i>&nbsp; <a href="mailto:admissions@gbu.ac.in"> admissions@gbu.ac.in</a> <br>
          <i class="fa fa-phone"></i>&nbsp;<a href="tel:01202344200"> 0120-234 4200 </a><br>
        </p>

        <br><br>

        <p class="pl-5"> <a href="/admissions/query" class="xcdx-btn text-white p-4">Admission Query</a></p> <br><br>
      </div>

      <div class="col-md-6 col-sm-12">
        <h5 class="mr-5 text-center"> <b>Important Phone No.</b></h5> <br>

        <table class="table-sm table-hover table-responsive pl-3 border-0" border="1">
          <tr>
            <td>General Enquiry</td>
            <td><a href="tel:01202344200"> 0120-234 4200 </a></td>
          </tr>
          <tr>
            <td>Admission Help Desk (General)</td>
            <td><a href="tel:01202344234"> 0120-234 4234/47 </a></td>
          </tr>
          <tr>
            <td>Admission Help Desk (Technical & Financial Issues)</td>
            <td><a href="tel:01202344255"> 0120-234 4255 </a></td>
          </tr>
          <tr>
            <td>Chief Warden (Male and Female)</td>
            <td><a href="tel:01202346175"> 0120-234 6175 </a></td>
          </tr>
        </table>

      </div>

    </div>

  </div>


  <%include footer%>