<%include admission-header%>

  <!-- ----------------------------------------------------------------------------------------- -->
  <div class="container-fluid m-0 px-5 py-3">
    <h4 class="text-lg-left m-0 p-0">Admission Query Form</h4>
    <div class=" my-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
    <br>
    <div class="form-container">
      <form action="http://api.thegbu.in/test.php" onsubmit="alert('Thanks for contacting us. Will revert back you soon.')" method="post">
        <div align="left" style="padding-left:40px; padding-top:15px; padding-bottom:15px">
          <br /><br />
          <b> Name of the Candidate :</b>
          <input type="text" name="username" required>
          <br> <br>
          <b>Father's Name:</b>
          <input type="text" name="fname" required>
          <br>
          <br>
          <b> Mother's Name:</b>
          <input type="text" name="mname" required>
          <br>
          <br>
          <b>Gender:</b><br>

          <input type="radio" name="gender" value="Male" checked> Male
          <br>
          <input type="radio" name="gender" value="Female"> Female

          <br><br>

          <b> Domicile:</b>
          <input type="text" name="domicile">
          <br>
          <br>

          <b>Nationality:</b><br>
          <input type="radio" name="nat" value="Indian" checked> Indian
          <br>
          <input type="radio" name="nat" value="Other"> Other
          <input type="text" name="other_nat" />

          <br><br />

          <b> Category:</b> <br>


          <input type="radio" name="cat" value="GEN" checked> GEN
          <br>
          <input type="radio" name="cat" value="OBC"> OBC
          <br>
          <input type="radio" name="cat" value="SC"> SC
          <br>
          <input type="radio" name="cat" value="ST"> ST
          <br><br>

          <b> Sub Category:</b> <br>


          <input type="radio" name="sub_cat" value="Freedom Fighter" checked> Freedom Fighter
          <br>
          <input type="radio" name="sub_cat" value="Defence Dependent"> Defence Dependent
          <br>
          <input type="radio" name="sub_cat" value="Kashmiri Migrant"> Kashmiri Migrant
          <br>
          <input type="radio" name="sub_cat" value="Person with Disability"> Person with Disability
          <br>
          <input type="radio" name="sub_cat" value="Gautam Buddha University Employee"> Gautam Buddha University Employee
          <br>
          <input type="radio" name="sub_cat" value="None"> None
          <br><br>


          <b> Date of Birth: </b>
          <input type="date" name="bday" required />



          <br><br>



          <b> State:</b>
          <select name="state">
            <option value="">------------Select State------------</option>
            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
            <option value="Andhra Pradesh">Andhra Pradesh</option>
            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
            <option value="Assam">Assam</option>
            <option value="Bihar">Bihar</option>
            <option value="Chandigarh">Chandigarh</option>
            <option value="Chhattisgarh">Chhattisgarh</option>
            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
            <option value="Daman and Diu">Daman and Diu</option>
            <option value="Delhi">Delhi</option>
            <option value="Goa">Goa</option>
            <option value="Gujarat">Gujarat</option>
            <option value="Haryana">Haryana</option>
            <option value="Himachal Pradesh">Himachal Pradesh</option>
            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
            <option value="Jharkhand">Jharkhand</option>
            <option value="Karnataka">Karnataka</option>
            <option value="Kerala">Kerala</option>
            <option value="Lakshadweep">Lakshadweep</option>
            <option value="Madhya Pradesh">Madhya Pradesh</option>
            <option value="Maharashtra">Maharashtra</option>
            <option value="Manipur">Manipur</option>
            <option value="Meghalaya">Meghalaya</option>
            <option value="Mizoram">Mizoram</option>
            <option value="Nagaland">Nagaland</option>
            <option value="Orissa">Orissa</option>
            <option value="Pondicherry">Pondicherry</option>
            <option value="Punjab">Punjab</option>
            <option value="Rajasthan">Rajasthan</option>
            <option value="Sikkim">Sikkim</option>
            <option value="Tamil Nadu">Tamil Nadu</option>
            <option value="Tripura">Tripura</option>
            <option value="Uttaranchal">Uttaranchal</option>
            <option value="Uttar Pradesh">Uttar Pradesh</option>
            <option value="West Bengal">West Bengal</option>

          </select>

          <br><br>
          <b> Mailing Address:</b>
          <input type="text" name="address" style="width:250px; height:50px" maxlength="200" required>
          <br> <br>

          <b> Mobile No:</b>
          <input type="text" name="mobile">

          <br>
          <br>
          <b> Email id:</b>
          <input type="text" name="email_id" required>
          <br><br>

          <b>Examination Passed/Pursuing & Year:</b>
          <input type="text" name="yearpass" required>
          <br> <br>
          <b> % Marks/CGPA(as applicable):</b>
          <input type="text" name="CGPA" required>
          <br> <br>
          <h3> Choice of Programmes:</h3>

          <b>Choice 1: </b>
          <select name="ch1" style="width:auto">
            <option value="">------------Choose Programme 1------------</option>
            <option value="MBA (HRM/Finance/Marketing/Strategy/Operations)">MBA (HRM/Finance/Marketing/Strategy/Operations)</option>
            <option value="B. Tech in Civil Engg">B. Tech in Civil Engg.</option>
            <option value="B. Tech in Mechanical Engg">B. Tech in Mechanical Engg.</option>
            <option value="B. Tech in Electrical Engg">B. Tech in Electrical Engg. </option>
            <option value="B. Tech in Electronics and Communication Engg">B. Tech in Electronics and Communication Engg. </option>
            <option value="B. Tech in Computer Science and Engg">B. Tech in Computer Science and Engg.</option>
            <option value="B.Tech in Information Technology">B.Tech in Information Technology</option>
            <option value="Bachelor in Architecture">Bachelor in Architecture (B.Arch)</option>
            <option value="Integrated Programme (B.Tech-M.Tech/MBA) in Biotechnology">Integrated Programme (B.Tech-M.Tech/MBA) in Biotechnology</option>
            <option value="Dual Degree Programee BBA-MBA">Dual Degree Programee BBA-MBA</option>
            <option value="B.Tech in Food Processing and Technology">B.Tech in Food Processing and Technology</option>
            <option value="B. Sc. (Physical Sciences)">B. Sc. (Physical Sciences)</option>
            <option value="BA. LL.B.(5 Year Integrated Programme)">BA. LL.B.(5 Year Integrated Programme)</option>
            <option value="B.Ed.">B.Ed.</option>
            <option value="B.A. (Hons.) in English">B.A. (Hons.) in English</option>
            <option value="B.A. (Hons.) in Political Science">B.A. (Hons.) in Political Science</option>
            <option value="Bachelor of Social Work (BSW)">Bachelor of Social Work (BSW)</option>
            <option value="B.A. (Hons.) in Applied Psychology">B.A. (Hons.) in Applied Psychology</option>
            <option value="LL.M.">LL.M.</option>
            <option value="M.Sc. (Biotechnology)">M.Sc. (Biotechnology)</option>
            <option value="M.Tech in Biotechnology">M.Tech in Biotechnology</option>
            <option value="M. Tech in ICT (Software Engineering)">M. Tech in ICT (Software Engineering)</option>
            <option value="M. Tech in ICT (Artificial Intelligence and Robotics)">M. Tech in ICT (Artificial Intelligence and Robotics)</option>
            <option value="M. Tech. in Computer Science"> M. Tech. in Computer Science</option>
            <option value="M. Tech in Electronics & Communication Engg.(Wireless Communication & Networks)">M. Tech in Electronics & Communication Engg. (Wireless Communication & Networks)</option>
            <option value="M. Tech in Electronics & Communication Engg.(VLSI Design)">M. Tech in Electronics & Communication Engg.(VLSI Design)"</option>
            <option value="M. Tech in Electronics & Communication Engg. (RF and Microwave)">M. Tech in Electronics & Communication Engg. (RF and Microwave)</option>
            <option value="M. Tech in Food Processing & Technology">M. Tech in Food Processing & Technology</option>
            <option value="M. Sc. (Applied Chemistry)">M. Sc. (Applied Chemistry)</option>
            <option value="M. Sc. (Applied Physics)">M. Sc. (Applied Physics)</option>
            <option value="M. Sc. (Applied Mathematics)">M. Sc. (Applied Mathematics)</option>
            <option value="M. Sc. (Environmental Science)">M. Sc. (Environmental Science)</option>
            <option value="M. Sc. (Food Science)"> M. Sc. (Food Science)</option>
            <option value="MA (Buddhist Studies & Civilization)">MA (Buddhist Studies & Civilization)</option>
            <option value="M. Phil (Buddhist Studies & Civilization)">M. Phil (Buddhist Studies & Civilization)</option>
            <option value="MA in Economics, Planning and Development">MA in Economics, Planning and Development</option>
            <option value="MA in English">MA in English</option>
            <option value="MA in Hindi">MA in Hindi</option>
            <option value="MA in Urdu">MA in Urdu</option>
            <option value="MSW (Master in Social Work)">MSW (Master in Social Work)</option>
            <option value="MA in Sociology">MA in Sociology</option>
            <option value="MA in Political Science and International Relations">MA in Political Science and International Relations</option>
            <option value="MA/M.Sc (Applied Psychology)"> MA/M.Sc (Applied Psychology)</option>
            <option value="MA in Education">MA in Education</option>
            <option value="M. Phil (Clinical Psychology)">M. Phil (Clinical Psychology)</option>
            <option value="M. Tech in Electrical Engg. (Power System Engg)">M. Tech in Electrical Engg. (Power System Engg)</option>
            <option value="M. Tech in Electrical Engg. (Instrumentation & Control)">M. Tech in Electrical Engg. (Instrumentation & Control)</option>
            <option value="M. Tech in Electrical Engg. (Power Electronics & Drive)">M. Tech in Electrical Engg. (Power Electronics & Drive)</option>
            <option value="M. Tech in Civil Engg. (Environmental Engg)">M. Tech in Civil Engg. (Environmental Engg)</option>
            <option value="M. Tech in Civil Engg. (Structural Engg)">M. Tech in Civil Engg. (Structural Engg)</option>
            <option value="Master of Urban & Regional Planning">Master of Urban & Regional Planning</option>
            <option value="Ph.D. in Management">Ph.D. in Management</option>
            <option value="Ph.D. in Law">Ph.D. in Law</option>
            <option value="Ph. D. (Buddhist Studies & Civilization)">Ph. D. (Buddhist Studies & Civilization)</option>
            <option value="Ph. D (Electronics & Communication Engg)">Ph. D (Electronics & Communication Engg)</option>
            <option value="Ph. D (Computer Science & Engg)">Ph. D (Computer Science & Engg)</option>
            <option value="Ph.D. (Electrical Engg.) ">Ph.D. (Electrical Engg.) </option>
            <option value="Ph. D. (Architecture & Planning )">Ph. D. (Architecture & Planning )</option>
            <option value="Ph. D. (Mechanical Engg.)">Ph. D. (Mechanical Engg.)</option>
            <option value="Ph. D.(Civil Engg.)">Ph. D. (Civil Engg.)</option>
            <option value="Ph.D. (Applied Chemistry)">Ph.D. (Applied Chemistry)</option>
            <option value="Ph.D. (Applied Physics)">Ph.D. (Applied Physics)</option>
            <option value="Ph.D. (Applied Mathematics)"> Ph.D. (Applied Mathematics)</option>
            <option value="Ph.D. (Political Science & International Relations)">Ph.D. (Political Science & International Relations)</option>
            <option value="Ph.D. (Education)">Ph.D. (Education)</option>
            <option value="Ph.D. (English/Applied Linguistics)">Ph.D. (English/Applied Linguistics)</option>
            <option value="Ph.D. (Biotechnology)">Ph.D. (Biotechnology)</option>
            <option value="Certificate Course in Pāli Language and Literature">Certificate Course in Pāli Language and Literature</option>
            <option value="Post Graduate Diploma Course in Pali Language and Literature">Post Graduate Diploma Course in Pali Language and Literature</option>
            <option value="Post Graduate Diploma in Buddhist Tourism & Heritage">Post Graduate Diploma in Buddhist Tourism & Heritage</option>
          </select>
          <br><br />
          <b> Choice 2: </b>
          <select name="ch2" style="width:auto">
            <option value="">------------Choose Programme 2------------</option>
            <option value="MBA (HRM/Finance/Marketing/Strategy/Operations)">MBA (HRM/Finance/Marketing/Strategy/Operations)</option>
            <option value="B. Tech in Civil Engg">B. Tech in Civil Engg.</option>
            <option value="B. Tech in Mechanical Engg">B. Tech in Mechanical Engg.</option>
            <option value="B. Tech in Electrical Engg">B. Tech in Electrical Engg. </option>
            <option value="B. Tech in Electronics and Communication Engg">B. Tech in Electronics and Communication Engg. </option>
            <option value="B. Tech in Computer Science and Engg">B. Tech in Computer Science and Engg.</option>
            <option value="B.Tech in Information Technology">B.Tech in Information Technology</option>
            <option value="Bachelor in Architecture">Bachelor in Architecture (B.Arch)</option>
            <option value="Integrated Programme (B.Tech-M.Tech/MBA) in Biotechnology">Integrated Programme (B.Tech-M.Tech/MBA) in Biotechnology</option>
            <option value="Dual Degree Programee BBA-MBA">Dual Degree Programee BBA-MBA</option>
            <option value="B.Tech in Food Processing and Technology">B.Tech in Food Processing and Technology</option>
            <option value="B. Sc. (Physical Sciences)">B. Sc. (Physical Sciences)</option>
            <option value="BA. LL.B.(5 Year Integrated Programme)">BA. LL.B.(5 Year Integrated Programme)</option>
            <option value="B.Ed.">B.Ed.</option>
            <option value="B.A. (Hons.) in English">B.A. (Hons.) in English</option>
            <option value="B.A. (Hons.) in Political Science">B.A. (Hons.) in Political Science</option>
            <option value="Bachelor of Social Work (BSW)">Bachelor of Social Work (BSW)</option>
            <option value="B.A. (Hons.) in Applied Psychology">B.A. (Hons.) in Applied Psychology</option>
            <option value="LL.M.">LL.M.</option>
            <option value="M.Sc. (Biotechnology)">M.Sc. (Biotechnology)</option>
            <option value="M.Tech in Biotechnology">M.Tech in Biotechnology</option>
            <option value="M. Tech in ICT (Software Engineering)">M. Tech in ICT (Software Engineering)</option>
            <option value="M. Tech in ICT (Artificial Intelligence and Robotics)">M. Tech in ICT (Artificial Intelligence and Robotics)</option>
            <option value="M. Tech. in Computer Science"> M. Tech. in Computer Science</option>
            <option value="M. Tech in Electronics & Communication Engg.(Wireless Communication & Networks)">M. Tech in Electronics & Communication Engg. (Wireless Communication & Networks)</option>
            <option value="M. Tech in Electronics & Communication Engg.(VLSI Design)">M. Tech in Electronics & Communication Engg.(VLSI Design)"</option>
            <option value="M. Tech in Electronics & Communication Engg. (RF and Microwave)">M. Tech in Electronics & Communication Engg. (RF and Microwave)</option>
            <option value="M. Tech in Food Processing & Technology">M. Tech in Food Processing & Technology</option>
            <option value="M. Sc. (Applied Chemistry)">M. Sc. (Applied Chemistry)</option>
            <option value="M. Sc. (Applied Physics)">M. Sc. (Applied Physics)</option>
            <option value="M. Sc. (Applied Mathematics)">M. Sc. (Applied Mathematics)</option>
            <option value="M. Sc. (Environmental Science)">M. Sc. (Environmental Science)</option>
            <option value="M. Sc. (Food Science)"> M. Sc. (Food Science)</option>
            <option value="MA (Buddhist Studies & Civilization)">MA (Buddhist Studies & Civilization)</option>
            <option value="M. Phil (Buddhist Studies & Civilization)">M. Phil (Buddhist Studies & Civilization)</option>
            <option value="MA in Economics, Planning and Development">MA in Economics, Planning and Development</option>
            <option value="MA in English">MA in English</option>
            <option value="MA in Hindi">MA in Hindi</option>
            <option value="MA in Urdu">MA in Urdu</option>
            <option value="MSW (Master in Social Work)">MSW (Master in Social Work)</option>
            <option value="MA in Sociology">MA in Sociology</option>
            <option value="MA in Political Science and International Relations">MA in Political Science and International Relations</option>
            <option value="MA/M.Sc (Applied Psychology)"> MA/M.Sc (Applied Psychology)</option>
            <option value="MA in Education">MA in Education</option>
            <option value="M. Phil (Clinical Psychology)">M. Phil (Clinical Psychology)</option>
            <option value="M. Tech in Electrical Engg. (Power System Engg)">M. Tech in Electrical Engg. (Power System Engg)</option>
            <option value="M. Tech in Electrical Engg. (Instrumentation & Control)">M. Tech in Electrical Engg. (Instrumentation & Control)</option>
            <option value="M. Tech in Electrical Engg. (Power Electronics & Drive)">M. Tech in Electrical Engg. (Power Electronics & Drive)</option>
            <option value="M. Tech in Civil Engg. (Environmental Engg)">M. Tech in Civil Engg. (Environmental Engg)</option>
            <option value="M. Tech in Civil Engg. (Structural Engg)">M. Tech in Civil Engg. (Structural Engg)</option>
            <option value="Master of Urban & Regional Planning">Master of Urban & Regional Planning</option>
            <option value="Ph.D. in Management">Ph.D. in Management</option>
            <option value="Ph.D. in Law">Ph.D. in Law</option>
            <option value="Ph. D. (Buddhist Studies & Civilization)">Ph. D. (Buddhist Studies & Civilization)</option>
            <option value="Ph. D (Electronics & Communication Engg)">Ph. D (Electronics & Communication Engg)</option>
            <option value="Ph. D (Computer Science & Engg)">Ph. D (Computer Science & Engg)</option>
            <option value="Ph.D. (Electrical Engg.) ">Ph.D. (Electrical Engg.) </option>
            <option value="Ph. D. (Architecture & Planning )">Ph. D. (Architecture & Planning )</option>
            <option value="Ph. D. (Mechanical Engg.)">Ph. D. (Mechanical Engg.)</option>
            <option value="Ph. D.(Civil Engg.)">Ph. D. (Civil Engg.)</option>
            <option value="Ph.D. (Applied Chemistry)">Ph.D. (Applied Chemistry)</option>
            <option value="Ph.D. (Applied Physics)">Ph.D. (Applied Physics)</option>
            <option value="Ph.D. (Applied Mathematics)"> Ph.D. (Applied Mathematics)</option>
            <option value="Ph.D. (Political Science & International Relations)">Ph.D. (Political Science & International Relations)</option>
            <option value="Ph.D. (Education)">Ph.D. (Education)</option>
            <option value="Ph.D. (English/Applied Linguistics)">Ph.D. (English/Applied Linguistics)</option>
            <option value="Ph.D. (Biotechnology)">Ph.D. (Biotechnology)</option>
            <option value="Certificate Course in Pāli Language and Literature">Certificate Course in Pāli Language and Literature</option>
            <option value="Post Graduate Diploma Course in Pali Language and Literature">Post Graduate Diploma Course in Pali Language and Literature</option>
            <option value="Post Graduate Diploma in Buddhist Tourism & Heritage">Post Graduate Diploma in Buddhist Tourism & Heritage</option>
          </select>
          <br><br />
          <b>Choice 3: </b>
          <select name="ch3" style="width:auto">
            <option value="">------------Choose Programme 3------------</option>
            <option value="MBA (HRM/Finance/Marketing/Strategy/Operations)">MBA (HRM/Finance/Marketing/Strategy/Operations)</option>
            <option value="B. Tech in Civil Engg">B. Tech in Civil Engg.</option>
            <option value="B. Tech in Mechanical Engg">B. Tech in Mechanical Engg.</option>
            <option value="B. Tech in Electrical Engg">B. Tech in Electrical Engg. </option>
            <option value="B. Tech in Electronics and Communication Engg">B. Tech in Electronics and Communication Engg. </option>
            <option value="B. Tech in Computer Science and Engg">B. Tech in Computer Science and Engg.</option>
            <option value="B.Tech in Information Technology">B.Tech in Information Technology</option>
            <option value="Bachelor in Architecture">Bachelor in Architecture (B.Arch)</option>
            <option value="Integrated Programme (B.Tech-M.Tech/MBA) in Biotechnology">Integrated Programme (B.Tech-M.Tech/MBA) in Biotechnology</option>
            <option value="Dual Degree Programee BBA-MBA">Dual Degree Programee BBA-MBA</option>
            <option value="B.Tech in Food Processing and Technology">B.Tech in Food Processing and Technology</option>
            <option value="B. Sc. (Physical Sciences)">B. Sc. (Physical Sciences)</option>
            <option value="BA. LL.B.(5 Year Integrated Programme)">BA. LL.B.(5 Year Integrated Programme)</option>
            <option value="B.Ed.">B.Ed.</option>
            <option value="B.A. (Hons.) in English">B.A. (Hons.) in English</option>
            <option value="B.A. (Hons.) in Political Science">B.A. (Hons.) in Political Science</option>
            <option value="Bachelor of Social Work (BSW)">Bachelor of Social Work (BSW)</option>
            <option value="B.A. (Hons.) in Applied Psychology">B.A. (Hons.) in Applied Psychology</option>
            <option value="LL.M.">LL.M.</option>
            <option value="M.Sc. (Biotechnology)">M.Sc. (Biotechnology)</option>
            <option value="M.Tech in Biotechnology">M.Tech in Biotechnology</option>
            <option value="M. Tech in ICT (Software Engineering)">M. Tech in ICT (Software Engineering)</option>
            <option value="M. Tech in ICT (Artificial Intelligence and Robotics)">M. Tech in ICT (Artificial Intelligence and Robotics)</option>
            <option value="M. Tech. in Computer Science"> M. Tech. in Computer Science</option>
            <option value="M. Tech in Electronics & Communication Engg.(Wireless Communication & Networks)">M. Tech in Electronics & Communication Engg. (Wireless Communication & Networks)</option>
            <option value="M. Tech in Electronics & Communication Engg.(VLSI Design)">M. Tech in Electronics & Communication Engg.(VLSI Design)"</option>
            <option value="M. Tech in Electronics & Communication Engg. (RF and Microwave)">M. Tech in Electronics & Communication Engg. (RF and Microwave)</option>
            <option value="M. Tech in Food Processing & Technology">M. Tech in Food Processing & Technology</option>
            <option value="M. Sc. (Applied Chemistry)">M. Sc. (Applied Chemistry)</option>
            <option value="M. Sc. (Applied Physics)">M. Sc. (Applied Physics)</option>
            <option value="M. Sc. (Applied Mathematics)">M. Sc. (Applied Mathematics)</option>
            <option value="M. Sc. (Environmental Science)">M. Sc. (Environmental Science)</option>
            <option value="M. Sc. (Food Science)"> M. Sc. (Food Science)</option>
            <option value="MA (Buddhist Studies & Civilization)">MA (Buddhist Studies & Civilization)</option>
            <option value="M. Phil (Buddhist Studies & Civilization)">M. Phil (Buddhist Studies & Civilization)</option>
            <option value="MA in Economics, Planning and Development">MA in Economics, Planning and Development</option>
            <option value="MA in English">MA in English</option>
            <option value="MA in Hindi">MA in Hindi</option>
            <option value="MA in Urdu">MA in Urdu</option>
            <option value="MSW (Master in Social Work)">MSW (Master in Social Work)</option>
            <option value="MA in Sociology">MA in Sociology</option>
            <option value="MA in Political Science and International Relations">MA in Political Science and International Relations</option>
            <option value="MA/M.Sc (Applied Psychology)"> MA/M.Sc (Applied Psychology)</option>
            <option value="MA in Education">MA in Education</option>
            <option value="M. Phil (Clinical Psychology)">M. Phil (Clinical Psychology)</option>
            <option value="M. Tech in Electrical Engg. (Power System Engg)">M. Tech in Electrical Engg. (Power System Engg)</option>
            <option value="M. Tech in Electrical Engg. (Instrumentation & Control)">M. Tech in Electrical Engg. (Instrumentation & Control)</option>
            <option value="M. Tech in Electrical Engg. (Power Electronics & Drive)">M. Tech in Electrical Engg. (Power Electronics & Drive)</option>
            <option value="M. Tech in Civil Engg. (Environmental Engg)">M. Tech in Civil Engg. (Environmental Engg)</option>
            <option value="M. Tech in Civil Engg. (Structural Engg)">M. Tech in Civil Engg. (Structural Engg)</option>
            <option value="Master of Urban & Regional Planning">Master of Urban & Regional Planning</option>
            <option value="Ph.D. in Management">Ph.D. in Management</option>
            <option value="Ph.D. in Law">Ph.D. in Law</option>
            <option value="Ph. D. (Buddhist Studies & Civilization)">Ph. D. (Buddhist Studies & Civilization)</option>
            <option value="Ph. D (Electronics & Communication Engg)">Ph. D (Electronics & Communication Engg)</option>
            <option value="Ph. D (Computer Science & Engg)">Ph. D (Computer Science & Engg)</option>
            <option value="Ph.D. (Electrical Engg.) ">Ph.D. (Electrical Engg.) </option>
            <option value="Ph. D. (Architecture & Planning )">Ph. D. (Architecture & Planning )</option>
            <option value="Ph. D. (Mechanical Engg.)">Ph. D. (Mechanical Engg.)</option>
            <option value="Ph. D.(Civil Engg.)">Ph. D. (Civil Engg.)</option>
            <option value="Ph.D. (Applied Chemistry)">Ph.D. (Applied Chemistry)</option>
            <option value="Ph.D. (Applied Physics)">Ph.D. (Applied Physics)</option>
            <option value="Ph.D. (Applied Mathematics)"> Ph.D. (Applied Mathematics)</option>
            <option value="Ph.D. (Political Science & International Relations)">Ph.D. (Political Science & International Relations)</option>
            <option value="Ph.D. (Education)">Ph.D. (Education)</option>
            <option value="Ph.D. (English/Applied Linguistics)">Ph.D. (English/Applied Linguistics)</option>
            <option value="Ph.D. (Biotechnology)">Ph.D. (Biotechnology)</option>
            <option value="Certificate Course in Pāli Language and Literature">Certificate Course in Pāli Language and Literature</option>
            <option value="Post Graduate Diploma Course in Pali Language and Literature">Post Graduate Diploma Course in Pali Language and Literature</option>
            <option value="Post Graduate Diploma in Buddhist Tourism & Heritage">Post Graduate Diploma in Buddhist Tourism & Heritage</option>
          </select>
          <br>
          <br>
          <b>Query:</b>
          <textarea name="query" style="width:250px; height:50px" required></textarea>
          <br /><br />

          <p align="center"><input type="submit" style="align-content:center"></p>


          <br />

        </div>
      </form>
    </div>

  </div>


  <%include footer%>