<%include admission-header%>
        <div class="container card-body">
          <h3 class=" text-lg-left mt-4 mb-0">
          Fee Structure
          </h3>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 12%; background-color:#FB8C00 "></div>
          <br>
        <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download/View</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>Details will be here</td>
                <td><a class="text-light" href="#"><button class="btn btn-info btn-sm">View Details</button></a></td>
                
              </tr>
            
            </tbody>
          </table>
        </div>
    

<%include footer%>