<h1>Welcome to Admin Page!</h1>

<a href="/ivy99_gbu_adminPage/news"><button>News</button></a>
<a href="/ivy99_gbu_adminPage/notices"><button>Notices</button></a>
<a href="/ivy99_gbu_adminPage/events"><button>Events</button></a>
<!-- <a href="/ivy99_gbu_adminPage/photos"><button>Photos</button></a>
<a href="/ivy99_gbu_adminPage/faculty"><button>Faculty</button></a> -->