<%include admission-header%>
<div class="container">
   <h3 class="text-lg-left mt-3 mb-0">Important Dates</h3>
   <div class=" my-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
   <br>
   <br>
   <div class="container">
      <table class="table table-hover table-responsive border-0" border="1">
         <thead class="text-center" style="background-color: #78335d">
            <tr class="text-white">
               <th>S.No.</th>
               <th>Events</th>
               <th>Dates</th>
            </tr>
         </thead>
         <tr>
            <td>1</td>
            <td> <b>Online application form open for all programmes for the Academic Session 2020-21</b></td>
            <td> <b>Mar, 2020 (Tuesday)</b></td>
         </tr>
         <tr>
            <td class="py-5">2</td>
            <td>
               <b>Last date for submission of online application for following Programmes:</b>
               <ul class="ml-4">
                  <li> <b>UG Programmes:</b> Five Years Integrated B. Tech. - M. Tech. (Biotechnology)/MBA; Dual Degree BBA-MBA; All B.Tech. (4-Year), Five Year Integrated B.Tech.-M.Tech. (ECE/CSE); BA LLB (5-Year Integrated) BCA; B.Des.
                     (I.D)
                  </li>
                  <li>
                     <b>PG Programmes:</b> All M.Tech.; MBA; LL.M; M.Phil. (Clinical Psychology / Political Science / Buddhist Studies & Civilization); MCA; and M.Sc
                  </li>
                  <li>
                     <b>Doctoral Programmes : </b>All Ph.D. Programmes
                  </li>
               </ul>
            </td>
            <td class="py-5"> <b>25th April, 2020 (Saturday)</b></td>
         </tr>
         <tr>
            <td>3</td>
            <td> <b>Download Admit Card </b> (GBU-ET 2020) </td>
            <td> <b>11 May, 2020 onwards (Monday)</b></td>
         </tr>
         <tr>
            <td>4</td>
            <td> <b>Online Entrance Examination</b> (GBU-ET 2020)</td>
            <td> <b>17 May, 2020 (Sunday)</b></td>
         </tr>
         <tr>
            <td>5</td>
            <td> <b>Announcement of the</b> GBU-ET 2020 <b>Results</b></td>
            <td> <b>27th May, 2020 (Wednesday)</b></td>
         </tr>
         <tr>
            <td>6</td>
            <td> <b>Counseling Procedure Start</b></td>
            <td> <b>First week of June 2020</b></td>
         </tr>
         <tr>
            <td>7</td>
            <td> <b>Date of Interview: </b>B.Des. (I.D); LL.M.; All M.Phil. and Ph.D.</td>
            <td> <b>4th & 5th June, 2020 (Thursday & Friday)</b></td>
         </tr>
         <tr>
            <td>8</td>
            <td> <b>Declaration of Final Result: </b>B.Des. (I.D); LL.M.; All M.Phil. and Ph.D</td>
            <td> <b>16th June, 2020 (Tuesday)</b></td>
         </tr>
         <tr>
            <td>9</td>
            <td> <b>Last date of online application form submission for Programmes under Direct Mode:</b> All B.A.; B. Arch. (With NATA score); B.Com. (Hons.); BSW; All B.Sc./B.Sc. (Hons.); BA (Hons.); MA; MSW; MURP and All PG Diploma/
               Diploma/Certificate 
            </td>
            <td> <b>22 June, 2020 (Monday)</b></td>
         </tr>
         <tr>
            <td>10</td>
            <td> <b>Date of Interview: </b>MURP (Master of Urban & Regional Planning)</td>
            <td> <b>25 June, 2020 (Thursday)</b></td>
         </tr>
         <tr>
            <td>11</td>
            <td> <b>Declaration of Results for Programmes: </b>All B.A.; B. Arch. (With NATA score); B.Com. (Hons.); BSW; All B.Sc./B.Sc. (Hons.); BA (Hons.); MA; MSW; MURP and All PG Diploma/Diploma/Certificate</td>
            <td> <b>July first week (Tentative)</b></td>
         </tr>
         <tbody>
         </tbody>
      </table>
      <br>
       <p><b>Note: </b> <br>
         <span class="text-danger">*Kindly visit <a href="https://gbu.formapply.in/">this link</a> for more updates.</span>
         </p>
   </div>
</div>
<%include footer%>