<% include header%>
    <div class="jumbotron mb-0 clubheader">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0">
        <strong>
        INTERNATIONAL STUDENT AFFAIRS
        </strong>
        </h1>
        <!-- <hr class="mt-0  pt-0 mb-1"> -->
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <nav class="navbar navbar-expand-md navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <!-- <ul class="navbar-nav mx-auto">
            <li class="nav-item  active">
              <a href="" class="nav-link active "></a>
              
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
              
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
              
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link mr-0"></a>
              
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link mr-0"></a>
              
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    <!-- Nevigation End -->
    <div class="container">
      
      <div class="card bordernow  mt-5 mb-5">
        <div class="card-body">
          <div class="container ">
            <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">
            International Student Affairs
            </h1>
            <hr class="mt-2 mb-5">
          </div>
         
            
            <section _ngcontent-c10="" class="pageContent text-justify"><div>Gautam Buddha University, established by the Uttar Pradesh Act (9) of 2002, commenced its first academic session at Greater Noida in August 2008. The University is fully funded by the New Okhla Industrial Development Authority (NOIDA) and the Greater Noida Industrial Development Authority (GNIDA), the undertakings of the Government of Uttar Pradesh. The University is recognized by the University Grants Commission under UGC Act and is a member of the Association of Indian Universities (AIU). The University envisions to become a world class centre for excellence in education and research modeled as a fully residential educational campus. In order to promote value-based education, research and training, the University has established eight schools of learning, which are: School of Biotechnology, School of Buddhist Studies &amp; Civilization, School of Engineering, School of Humanities &amp; Social Sciences, School of Information &amp; Communication Technology, School of Law, Justice &amp; Governance, School of Management, and School of Vocational Studies &amp; Applied Sciences. Each School of learning combines a multilateral confluence of academic training, research, innovation and creativity.&nbsp;</div><div><br></div><div>We at Gautam Buddha University, Greater Noida, Uttar Pradesh, INDIA offer a very cordial welcome to the International students wishing to join different programmes of the University for higher study. We are trying to reach out to our prospective students through our web site, giving information about our University and its schools and the programmes going on over here. Gautam Buddha University in compliance with the approval of the competent authority agreed in principle to open admissions to International Students from the coming academic session (2012-2013). To enforce it properly the University has created a separate entity to look after the matter related to admissions of International Students in terms of procedure, process, admission, and related administration. This new entity of the University is named as INTERNATIONAL AFFAIRS headed by the newly created designation of DIRECTOR.&nbsp;</div><div><br></div><div><h5>Motto of International Affairs Cell: </h5></div><div><br></div><div>The International Affairs Office can advise students on all matters relating to application, admission, fees, arrival services and orientation. It also offers an ongoing support and after arrival advice. The International Students' Office is responsible to provide all necessary help to International students if there is any query/queries arise like:&nbsp;</div><div><br></div><div>•<span>  </span>How to choose your course of study&nbsp;</div><div><br></div><div>•<span>  </span>How to fill in the application form for admission&nbsp;</div><div><br></div><div>•<span> </span>Course information&nbsp;</div><div><br></div><div>•<span>  </span>Whether your academic qualifications are suitable&nbsp;</div><div><br></div><div>•<span> </span>English Remedial Programme&nbsp;</div><div><br></div><div>•<span>  </span>Orientation&nbsp;</div><div><br></div><div>•<span> </span>Visa formalities&nbsp;</div><div><br></div><div>•<span> </span>Accommodation/Hostels&nbsp;</div><div><br></div><div>•<span>  </span>Fees&nbsp;</div><div><br></div><div>•<span>  </span>Any other issues&nbsp;</div><div><br></div><div>The staffs of the International Students’ Office are dedicated to meeting the needs of International students by providing them course information, processing of admission application as efficiently as possible and giving advice on living and studying in campus. The office is also responsible for the development and implementation of Gautam Buddha University's Internationalisation policy. International Students' Office also fosters various Bridge Courses for International students in various arenas according to their needs from time to time. In brief, the Director International Students' Office is friend, philosopher and guide for the International students who should feel free to approach this office for any assistance they may require.</div><div><br></div><div>The Gautam Buddha University has planned to attract a large number of International students for not only Undergraduate and Post Graduate courses, but also for M.Phil. and Ph.D. programs. This Cell will facilitate the international student community in acquiring information, arranges for their admission, and looks after their welfare. Since its inception in August 2008, the Gautam Buddha University has striven to live up to these ideals. We believe that the University is responsible not just for imparting knowledge, but for locating knowledge in society; so as to build a better future. Besides looking after admissions, eligibility, and other related issues, the Centre coordinates with ICCR, Ministry of External Affairs, different embassies and consulates for various purposes including the scholarships. Gautam Buddha University model for Internationalization of Higher Education has these unique features:&nbsp;</div><div><br></div><div>•<span> </span>Single Window&nbsp;</div><div><br></div><div>•<span> </span>Networking&nbsp;</div><div><br></div><div>•<span>  </span>Interfacing&nbsp;</div><div><br></div><div>•<span> </span>Wireless connectivity&nbsp;</div><div><br></div><div>•<span> </span>Interaction&nbsp;</div><div><br></div><div>•<span> </span>Multi / Interdisciplinary&nbsp;</div><div><br></div><div>•<span> </span>Competitive and Affordable&nbsp;</div><div><br></div><div>In the age of globalization, Gautam Buddha University has set out to make its presence felt globally through internationalization of its programmes and opening new avenues of association for international student community.&nbsp;</div><div><br></div><div><br></div><div><h6>
            	
            For further details, all are advised to contact:&nbsp;</h6></div><div><br></div><div>To&nbsp;</div><div>The Director&nbsp;</div><div>International Affairs Cell&nbsp;</div><div>Gautam Buddha University, Greater Noida&nbsp;</div><div>Gautam Buddha Nagar, Uttar Pradesh-201308&nbsp;</div><div>INDIA&nbsp;</div><div>Phone: +91-120-234XXXX&nbsp;</div><div>Fax: +91-20-2344450 (Attention Director, International Affairs)&nbsp;</div><div>Mobile:<a href="tel:+91-9810926121">+91-9810926121</a>/<a href="tel:8130117721">8130117721</a>&nbsp;</div><div>E-mail: <a href="mailto:director_ia@gbu.ac.in">director_ia@gbu.ac.in</a> </div><div><br></div></section>
          
          
        </div>
      </div>
    </div>
     <% include footer%>