<%include header%>
    <style>
    .tableizer-table {
    font-size: 18px;
    font-style:normal;
    color: black;
    border: 4px solid #CCC;
    background-color: #fafffe;
    font-family: Courier New, Courier, monospace;
    }
    .tableizer-table td {
    padding: 15px;
    margin: 2px;
    border: 3px solid #CCC;
    }
    .tableizer-table th {
    background-color: #262963;
    color: #FFF;
    font-weight: bold;
    }
    .collapsible {
    background-color: #108778;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 22px;
    }
    .collapsible2 {
    background-color: #108778;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 22px;
    }
    .collapsible3 {
    background-color: #108778;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: center;
    outline: none;
    font-size: 22px;
    }
    .active, .collapsible:hover {
    background-color: #234a45;
    }
    .content {
    padding: 0 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #cffff9;
    }
    .jumbotron{
      background: #ffff!important;
      box-shadow: 0 0 20px 0 #bbb5b5;
    }
    </style>
  <!--   <div class="jumbotron mb-0 clubheader bgimage_about_organisation_mukul">
      <div class="container mb-0">
        <h1 class="display-4 text-right mb-2" style="color: white"><strong>Governing Bodies of GBU</strong></h1>
        <hr class="mt-0  pt-0 mb-2">
        <h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4>
      </div>
    </div> -->
    
<!-- header section end here-->
    <!-- home section start-->
    <div class="container">
      <h4 class=" text-lg-left mt-3 mb-0">Academic Council of GBU</h4>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
      </div>
    </div>
    <br>
    <br>
    <!--vc of gbu bom details start from here-->
    <div class="container" align="center">
      <div class="jumbotron"style="background-color:#FAFAFC">
        <table>
          <tbody>
            <tr>
              <td> </td>
              <td width="20"><b>1.</b></td>
              <td colspan="2"><b>Prof. Bhagwati Prakash Sharma</b><span class="Apple-converted-space"></span></td>
              <td>- Chairman</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Vice Chancellor</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Gautam Buddha University</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Greater Noida</td>
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td> </td>
              <td width="20"><b>2.</b></td>
              <td colspan="2"><b>Prof. Raj Kumar Mittal</b><span class="Apple-converted-space"></span></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Hon'ble Vice Chancellor,</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Ch. Bansi Lal University,</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Bhiwani, Haryana.</td>
            </tr>
            <tr>
              <td colspan="4"> </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td> </td>
              <td width="20"><b>3.</b></td>
              <td colspan="2"><b>Prof. Hari Kumar Sharma</b></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Department of Political Sciences,</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Allahabad University, Allahabad.</td>
            </tr>
            <tr>
              <td colspan="4"> </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td> </td>
              <td width="20"><b>4.</b></td>
              <td colspan="2"><b>Prof. P. K. Dashora</b><span class="Apple-converted-space"></span></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Ex. Vice-Chancellor, Kota University,</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>and Ex. Prof. Dept. of Statistics,</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>M.P.U.A.T. Udaipur, Rajasthan.</td>
            </tr>
            <tr>
              <td colspan="4"> </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td> </td>
              <td width="20"><b>5.</b></td>
              <td colspan="2"><b>Prof. Beer Pal Singh</b><span class="Apple-converted-space"></span></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Ex. H.o.D. Physics,</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Ch. Charan Singh University, Meerut.</td>
            </tr>
            <tr>
              <td colspan="4"> </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td> </td>
              <td width="20"><b>6.</b></td>
              <td colspan="2"><b>Prof. Shweta Anand</b></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean, Academics</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean, School of Management</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean, School of Biotechnology</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Gautam Buddha University</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td><b>Greater Noida</b></td>
            </tr>
            <tr>
              <td colspan="4"> </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td width="25"> </td>
              <td width="20"><b>7.</b></td>
              <td colspan="2"><b>Prof. Pradeep Kumar Yadav</b></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean Planning &amp; Research</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean, School of Engineering</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dea, School of Information &amp; Communication Technology</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Gautam Buddha University</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td><b>Greater Noida</b></td>
            </tr>
            <tr>
              <td colspan="4"> </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td> </td>
              <td width="20"><b>8.</b></td>
              <td colspan="2"><b>Prof. N.P. Melkania</b></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean, School of Vocational Studies and Applied Sciences</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Gautam Buddha University</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td><b>Greater Noida</b></td>
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td width="25"> </td>
              <td width="20"><b>9.</b></td>
              <td colspan="2"><b>Prof. Surendra Kumar Singh</b></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean, School of Law Justice and Governance</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean, School of Buddhist Studies &amp; Civilization</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Gautam Buddha University</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td><b>Greater Noida</b></td>
            </tr>
            <tr>
              <td colspan="4"> </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td width="25"> </td>
              <td width="20"><b>10.</b></td>
              <td colspan="2"><b>Dr. Neeti Rana</b></td>
              <td>- Member</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Dean (I/C),School of Humanities and Social Sciences</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Gautam Buddha University</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td><b>Greater Noida</b></td>
            </tr>
            <tr>
              <td colspan="4"> </td>
            </tr>
            
            <tr>
              <td colspan="4" width="20"> </td>
            </tr>
            <tr>
              <td> </td>
              <td width="20"><b>11.</b></td>
              <td colspan="2"><b>Registrar</b></td>
              <td>- Secretary</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td>Gautam Buddha University</td>
            </tr>
            <tr>
              <td colspan="3" width="20"> </td>
              <td><b>Greater Noida</b></td>
            </tr>
          </tbody>
        </table>
        <!---academic council meeting start from here-->
        <button class="collapsible3"><strong>Minutes of Meeting Academic Council</strong></button>
        <div class="content table-responsive">
          <center>
          <table class="tableizer-table">
            <thead>
              <tr class="tableizer-firstrow">
                <th>S.No.</th>
                <th>Date of Meeting</th>
                <th><center>Description</th>
                <th><center>Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>15</td>
                <td>26th December 2016</td>
                <td>Academic Council Meeting - XV</td>
                <td><a href="http://www.gbu.ac.in/Programfiles/AC15.pdf"style="color:blue">View Details Of Meeting</a>
              </td>
            </tr>
            <tr>
              <td>14</td><td>18th December 2015</td><td>Academic Council Meeting - XIV</td><td><a href="http://www.gbu.ac.in/Programfiles/AC14.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr>
                <td>13</td><td>30th March 2015</td><td>Academic Council Meeting - XIII</td><td><a href="http://www.gbu.ac.in/Programfiles/AC13.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr><td>12</td><td>20th July 2014</td><td>Academic Council Meeting - XII</td><td><a href="http://www.gbu.ac.in/Programfiles/AC12.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>11</td><td>03rd September 2013</td><td>Academic Council Meeting - XI</td><td><a href="http://www.gbu.ac.in/Programfiles/AC11.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>10</td><td>6th July 2012</td><td>Academic Council Meeting - X</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_10_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>9</td><td>19th November 2011</td><td>Academic Council Meeting - IX</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_9_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>8</td><td>27th April 2011</td><td>Academic Council Meeting - VIII</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_8_3March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>7</td><td>8th February 2011</td><td>Academic Council Meeting - VII</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_7_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>6</td><td>03rd November 2010</td><td>Academic Council Meeting - VI</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_6_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>5</td><td>02nd July 2010</td><td>Academic Council Meeting - V</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_5_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>4</td><td>6th March 2010</td><td>Academic Council Meeting - IV</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_4_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>3</td><td>23rd November 2009</td><td>Academic Council Meeting - III</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_3_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>2</td><td>4th June 2009</td><td>Academic Council Meeting - II </td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_2_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr><td>1</td><td>24th November 2008</td><td>Academic Council Meeting - I</td><td><a href="http://www.gbu.ac.in/Programfiles/AcademicCouncil_1_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
            </tbody>
          </table>
            <!---academic council meeting end here-->
          </div>
          <script>
          var coll = document.getElementsByClassName("collapsible3");
          var i;
          for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
          content.style.maxHeight = null;
          } else {
          content.style.maxHeight = content.scrollHeight + "px";
          }
          });
          }
          </script>
        </div>
      </div>
      <!---academic council end here-->
      <!--- board of Management start from here -->
      <div class="container">
        <h4 class=" text-lg-left mt-3 mb-0">Board of Management</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
        </div>
      </div>
      <br>
      <br>
      <div class="container" align="center">
        <div class="jumbotron" style="background-color:#FAFAFC">
          <table>
            <tbody>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
              <tr>
                <td>
                  &nbsp;
                </td>
                <td width="20">
                  <b>(A)</b>
                </td>
                <td align="left" colspan="2">
                  <b>Vice Chancellor</b>
                </td>
                <td align="right">
                  - Chairman
                </td>
              </tr>
              <tr>
                <td width="20" colspan="3">
                  &nbsp;
                </td>
                <td>
                  <b>Gautam Buddha University</b>
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  <b>(B)</b>
                </td>
                <td align="left" colspan="2">
                  <b>Technical Education Nominee</b>
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  <b>(C)</b>
                </td>
                <td align="left" colspan="2">
                  <b>Education Society Nominee</b>
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  1.
                </td>
                <td align="left" colspan="2">
                  <b> Prof. N.K.Taneja</b>
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Vice Chancellor,
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Chaudhary Charan Singh University,
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Meerut- 250001 (Uttar Pradesh)
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  2.
                </td>
                <td align="left" colspan="2">
                  <b> Prof. Arun Bhagat</b>
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Makhanlal Chaturvedi National University of Journalism and Communication,
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  C-56/4, Sector-62,
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Noida (Uttar Pradesh)
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <tr>
                
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  3.
                </td>
                <td align="left" colspan="2">
                  <b>Prof. Beer Singh</b>
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Department of Psychology,
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Chaudhary Charan Singh University,
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Meerut- 250001 (Uttar Pradesh)
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <tr>
                
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  <b>(D)</b>
                </td>
                <td align="left" colspan="2">
                  <b>Deans (Coordinating)</b>
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  1.
                </td>
                <td align="left" colspan="2">
                  Prof. Shweta Anand
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Dean Academics
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Gautam Buddha University
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  2.
                </td>
                <td align="left" colspan="2">
                  Prof. Pradeep Kumar Yadav
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Dean Planning &amp; Research
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Dean, School of Engineering
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Dean, School of Information &amp; Communication Technology
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Gautam Buddha University
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  3.
                </td>
                <td align="left" colspan="2">
                  Dr. Manmohan Singh Sisodia
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Incharge Student Affairs
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Gautam Buddha University
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <tr>
                
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  <b>(E)</b>
                </td>
                <td align="left" colspan="2">
                  <b>School's Deans</b>
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  1.
                </td>
                <td align="left" colspan="2">
                  Prof. Shweta Anand
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Dean, School of Management
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Dean, School of Biotechnology
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Gautam Buddha University
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  2.
                </td>
                <td align="left" colspan="2">
                  Prof. N.P. Melkania
                </td>
                <td align="right">
                  - Member
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Dean, School of Vocational Studies and Applied Sciences
                </td>
              </tr>
              <tr>
                <td colspan="3" width="20">
                  &nbsp;
                </td>
                <td>
                  Gautam Buddha University
                </td>
              </tr>
              <tr>
                <td colspan="4">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td colspan="4" width="20">
                  &nbsp;
                </td>
              </tr>
              <tr>
                <td width="25">
                  &nbsp;
                </td>
                <td>
                  3.
                </td>
                <td align="left" colspan="2">
                  Prof. Surendra Kumar Singh
                </td>
                <td align="right">
                  - Member
                </td>
              </tr><tr>
              <td colspan="3" width="20">
                &nbsp;
              </td>
              <td>
                Dean, School of Law Justice &amp; Governance
              </td>
            </tr>
            <tr>
              <td colspan="3" width="20">
                &nbsp;
              </td>
              <td>
                Dean, School of Buddhist Studies and Civilization
              </td>
            </tr>
            <tr>
              <td colspan="3" width="20">
                &nbsp;
              </td>
              <td>
                Gautam Buddha University
              </td>
            </tr>
            <tr>
              <td colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td colspan="4" width="20">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td width="25">
                &nbsp;
              </td>
              <td>
                4.
              </td>
              <td align="left" colspan="2">
                Dr. Neeti Rana
              </td>
              <td align="right">
                - Member
              </td>
            </tr>
            <tr>
              <td colspan="3" width="20">
                &nbsp;
              </td>
              <td>
                Dean (I/C),School of Humanities and Social Sciences
              </td>
            </tr>
            <tr>
              <td colspan="3" width="20">
                &nbsp;
              </td>
              <td>
                Gautam Buddha University
              </td>
            </tr>
            <tr>
              <td colspan="4">
                &nbsp;
              </td>
            </tr>
            
            <tr>
              <td colspan="4" width="20">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td width="25">
                &nbsp;
              </td>
              <td>
                <b></b>
              </td>
              <td align="left" colspan="2">
                <b>Secretary, Industry Development Department, U.P.Govt.</b>
              </td>
              <td align="right">
                - Member
              </td>
            </tr>
            <tr>
              <td colspan="4" width="20">
                &nbsp;
              </td>
            </tr>
            
            <tr>
              <td colspan="4" width="20">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td width="25">
                &nbsp;
              </td>
              <td>
              </td>
              <td align="left" colspan="2">
                <b>Registrar, Gautam Buddha University</b>
              </td>
              <td align="right">
                - Secretary
              </td>
            </tr>
          </tbody>
        </table>
        <hr>
        <!--board of management meeting start from here-->
        <button class="collapsible2"><strong>Minutes of Meeting Board of Management</strong></button>
        <div class="content table-responsive">
          <center>
          <table class="tableizer-table">
            <thead>
              <tr class="tableizer-firstrow">
                <th>S.No.</th>
                <th>Date of Meeting</th>
                <th><center>Description</th>
                <th><center>Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>21</td><td>06.05.2017</td><td>21st Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM21.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr><td>20</td><td>30.09.2016</td><td>20th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM20.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>19</td><td>14.06.2016</td><td>19th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM19.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>18</td><td>08.03.2016</td><td>18th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM18.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>17</td><td>11.01.2016</td><td>17th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM17.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>16</td><td>18.05.2015</td><td>16th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM16.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>15</td><td>15.10.2014</td><td>15th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_15_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>14</td><td>10.07.2012</td><td>14th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_14_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>13</td><td>27.01.2012</td><td>13th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_13_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>12</td><td>22.07.2011</td><td>12th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_12_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>11</td><td>30.04.2011</td><td>11th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_11_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              <tr>
                <td>10</td><td>10.02.2011</td><td>10th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_10_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>9</td><td>04.11.2010</td><td>9th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_9_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>8</td><td>04.08.2010</td><td>8th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_8_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>7</td><td>30.04.2010</td><td>7th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_7_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>6</td><td>11.01.2010</td><td>6th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_6_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>5</td><td>24.09.2009</td><td>5th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_5_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>4</td><td>22.06.2009</td><td>4th Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_4_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>3</td><td>18.02.2009</td><td>3rd Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_3_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>2</td><td>20.09.2008</td><td>2nd Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_2_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
              <tr>
                <td>1</td><td>10.04.2008</td><td>1st Meeting of the Board of Management</td><td><a href="http://www.gbu.ac.in/Programfiles/BOM_1_2March15.pdf"style="color:blue">View Details Of Meeting</a></td>
              </tr>
            </tbody></table>
            <!---academic council meeting end here-->
          </div>
          <script>
          var coll = document.getElementsByClassName("collapsible2");
          var i;
          for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight){
          content.style.maxHeight = null;
          } else {
          content.style.maxHeight = content.scrollHeight + "px";
          }
          });
          }
          </script>
          <!--board of management meeting end here-->
        </div>
      </div>
      <!--- board of Management end here -->
      <!--- board of governer start from here -->
      
      <div class="container">
        <h4 class=" text-lg-left mt-3 mb-0">Board of Governers</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
        </div>
      </div>
      <br>
      <br>
      <!--vc of gbu details start from here-->
      <div class="container" align="center">
        <div class="jumbotron" style="background-color:#FAFAFC">
          <table>
            <tbody><tr>
              <td colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
                <b>1.</b>
              </td>
              <td align="left" colspan="2">
                <b>Chief Secretary</b>
              </td>
              <td align="right">
                ... Chairman
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                <b> U.P. Government </b>
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
                <b>2.</b>
              </td>
              <td align="left" colspan="2">
                <b>Vice Chancellor</b>
              </td>
              <td align="right">
                ... Member Secretary
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                <b>Gautam Buddha University</b>
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
              </td>
              <td align="left" colspan="2">
                <b>Education Society Nominee</b><br><br>
              </td>
              <td align="right">
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
                <b>3.</b>
              </td>
              <td align="left" colspan="2">
                <b>Prof. Jaimala Bishnoi </b>
              </td>
              <td align="right">
                ... Member
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Professor &amp; Head,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Department of Mathematics,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Chaudhary Charan Singh University,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Meerut-250001 (Uttar Pradesh)
              </td>
            </tr>
            <tr>
              <td colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
                <b>4.</b>
              </td>
              <td align="left" colspan="2">
                <b>Prof. H.D. Charan </b>
              </td>
              <td align="right">
                ... Member
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Vice Chancellor,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Bikaner Technical University,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                University College of Engineering &amp; Technology,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Bikaner - 334004 (Rajasthan)
              </td>
            </tr>
            <tr>
              <td colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
                <b>5.</b>
              </td>
              <td align="left" colspan="2">
                <b>Prof. Shyam Bihari Lal </b>
              </td>
              <td align="right">
                ... Member
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Professor and Head,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Department of Ancient History &amp; Culture and Archeological,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Mahatma Jyotiba Phule Rohilkhand University,
              </td>
            </tr>
            <tr>
              <td width="20" colspan="3">
                &nbsp;
              </td>
              <td>
                Bareilly 243006, (U.P) India.
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
                <b>6.</b>
              </td>
              <td align="left" colspan="2">
                <b>Secretary, Industry Development Department, U.P.Govt.</b>
              </td>
              <td align="right">
                ... Member
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td colspan="4" align="center" valign="middle" height="10">
                <img src="middleline1.gif" width="130%" height="3">
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
                <b>7.</b>
              </td>
              <td align="left" colspan="2">
                <b>UGC Nominee</b>
              </td>
              <td align="right">
                ... Member
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td colspan="4" align="center" valign="middle" height="10">
                <img src="middleline1.gif" width="130%" height="3">
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
              <td width="20">
                <b>8.</b>
              </td>
              <td align="left" colspan="2">
                <b>Technical Education Nominee</b>
              </td>
              <td align="right">
                ... Member
              </td>
            </tr>
            <tr>
              <td colspan="4" align="center" valign="middle" height="10">
                <img src="middleline1.gif" width="130%" height="3">
              </td>
            </tr>
            <tr>
              <td width="20" colspan="4">
                &nbsp;
              </td>
            </tr>
          </tbody></table>
          <!--- board of governer end here -->
          <!---board of Governers meeting start from here-->
          <button class="collapsible"><strong>Minutes of Meeting Governors</strong></button>
          <div class="content table-responsive">
            <!---details of page start from here-->
           
            <center>
            <table class="tableizer-table">
              <thead><tr class="tableizer-firstrow">
                <th>S.No.</th><th>Date of Meeting</th><th><center>Description</th>
                <th><center>Link</th></tr>
              </thead>
              <tbody>
                <tr><td>5</td><td>18 September 2017</td><td>Board Of Governors Meeting - V</td><td><a href="http://www.gbu.ac.in/Programfiles/BOG5M_25Jan18.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
                <tr><td>4</td><td>01 August 2015</td><td>Board Of Governors Meeting - IV</td><td><a href="http://www.gbu.ac.in/Programfiles/BOG4M_25Jan18.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
                <tr><td>3</td><td>6 May 2011</td><td>Board Of Governors Meeting - III</td><td><a href="http://www.gbu.ac.in/Programfiles/BOG_3_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
                <tr><td>2</td><td>10 February 2010</td><td>Board Of Governors Meeting - II</td><td><a href="http://www.gbu.ac.in/Programfiles/BOG_2_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
                <tr><td>1</td><td>03 February 2009</td><td>Board Of Governors Meeting - I</td><td><a href="http://www.gbu.ac.in/Programfiles/BOG_1_2March15.pdf"style="color:blue">View Details Of Meeting</a></td></tr>
              </tbody></table>
              </center>
              <script>
              var coll = document.getElementsByClassName("collapsible");
              var i;
              for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var content = this.nextElementSibling;
              if (content.style.maxHeight){
              content.style.maxHeight = null;
              } else {
              content.style.maxHeight = content.scrollHeight + "px";
              }
              });
              }
              </script>
            </div>
          </div>
        </div>
        <!---board of Governers meeting end here-->
        <script type="text/javascript" src="js/about.js"></script>

        <%include footer%>
      </body>
    </html>

