<%include header%>
          <header class="py-3 mx-auto">
              <h1 id="header-h1-campus-life" class="pt-3">Campus Life</h1>
              <p id="header-p-campus-life" class="px-5 pt-3">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.<br> Nullam id dolor id nibh ultricies vehicula ut elit.</p>
            </header>
      
            <div class="container my-3 pb-5">
              <div id="demo" class="carousel slide" data-ride="carousel">
                      <ul class="carousel-indicators">
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                        <li data-target="#demo" data-slide-to="1"></li>
                        <li data-target="#demo" data-slide-to="2"></li>
                      </ul>-->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img src="./img/campuslife1.jpg" class="img-fluid" width="100%" height="550">
                        </div>
                        <div class="carousel-item">
                          <img src="./img/campuslife2.jpg" class="img-fluid" width="100%" height="550">
                        </div>
                        <div class="carousel-item">
                          <img src="./img/campuslife3.jpg" class="img-fluid" width="100%" height="550">
                        </div>
                        <div class="carousel-item">
                          <img src="./img/campuslife4.jpg" class="img-fluid" width="100%" height="550">
                        </div>
                      </div>
                      
                      <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#demo" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#demo" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>
                    </div> 
            </div>
            <hr>
            <div class="container py-3 px-5">
              <div class="row">
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 511</span> acres</strong>
                  <br>
                  <p id="p-figure">Campus area</p>
                </div>
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 50000</span>+</strong>
                  <br>
                  <p id="p-figure">Trees planted</p>
                </div>
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 154</span> acres</strong>
                  <br>
                  <p id="p-figure">Green Belt</p>
                </div>
              </div>
            </div>
            <hr>
            <section class="container" id="library-section">
              <div class="row p-5">
                <div class="col-sm-5">
                  <img src="./img/library1_img.jpg" class="img-fluid">
                </div>
                <div class="col-sm-7 p-5 my-auto jumbotron d-block">
                  <h1>Central Library</h1>
                  <p>The university has Jyoti Rao Phule Meditation Centre, inspired by stupa-architecture. The initiative is to guide and shape physical, mental and spiritual growth of young minds, body and soul. </p>
                </div>
              </div>
            </section>
            <hr>
            <div class="container py-3 px-5">
              <div class="row">
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 5000</span></strong>
                  <br>
                  <p id="p-figure">Student Residence</p>
                </div>
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 08</span></strong>
                  <br>
                  <p id="p-figure">School Buildings</p>
                </div>
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 02</span></strong>
                  <br>
                  <p id="p-figure">International Centers</p>
                </div>
              </div>
            </div>
            <hr>
            <section class="container" id="meditation-center-section">
              <div class="row p-5">
                <div class="col-sm-7 p-5 my-auto jumbotron d-block">
                  <h1>Meditation Center</h1>
                  <p>The university has Jyoti Rao Phule Meditation Centre, inspired by stupa-architecture. The initiative is to guide and shape physical, mental and spiritual growth of young minds, body and soul. </p>
                </div>
                <div class="col-sm-5">
                  <img src="./img/meditationcenternight.jpg" class="img-fluid ">
                </div>
              </div>
            </section>

            <hr>
            <div class="container py-3 px-5">
              <div class="row">
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 02</span></strong>
                  <br>
                  <p id="p-figure">Sports Complexes</p>
                </div>
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 03</span></strong>
                  <br>
                  <p id="p-figure">Utility Centers</p>
                </div>
                <div class="col-md-4 text-center p-3">
                  <strong id="strong-figure"><span class="numberCounter"> 750</span></strong>
                  <br>
                  <p id="p-figure">Faculty/Staff Quaters</p>
                </div>
              </div>
            </div>
            <hr>  
            <section class="container" id="eveningout-section">
              <div class="row p-5">
                <div class="col-sm-5">
                  <img src="./img/eveningout1.jpg" class="img-fluid">
                </div>
                <div class="col-sm-7 p-5 my-auto jumbotron d-block">
                  <h1>Evening Out</h1>
                  <p>The campus has many other pleasing attractions with fountains, water bodies and the Shanti Sarowar with ever inspiring Tathagat's statue in it. The scenic beauty and neon lights are very captivating to mesmerise evening walkers.</p>
                </div>
              </div>
            </section>

            <section>
              <div class="container text-center py-5">
                <h1>Virtual Tour</h1>
                <h5>Lorem ipsem is always the best demo text to write. Lorem ipsem is always the best demo text to write.</h5>
              </div>
              <div>
                <div class="embed-responsive embed-responsive-16by9">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/aV-XncxVM-Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
              </div>
            </section>
    <%include footer%>