<%include header%>

<!DOCTYPE html>
<html>
  <head>
    <title>Gautam Buddha University</title>
    <link rel="icon" type="image/png" href="./img/logo_gbu.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--- Animation -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" >
  </head>
  <style>
    .hrline{
  width: 40%;
  height: 1px!important;
  margin: 2px auto 0px !important;
  background-color: rgb(217, 217, 214);
    }
    .organisation{
      margin: 25px 0;
      font-family: inherit !important;
      font-size: 30px !important;
      color: rgb(55, 58, 54) !important
      position: relative;
      padding-bottom: 8px;
      padding-top: 20px;
      text-transform: none;
      line-height: 28px;
      margin-bottom: 15px;
      font-weight: 400;text-align: center;
    }
    .subtitle{
      display: inline-block;
    position: absolute;
    bottom: 40px;
    left: 10%;
    padding: 8px 12px;
    margin: auto auto;
    text-transform: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background: rgba(255,255,255,.8);
    width: 80%;
    font-size: 18px;
    letter-spacing: .5px;
    line-height: normal;
    font-family: 'proxima-nova_ltlight', lato, sans-serif;
    font-weight: 600;
    transition: .5s;
    }
    .subtitle:hover{
      bottom: 45px;
      transition: .5s ease-in-out
    }
    .line {
  height: 1px;
  margin: 0 auto;
  position: relative;
  bottom: -20px;
  background: rgba(150,150,150,1);
  overflow: hidden;
  display: block;
  width: 40%;
  margin-top: 0;
  }
  .heading2 {
  margin: 0;
  position: relative;
  bottom: -75px;
  font-size: 17px;
  letter-spacing: .5px;
  line-height: 24px;
  font-family: 'proxima-nova', lato, sans-serif;
  font-weight: 400;
  color: #fff;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background: rgba(0,0,0,0);
  padding: 0 10px 0 10px;
  }
  @media (min-width: 300px){
  .campus-banner-x {
    box-shadow: none;
    border: none;
    background-color: rgba(255, 255, 255, 0.9) /*!important*/;
    background-image: repeating-radial-gradient(circle at center center, rgba(240, 243, 243, 0.7), rgba(240, 243, 243, 0.7) 1px, transparent 1px, transparent 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.78) 100%), repeating-radial-gradient(circle at center center, rgba(0, 115, 119, 0), rgba(0, 115, 119, 0) 1px, transparent 1px, transparent 100%) !important;
    background-size: 3px 3px, auto, 3px 3px !important;
    background-position: 50% 50%, 50% 50%, 50% 50% !important;
    background-attachment: scroll, scroll, scroll !important;
    background-repeat: repeat, no-repeat, repeat !important;
}}
.campus-life-t {
    font-family: 'proxima_nova_rgregular', sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 5px 0 15px;
    font-size: 24px;
    line-height: 1.166666667;
    color: #373a36;
}
@media screen and (max-width: 768px){
  .campus-life-head{
    display: none!important;
  }
  .campus-banner-x{
        height: 400px!important;
    margin: 0px 10px!important;
    width: 100%!important;
  }

}
@media screen and (min-width: 768 and max-width: 950px){
  .campus-life-head{
    width:70%!important;
  }
  .campus-banner-x{
        
    width: 25%!important;
  }

}
  </style>
  <body>
    
    
    <div class="city-head p-5" style="background: url(img/sports.JPG);background-repeat: no-repeat;background-size: 100% 100%;background-attachment: fixed;" >
      <div class=""style= "padding: 0px 0px;" >
        <div class="row my-5" style="padding: 0px 0px;">
          <div class="col-md-9 campus-life-head">
          </div>
          <div class="col-md-3 campus-banner-x my-auto p-5">
            <div class="position text-left">
              <h2 class=" pt-2 pl-2 city-life-t">Campus life</h2>
              <hr style="width: 40%; left: 10 ; position: absolute; border: 2px solid red">
              <br>
              <br>
              <p style="color: rgb(91, 97, 102); font-size: 18px;">We’re ready to see you thrive. <br>Be a part of a vibrant community of intellectuals and entrepreneurs endowed with Character, Creativity, Competence and Commitment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br><br>

    <!--Section 2 start -->
    <div class="container mt-5">
      <div class="row" style="">
        <div class="col-md-6"style="background: rgb(0, 140, 149);border: 1px solid rgb(0, 140, 149);">
          <span class="border" style="color: rgb(255, 255, 255) !important;">
          <div class="p-5 mt-4 text-center" style=" border: 1px solid rgb(0, 140, 149); ">
            
            <p style="color: rgb(255, 255, 255) !important;
              font-size: 24px !important;
              max-width: 45em;
              margin: 0 0 25px;
              font-family: 'proxima_nova_rgregular', sans-serif;
              font-weight: 300;
              ">
            Your GBU experience is ready for you.<br>What will you make it?</p>
            
          </div></span>
        </div>
        <div class="col-md-6 "style="border: 1px solid rgb(0, 140, 149);">
          <div class="p-5 mt-4">
          <p style="text-align: center;
              margin: 0 0 25px;
            font-family: 'proxima_nova_rgregular', sans-serif;
            font-weight: 300;
            line-height: 24px;
            font-size: 18px;
            line-height: 24px;
          color: #545b61;">You bring your voice, your talents, and your willingness to explore. Whether you choose to volunteer, go Greek, play sports, start a new club, or all of the above, your life at GBU will be one to remember.</p>
          </div>
        </div>
      </div>
    </div>
    <!--    Section 2 end -->
    <!--    section organisation start -->
    <div class="container">
      <h2 class="organisation">Life At Campus</h2>
      <div class="hrline">
      </div>
    </div>
    <div class="container">
      <div class="row text-center campus-life-tab">
        <div class="col-md-4 mb-4">
        <div class="p-2" style=" background: url(img/sports.JPG); height: 200px; background-size: cover;">
            <div class="subtitle ">
              Sports Facilities

            </div>              
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <a href="meditation/meditation-home.html">
          <div class="p-2" style=" background: url(../meditation/img/buddha25.jpg); height: 200px; background-size: cover;">
            <div class="subtitle ">Meditation Center
            </div>
          </div></a>

        </div>
        <div class="col-md-4 mb-4">
          <div class="p-2" style=" background: url(img/auditorium.jpg); height: 200px; background-size: cover;">
            <div class="subtitle ">Student Accommodation</div>
          </div>
        </div>
      </div>
      <br>
      <div class="row text-center mb-4 campus-life-tab">
        <div class="col-md-4 mb-4">
          <a href="/clubs">
        <div class="p-2" style=" background: url(img/clubs.jpg); height: 200px; background-size: cover;">
            <div class="subtitle ">
              Clubs
            </div>              
            
          </div></a>
        </div>
        <div class="col-md-4 mb-4">
          <!-- <a href="meditation/meditation-home.html"> -->
          <div class="p-2" style=" background: url(meditation/img/buddha25.jpg); height: 200px; background-size: cover;">
            <div class="subtitle ">Cultural Activities
            </div>
          </div><!-- </a>
 -->        </div>
        <div class="col-md-4 mb-4">
          <div class="p-2" style=" background: url(https://www.lynchburg.edu/wp-content/uploads/general/fitness.jpg); height: 200px; background-size: cover;">
            <div class="subtitle ">Shopping Complex</div>
          </div>
        </div>
      </div>
      <div class="row text-center campus-life-tab">
        <div class="col-md-4 mb-4">
        <div class="p-2" style=" background: url(img/sports.JPG); height: 200px; background-size: cover;">
            <div class="subtitle ">
              Social Sevice

            </div>              
          </div>
        </div>
        <div class="col-md-4 mb-4">
          <!-- <a href=""> -->
          <div class="p-2" style=" background: url(meditation/img/buddha25.jpg); height: 200px; background-size: cover;">
            <div class="subtitle ">Auditorium
            </div>
          </div><!-- </a> -->

        </div>
        <div class="col-md-4 mb-4">
          <div class="p-2" style=" background: url(img/auditorium.jpg); height: 200px; background-size: cover;">
            <div class="subtitle ">Dispensary</div>
          </div>
        </div>
      </div>
    </div>

    <!--    section organisation end -->
    <!--    section1 start -->
    <div class="section-1 p-4 mt-5">
      <div class="container">
        <div class="row">
          <div class="column col-md-6 mb-4" style="background-image: url(https://www-dev.lynchburg.edu/wp-content/uploads/general/diningHall3.jpg) !important;
            background-size: cover !important;
            background-position: 50% 50% !important;
            background-attachment: scroll !important;
            background-repeat: no-repeat !important;" >
            
          </div>
          <div class="column col-md-6 mb-4">
            <h2 style="font-size: 22px !important;">Dining services</h2>​​​​
            <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
            <p>Feast on fresh, nutritious food, or grab a quick snack. If you want to eat it, you can find it here. In addition to our buffet-style dining hall, try out our delis, Starbucks station, Tex-Mex takeout, on-campus Domino’s, and any number of local food trucks that make regular stops on campus. You’ll eat well here!</p>
          </div>
        </div>
      </div>
    </div>
    <!--    section1 end -->
    <!-- section 2 start -->
    <div class="section-1 p-4">
      <div class="container">
        <div class="row">
          <div class="column col-md-6 mb-5">
            <h2 style="font-size: 22px !important;">​Evening out @ Grand walk</h2>​​​​
            <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
            <p>The cardiovascular benefits of walking are biologically plausible; like other forms of regular moderate exercise, walking improves cardiac risk factors such as cholesterol, blood pressure, diabetes, obesity, vascular stiffness and inflammation, and mental stress.<br> And if cardiac protection and a lower death rate are not enough to get you moving, consider that walking and other moderate exercise programs also help protect against dementia, peripheral artery disease, obesity, diabetes, depression, colon cancer, and even erectile dysfunction.</p>
          </div>
          <div class="column col-md-6" style="    background-image: url(img/eveningout1.jpg) !important;
            background-size: cover !important;
            background-position: 50% 50% !important;
            background-attachment: scroll !important;
            background-repeat: no-repeat !important;
            background-size: cover;" >
            
          </div>
          
        </div>
      </div>
    </div>
    <!-- section1 start -->
  <div class="section-1 p-4">
    <div class="container">
      <div class="row " style="padding: 20px 0px;">
        <div class="column col-md-6 " style=" background-image: url(img/meditationcenternight2.jpg);background-repeat: no-repeat;background-size: cover;" >
          
        </div>
        <div class="column col-md-6">
          <h2 style="font-size: 22px !important;">Meditaion center @ GBU</h2>​​​​
          <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
          <p>In addition to curricular inputs the university is creating facilities to guide and shape Mahatma Jyotiba Phule Dhyana Kendra, inspired by stupa architecture is a learning and retreat centre to give an experience of the power of peace and inner silence. <br>The centre is looking forward to organize seminars, lectures and experiential workshops in meditation, positive values, stress free living and self management.<br>It aims to help the residents at campus in recognizing their own inherent qualities and recollect their inner most potential. The meditation centre facilitates the experience of the inner self through silence.
            </p>
        </div>
      </div>
    </div>
  </div>
  <!--    section1 end -->
  <!-- section 2 start -->
  <div class="section-1 p-4">
    <div class="container">
      <div class="row">
        <div class="column col-md-6">
          <h2 style="font-size: 22px !important;">​Meet at Shanti Sarowar</h2>​​​​
          <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
          <p>An oasis of peace in the happening in GBU, Shanti Sarovar is a perfect place to relax, refresh and recharge the soul. As an academy for higher learning of values and spiritual skills, it conducts a wide spectrum of courses, retreats, seminars and workshops.
            
          </p>
        </div>
        <div class="column col-md-6" style="    background-image: url(img/4.jpg) !important;
          background-size: cover !important;
          background-position: 50% 50% !important;
          background-attachment: scroll !important;
          background-repeat: no-repeat !important;
          background-size: cover;" >
          
        </div>
        
      </div>
    </div>
  </div>
  <%include footer%>
  <!-- love section start -->