<%include header%>
<!-- ccc banner start -->
    <section>
      <div class="jumbotron mb-0 clubheader banner-bg" style="background-image: url(../../../ccc/assets/img/banner1.png);">
        <div class="banner-over" id="banner-over" style="background-image: url(../../../ccc/assets/img/pattern.png)!important;">
          <div class="">
            <div class="container mb-0 ">
              <h1 class="font-weight-lighter display-5 mb-0 text-left" style="color: #ffffff">
              <strong>
              CENTRAL COMPUTER CENTER
              </strong>
              </h1>
              <hr class="mt-0  pt-0 mb-1">
              
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- ccc banner end -->
<!-- about ccc start -->
 <nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #78335d">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
          <ul class="nav navbar-nav list-unstyled nabar-expand-md nav-justified mx-auto ">
            <li class="nav-item m-1">
              <a href="#about" class="nav-link active" data-toggle="tab">About</a>
            </li>
            <li class="nav-item m-1">
              <a href="#services" class="nav-link" data-toggle="tab">Services</a>
            </li>
            <li class="nav-item m-1">
              <a href="#forms" class="nav-link" data-toggle="tab">Forms</a>
            </li>
            <li class="nav-item m-1">
              <a href="#servers" class="nav-link" data-toggle="tab">Servers</a>
            </li>
            
            <li class="nav-item m-1">
              <a href="#networks" class="nav-link" data-toggle="tab">Networks</a>
            </li>
            <li class="nav-item m-1">
              <a href="#labpolicy" class="nav-link" data-toggle="tab">Policy</a>
            </li>
            <li class="nav-item m-1">
              <a href="#directory" class="nav-link" data-toggle="tab">Directory</a>
            </li>
            <li class="nav-item m-1">
              <a href="#contactus" class="nav-link" data-toggle="tab">Contact</a>
            </li>
            <li class="nav-item m-1">
              <a href="#faqs" class="nav-link" data-toggle="tab">FAQ's</a>
            </li>
            
          </div>
        </div>
      </nav>
     
    <div class="tab-content">
      <div class="container mt-2 tab-pane active" id="about">
        <h4 class=" text-lg-left mt-3 mb-0">About</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
        <ul>
          <li style="list-style-type: circle;">
            <p class="card-text text-justify">The Central Computer Center of Gautam Buddha University is a central facility that caters to IT needs of the University and provides access to internet resources as well as telecommunication facilities.  The Campus network is carefully planned, keeping in view options for future expansions. Fibre-optic cabling is used to connect all the major buildings and Campus is equipped with Wi-Fi connectivity. The CCC has strong IT security infrastructure that protects the University network from hackers.
            </p>
          </li>
          <li style="list-style-type: circle;"> 
            <p class="card-text text-justify">The Campus Network connects to Departments, Schools, Hostels, Hospital, Guest House, etc. Connectivity is provided over the campus telephone-alt network using ADSL. LANs in each area of the network have 10/100/1000 Mbps transmission capacity and are linked through fibre optic cables.
            </p>
          </li>
          <li style="list-style-type: circle;">
            <p class="card-text text-justify">Campus has taken 1 Gbps leased line for Internet connectivity from BSNL. Bandwidth is distributed to the 6000 nodes in the Campus with Cisco switches. Network security is provided with restricted access. The Campus provides its students the necessary technological skills to upgrade or share their knowledge. A robust campus network is provided to every student for accessing internal servers and the Internet. The Central Computer Centre has power backup through around 40 high efficiency UPS and generator set. Air conditioning is provided by the central air conditioning plant backed-up with in-house split air conditioners. Linux/Windows desktops are provided in all class rooms and labs of different Schools for conducting e-learning and interactive lab sessions during classes.
            </p>
          </li>
          <li style="list-style-type: circle;">
            <p class="card-text text-justify">Software for Scientific Computing, Office Automation, and Database Applications are available on various servers. SPSS (Statistical Package for Social Sciences), Prowess (CMIE) are few of scientific libraries available. MATLAB is the application package for scientific applications. CLC GENOME WORK BENCH, CLC Science Server, SCHRODINGER, EXOME-ED, EXOME-BLAST are Biotechnology Suites. Oracle 9i, and SQL SERVER 2008 are the major database packages.</p>
          </li>
        </ul> 
        </div>  
      </div>   
    
    <!-- about ccc end -->
    <!--Start CCC Services  -->
    <div class="container tab-pane" id="services">
        <h4 class=" text-lg-left mt-3 mb-0 ">Services</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
        <ul class="text-justify container">
          <li style="list-style-type: circle;">CCC provides easily accessible and excellent computational facilities to the faculty and students.
          </li>
          <li style="list-style-type: circle;">Our entire campus is connected with seamless wireless connectivity using Cisco Access Points. Over 180 Indoor AP’s are installed to provide the connectivity along with 25 IP cameras  10 speed dome cameras to monitor the various buildings of University.</li>
          <li style="list-style-type: circle;">Symantec Protection Suit Management </li>
          <li style="list-style-type: circle;"> Web security Gateway are installed for Malware/ Spyware/virus detection at the gateway level.</li>
          <li style="list-style-type: circle;">Windows Server update services are installed for Patch Management in the entire campus.</li>
          <li style="list-style-type: circle;">GBU official website is developed  maintained by CCC In-house.</li>
          <li style="list-style-type: circle;">24x7 network, software  hardware support.</li>
          <li style="list-style-type: circle;"><b>Email Service</b><br>
            All University officials, faculty members of Departments and students are provided with Email ID's. All mail services are accessible using Web browser or Gmail app. Email facility is provided to the user by Central Computer Center. All users are given unlimited space for emails storage and Google Drive. Maximum size of outgoing mail can be 25 MB, and the maximum size of incoming mail can be 25 MB.
            <br>
            <br>
            <a href="http://mail.gbu.ac.in/">
              <button type="button" class="btn btn-info">GBU Mail</button>
            </a>
            <br>
            <br>
          </li>
          <li style="list-style-type: circle;"><b>Backup and Recovery</b> <br>
            <p class="card-text text-justify">The Central Computer Center provides 24hrs backup of all the systems present in the campus.A user can request for restore of the files available on backup tapes, giving full path names of files/directories to be restored. User can also put request on paper and submit to Central Computer Center. <br>
              <b><i>For Data Backup/Recovery:</i></b><br>Contact No: <a href="tel:+91 120-234 6237"> 0120-234 6237.</a></p>
            </li>
            <br>
            <li style="list-style-type: circle;"><b>Antivirus and Spam Protection</b> <br>
              <p class=text-justify>The Central Computer Center provides Anti-virus & Spam Protection at the server and the gateway level for PC's, laptops, email and web services. Additionally, all PCs, laptops in the University and campus that have been provided with connectivity of window update server that updates antivirus automatically on daily basis.</p>
            </li>
          </ul>
          </div>
        </div>
        
      <!--End CCC Services -->
      <!-- form section start -->
        <div class="container tab-pane" id="forms">
          <h4 class=" text-lg-left mt-3 mb-0">Forms</h4>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
          </div>
          <br>
          <br>
          <div class="ml-4">
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Details</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>Email Registration Form</td>
                <td><a href="#"> <button type="button" class="btn btn-info">Download</button></a></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Application Form for Device Registration (Laptop/Desktop/Tablet/Mobile)</td>
                <td><a href="http://172.25.5.2/"> <button type="button" class="btn btn-info">Visit Here</button></a></td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Cartridge Request Form (Only GBU Faculty/Staff)</td>
                <td><a href="assets/doc/Forms/CartridgeRequestForm.pdf"> <button type="button" class="btn btn-info">Download</button></a></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>No-dues Certificate Form</td>
                <td><a href="assets/doc/Forms/No-dueForm.pdf"> <button type="button" class="btn btn-info">Download</button></a></td>
              </tr>
              
            </tbody>
          </table>
        </div>
        </div>
      
<!-- form section end -->
<!-- server section start -->
        <div class="container tab-pane" id="servers">
          <h4 class=" text-lg-left mt-3 mb-0">Servers</h4>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
          </div>
          <br>
          <br>
          <p class="text-justify">The Central Computer Center of Gautam Buddha University consists of the servers to dedicate for important softwares:<br>
            <div class="ml-4">
            <ul class="text-justify">
              <li style="list-style-type: circle;"> Mail Server</li>
              <li style="list-style-type: circle;">Web Server</li>
              <li style="list-style-type: circle;">DNS Server</li>
              <li style="list-style-type: circle;">DHCP Server</li>
              <li style="list-style-type: circle;">Windows Update Server</li>
              <li style="list-style-type: circle;">Application Server <br>
                <ul>
                  <li style="list-style-type: circle;">Libsys Server</li>
                  <li style="list-style-type: circle;">Matlab</li>
                  <li style="list-style-type: circle;">SPSS(Statistical Package for the Social Sciences)</li>
                  <li style="list-style-type: circle;">PDC Serve</li>
                  <li style="list-style-type: circle;">ADC Server</li>
                </ul>
              </li>
              <li style="list-style-type: circle;">File Server(FTP)</li>
              <li style="list-style-type: circle;">Proxy Server</li>
              <li style="list-style-type: circle;">Backup Server</li>
              <li style="list-style-type: circle;">Network Monitoring Server</li>
            </ul>
          </div>
          </p>
          <!-- photo gallery start-->
          <div class="tab-pane">
            <div class="fadeuponsc row w-100 visible">
              <div class="container m-0 ttab w-100">
                <div class="stats-copy">
                  <style type="text/css">
                  @media (min-width: 768px) {
                  .carousel-multi-item-2 .col-md-3 {
                  float: left;
                  width: 25%;
                  max-width: 100%; } }
                  .carousel-multi-item-2 .card img {
                  border-radius: 2px; }
                  </style>
                  <!--Carousel Wrapper-->
                  <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                      <!--First slide-->
                      <div class="carousel-item active">
                        <div class="col-md-3 mb-3">
                          <div class="card">
                            <img class="img-fluid" src="../../../ccc/assets/img/server3.jpg"
                            alt="Card image cap">
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <div class="card">
                            <img class="img-fluid" src="../../../ccc/assets/img/server2.jpg"
                            alt="Card image cap">
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <div class="card">
                          <img class="img-fluid" src="../../../ccc/assets/img/CCC11.jpeg"
                            alt="Card image cap">
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <div class="card">
                            <img class="img-fluid" src="../../../ccc/assets/img/CCC4.jpeg"
                            alt="Card image cap">
                          </div>
                        </div>
                      </div>
                      <!--/.First slide-->
                      <!--Second slide-->
                      <div class="carousel-item">
                        <div class="col-md-3 mb-3">
                          <div class="card">
                            <img class="img-fluid" src="../../../ccc/assets/img/CCC6.jpeg"
                            alt="Card image cap">
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <div class="card">
                            <img class="img-fluid" src="../../../ccc/assets/img/CCC7.jpeg"
                            alt="Card image cap">
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <div class="card">
                            <img class="img-fluid" src="../../../ccc/assets/img/CCC12.jpeg"
                            alt="Card image cap">
                          </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <div class="card">
                            <img class="img-fluid" src="../../../ccc/assets/img/CCC9.jpeg"
                            alt="Card image cap">
                          </div>
                        </div>
                      </div>
                      <!--/.Second slide-->
                    </div>
                    <!--/.Slides-->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
<!-- server section end -->
<!-- software section start -->
        <style type="text/css" media="screen">
                    .ccc-img {
                  width: 50%;
                }

                @media screen and (min-width: 400px) {
                  .ccc-img {
                    width: 90%;
                  }
                }

                @media screen and (min-width: 800px) {
                  .ccc-img {
                   width: 95%;
                  }
                }
                @media screen and (min-width: 992px) {
                  .ccc-img {
                    width: 50%;
                  }
                }
                    
        </style>
  <div class="container tab-pane" id="networks">
    <h4 class=" text-lg-left mt-3 mb-0">Networks</h4>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
    </div>
    <br>
    <br> 
    <div class="ml-4">
    <ul>
        <li style="list-style-type: disc!important;">
          <h5><b>Local Area Network</b></h5>
          <p class="text-justify">
            <div class="ml-4">
            <ul> <li style="list-style-type: circle;"> All systems are linked by a Giga based Local Area Network.  
             The entire campus has been provided with state of the art network based on Giga cables. It has been extended on optical fiber backbone to cover each and every corner of the University. </li>
             <li style="list-style-type: circle;"> A local area network (LAN) supplies networking capability to a group of computers in close proximity to each other such as in an office building, a school, or a home. 
             A LAN is useful for sharing resources like files, printers, games or other applications.  </li>
             <li style="list-style-type: circle;"> A LAN in turn often connects to other LANs, and to the Internet or other WAN. Most local area networks are built with relatively inexpensive hardware such as Ethernet cables, network adapters, and hubs. Wireless LAN and other more advanced LAN hardware options also exist. </li>
           </ul>
         </div>
           </p>
           <div class="ml-5 ccc-img">
              <img src="../../../ccc/assets/img/gbuLAN.jpg" class="img-fluid" alt="Responsive image">
              <br>
              <br>
              <a href="../../../ccc/assets/img/logical_diagram_GB_University.pdf"><button type="button" class="btn btn-info">Download Campus LAN Layout</button></a> 
          </div>
       </li>
       <br>
       <br>
        <li style="list-style-type: disc!important;"> 
          <h5><b>Wireless Networks</b></h5>  
          <p class="text-justify">
            <div class="ml-4">
            <ul>
              <li style="list-style-type: circle;"> Wireless networks are based on the IEEE 802.11 standards. A basic wireless network consists of multiple stations communicating with radios that broadcast in either the 2.4GHz or 5GHz band (though this varies according to the locale and is also changing to enable communication in the 2.3Ghz and 4.9Ghz ranges). </li>
             <li style="list-style-type: circle;"> 802.11 networks are organized in two ways: in a BSS one station acts as a master with all the other stations associating to it; this is termed infrastructure mode and the master station is termed an access point (AP). </li>
             <li style="list-style-type: circle;"> In BSS mode all communication passes through the AP; even when one station wants to communicate with another wireless station messages must go through the AP. In the second form of network there is no master and stations communicate directly. This form of network is termed an IBSS and is commonly know as an adhoc network.
             </li>
             </ul> 
             </div>
          </p>
        
         <div class="ml-5 ccc-img">
              <img src="../../../ccc/assets/img/gbuwifi11.jpg" class="img-fluid" alt="Responsive image"> 
               <br>
              <br>
              <a href="../../../ccc/assets/img/gbuwifi.pdf"><button type="button" class="btn btn-info">Download Campus Wireless Networks Layout</button></a> 
          </div> 
        </li>
    </ul>
</div>
  </div>
<!-- software section end -->
<!-- policy section end -->
        <div class="container tab-pane" id="labpolicy">
          <h4 class=" text-lg-left mt-3 mb-0">Lab Policy</h4>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
          </div>
          <br>
          <br>
          <p class="card-text text-justify">The Central Computer Center has made some Lab policies for every student using lab facilities and should follow these facilities. These policies should be strictly followed by all the users if found guilty necessary action would be taken against it.</p>
          <div class="ml-4">
          <ul class="text-justify">
            <li style="list-style-type: circle;">The computer lab resources are prohibited from usage for any illegal or disruptive purpose.</li>
            <li style="list-style-type: circle;">No food or drinks allowed in the computer lab at any time.</li>
            <li style="list-style-type: circle;">No shouting loud talking or cell phone-alt use allowed inside the labs.</li>
            <li style="list-style-type: circle;"> Students are not permitted to install, modify or delete any software on lab computers.</li>
            <li style="list-style-type: circle;">Scheduled classes in the lab have priority overall other uses.</li>
            <li style="list-style-type: circle;"> The computer lab is not responsible for problems caused by computer viruses, improper use of the equipment or loss of data due to equipment malfunctions or any others reason.</li>
            <li style="list-style-type: circle;">Equipment in the computer labs may not be removed, modified, relocated, or disassembled without permission of the lab coordinator.</li>
            <li style="list-style-type: circle;">Reproduction of any copyrighted material (e.g. Software, Music, Video, Books, Photographs, etc.) is prohibited.</li>
            <li style="list-style-type: circle;"> Displaying of offensive graphic images by way of Web Browser or other software is not permitted.</li>
            <li style="list-style-type: circle;">Chatting, playing games are not allowed.</li>
            <li style="list-style-type: circle;"> Be respectful of other lab users, lab equipment and area at all time in the computer labs.</li>
            <li style="list-style-type: circle;"> Problems with computer lab equipment and software problem should be reported to the lab personnel immediately.</li>
            <li style="list-style-type: circle;"> Users are expected to keep the computer lab neat and tidy and if needed, should clean up the area around the computer that they used before leaving.</li>
            <li style="list-style-type: circle;"> <b><i>Protect your security - </i></b>Log off the computer before leaving the computer lab.</li>
          </ul>
          </div>
          <b>Note:</b><br>
          <p class="card-text text-justify">Any physical damage to the system or any lab property will lead to the Punishment in the form of cash payment.Student who does not follow the above rules will be suspended from the lab for 7 days.</p>
          
        </div>
        
      <!-- policy section end -->
      <!--Start CCC directory-->
        <div class="container tab-pane" id="directory">
          <h4 class=" text-lg-left mt-3 mb-0">Directory</h4>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
          </div>
          <br>
          <br>
          <div class="table-responsive">
            <table class="table table-hover text-center table-bordered">
              <thead>
                <tr>
                  <th><i class="fa fa-user"></i> Name  Designation</th>
                  <th><i class="fas fa-phone-alt"></i> Phone No.</th>
                  <th><i class="fa fa-envelope"></i> Email ID</th>
                </tr>
              </thead>
              <tbody>
                <tr >
                  <td>Dr. Sandeep Singh Rana (System Manager)</td>
                  <td><a href="tel:+91 120-234 4246">+91 120-234 4246</a></td>
                  <td><a href="mailto:sandeep@gbu.ac.in">sandeep@gbu.ac.in</a></td>
                </tr>
                <tr>
                  <td>Mrs. Pallavi Upadhyay (Technical Superintendent)</td>
                  <td><a href="tel:+91 120-234 6232">+91 120-234 6232</a></td>
                  <td><a href="mailto:pallavi@gbu.ac.in">pallavi@gbu.ac.in</a></td>
                </tr>
                <tr>
                  <td>Mr. Raj Kumar (Network Support)</td>
                  <td><a href="tel:+91 0120-234 6234">+91 0120-234 6234</a></td>
                  <td><a href="mailto:raj.kumar@gbu.ac.in">raj.kumar@gbu.ac.in</a></td>
                </tr>
                <tr>
                  <td>Mr. Kailash Chand Sharma (Hardware/Software Support)</td>
                  <td><a href="tel:+91 120-234 6237">+91 120-234 6237</a></td>
                  <td><a href="mailto:ksharma@gbu.ac.in">ksharma@gbu.ac.in</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      
      <!--end CCC directory-->
      <!--Start CCC Contact us -->
        <div class="container tab-pane" id="contactus">
          <h4 class=" text-lg-left mt-3 mb-0">Contact Us</h4>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
          </div>
          <br>
          <br>
          <div class="card bordernow mt-2 mb-0">
            <div class="row container mx-auto">
              <div class="col-md-2">
                <div class="card-img">
                  <img src="../../../ccc/assets/img/sandeep_rana.jpg" width="200" height="200">
                </div>
              </div>
              <div class="col-md-10 px-5">
                <div class="card-body">
                  <h4 class="card-title ">Dr. Sandeep Singh Rana</h4>
                  <p class="card-text">System Manager <br>Central Computer Center <br>Gautam Buddha University<br>Greater NOIDA<br>Uttar Pradesh (INDIA) - 201312 <br>
                    <a href="tel:+91 120-234 4246">0120-234 4246</a>
                    <br>
                    <a href="mailto:sandeep@gbu.ac.in">sandeep@gbu.ac.in</a>
                  </p>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        
      
      <!--End CCC Contacts us -->
      <!-- Start CCC FAQs -->
        <div class="container tab-pane" id="faqs">
          <h4 class=" text-lg-left mt-3 mb-0">FAQ's</h4>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 3%; background-color:#FB8C00 ">
          </div>
          <br>
          <br>
          <div class="card bordernow mt-0 mb-5 ">
            <div class="card-body">
              <div id="accordion">
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse1">
                      What is Computer Virus?
                    </a>
                  </div>
                  <div id="collapse1" class="collapse show text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      A computer virus is a malicious software program loaded onto a user's computer without the user's knowledge and performs malicious actions and can explicitly copies itself.  Viruses, by definition, add their code to your system in such a way that when the infected part of the system executes, the virus does also. <br>
                      e.g - Browser Hijacker, File Infector, Macro Virus, Polymorphic Virus, Multipartite Virus, Direct Action Virus, Boot Sector Virus, Web Scripting Virus, Memory Resident Virus,FAT Virus
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse3">
                      How do viruses spread?
                    </a>
                  </div>
                  <div id="collapse3" class="collapse text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      When you execute program code that's infected by a virus, the virus code will also run and try to infect other programs, either on the same computer or on other computers connected to it over a network. And the newly infected programs will try to infect yet more programs. <br>
                      When you share a copy of an infected file with other computer users, running the file may also infect their computers; and files from those computers may spread the infection to yet more computers. <br>
                      If your computer is infected with a boot sector virus, the virus tries to write copies of itself to the system areas of floppy disks and hard disks, Then the infected floppy disks may infect other computers that boot from them, and the virus copy on the hard disk will try to infect still more floppies.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse4">
                      What are the general tips to avoid virus infections?
                    </a>
                  </div>
                  <div id="collapse4" class="collapse text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      There are a number of simple precautions you can take to keep your digital personal information secure:
                      <ul>
                        <li style="list-style-type: circle;">Without harping on the subject - keep your antivirus up to date and protect yourself from trojans!</li>
                        <li style="list-style-type: circle;">If you must store personal information on your machine, encrypt it.</li>
                        <li style="list-style-type: circle;">Use strong passwords, that is: Use minimum 8 characters long combination of Alpha-Numeric and Special symbols meaningless words (e.g. A@20$z_Y).</li>
                        <li style="list-style-type: circle;">Keep your Operating System and Applications up to date and patched against the latest discovered vulnerabilities.</li>
                        <li style="list-style-type: circle;">Do not run files that are sent to you, unless you are completely sure of their integrity.</li>
                        <li style="list-style-type: circle;">Do not click on hyperlinks from people you don't know.</li>
                        <li style="list-style-type: circle;">Install a firewall application, particularly if you are connected to internet.</li>
                        <li style="list-style-type: circle;">Ensure that the browser you use supports security and is capable of encrypting information that you may send.</li>
                        <li style="list-style-type: circle;">If you are getting rid of an old machine, ensure that you have wiped the hard disk (using a wiping utility) deleting the files is not precaution enough.</li>
                        <li style="list-style-type: circle;">Read website security and privacy policies.</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse5">
                      What is my IP and how to get it?
                    </a>
                  </div>
                  <div id="collapse5" class="collapse text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      Open Settings -&gt; Network  Internet -&gt; Status -&gt; View your Network properties <br><br>
                      <img src="../../../ccc/assets/img/FAQs/getIP.png" alt="Get IP img" width="70%"> <br><br>
                      <b>OR</b> <br> Open Command Prompt (cmd) -&gt; <br>
                      Type <kbd>ipconfig/all</kbd>  and Press Enter key.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse6">
                      Why does CCC filter and restrict access to some of the sites?
                    </a>
                  </div>
                  <div id="collapse6" class="collapse text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      Central Computer Center provides open computing environment i.e. we do not normally restrict access into or out of our network. This is done to enhance academic environment within students and staff members of GBU, and our opinion of where security efforts give the best return.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse8">
                      Why should I care about computer security?
                    </a>
                  </div>
                  <div id="collapse8" class="collapse text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      We use computers for everything from banking and investing to shopping and communicating with others through email or chat programs. Although you may not consider your communications "top secret," you probably do not want strangers reading your email, using your computer to attack other systems, sending fake email from your computer, or examining personal information stored on your computer (i.e. financial statements).
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse9">
                      What are Cookies?
                    </a>
                  </div>
                  <div id="collapse9" class="collapse text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      Cookies are small files placed on your browser when you visit some websites. They may contain things like passwords so you can log on to the site more easily. They are NOT spy programs but useful files to help you connect to websites more easily. You should not worry about them and certainly should not delete them.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse10">
                      What Is Booting Up?
                    </a>
                  </div>
                  <div id="collapse10" class="collapse text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      Booting up is a term for starting your personal computer. It initiates an automatic routine that clears the computer's memory, loads the operating system, and prepares the computer for use.
                    </div>
                  </div>
                </div>
                <div class="card">
                  <div class="card-header">
                    <a class="card-link" data-toggle="collapse" href="#collapse11">
                      How to setup manual Proxy?
                    </a>
                  </div>
                  <div id="collapse11" class="collapse text-justify" data-parent="#accordion">
                    <div class="card-body text-justify">
                      <b>For Windows 10 -</b> <br> Open Settings -&gt; Network  Internet -&gt; Proxy <br><br>
                      <kbd>172.25.6.6</kbd> &nbsp; <kbd>3128</kbd> <br><br>
                      <img src="../../../ccc/assets/img/FAQs/proxy_setting.png" alt="Proxy setting img" width="70%"> <br><br>
                      <b>For Google Chrome -</b> <br> Open Google Chrome -&gt; Settings -&gt; Advanced -&gt; System - Open proxy settings -&gt; Connections - LAN Settings <br><br>
                      <img src="../../../ccc/assets/img/FAQs/proxy_Chrome.png" alt="Chrome Proxy setting img" width="50%"> <br><br>
                      <b>For Ubuntu -</b> <br> Open Settings -&gt; Network -&gt; Network Proxy -&gt; Select Manual <br><br>
                      <img src="../../../ccc/assets/img/FAQs/proxy_Ubuntu.png" alt="Chrome Proxy setting img" width="70%"> <br><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <br><br>
          </div>
        </div>
    </div> 
  
      <!-- End CCC FAQs -->
<%include footer%>