<%include header%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GBU|CCC</title>
    
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/now.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css" integrity="sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E" crossorigin="anonymous">
    <!-- <script src="https://kit.fontawesome.com/ccaa21c620.js"></script> -->
  </head>
  <body>



<div class="jumbotron mb-0 clubheader banner-bg" style="background-image: url(assets/img/banner1.png);">
      <div class="banner-over" id="banner-over" style="background-image: url(assets/img/pattern.png)!important;">
        <div class="jumbotron">
          <div class="container mb-0 ">
          <h1 class="font-weight-lighter display-5 mb-0 text-left" style="color: #ffffff">
          <strong>
            CENTRAL COMPUTER CENTER
          </strong>
          </h1>
          <hr class="mt-0  pt-0 mb-1">
          
        </div>
        </div>
      </div>
    </div>





    <nav class="navbar navbar-expand-md  navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbaraa">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item  active">
              
              <a href="#about-us" class="nav-link active ">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a href="#services" class="nav-link">SERVICES</a>
            </li>
            <li class="nav-item">
              <a href="#form" class="nav-link">FORM</a>
            </li>
            <li class="nav-item ">
              <a href="#servers" class="nav-link mr-0">SERVERS</a>
            </li>
            <li class="nav-item ">
              <a href="#network" class="nav-link mr-0">NETWORK</a>
            </li>
            <li class="nav-item ">
              <a href="#policies" class="nav-link mr-0">POLICIES</a>
            </li>
            <li class="nav-item ">
              <a href="#contact-book" class="nav-link mr-0">CONTACT BOOK</a>
            </li>
            <li class="nav-item ">
              <a href="#faqs" class="nav-link mr-0">FAQ's</a>
            </li>
          </ul>
        </div>
      </div></nav>
      <div class="container">
        <!--Start CCC About -->
        <div class="card bordernow mt-3 mb-5 " id="about-us">
          <div class="card-body">
            <div class="container">
              <h1 class="font-weight-light text-lg-right mt-4 mb-0 about-us">ABOUT US</h1>
              <hr class="mb-2 mt-2">
            </div>
          </div>
          <div class="card-body ">
            <p class="card-text text-justify">The Central Computer Center of Gautam Buddha University is a central facility that caters to IT needs of the University and provides access to internet resources as well as telecommunication facilities.  The Campus network is carefully planned, keeping in view options for future expansions. Fibre-optic cabling is used to connect all the major buildings and Campus is equipped with Wi-Fi connectivity. The CCC has strong IT security infrastructure that protects the University network from hackers.</p>
            <p class="card-text text-justify">The Campus Network connects to Departments, Schools, Hostels, Hospital, Guest House, etc. Connectivity is provided over the campus telephone-alt network using ADSL. LANs in each area of the network have 10/100/1000 Mbps transmission capacity and are linked through fibre optic cables.</p>
            
            <div id="ccc1" class="collapse"> <p class="card-text text-justify">Campus has taken 1 Gbps leased line for Internet connectivity from BSNL. Bandwidth is distributed to the 6000 nodes in the Campus with Cisco switches. Network security is provided with restricted access. The Campus provides its students the necessary technological skills to upgrade or share their knowledge. A robust campus network is provided to every student for accessing internal servers and the Internet. The Central Computer Centre has power backup through around 40 high efficiency UPS and generator set. Air conditioning is provided by the central air conditioning plant backed-up with in-house split air conditioners. Linux/Windows desktops are provided in all class rooms and labs of different Schools for conducting e-learning and interactive lab sessions during classes.</p>
            <p class="card-text text-justify">Software for Scientific Computing, Office Automation, and Database Applications are available on various servers. SPSS (Statistical Package for Social Sciences), Prowess (CMIE) are few of scientific libraries available. MATLAB is the application package for scientific applications. CLC GENOME WORK BENCH, CLC Science Server, SCHRODINGER, EXOME-ED, EXOME-BLAST are Biotechnology Suites. Oracle 9i, and SQL SERVER 2008 are the major database packages.</p></div>
            <!-- <a href="#ccc1" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a> -->
            <a href="#ccc1" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
          </div>
        </div>
        <!--End CCC About -->
        <!--Start CCC Services -->
        <div class="card bordernow mt-5 mb-5 " id="services" >
          <div class="card-body">
            <div class="container">
              <h1 class="font-weight-light text-lg-right mt-4 mb-0"><i class="fa fa-cogs"></i>&nbsp;Services</h1>
              <hr class="mb-2 mt-2">
            </div>
          </div>
          <ul class="text-justify container">
            <li>CCC provides easily accessible and excellent computational facilities to the faculty and students.</li>
            <li>Our entire campus is connected with seamless wireless connectivity using Cisco Access Points. Over 180 Indoor AP’s are installed to provide the connectivity along with 25 IP cameras &amp; 10 speed dome cameras to monitor the various buildings of University.</li>
            <li>Symantec Protection Suit Management </li>
            <li> Web security Gateway are installed for Malware/ Spyware/virus detection at the gateway level.</li>
            <li>Windows Server update services are installed for Patch Management in the entire campus.</li>
            <li>GBU official website is developed &amp; maintained by CCC In-house.</li>
            <li>24x7 network, software &amp; hardware support.</li>
          </ul>
        </div>
        <p></p>
        <h5 class="card-title"><i class="fa fa-envelope-o"></i> &nbsp;Email Service</h5>
        <div id="ccc2" class="collapse"><p class="card-text text-justify">All University officials, faculty members of Departments and students are provided with Email ID's. All mail services are accessible using Web browser or Gmail app. Email facility is provided to the user by Central Computer Center. <br> All users are given unlimited space for emails storage and Google Drive. Maximum size of outgoing mail can be 25 MB, and the maximum size of incoming mail can be 25 MB. <br>
          <a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&amp;ltmpl=default&amp;hd=gbu.ac.in&amp;service=mail&amp;sacu=1&amp;rip=1&amp;flowName=GlifWebSignIn&amp;flowEntry=ServiceLogin" target="_blank">GBU Web Mail <i class="fa fa-external-link"></i></a> </p>
        </div>
        <!-- <a href="#ccc2" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a> <br> -->
        <a href="#ccc2" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
        <br>
        <br>
        <h5 class="card-title"><i class="fa fa-database"></i> &nbsp;Backup and Recovery</h5>
        <div id="ccc3" class="collapse"><p class="card-text text-justify">The Central Computer Center provides 24hrs backup of all the systems present in the campus. <br> A user can request for restore of the files available on backup tapes, giving full path names of files/directories to be restored. User can also put request on paper and submit to Central Computer Center. <br>
          <strong> <i>For Data Backup/Recovery:</i> </strong> <br>phone-alt No: <a href="tel:+91 120-234 6237"> 0120-234 6237.</a></p>
        </div>
        <!--       <a href="#ccc3" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a> -->
        <a href="#ccc3" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
      </div>
      <br>
      <!--End CCC Services -->
      
      <!--Start CCC Forms -->
      <div class="container" id="form">
        <div class="card bordernow mt-5 mb-5 ">
          <div class="card-body">
            <div class="container">
              <h1 class="font-weight-light text-lg-right mt-4 mb-0"><i class="fa fa-file-pdf"></i> &nbsp;Forms</h1>
              <hr class="mb-2 mt-2">
            </div>
          </div>
          <div class="card-body ">
            <h6 class="card-title">Email Registration Form &nbsp;<a href="#" target="_blank"> <i class="fa fa-download"></i></a></h6>
            <h6 class="card-title">Application Form for Device Registration (Laptop/Desktop/Tablet/Mobile) &nbsp;<a href="#" target="_blank"> <i class="fa fa-download"></i></a></h6>
            <h6 class="card-title">Cartridge Request Form (Only GBU Faculty/Staff) &nbsp;<a href="assets/doc/Forms/CartridgeRequestForm.pdf" target="_blank"> <i class="fa fa-download"></i></a></h6>
            <h6 class="card-title">No-dues Certificate Form &nbsp;<a href="assets/doc/Forms/No-dueForm.pdf" target="_blank"> <i class="fa fa-download"></i></a></h6>
            <p class="card-text">Kindly fill the respective downloaded form and submit it to the Central Computer Center.</p>
            <p class="card-text text-justify"> <b>For Email ID : </b>
              <br>User ID &amp; Password are emailed at the alternate Email ID provided by the applicant. <br> <b> <i>For more details:</i> </b> <br>phone-alt No: <a href="tel: +91 120-234 6233"> 0120-234 6233.</a></p>
            </div>
          </div>
          <!--End CCC Forms -->
          <!--Start CCC Servers -->
          <div class="card bordernow mt-0 mb-5 " id="servers">
            <div class="card-body">
              <div class="container">
                <h1 class="font-weight-light text-lg-right mt-4 mb-0"><i class="fa fa-server"></i> &nbsp;Servers</h1>
                <hr class="mb-2 mt-2">
              </div>
            </div>
            <!-- <div class="card-header text-center p-2"><h3><i class="fa fa-server"></i> &nbsp;Servers</h3></div> -->
            <div class="card-body">
              <p class="card-text"> These are the servers to dedicate for important software: </p>
              <img src="assets/img/server.jpg" alt="Server Room" width="55%" style="float: right; padding-right: 12px; height: 250px; padding-top: 12px;">
              <ul>
                <li><h6>FTP Server</h6></li>
                <li><h6>FTP Server</h6></li>
                <li><h6>Mail Server</h6></li>
                <li><h6>Proxy Server</h6></li>
                <li><h6>DHCP Server</h6></li>
                <li><h6>Backup Server</h6></li>
                <li><h6>Application Server</h6></li>
                <li><h6>Web &amp; DNS Server</h6></li>
                <li><h6>Windows Update Server</h6></li>
                <li><h6>Network Monitoring Server</h6></li>
              </ul>
            </div>
          </div>
          <!--End CCC Servers -->
          <!-- Start CCC Network-->
          <div class="card bordernow mt-5 mb-5 " id="network">
            <div class="card-body">
              <div class="container">
                <h1 class="font-weight-light text-lg-right mt-4 mb-0"><i class="fab fa-connectdevelop"></i> &nbsp;Network</h1>
                <hr class="mb-2 mt-2 pl-2">
              </div>
            </div>
            <div class="container">
              <h6 class="card-title"> Whole Campus Network Layout </h6>
              <p class="card-text text-justify">All systems are linked by a Giga based Local Area Network. The entire campus has been provided with state of art network based on Giga cables. It has been extended on optical fiber backbone to cover each and every corner of the University. &nbsp;<a href="assets/doc/Network/gbu_Logical_diagram.pdf" target="_blank"> <i class="fa fa-download"></i></a></p>
              <h6 class="card-title"> Wireless &amp; LAN Layout </h6>
              <p class="card-text text-justify">A Wireless network consists of multiple stations communicating with radios that broadcast in either the 2.4GHz or 5GHz band. <br> A Local Area Network (LAN) supplies networking capability to a group of computers in close proximity to each other such as in an office building or school building. A LAN is useful for sharing resources like files, printers, games or other applications. &nbsp;<a href="assets/doc/Network/gbu_wifi.pdf" target="_blank"> <i class="fa fa-download"></i></a></p>
            </div>
          </div>
          <!--End CCC Network -->
          <!-- Start ccc Policies -->
          <div class="card bordernow mt-5 mb-5 " id="policies">
            <div class="card-body">
              <div class="container">
                <h1 class="font-weight-light text-lg-right mt-4 mb-0"><i class="fa fa-book"></i> &nbsp;Policies</h1>
                <hr class="mb-2 mt-2 pl-2">
              </div>
            </div>
            <div class="card-body ">
              <p class="card-text text-justify">The Central Computer Center of Gautam Buddha University has made some policy outlines for the responsible use of the IT facilities within the university campus. These policies should be strictly followed by all the users if found guilty necessary action would be taken against it. </p>
              <ol>
                <h5> <li>Academic Policies</li> </h5>
                <div id="ccc4" class="collapse"><p class="card-text text-justify">User should understand that the IT facilities at CCC is for academic use and the user shall not use it for any commercial purposes &amp; shall not host or broadcast information that might harm others it would be considered objectionable.</p>
              </div><!--
              <a href="#ccc4" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a> <br>
              -->
              <a href="#ccc4" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
              <br>
              <h5> <li>Content Policies</li> </h5>
              <div id="ccc5" class="collapse"><p class="card-text text-justify">User shall be responsible for all use of this network. If a system is connected to CCC network, he/she will be responsible for all the content on it (for devices that are connected to CCC network).For example any unethical data/content stored on system such as file storage area, web pages, stored/archived emails, Department machines would be found responsible.</p>
            </div><!--
            <a href="#ccc5" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a> -->
            <a href="#ccc5" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
            <br>
            <h5> <li>Network Policies</li> </h5>
            <div id="ccc6" class="collapse"><p class="card-text text-justify">User shall not share the network connection beyond his/her own use and will not act as a forwarder for anyone else, Repeated offenses of this type could result in permanent disconnection of network services.</p>
          </div><!--
          <a href="#ccc6" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a>  -->
          <a href="#ccc6" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
          <br>
          <h5> <li>Security Policies</li> </h5>
          <div id="ccc7" class="collapse"><p class="card-text text-justify">User shall not attempt to set up servers of any kind (e.g. web, mail, proxy), bypassing firewalls that are visible to the others outside campus. User will also not use CCC IT resources to threaten, intimidate, or harass others.</p>
        </div>
        <!-- <a href="#ccc7" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a>  -->
        <a href="#ccc7" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
        <br>
        <h5> <li>Privacy</li> </h5>
        <div id="ccc8" class="collapse"><p class="card-text text-justify">User shall not intrude on privacy of anyone i.e. should not try to access computers (hacking), accounts, files, or information belonging to others without their knowledge and explicit consent.</p>
      </div><!--
      <a href="#ccc8" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a> -->
      <a href="#ccc8" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
      <br>
    </ol>
    <h5>Lab Policies</h5>
    <div id="ccc9" class="collapse"><p class="card-text text-justify">The Central Computer Center has made some Lab policies for every student using lab facilities and should follow these facilities. These policies should be strictly followed by all the users if found guilty necessary action would be taken against it.</p>
  </div>
  <!-- <a href="#ccc9" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a> -->
  <a href="#ccc9" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
  <br>
  <h5><i class="fa fa-info-circle"></i> &nbsp;Rules to Follow :</h5>
  <div id="ccc10" class="collapse"><p class="card-text">
  </p><ul class="text-justify">
  <li>The computer lab resources are prohibited from usage for any illegal or disruptive purpose.</li>
  <li>No food or drinks allowed in the computer lab at any time.</li>
  <li>No shouting loud talking or cell phone-alt use allowed inside the labs.</li>
  <li> Students are not permitted to install, modify or delete any software on lab computers.</li>
  <li>Scheduled classes in the lab have priority overall other uses.</li>
  <li> The computer lab is not responsible for problems caused by computer viruses, improper use of the equipment or loss of data due to equipment malfunctions or any others reason.</li>
  <li>Equipment in the computer labs may not be removed, modified, relocated, or disassembled without permission of the lab coordinator.</li>
  <li>Reproduction of any copyrighted material (e.g. Software, Music, Video, Books, Photographs, etc.) is prohibited.</li>
  <li> Displaying of offensive graphic images by way of Web Browser or other software is not permitted.</li>
  <li>Chatting, playing games are not allowed.</li>
  <li> Be respectful of other lab users, lab equipment and area at all time in the computer labs.</li>
  <li> Problems with computer lab equipment and software problem should be reported to the lab personnel immediately.</li>
  <li> Users are expected to keep the computer lab neat and tidy and if needed, should clean up the area around the computer that they used before leaving.</li>
  <li> <b><i>Protect your security - </i></b>Log off the computer before leaving the computer lab.</li>
</ul>
<p></p>
</div>
<!-- <a href="#ccc10" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a> -->
<a href="#ccc10" class="float-right " data-toggle="collapse"><strong class="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
<br>
<p class="card-text text-justify"><b>Note : </b> <br>Any physical damage to the system or any lab property will lead to the Punishment in the form of cash payment. <br>Student who does not follow the above rules will be suspended from the lab for 7 days.</p>
</div>
</div>
<!--End CCC Policies -->
<br>
<!--Start CCC Contact us -->
<div class="card bordernow mt-5 mb-5 " id="contact-book">
<div class="card-body">
<div class="container">
<h1 class="font-weight-light text-lg-right mt-4 mb-0"><i class="fa fa-book"></i> Contact Book</h1>
<hr class="mb-2 mt-2 pl-2">
</div>
</div>
<div class="card-body ">
<div class="table-responsive">
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th><i class="fa fa-user"></i> Name &amp; Designation</th>
      <th><i class="fas fa-phone-alt"></i> Phone No.</th>
      <th><i class="fa fa-envelope"></i> Email ID</th>
    </tr>
  </thead>
  <tbody>
    <tr >
      <td>Dr. Sandeep Singh Rana (System Manager)</td>
      <td><a href="tel:+91 120-234 4246">+91 120-234 4246</a></td>
      <td><a href="mailto:sandeep@gbu.ac.in">sandeep@gbu.ac.in</a></td>
    </tr>
    <tr>
      <td>Mrs. Pallavi Upadhyay (Technical Superintendent)</td>
      <td><a href="tel:+91 120-234 6232">+91 120-234 6232</a></td>
      <td><a href="mailto:pallavi@gbu.ac.in">pallavi@gbu.ac.in</a></td>
    </tr>
    <tr>
      <td>Mr. Raj Kumar (Network Support)</td>
      <td><a href="tel:+91 0120-234 6234">+91 0120-234 6234</a></td>
      <td><a href="mailto:raj.kumar@gbu.ac.in">raj.kumar@gbu.ac.in</a></td>
    </tr>
    <tr>
      <td>Mr. Kailash Chand Sharma (Hardware/Software Support)</td>
      <td><a href="tel:+91 120-234 6237">+91 120-234 6237</a></td>
      <td><a href="mailto:ksharma@gbu.ac.in">ksharma@gbu.ac.in</a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
</div>
<!--End CCC Contacts us -->
<div class="card bordernow mt-5 mb-5 " id="contact-us">
<div class="card-body">
<div class="container">
<h1 class="font-weight-light text-lg-right mt-4 mb-0"><i class="fa fa-desktop"></i> Contact Us</h1>
<hr class="mb-2 mt-2 pl-2">
</div>
</div>
  <div class="row container mx-auto">
    <div class="col-md-2">
      <div class="card-img">
        <img src="../../../../ccc/assets/img/sandeep_rana.jpg" width="200" height="200">
      </div>
    </div>
    <div class="col-md-10 px-5">
      <div class="card-body">
        <h6 class="card-title ">Dr. Sandeep Singh Rana</h6>
        <p class="card-text">System Manager <br>Central Computer Center <br>Gautam Buddha University<br>Greater NOIDA<br>Uttar Pradesh (INDIA) - 201312 <br><a href="tel:+91 120-234 4246"><i class="fas fa-phone-alt"></i>&nbsp; 0120-234 4246 </a></p>
      </div>
    </div>
  </div>
</div>
<!--End CCC Address -->
<!-- Start CCC FAQs -->
<div class="card bordernow mt-0 mb-5 " id="faqs">
<div class="card-body">
<div class="container">
<h1 class="font-weight-light text-lg-right mt-4 mb-0"><i class="fa fa-question-circle"></i> &nbsp;FAQ's</h1>
<hr class="mb-2 mt-2 pl-2">
</div>
<div class="card-body">
<div id="accordion">
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse1">
        What is Computer Virus?
      </a>
    </div>
    <div id="collapse1" class="collapse show text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        A computer virus is a malicious software program loaded onto a user's computer without the user's knowledge and performs malicious actions and can explicitly copies itself.  Viruses, by definition, add their code to your system in such a way that when the infected part of the system executes, the virus does also. <br>
        e.g - Browser Hijacker, File Infector, Macro Virus, Polymorphic Virus, Multipartite Virus, Direct Action Virus, Boot Sector Virus, Web Scripting Virus, Memory Resident Virus,FAT Virus
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse3">
        How do viruses spread?
      </a>
    </div>
    <div id="collapse3" class="collapse text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        When you execute program code that's infected by a virus, the virus code will also run and try to infect other programs, either on the same computer or on other computers connected to it over a network. And the newly infected programs will try to infect yet more programs. <br>
        When you share a copy of an infected file with other computer users, running the file may also infect their computers; and files from those computers may spread the infection to yet more computers. <br>
        If your computer is infected with a boot sector virus, the virus tries to write copies of itself to the system areas of floppy disks and hard disks, Then the infected floppy disks may infect other computers that boot from them, and the virus copy on the hard disk will try to infect still more floppies.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse4">
        What are the general tips to avoid virus infections?
      </a>
    </div>
    <div id="collapse4" class="collapse text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        There are a number of simple precautions you can take to keep your digital personal information secure:
        <ul>
          <li>Without harping on the subject - keep your antivirus up to date and protect yourself from trojans!</li>
          <li>If you must store personal information on your machine, encrypt it.</li>
          <li>Use strong passwords, that is: Use minimum 8 characters long combination of Alpha-Numeric and Special symbols meaningless words (e.g. A@20$z_Y).</li>
          <li>Keep your Operating System and Applications up to date and patched against the latest discovered vulnerabilities.</li>
          <li>Do not run files that are sent to you, unless you are completely sure of their integrity.</li>
          <li>Do not click on hyperlinks from people you don't know.</li>
          <li>Install a firewall application, particularly if you are connected to internet.</li>
          <li>Ensure that the browser you use supports security and is capable of encrypting information that you may send.</li>
          <li>If you are getting rid of an old machine, ensure that you have wiped the hard disk (using a wiping utility) deleting the files is not precaution enough.</li>
          <li>Read website security and privacy policies.</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse5">
        What is my IP and how to get it?
      </a>
    </div>
    <div id="collapse5" class="collapse text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        Open Settings -&gt; Network &amp; Internet -&gt; Status -&gt; View your Network properties <br><br>
        <img src="assets/img/FAQs/getIP.png" alt="Get IP img" width="70%"> <br><br>
        <b>OR</b> <br> Open Command Prompt (cmd) -&gt; <br>
        Type <kbd>ipconfig/all</kbd>  and Press Enter key.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse6">
        Why does CCC filter and restrict access to some of the sites?
      </a>
    </div>
    <div id="collapse6" class="collapse text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        Central Computer Center provides open computing environment i.e. we do not normally restrict access into or out of our network. This is done to enhance academic environment within students and staff members of GBU, and our opinion of where security efforts give the best return.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse8">
        Why should I care about computer security?
      </a>
    </div>
    <div id="collapse8" class="collapse text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        We use computers for everything from banking and investing to shopping and communicating with others through email or chat programs. Although you may not consider your communications "top secret," you probably do not want strangers reading your email, using your computer to attack other systems, sending fake email from your computer, or examining personal information stored on your computer (i.e. financial statements).
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse9">
        What are Cookies?
      </a>
    </div>
    <div id="collapse9" class="collapse text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        Cookies are small files placed on your browser when you visit some websites. They may contain things like passwords so you can log on to the site more easily. They are NOT spy programs but useful files to help you connect to websites more easily. You should not worry about them and certainly should not delete them.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse10">
        What Is Booting Up?
      </a>
    </div>
    <div id="collapse10" class="collapse text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        Booting up is a term for starting your personal computer. It initiates an automatic routine that clears the computer's memory, loads the operating system, and prepares the computer for use.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapse11">
        How to setup manual Proxy?
      </a>
    </div>
    <div id="collapse11" class="collapse text-justify" data-parent="#accordion">
      <div class="card-body text-justify">
        <b>For Windows 10 -</b> <br> Open Settings -&gt; Network &amp; Internet -&gt; Proxy <br><br>
        <kbd>172.25.6.6</kbd> &nbsp; <kbd>3128</kbd> <br><br>
        <img src="assets/img/FAQs/proxy_setting.png" alt="Proxy setting img" width="70%"> <br><br>
        <b>For Google Chrome -</b> <br> Open Google Chrome -&gt; Settings -&gt; Advanced -&gt; System - Open proxy settings -&gt; Connections - LAN Settings <br><br>
        <img src="assets/img/FAQs/proxy_Chrome.png" alt="Chrome Proxy setting img" width="50%"> <br><br>
        <b>For Ubuntu -</b> <br> Open Settings -&gt; Network -&gt; Network Proxy -&gt; Select Manual <br><br>
        <img src="assets/img/FAQs/proxy_Ubuntu.png" alt="Chrome Proxy setting img" width="70%"> <br><br>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<!-- End CCC FAQs -->
<br><br>
</div>
<br><br>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!-- Optional JavaScript -->
</div></div><div id="__bs_notify__" style="display: none; padding: 15px; font-family: sans-serif; position: fixed; font-size: 0.9em; z-index: 9999; right: 0px; top: 0px; border-bottom-left-radius: 5px; background-color: rgb(27, 32, 50); margin: 0px; color: white; text-align: center;">Connected to BrowserSync</div>
</body>
</html>
<%include footer%>