<%include header%>
	<style >
	@media (min-width: 300px){
	[data-css="tve-u-164198cdc05"] .tve_sep {
	border-width: 3px;
	border-color: rgb(228, 0, 43);
	}
	}
	@media (min-width: 300px){
	.city-banner-x {
	box-shadow: none;
	border: none;
	background-color: rgba(255, 255, 255, 0.1) !important;
	background-image: repeating-radial-gradient(circle at center center, rgba(240, 243, 243, 0.7), rgba(240, 243, 243, 0.7) 1px, transparent 1px, transparent 100%), linear-gradient(0deg, rgba(255, 255, 255, 0.21) 0%, rgba(255, 255, 255, 0.78) 100%), repeating-radial-gradient(circle at center center, rgba(0, 115, 119, 0), rgba(0, 115, 119, 0) 1px, transparent 1px, transparent 100%) !important;
	background-size: 3px 3px, auto, 3px 3px !important;
	background-position: 50% 50%, 50% 50%, 50% 50% !important;
	background-attachment: scroll, scroll, scroll !important;
	background-repeat: repeat, no-repeat, repeat !important;
	}}
	.city-life-t {
	font-family: 'proxima_nova_rgregular', sans-serif;
	font-style: normal;
	font-weight: 400;
	margin: 5px 0 15px;
	font-size: 24px;
	line-height: 1.166666667;
	color: #373a36;
	}
	@media only screen and (max-width: 768px){
  		.revese-md{
    		flex-direction: column-reverse!important;
  		}
	}
	</style>
	<body>

	<div class="city-head p-5" style="background: url(img/Artboard1parichauk1.png);background-repeat: no-repeat;background-size: cover;background-attachment: fixed;" >
		<div class=""style= "padding: 0px 0px;" >
			<div class="row my-5" style="padding: 0px 0px;">
				<div class="col-md-9" style="">
				</div>
				<div class="col-md-3 city-banner-x my-auto p-5" class="my-auto">
					<div class="position text-left">
						<h2 class=" pt-2 pl-2 city-life-t"	>City life</h2>
						<hr style="width: 40%; left: 10 ; position: absolute; border: 2px solid red">
						<br>
						<br>
						<p style="color: rgb(91, 97, 102); font-size: 18px;">Gautam Buddha University, Greater Noida. We love to call it home. <br> So will you ? </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br><br>
	<!-- section1 start -->
	<div class="section-1 p-4">
		<div class="container">
			<div class="row revese-md" style="padding: 20px 0px;">
				<div class="column col-md-6 " style=" min-height:250px; background-image: url(img/citylifebanner.jpg);background-repeat: no-repeat;background-size: cover;" >
					
				</div>
				<div class="column col-md-6">
					<h2 style="font-size: 22px !important;">THE GRAND VENICE|True Architectural Wonder.</h2>​​​​
					<div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
					<p>Do you want a perfect day out? Come to the Grand Venice Mall. The perfect destination for everyone who wants to have some fun and shop to their heart's delight. NCR's biggest tourist attraction featuring the best of architectural elements from Venice beckon you to experience unlimited happiness.<br>
						Get set to be astonished by the beautiful Grand Venice; a true architectural wonder. The beautiful architecture comes together with some of the best shopping options from all around the world. A sight to behold and a haven for the shopping lovers. It is truly incomparable.
						<br>
					<strong>Distance from university : 7.70KM</strong></p>
				</div>
			</div>
		</div>
	</div>
	<!-- 		section1 end -->
	<!-- section 2 start -->
	<div class="section-1 p-4">
		<div class="container">
			<div class="row">
				<div class="column col-md-6">
					<h2 style="font-size: 22px !important;">​Meet at The Buddh International Circuit.</h2>​​​​
					<div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
					<p>The Buddh International Circuit (BIC), with following 16 flowing corners, 3 straights and breath-taking elevation changes, has emerged as one of the fastest and best racing circuit in the world.<br>
						It includes 41 stunning Pit Garages, 18 lavish team buildings, a swanky paddock club hall, lush greens lawns and the world’s best media centre. These facilities make BIC just the perfect place and one-stop destination for your entire corporate requirement and a whole host of events.
						<br><strong>Distance from university : 9.00KM</strong>
					</p>
				</div>
				<div class="column col-md-6" style="    min-height:250px; background-image: url(http://buddhinternationalcircuit.in/wp-content/uploads/2019/03/gal3.jpg) !important;
					background-size: cover !important;
					background-position: 50% 50% !important;
					background-attachment: scroll !important;
					background-repeat: no-repeat !important;
					background-size: cover;" >
					
				</div>
				
			</div>
		</div>
	</div>
	<!-- love section start -->
	<div class="" style="padding: 100px 0px; min-height:250px; background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(http://buddhinternationalcircuit.in/wp-content/uploads/2019/04/the-circuit-banner.jpg), linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)) !important;
		background-size: auto, cover, auto !important;
		background-position: 50% 50%, 100% 50%, 50% 50% !important;
		background-attachment: scroll, fixed, scroll !important;
		background-repeat: no-repeat, no-repeat, no-repeat !important;">
		<div class="" style="padding: 100px 0px;">
			<div class="text-center" style="padding: 10px 0px;background-color: #ffffff87">
				<div class="heading1">
					<h2>Buddh International Circuit</h2>
				</div>
				<div class="heading2">
					<h2>​one of the fastest and highly exciting Motor Racing Circuits in the World and is best suited to the requirements of powerful, high-spec racing of Cars and Motorcycles.
					</h2>
				</div>
			</div></div>
		</div>
		<!-- love section end -->
		<!-- 		section3 start -->
		<div class="section-1 p-4">
			<div class="container">
				<div class="row revese-md">
					<div class="column col-md-6" style="min-height:250px; background-image: url(http://surajpurwetland-up.com/assets/images/biodiversity-3.jpg);background-repeat: no-repeat;background-size: cover;" >
						
					</div>
					<div class="column col-md-6">
						<h2 style="font-size: 22px !important;">​​​Surajpur Wetland & Natural Forest</h2>​​​​
						<div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
						<p>Surajpur is an excellent example of an urban wetland in Yamuna River basin and forms suitable breeding ground for waterfowl such as Spot-billed Duck, Lesser-whistling Duck, Cotton Pygmy Goose and Comb Duck and wintering waterfowl such as Red-crested Pochard, Ferruginous Pochard, Bar-headed Goose, Greylag Goose, Common Teal, Northern Shoveler and Gadwall.
							<br>Uttar Pradesh Forest Department in collaboration with WWF- India and supported by the Greater Noida Industrial Development Authority, is implementing a project on the conservation planning and development of Surajpur wetland since 2010.
							<br><strong>Distance from university : 17.00KM</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 		section3 end -->
		<!-- section 4 start -->
		<div class="section-1 p-4">
			<div class="container">
				<div class="row">
					<div class="column col-md-6">
						<h2 style="font-size: 22px !important;">​Noida Cricket Stadium</h2>​​​​
						<div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
						<p>Noida Cricket Stadium, also known as Noida Stadium Complex, is a cricket stadium in Noida, India. It is located in Sector 21A of Noida, Uttar Pradesh. As of April 2017, the playing area and the stands for the stadium have been built, with the seating and media facilities still being completed.
							<br>
							The stadium has played host to various local and corporate matches and the Noida Authority is looking to stage first-class games soon. Former Indian cricketer, Madan Lal is acting as the consultant for the cricket stadium.
							<br>
						<strong>Distance from university : 33.00KM</strong></p>
					</div>
					<div class="column col-md-6" style="    min-height:250px; background-image: url(img/stadium.jpg) !important;
						background-size: cover !important;
						background-position: 50% 50% !important;
						background-attachment: scroll !important;
						background-repeat: no-repeat !important;
						background-size: cover;" >
						
					</div>
					
				</div>
			</div>
		</div>
		<!-- Section4 end here -->
		<!-- 		section3 start -->
		<div class="section-1 p-4">
			<div class="container">
				<div class="row revese-md">
					<div class="column col-md-6" style="min-height:250px; background-image: url(https://indiaexpomart.com/wp-content/uploads/2017/06/IMG_6531.jpg);background-repeat: no-repeat;background-size: cover;" >
						
					</div>
					<div class="column col-md-6">
						<h2 style="font-size: 22px !important;">​​​India Expo Centre & Mart</h2>​​​​
						<div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
						<p>India’s first state of the art project for cottage sector wherein Round ‘O’ Clock International Marketing has been conceptualized.
							<br>This state-of-the-art, multi-functional venue with a rare combination of technology merged with world-class facilities and safety standards is suitable for hosting international business-to-business exhibitions, conferences, congresses, product launches, promotional events and most predominantly act as a centralized contact point for overseas buyers and the cottage based manufacturer exporters for conducting business.
							<br><strong>Distance from university : 6.50KM</strong>
						</p>
					</div>
				</div>
			</div>
		</div>
		<!-- 		section3 end -->
		<!-- love section start -->
		<div class="" style="padding: 100px 0px; background-image: linear-gradient(rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.31)), url(img/expomart.jpg), linear-gradient(rgba(0, 0, 0, 0.14), rgba(0, 0, 0, 0.14)) !important;
			background-size: auto, cover, auto !important;
			background-position: 50% 50%, 100% 50%, 50% 50% !important;
			background-attachment: scroll, fixed, scroll !important;
			background-repeat: no-repeat, no-repeat, no-repeat !important;">
			<div class="" style="padding: 100px 0px;">
				<div class="text-center" style="padding: 10px 0px;background-color: #ffffff87">
					<div class="heading1">
						<h2>India Expo Centre & Mart</h2>
						<h2>India's largest integrated venue for conventions & exhibitions
						</h2>

				</div>
			</div>
		</div>
	</div>

		<!-- love section end -->
	<%include footer%>