<%include header%>
<div class="jumbotron mb-0 clubheader" style="background: #020024;
background: linear-gradient(58deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 0%, rgba(0,185,255,1) 91%);background-size: cover; background-repeat: no-repeat;">
  <div class="container mb-0 ">
    <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
    <hr class="mt-0  pt-0 mb-1">
    <h4 class="display-5 text-right mb-0">Debating Society</h4>
  </div>
</div>
<div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
  This is the official page of Drishtikon Debate Society. Visit for regular updates!
</div>
<div class="container">
  <h4 class=" text-lg-left mt-4 mb-0">About Club</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <br>
  <div class="ml-4">
      <ul style="list-style-type: circle!important;">
      <li>The Debating Society of Gautam Buddha University “DRISHTIKON” is a student’s group that promotes the spirit of free and genuine discussion, realisation on the happenings around us with the motive of producing intellectually sound, aware students who can express themselves anywhere, anytime on an issue of relevance
      </li>
    </ul>
</div>
  <h4 class=" text-lg-left mt-2 mb-0">Team Members</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

<br>
  <h5 class=" text-lg-left mt-2 mb-0 ">
  Faculty Co-ordinator
  </h5>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
<br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6 ml-4">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/debate/Vidushi.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Vidushi Sharma</div>
        <div class="designeventnew text-center">Contact: +919871545049</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/debate/Manjari.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Ms. Manjari Suman</div>
        <div class="designeventnew text-center">Contact: +919958745808</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/debate/Tanvi.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Tanvi Vats</div>
        <div class="designeventnew text-center">Contact: +919212339182</div>
      </div>
    </div>
  </div>
      <h5 class=" text-lg-left mt-2 mb-0 ">
      Student Co-ordinator
      </h5>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

    <br>
    <br>
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../clubs/img/debate/Samriddhi.jpg" alt="">
          <div class="card-text text-center designevent  mt-1">Samriddhi Singh</div>
          <div class="designeventnew text-center">General Secretary</div>
          <div class="designeventnew text-center">Contact: +917248198536<br>Email:  
008samariddhi@gmail.com</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../clubs/img/debate/Neelesh.jpg" alt="">
          <div class="card-text text-center designevent  mt-1">Neelesh Tripathi</div>
          <div class="designeventnew text-center">Secretary</div>
          <div class="designeventnew text-center">Contact: +919870880074<br>Email: Prashantsingh02073@gmail.com</div>
        </div>
      </div>
  </div>
<!-- Events/Activities start -->
  <h4 class=" text-lg-left mt-4 mb-0">
  Events/Activities
  </h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
<br>

<!-- photo gallery start-->
<h4 class=" text-lg-left mt-4 mb-0">
Photo Gallery
</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
</div>
<%include footer%> 