<%include header%>

      <style>
      .xxx-l {
    font-size: 41px;
    position: absolute;
    bottom: 162px;
    left: -86px;
    word-spacing: 3px;
    font-family: 'Averia Gruesa Libra';
    font-weight: 200;
}
.xxx-r {
    font-size: 41px;
    position: absolute;
    bottom: 162px;
    left': -60px;
    word-spacing: 3px;
    font-family: 'Averia Gruesa Libra';
    font-weight: 200;
}
      .nav-tabs {
      border-bottom: 3px solid #dee2e6!important;
      }


      .heading2{
      margin: 25px 0;
            margin-bottom: 15px;
            font-weight: 400; "
   }
      </style>	
    </div>
        <!-- //top-nav -->
      <div>

        <!-- banner slider -->
        <div id="homepage-slider" class="st-slider">
            <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
            <div class="images">
                <div class="images-inner">
                    <div class="image-slide">
                        <div class="banner-w3pvt-1">
                            <div class="overlay-w3ls">

                            </div>

                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3pvt-2">
                            <div class="overlay-w3ls">

                            </div>
                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3pvt-3">
                            <div class="overlay-w3ls">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="labels">
                <div class="fake-radio">
                    <label for="slide1" class="radio-btn"></label>
                    <label for="slide2" class="radio-btn"></label>
                    <label for="slide3" class="radio-btn"></label>
                </div>
            </div>
            <!-- banner-hny-info -->
            <div class="banner-hny-info">
                <h3>We Design Stunning
                    <br>Digital Websites</h3>
            </div>
            <!-- //banner-hny-info -->
        </div>
        <!-- //banner slider -->
    </div>
    <!-- //banner -->

    <!-- //home -->

    <!-- about -->
    <section class="about py-5">
        <div class="container p-md-5">
            <div class="about-hny-info text-left px-md-5">
                <h3 class="tittle-w3ls mb-3"><span class="pink">Aim</span>  and Resolution</h3>
                <p class="sub-tittle mt-3 mb-4">we design and build an interactive, friendly a beautiful website, which helps you and others to connect with Gautam Buddha University in efficient manner.</p>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!--/ab-->
    <section class="banner_bottom py-5">
        <div class="container py-md-5">
            <div class="row inner_sec_info">

                <div class="col-md-6 banner_bottom_grid help">
                    <img src="../clubs/img/ab.jpg" alt=" " class="img-fluid">
                </div>
                <div class="col-md-6 banner_bottom_left mt-lg-0 mt-4">
                    <h4><a class="link-hny" href="services.html">
                            Message</a></h4>
                    <p>If you are a student of Gautam Buddha University or a faculty of this university, so if you need any update of wrong data or new data entries on website, you can contact us.</p>
                    <p>Lorem Ipsum convallis diam conYou can contact to members and faculty coordinator of website council to make update.</p>
                </div>
            </div>
           
        </div>
    </section>
    <!--//ab-->

    <!--/services-->
    <section class="services" id="services">
        <div class="over-lay-blue py-5">
            <div class="container py-md-5">
                <div class="row my-4">
                    <div class="col-lg-5 services-innfo pr-5">
                        <h3 class="tittle-w3ls two mb-3 text-left"><span class="pink">Our</span> Team</h3>
                        <p class="sub-tittle mt-2 mb-sm-3 text-left">We are always looking out to get more fantastic people on our team.</p>
                        <a href="services.html"><img src="../clubs/img/ab2.jpg" alt="w3pvt" class="img-fluid"></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <!--//services-->
    <section class="team py-5" id="appointment">
        <div class="container py-md-5">
             <h3 class="tittle-w3ls text-left mb-5"><span class="yellow">Team </span> Members</h3>
            <div class="row mt-lg-5 mt-4">
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid" src="../clubs/img/navi.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Navneet Chandra <br> Maurya</h3>
                            <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd second text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid" src="../clubs/img/navi.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3> Mariana Noe</h3>
                            <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="../clubs/img/navi.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Daniel Doe</h3>
                            <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row mt-lg-5 mt-4">
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="../clubs/img/navi.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Navneet Chandra <br> Maurya</h3>
                            <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd second text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="../clubs/img/navi.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3> Mariana Noe</h3>
                            <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="../clubs/img/navi.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Daniel Doe</h3>
                            <p>Lorem Ipsum has been the industry's standard since the 1500s.</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-google-plus"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </section>
    <!-- /projects -->
<%include footer%>