<%include header%>
<div class="jumbotron mb-0 clubheader1 bgimage_about_home_mukul banner-mob-view">
  <div class="container mb-0  ">
    <h1 class="display-4 text-right mb-2" style="color: white"><b>Art Painting Club</b></h1>
    <hr class="mt-0  pt-0 mb-1">
    <h4 class="display-5 text-right mb-1" style="color: #78335D">Clubs & Societies</h4>
  </div>
</div>
<div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
  This is the official page of ART PAINTING CLUB. Visit for regular updates!
</div>
<br>
<div class="container">
  <div class="text-justify">
    <h4 class=" text-lg-left mt-4 mb-0">
    About Club
    </h4>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  </div>
  <br>
</div>
<br>
<div class="container ">
  <p class="text-justify"> The objective of the <b>‘ANSHARAH’</b> Art Club is to kindle, foster and promote students’ interest in arts. The club will provide chances to all students of GBU to understand, appreciate and inculcate aesthetic values.<br>
  The club would encourage students’ exposure to arts and creativity through:</p>
  <div class="ml-3">
    <ul style="list-style-type: circle!important;">
      <li>Organization of Arts Exhibition at the university campus.</li>
      <li>Organization of workshops and art competitions at the university campus.</li>
      <li>Guest lectures by National/International artists.</li>
      <li> Felicitating Eminent Artists.</li>
      <li>Organizing trips to Arts galleries and Art museums.</li>
    </ul>
  </div>
</div>
<div class="container">
  <h4 class=" text-lg-left mt-4 mb-0">Team Members</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <!-- faculty section start-->
  <h5 class=" text-lg-left  mt-4 mb-0">Faculty Coordinators</h5>
  <div class=" mb-3 mt-2 float-left" style="height: 3px; width: 10%; background-color:#FB8C00 "></div>
  <br><br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-12">
      <div href="#" class="d-block mb-4">
        <img class="img-fluid img-thumbnail" src="../../../clubs/img/art/GBU_Image_Priyadarsini Mittra.png" alt="" style="width: 400px;height: 193px">
        <div class="card-text text-center designevent  mt-1">Dr. Priyadarsini Mitra</div>
        <div class="designeventnew text-center">Contact: +918826405590, Ext: 4421</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-12">
      <div href="#" class="d-block mb-4">
        <img class="img-fluid img-thumbnail" src="../../../cultural/images/Dr. Sumitra Huidrom-01.jpeg" alt="" style="width: 400px;height: 193px">
        <div class="card-text text-center designevent  mt-1">Dr. Sumitra Huidrom</div>
        <div class="designeventnew text-center">Contact: +919958476018, Ext: 7012</div>
      </div>
    </div>
  </div>
  <!-- faculty section end-->
  <!-- student section start-->
  <h5 class=" text-lg-left  mt-4 mb-0">Student Coordinators</h5>
  <div class=" mb-3 mt-2 float-left" style="height: 3px; width: 10%; background-color:#FB8C00 "></div>
  <br><br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-12">
      <div href="#" class="d-block mb-4">
        <img class="img-fluid img-thumbnail" src="https://via.placeholder.com/400x300.png" alt="">
        <div class="card-text text-center designevent  mt-1">Shivam Pandey</div>
        <div class="designeventnew text-center">Contact: -----</div>
      </div>
    </div>
  </div>
</div>
<!-- student section start-->
<%include footer%>