<%include header%>
<div class="jumbotron mb-0 clubheader" style="background-image:url(../clubs/img/dance/banner1.png);background-size: cover; background-repeat: no-repeat;">
  <div class="container mb-0 ">
    <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
    <hr class="mt-0  pt-0 mb-1">
    <h4 class="display-5 text-right mb-0">Techno Club</h4>
  </div>
</div>
<div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
  This is the official page of Techno Club. Visit for regular updates!
</div>
<div class="container">
  <h4 class=" text-lg-left mt-4 mb-0">About Club</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <br>
  <div class="ml-4">
      <ul style="list-style-type: circle!important;">
      <li>Techno Cultural Club marks the technical as well as cultural diversity among the students and encourages them to hone their talents from within. The club is a home to innovative minds and runs with the aim to develop interpersonal, technical and intellectual skills among the students.
      </li>
      <li>It organizes various events including robotics, hacking, coding, quizzes, group discussions, poster making, etc to develop and experiment creativity among the students and help them energize and freshen their minds amidst the academic overload.</li>
    </ul>
</div>
  <h4 class=" text-lg-left mt-2 mb-0">Team Members</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

<br>
  <h5 class=" text-lg-left mt-2 mb-0 ">
  Faculty Co-ordinator
  </h5>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
<br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6 ml-4">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/techno/Vimlesh.jpeg" alt="" width="220" height="236">
        <div class="card-text text-center designevent  mt-1">Dr. Vimlesh Kumar</div>
        <div class="designeventnew text-center">Contact: +919650081596</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/techno/Navaid.jpeg" alt=""  width="220" height="236">
        <div class="card-text text-center designevent  mt-1">Dr. Navaid Zafar Rizvi</div>
        <div class="designeventnew text-center">Contact: +919971475401</div>
      </div>
    </div>
        <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/techno/Pradeep.jpeg" alt=""  width="220" height="236">
        <div class="card-text text-center designevent  mt-1">Dr. Pradeep Tomar</div>
        <div class="designeventnew text-center">Contact: +919899874830</div>
      </div>
    </div>
  </div>
      <h5 class=" text-lg-left mt-2 mb-0 ">
      Student Co-ordinator
      </h5>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

    <br>
    <br>
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../clubs/img/techno/Shreya.jpg" alt=""  width="220">
          <div class="card-text text-center designevent  mt-1">Shreya Singh</div>
          <div class="designeventnew text-center">General Secretary</div>
          <div class="designeventnew text-center">Contact: +919818145388<br>Email:  
shreyasinghho8@gmail.com</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../clubs/img/techno/Vivek.jpg" alt=""  width="220">
          <div class="card-text text-center designevent  mt-1">Vivek Singh</div>
          <div class="designeventnew text-center">Secretary</div>
          <div class="designeventnew text-center">Contact: +918860356515<br>Email:  
viveksingh011297@gmail.com</div>
        </div>
      </div>
  </div>
<!-- Events/Activities start -->
  <h4 class=" text-lg-left mt-4 mb-0">
  Events/Activities
  </h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
<br>

<!-- photo gallery start-->
<h4 class=" text-lg-left mt-4 mb-0">
Photo Gallery
</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
</div>
<%include footer%> 