<%include header%>

    <div class="jumbotron mb-0 clubheader" style="background-image:url(../clubs/img/techno/banner1.png);background-size: cover; background-repeat: no-repeat;">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
        <hr class="mt-0  pt-0 mb-1">
        <h3 class="display-5 text-right mb-0">TECHNO CLUB</h3>
      </div>
    </div>
    <div class="alert mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
      This is the official page of TECHNO CLUB. Visit for regular updates!
    </div>
     
    <div class="container">
      <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            About Club
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
          <br>
    </div>
    <div class="container">
      <div class="ml-3 text-justify">
        <!-- <p></p><ul>
          <li>We live on the most beautiful planet, Earth which has very clean and attractive nature full of greenery. Nature is our best friend which provides us all the resources to live here.</li>
          <li>The objective of Nature's club is to arouse general awareness among the students regarding
         different environmental problems which are major concern to be better future and survivial
          of mankind.</li>
        <li>Mission is to inculcate love and respect among the members for nature and thus work with global
         perspective. Motivating students to value environment. To make them aware about the grave
         situation of nature and means for its conservation.</li>
        <li>Nature is the most beautiful and attractive surrounding around us which make us happy and provide us natural environment to live healthy. Our nature provides us variety of beautiful flowers, attractive birds, animals, green plants, blue sky, land, running rivers, sea, forests, air, mountains, valleys, hills and many more things. </li>
    </ul><p></p> -->
      </div>
    </div>
    <div class="container">
      <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Team Members
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
    <br>
    <div class="container ">
      <h5 class=" text-lg-left mt-2 mb-0 ">
           Faculty Co-ordinator
            </h5>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    </div>
    <br>
    <br>
    <div class="container">
      <!-- <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6 ml-4">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/nirmita.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Nirmita Mehrotra</div>
            <div class="designeventnew text-center">Contact: +919818617933 <br>Email:--------</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/asha.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Asha Pandey</div>
            <div class="designeventnew text-center">Contact: -------- <br> Email:--------</div>
          </div>
        </div>
      </div> -->
    
    <div class="container">
      <div class="">
      <h5 class=" text-lg-left mt-2 mb-0 ">
          Student Co-ordinator
            </h5>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    </div>
    <br>
    <br>
      <!-- <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/arnav.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Arnav Sharma (18/AR/004)</div>
            <div class="designeventnew text-center">General Secretary</div>
            <div class="designeventnew text-center">Contact: +917300800389<br>Email: akshay.nain555@gmail.com</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/Secretary.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Rajan Chauhan (18/AR/015)</div>
            <div class="designeventnew text-center">Secretary</div>
            <div class="designeventnew text-center">Contact: +919149345917<br>Email: rajanchauhan3549@gmail.com</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/sarthak.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Sarthak Sharma (18/AR/016)</div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact: +918435514182<br>Email: sarthak2206@gmail.com</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/aniket.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Aniket Chaudhary (18/AR/)</div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact: +917906998976<br>Email: ----------@gmail.com</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/mansi.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Mansi kathayat (19/AR/10)</div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact: +918376944100<br>Email: mansikathayat7@gmail.com</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/deepa.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Deepa Chandra- (18/MES/008)</div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact: +919540796108<br>Email: chandradeepa86@gmail.com</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/dickson.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Dickson Heisnam (18/MES/001)</div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact: +917005742769<br>Email: dicksonheisnam@gmail.com</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="./img/nature/vikash.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Vikas Kumar Maurya (18/MES/007)</div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact: +917053427049<br>Email: vikasmauryabhu81@gmail.com</div>
          </div>
        </div>
        </div> -->
      </div>
      </div>
    </div>
    <div class="container">
        <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Events/Activities
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
    <br>
    <br>
<!-- <div class="ml-3 text-justify">
  <ul>
    <li>To sensitize, create awareness, motivate and educate students about environment conservation
    </li><li>New Tree plantation, Power point presentations on Ecosystem
  </li><li>To conduct Exhibitions on Environment
</li><li>Environmental Cleanliness
</li><li>To conduct slogan competitions, drawing competitions for school children with prizes for the winners.
</li><li>To organise Adventure Activities
</li><li>To organize Snake and Dog Bite Awareness Programme
</li><li>Environment Education Camps
</li><li>Animal Welfare Activities
</li></ul>
</div>
 -->      </div>
  <!-- photo gallery start-->
      <div class="container">
       <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Photo Gallery
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
    <br>
      
<!-- gallery 1st row -->
     <!-- <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="img/nature/photo1.jpg"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="img/nature/photo2.jpg"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="img/nature/photo3.jpg"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="img/nature/photo4.jpg"
            alt="Card image cap">
        </div>
      </div> -->

    </div>
    <!--/.First slide-->
    <!--/.Third slide-->
        <!-- gallery 1st row end -->
        <!-- gallery 2nd row start-->

        <!-- gallery 2nd row end-->
      </div>
<%include footer%>