<%include header%>
<div class="jumbotron mb-0 clubheader" style="background-image:url(../clubs/img/dance/banner1.png);background-size: cover; background-repeat: no-repeat;">
  <div class="container mb-0 ">
    <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
    <hr class="mt-0  pt-0 mb-1">
    <h4 class="display-5 text-right mb-0">Creativity Club</h4>
  </div>
</div>
<div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
  This is the official page of Creativity Club. Visit for regular updates!
</div>
<div class="container">
  <h4 class=" text-lg-left mt-4 mb-0">About Club</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <br>
  <div class="ml-4">
      <ul style="list-style-type: circle!important;">
      <li>To provide a platform for students to
display their creative side in various
academic and non-academic field an
‘out-of-box’ thinking in students
essential for problem solving in a
working environment as well as in daily
life. To develop and maintain a balance
between academics and extracurricular activities. To equip students
with life skills and tools required to lead
a happy and satisfactory life.
      </li>
    </ul>
</div>
  <h4 class=" text-lg-left mt-2 mb-0">Team Members</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

<br>
  <h5 class=" text-lg-left mt-2 mb-0 ">
  Faculty Co-ordinator
  </h5>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
<br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/creativity/Pradeep.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Pradeep Tomar</div>
        <div class="designeventnew text-center">Contact: +919899874830</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/creativity/Manjari.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Vandna Singh</div>
        <div class="designeventnew text-center">Contact: +918800982410
       </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/creativity/Vishwas.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Vishwas Tripathi</div>
        <div class="designeventnew text-center">Contact: +918826506533</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/creativity/Manju.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Manju Sharma</div>
        <div class="designeventnew text-center">Contact: +919990688051</div>
      </div>
    </div>
  </div>
      <h5 class=" text-lg-left mt-2 mb-0 ">
      Student Co-ordinator
      </h5>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

    <br>
    <br>
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../clubs/img/creativity/Samriddhi.jpg" alt="">
          <div class="card-text text-center designevent  mt-1">Aditya Singh</div>
          <div class="designeventnew text-center">General Secretary</div>
          <div class="designeventnew text-center">Contact: +918299841729<br>Email:saditya831@gmail.com</div>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../clubs/img/creativity/Neelesh.jpg" alt="">
          <div class="card-text text-center designevent  mt-1">Saransh Raj</div>
          <div class="designeventnew text-center">Secretary</div>
          <div class="designeventnew text-center">Contact: +918726942865</div>
        </div>
      </div>
  </div>
<!-- Events/Activities start -->
  <h4 class=" text-lg-left mt-4 mb-0">
  Events/Activities
  </h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
<br>

<!-- photo gallery start-->
<h4 class=" text-lg-left mt-4 mb-0">
Photo Gallery
</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
</div>
<%include footer%> 