<%include header%>
<div class="jumbotron mb-0 clubheader1 bgimage_about_home_mukul banner-mob-view">
  <div class="container mb-0  ">
    <h1 class="display-4 text-right mb-2" style="color: white"><b>Dramatics Club</b></h1>
    <hr class="mt-0  pt-0 mb-1">
    <h4 class="display-5 text-right mb-1" style="color: #78335D">Clubs & Societies</h4>
  </div>
</div>
<div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
  This is the official page of Dramatics Club. Visit for regular updates!
</div>
<br>
<div class="container">
    <h4 class=" text-lg-left mt-4 mb-0">
    About Club
    </h4>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
<br>
  <p class="text-justify">Dishayan, the dramatics club is the largest of all university clubs with about five hundred members. It was the first club in the university to have its own blog, on which only the administrator can write. It showcases the activities of the club. The aim of Dishayan is to provide the students a forum for the expression of their talent of acting and directing plays. It also tries to sensitize them on social issues through the selection of such plays for enactment that draw our attention to the ills that plague our society. The club also provided an avenue of expression to those who indulged in creative writing through its unit dedicated to literature until an independent literary club was not established. The club has a session every week.</p>
  <h4 class=" text-lg-left mt-4 mb-0">Team Members</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <!-- faculty section start-->
  <h5 class=" text-lg-left  mt-4 mb-0">Faculty Coordinators</h5>
  <div class=" mb-3 mt-2 float-left" style="height: 3px; width: 10%; background-color:#FB8C00 "></div>
  <br><br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid img-thumbnail" src="../../../clubs/img/drama/Sharmasaneepsharma.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Sandeep Sharma</div>
        <div class="designeventnew text-center">Contact: +91 8800978609 <br> Ext: 6087</div></center>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid img-thumbnail" src="../../../clubs/img/drama/Dr.AlpaYadavalpa@gbu.ac.in.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Alpa Yadav</div>
        <div class="designeventnew text-center">Contact: +919999993644 <br> Ext: 4372</div></center>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid img-thumbnail" src="../../../clubs/img/drama/GBU_Image_95.png" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Muhammad Asif</div>
        <div class="designeventnew text-center">Contact: +919650845746 <br> Ext: 4431</div></center>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid img-thumbnail" src="../../../clubs/img/drama/GBU_Image_91.png" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Roopali Srivastava</div>
        <div class="designeventnew text-center">Contact: +919891680347 <br> Ext: 4447</div></center>
      </div>
    </div>
  </div>
  <!-- faculty section end-->
  <!-- student section start-->
  <h5 class=" text-lg-left  mt-4 mb-0">Student Coordinators</h5>
  <div class=" mb-3 mt-2 float-left" style="height: 3px; width: 10%; background-color:#FB8C00 "></div>
  <br><br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid img-thumbnail" src="https://via.placeholder.com/150x199.png" alt="">
        <div class="card-text text-center designevent  mt-1">Aakarsh Aryan</div>
        <div class="designeventnew text-center">Contact: +918800338083</div></center></div>
      </div>
    
      <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid img-thumbnail" src="https://via.placeholder.com/150x199.png" alt="">
        <div class="card-text text-center designevent  mt-1">Snigdh Tripathi</div>
        <div class="designeventnew text-center">Contact: +918528585865</div></center></div>
      </div>
    </div>

 
    <h5 class=" text-lg-left  mt-4 mb-0">Events/Activities</h5>
  <div class=" mb-3 mt-2 float-left" style="height: 3px; width: 10%; background-color:#FB8C00 "></div>
  <br><br>
  <p>Dishayan has held competitions of skits, street plays and dramatic endorsements along with one or two act plays in Hindi and English and organized a lecture by eminent Israeli playwright and film-screenplay writer Motti Lerner. It also emerged as the first club of the university to put up a show outside of the university when it staged a play at the Jawaharlal Nehru University, New Delhi. The club intends to continue with its activities mentioned above.</p>
  <p>The club also plans to invite the Cambridge Rickshaw Theatre Project for a theatre workshop. Formerly known as ‘BackPact’, the Rickshaw Theatre Project has been running for the past five years. Based in Cambridge and run entirely by students it was first started back in 2006 by James Norton as an attempt to combine his passion for theatre, travelling, and children. Since then it has developed and evolved to become what it is today. As the team of students is continually revolving each year’s programme is entirely unique as the group members bring their own knowledge, specialities and passions to the project. Despite this, the core focus of the project has remained the same over the past five years; to take theatre to those children that won’t have had the chance to experience it before, and to give them the freedom to enjoy it.</p>
  </div>
  
<!-- student section start-->
<%include footer%>