<%include header%>
    <div class="jumbotron mb-0 clubheader">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
        <hr class="mt-0  pt-0 mb-1">
        <h3 class="display-5 text-right mb-0">ART PAINTING CLUB</h3>
      </div>
    </div>
    <div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
      This is the official page of ART PAINTING CLUB. Visit for regular updates!
    </div>
    <br>
    <div class="container">
      <div class="text-justify">
            <h2 class=" text-lg-left mt-4 mb-0">
            About Club
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
          <br>
    </div>
     <br>
    <div class="container ">
      <p class="text-justify"> The objective of the <b>‘ANSHARAH’</b> Art Club is to kindle, foster and promote students’ interest in arts. The club will provide chances to all students of GBU to understand, appreciate and inculcate aesthetic values. </p>
      <br>
      <p>The club would encourage students’ exposure to arts and creativity through:</p>
      <ul>
        <li>Organization of Arts Exhibition at the university campus.</li>
        <li>Organization of workshops and art competitions at the university campus.</li>
        <li>Guest lectures by National/International artists.</li>
        <li> Felicitating Eminent Artists.</li>
        <li>Organizing trips to Arts galleries and Art museums.</li>
      </ul>
    </div>
    <br>
    <div class="container">
      <h2 class=" text-lg-left mt-4 mb-0">TEAM MEMBERS</h2>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    </div>
    <br>
    <div class="container">
      <h5 class=" text-lg-left  mt-4 mb-0">Faculty Coordinators</h5>
      <div class=" mb-3 mt-2 float-left" style="height: 3px; width: 10%; background-color:#FB8C00 "></div>
    </div>
    <br><br>
    <div class="container">
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-0 col-6">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid " >
          </div>
        </div>
        
        
        <div class="col-lg-3 col-md-12 col-12">
          <div href="#" class="d-block mb-4 h-200">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Priyadarsini Mitra</div>
            <div class="designeventnew text-center">Contact: +918826405590, Ext: 4421</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-12 col-12">
          <div href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Sumitra Huidrom</div>
            <div class="designeventnew text-center">Contact: +919958476018, Ext: 7012</div>
          </div>
        </div>
        <div class="row text-center text-lg-left">
          <div class="col-lg-3 col-md-0 col-12">
            <div href="#" class="d-block mb-4 h-200">
              <img class="img-fluid " >
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container mb-2">
        <h5 class=" text-lg-left  mt-4 mb-0">Student Coordinators</h5>
        <div class=" mb-3 mt-2 float-left" style="height: 3px; width: 10%; background-color:#FB8C00 "></div>
      </div>
      <br>
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Jyoti Sharma (12/DHS/009)</div>
            <div class="designeventnew text-center">General Secretary</div>
            <div class="designeventnew text-center">Contact:09910443924 <br> Email: jyoti.sharma2030@gmail.com</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Surabhi Mitra (14/PBT/023)
            </div>
            <div class="designeventnew text-center">Secretary</div>
            <div class="designeventnew text-center">Contact:07042553646 <br> Email:surabhimitra19@gmail.com</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">JAbdul Nasir (13/IFT/013)
            </div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact:08285818438 <br> Email: Abdul22nasir@gmail.com</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Ishati Motla (14/BABS/001)
            </div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact:09990633051 <br> Email:ishati_m@yahoo.com</div>
          </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Manali Sharma(15/ILB/027)
            </div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">Contact:08800456722 <br> Email:Manalisharma811@gmail.com</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Jyoti Sharma (12/DHS/009)</div>
            <div class="designeventnew text-center">General Secretary</div>
            <div class="designeventnew text-center">Contact:09910443924 <br> Email: jyoti.sharma2030@gmail.com</div>
          </a>
        </div>
        
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/p2TQ-3Bh3Oo/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Jyoti Sharma (12/DHS/009)</div>
            <div class="designeventnew text-center">General Secretary</div>
            <div class="designeventnew text-center">Contact:09910443924 <br> Email: jyoti.sharma2030@gmail.com</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Jyoti Sharma (12/DHS/009)</div>
            <div class="designeventnew text-center">General Secretary</div>
            <div class="designeventnew text-center">Contact:09910443924 <br> Email: jyoti.sharma2030@gmail.com</div>
          </a>
        </div>
      </div>
<%include footer%>