<%include header%>
    <div class="jumbotron mb-0 clubheader" style="background-image:url(../clubs/img/photography/banner1.png);background-size: cover; background-repeat: no-repeat;">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
        <hr class="mt-0  pt-0 mb-1">
        <h3 class="display-5 text-right mb-0">PHOTOGRAPHY CLUB</h3>
      </div>
    </div>
    <div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
      This is the official page of PHOTOGRAPHY CLUB. Visit for regular updates!
    </div>
    
    <div class="container">
      <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            About Club
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
          <br>
    </div>
    <div class="container">
      <div class="ml-3 text-justify">
       <p>
         <ul>
           <li>The main purpose
behind this is to
promote creativity
through photography,
to educate and
improve technical
skills and to spread
the love of
photography
throughout the
community. We, as
members of the GBU
photography club
seek to display our
love of photography
through the
constructive criticism
of our peers, leisure
activities that involve
photography and
promotion of
photography
throughout the
campus and other
universities as well.</li>
         </ul>
       </p>
      </div>
    </div>
    <div class="container">
      <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Team Members
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
    <br>
    <div class="container ">
      <h5 class=" text-lg-left mt-2 mb-0 ">
           Faculty Co-ordinator
            </h5>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    </div>
    <br>
    <br>
    <div class="container">
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6 ml-4">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../club/img/phototgraphy/Imteyaz.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Imteyaz Qamar  </div>
            <div class="designeventnew text-center">Contact: +919711761564</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../club/img/photography/Anant.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Anant Pratap Singh</div>
            <div class="designeventnew text-center">Contact: +919811068462</div>
          </div>
        </div>
      </div>
    
    <div class="container">
      <div class="">
      <h5 class=" text-lg-left mt-2 mb-0 ">
          Student Co-ordinator
            </h5>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    </div>
    <br>
    <br>
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../img/photography/General.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Krati Kaushik</div>
            <div class="designeventnew text-center">General Secretary</div>
            <div class="designeventnew text-center">Contact: +916392697125 <br>shivam.shukla2408@outlook.com</div>
          </div>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <div class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="../img/photography/Secretary.jpg" alt="">
            <div class="card-text text-center designevent  mt-1">Diptimayee Das</div>
            <div class="designeventnew text-center">Secretary</div>
            <div class="designeventnew text-center">Contact: +917978103487<br>Email: dipti02468@gmail.com</div>
          </div>
        </div>
        </div>
      </div>
      </div>
    </div>
    <div class="container">
        <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Events/Activities
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
    <br>
    <br>
<!-- <div class="ml-3 text-justify">
  <ul>
    <li>To sensitize, create awareness, motivate and educate students about environment conservation
    </li><li>New Tree plantation, Power point presentations on Ecosystem
  </li><li>To conduct Exhibitions on Environment
</li><li>Environmental Cleanliness
</li><li>To conduct slogan competitions, drawing competitions for school children with prizes for the winners.
</li><li>To organise Adventure Activities
</li><li>To organize Snake and Dog Bite Awareness Programme
</li><li>Environment Education Camps
</li><li>Animal Welfare Activities
</li></ul>
</div>
 -->      </div>
  <!-- photo gallery start-->
      <div class="container">
       <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Photo Gallery
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          </div>
    <br>
      
<!-- gallery 1st row -->
     <!-- <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">

  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="img/nature/photo1.jpg"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="img/nature/photo2.jpg"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="img/nature/photo3.jpg"
            alt="Card image cap">
        </div>
      </div>

      <div class="col-md-3 mb-3">
        <div class="card">
          <img class="img-fluid" src="img/nature/photo4.jpg"
            alt="Card image cap">
        </div>
      </div> -->

    </div>
    <!--/.First slide-->
    <!--/.Third slide-->
        <!-- gallery 1st row end -->
        <!-- gallery 2nd row start-->

        <!-- gallery 2nd row end-->
      </div>
<%include footer%>