<%include header%>
<div class="jumbotron mb-0 clubheader" style="background-image:url(background: rgb(2,0,36);
  background: linear-gradient(58deg, rgba(2,0,36,1) 0%, rgba(9,90,121,1) 0%, rgba(0,185,255,1) 91%);background-size: cover; background-repeat: no-repeat;">
  <div class="container mb-0 ">
    <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
    <hr class="mt-0  pt-0 mb-1">
    <h4 class="display-5 text-right mb-0">Dance Club</h4>
  </div>
</div>
<div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
  This is the official page of Nrityangana Club. Visit for regular updates!
</div>
<div class="container">
  <h4 class=" text-lg-left mt-4 mb-0">About Club</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <br>
  <div class="ml-4">
    <ul style="list-style-type: circle!important;">
      <li>“Dance is the hidden language of the soul”, these beautiful lines given by Martha Graham perfectly explains to us how much we are attached to dance Dancing is so much more than just grooving on the dance floor to your favourite tunes.
      </li>
      <li>Nrityangana club(Dance Club) helps you out in exploring all you're known as  well as hidden talents by providing you this huge stage. The one stepping foot on this stage will never regret as he or she takes with him or her all those confidence and memories that they will never forget.
      </li>
      <li>Our only target is to spread more happiness and freedom because when you dance you are the freest soul. Dancing not only helps you keep physically fit but at the same time, you are provided with mental fitness too.
      </li>
      <li>Nrityangana Club aims to provide dance classes and performance opportunities to any Gautam Buddha University student, regardless of dance experience or area of study.
      </li>
    </ul>
  </div>
  <h4 class=" text-lg-left mt-2 mb-0">Team Members</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <h5 class=" text-lg-left mt-2 mb-0 ">
  Faculty Co-ordinator
  </h5>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid" src="../clubs/img/dance/vandana.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Vandna Singh</div>
        <div class="designeventnew text-center">Contact: +918800982410</div></center>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid" src="../clubs/img/dance/deepali.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Deepali Singh</div>
        <div class="designeventnew text-center">Contact: +918860688924</div></center>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid" src="../clubs/img/dance/deepti.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Deepti Goyal</div>
        <div class="designeventnew text-center">Contact: +919871722199</div></center>
      </div>
    </div>
  </div>
  <h5 class=" text-lg-left mt-2 mb-0 ">
  Student Co-ordinator
  </h5>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid img-thumbnail" src="../clubs/img/dance/Shivangi.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Shivangi Malik</div>
        <div class="designeventnew text-center">General Secretary</div>
        <div class="designeventnew text-center">Contact: +918851736723<br>Email:
        shivangimallik@gmail.com</div></center>
      </div>
    </div>
    <div class="col-lg-2 col-md-3 col-6">
      <div href="#" class="d-block mb-4">
        <center>
        <img class="img-fluid img-thumbnail" src="../clubs/img/dance/Prashant.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Prashant Singh</div>
        <div class="designeventnew text-center">Secretary</div>
        <div class="designeventnew text-center">Contact: +919870880074<br>Email: Prashantsingh02073@gmail.com</div></center>
      </div>
    </div>
  </div>
  <!-- Events/Activities start -->
  <h4 class=" text-lg-left mt-4 mb-0">
  Events/Activities
  </h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <br>
  <!-- photo gallery start-->
  <h4 class=" text-lg-left mt-4 mb-0">
  Photo Gallery
  </h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
</div>
<%include footer%>