<%include header%>
<div class="jumbotron mb-0 clubheader" style="background-image:url(../clubs/img/dance/banner1.png);background-size: cover; background-repeat: no-repeat;">
  <div class="container mb-0 ">
    <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
    <hr class="mt-0  pt-0 mb-1">
    <h4 class="display-5 text-right mb-0">Literary Club</h4>
  </div>
</div>
<div class="alert  mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
  This is the official page of Literary Club. Visit for regular updates!
</div>
<div class="container">
  <h4 class=" text-lg-left mt-4 mb-0">About Club</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  <br>
  <br>
  <div class="ml-4">
      <ul style="list-style-type: circle!important;">
      <li>Historically literature has been shaping the societies through the lens of entertainment, back then only a selected few were able to enjoy the ecstasy of its fruits, however, now it has become a tool to achieve way more by a lot more people. In literary club of Gautam Buddha University, students come together with their shared love for literature and host various literary events in the University.
      </li>
    </ul>
</div>
  <h4 class=" text-lg-left mt-2 mb-0">Team Members</h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

<br>
  <h5 class=" text-lg-left mt-2 mb-0 ">
  Faculty Co-ordinator
  </h5>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
<br>
  <div class="row text-center text-lg-left">
    <div class="col-lg-3 col-md-4 col-6 ml-4">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/literary/Om.jpeg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Om Prakash</div>
        <div class="designeventnew text-center">Contact: +918800259977</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/literary/Priyanka.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Ms. Priyanka Singh</div>
        <div class="designeventnew text-center">Contact: +919650845746</div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-6">
      <div class="d-block mb-4 h-100">
        <img class="img-fluid" src="../clubs/img/literary/Bipasha.jpg" alt="">
        <div class="card-text text-center designevent  mt-1">Dr. Bipasha Som </div>
        <div class="designeventnew text-center">Contact: +919560965071

</div>
      </div>
    </div>
  </div>
      <h5 class=" text-lg-left mt-2 mb-0 ">
      Student Co-ordinator
      </h5>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

    <br>
    <br>
    <div class="row text-center text-lg-left">
      <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../clubs/img/literary/Shoaib.jpg" alt="">
          <div class="card-text text-center designevent  mt-1"> Moh. Shoaib Khan</div>
          <div class="designeventnew text-center">General Secretary</div>
          <div class="designeventnew text-center">Contact: +919140279180<br>Email:  
zain.khan830@gmail.com</div>
        </div>
      </div>
      <!-- <div class="col-lg-3 col-md-4 col-6">
        <div class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="../clubs/img/literary/Noname.jpg" alt="">
          <div class="card-text text-center designevent  mt-1">Neelesh Tripathi</div>
          <div class="designeventnew text-center">Secretary</div>
          <div class="designeventnew text-center">Contact: +919870880074<br>Email: Prashantsingh02073@gmail.com</div>
        </div>
      </div> -->
  </div>
<!-- Events/Activities start -->
  <h4 class=" text-lg-left mt-4 mb-0">
  Events/Activities
  </h4>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
<br>

<!-- photo gallery start-->
<h4 class=" text-lg-left mt-4 mb-0">
Photo Gallery
</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
<br>
</div>
<%include footer%> 