<%include header%>
  <!--   <div class="jumbotron mb-0 clubheader">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0">
        <strong>
        International Collaboration
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1"> -->
      <!-- </div> -->
    <!-- </div> --> 
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <nav class="navbar navbar-expand-md navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <!-- <ul class="navbar-nav mx-auto">
            <li class="nav-item  active">
              <a href="" class="nav-link active "></a>
            
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
              
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
              
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link mr-0"></a>
              
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link mr-0"></a>
              
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    <!-- Nevigation End -->
    <div class="container">
      
      <div class="card bordernow  mt-5 mb-5">
        <div class="card-body">
        <div class="container ">
              <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">
                International Collaboration
              </h1>
              <hr class="mt-2 mb-5">
            </div>
          <div class="mb-5">
            <img src="./img/internationalCollaboration.jpg" class="img-fluid" alt="International imCollaborationage">
           
          </div>
          <p class="card-text text-justify mt-2">International Collaboration Cell’ of Gautam Buddha University is involved in developing academic collaboration with Universities abroad. We have already signed ‘Memorandum of Understanding (MOU) with Sheffield Hallam University, Manchester Metropolitan University U.K., Queensland University (Australia) and Academy of Business Studies (Denmark), and are in process of developing such relationship with certain other Universities in Netherland, U.K. and U.S.A. Our Collaboration covers students and faculty collaboration in teaching, research and professional development areas. The U.P. Govt. provides full financial support to students belonging to SC/ST categories & BPL students of General, OBC & Minorities. The financial support includes passage, boarding and all academic fees & expenditures for studying abroad for one semester. Our second batch of such students is undergoing their studies at Shaffield Hallam University, U.K</p>
            
  </div>
</div>
</div>
<%include footer%>