<%include header%>
<div class="jumbotron mb-0 clubheader bgimage_about_Committee_mukul">
        <style>
          @media only screen and (min-width: 992px){
            .bgimage_about_Committee_mukul{
              background-position: 100% 52%;
            }
          }
        </style>
        <div class="container mb-0  ">
          <h1 class="display-4 text-right mb-2" style="color: white"><strong>Statutory Commitee</strong></h1>
          <hr class="mt-0  pt-0 mb-2">
          <h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4>
        </div>
      </div>
           <!--vc of gbu bom details start from here-->
           <div class="container">
             <div class="text-center pt-5" >
             <h1 style="font-size: 30px; color: #0d1491" class="text-right">About Statutory Commitees</h1>
             </div>
               <hr class="mt-0  pt-0 mb-2">
             <div class="container mb-2">
            <div class=" mt-3">
              <ul>
              <li><strong>1. SC/ST Commitee</strong></li>
                The scheduled Caste (SC) and Scheduled Tribes (ST) Cell in an institute promotes the special interest of students
                in the reserved category and to provide special inputs in areas where the students experience difficult.<br>
                As per Letter No <a href="http://www.gbu.ac.in/General/SCST_Committee_24July19.jpg" style="color:blue">GBU-002/Admin./2.1/2019-4741</a> dated 22,july,2019 from the office of Registrar(Gautam Buddha University) following
                Faculty members are assigned the responsibility given for SC/ST Committee:<br>
                        <ul>
                        <li>Dr. Gurmet Dorjey (Chairperson)</li>
                        <li>Dr. Neeta Singh (Member)</li>
                        <li>Dr. Siya Ram (Member)</li>
                        <li>Dr. Diwakar Garwa (Member)</li>
                        <li>Dr. Chandrabhanu Bharas (Member)</li>
                         </ul>
                <li><strong>2. Minority Cell</strong></li>
                Minority cell is committed to provide an environment that support diversity and respects everyone
                regardless of color, religious belief or cultures and also commits to ensuring protection of everyone including
                minorities and acting as per the provisions of constitution of India in such matters.<br>
                As per Letter No <a href="http://www.gbu.ac.in/General/MinorityComm_24July19.jpg" style="color:blue">GBU-002/Admin./2.1/2019-4742</a>
                dated 22,july,2019 from the office of Registrar(Gautam Buddha University) following
                Faculty members are assigned the responsibility given for Minority Cell:<br>
                        <ul>
                        <li>Dr. M.A. Ansari (Chairperson)</li>
                        <li>Dr. Imteyaz Qamar (Member)</li>
                        <li>Dr. Samar Raqshin (Member)</li>
                        <li>Dr. Obaidul Ghaffar (Member)</li>
                        </ul>
               <li><strong>3. Internal Complaint Committee</strong></li>
                          In pursuance of UGC (Prevention, prohibition and redressal of sexual harassment of women employees and
                          students in higher educational institutions) Regulations, 2015 read with Sexual Harassment of Women at
                          Workplace (Prevention, Prohibition and Redressal) Act, 2013 and in partial modification of Office Order
                          No. <a href="http://www.gbu.ac.in/General/InternalComplaintComm_3Jan18.jpg" style="color:blue">GBU_029/Est./5.3/O.O./2017-359</a>
                          dated 31.08.2017, Internal Complaints Committee (ICC) is re-constituted as under to deal with
                          the complaints relating to Sexual harassment at GBU.<br>
                          Following Faculty members are assigned the responsibility given for ICC Committee:<br>
                                  <ul>
                                  <li>Dr. Neeti Rana (Chairperson)</li>
                                  <li>Dr. Shakti Sahi (Member)</li>
                                  <li>Dr. Subhashish Bhandra (Member)</li>
                                  <li>Dr. Priyadarshni Mitra (Member)</li>
                                  <li>Dr. Poonam Verma (Member)</li>
                                  <li>Dr. Mala Bhandari (External Member)</li>
                                  <li>Sh. Parvinder Kumar (Member)</li>
                                   </ul>
             <li><strong>4. Anti Ragging Committee</strong></li>
                            Anti Ragging Committee will monitor the measures taken by the college for prevention of ragging, will look
                            into the specific instances of ragging and complaints of ragging; and suggest appropriate action /
                            punishment against individuals who indulge in ragging.<br>
                            As per Letter No <a href="http://www.gbu.ac.in/General/AntiRaggingComm_3Jan18.jpg" style="color:blue">GBU-002/Admin./2.1/2017-4603</a>
                            dated 26,october,2017 from the office of Registrar(Gautam Buddha University) following
                            Faculty members are assigned the responsibility given for Minority Cell:<br>
                                   <ul>
                                   <li>Dr. Nirmita Mahrotra (Chairperson)</li>
                                   <li>Dr. M.A. Ansari (Member)</li>
                                   <li>Dr. Lovy Sarikwal (Member)</li>
                                   <li>Dr. Mamta Sharma (Member)</li>
                                   <li>Dr. Satish Chandra (Member)</li>
                                   <li>Dr. Bhawana Joshi (Member)</li>
                                   <li>Dr. Amit Awasthi (Member)</li>
                                   <li>Dr. Deepali Singh (Member)</li>
                                   <li>Dr. C.V.Siva Sai (Member)</li>
                                   <li>Dr. Subhasis Bhandra (Member)</li>
                                   <li>Dr. Varsha Dixit (Member)</li>
                                   <li>Dr. Deepti Goyal (Member)</li>
                                   <li>Dr. Vibhavari (Member)</li>
                                   <li>Dr. Sandeep Sharma (Member)</li>
                                   </ul>
              <li><strong>5. Other Backward Class Commitee</strong></li>
                            Other Backward Class Commitee is committed to provide an environment that educate,
                            enlighten and empower the students and staff of OBC categories in the university to make
                            use of the facilities extended by the Govt. and other agencies for their educational & occupational
                            career.<br>
                            In compliance of the approval, dated 19 july,2019 granted by the competent authority As per Letter
                             No <a href="http://www.gbu.ac.in/General/BackwardClassCommittee_24July19.jpg" style="color:blue">GBU-002/Admin./2.1/2019-4742</a>
                            dated 22,july,2019 from the office of Registrar(Gautam Buddha University) Other Backward Class Commitee is hereby
                            reconstituted and following Faculty members are assigned the responsibility given for Commitee:<br>
                                           <ul>
                                           <li>Dr. Deepali Singh (Chairperson)</li>
                                           <li>Dr. Gyanaditya Shakya (Member)</li>
                                           <li>Dr. Alpa Yadav (Member)</li>
                                           <li>Dr. Navin Kumar (Member)</li>
                                           </ul>
            <li><strong>6. Grievance Redressal Committee</strong></li>
                        As part of our constant endeavor to ensure transparency in all the activities at different stages,
                        College provides proper mechanism to students for redressal of their grievances.
                        This committee will deal with all the Grievances directly which is
                        related to the common problems at Institute level both Academic and Administrative.<br>
                        As per Letter No <a href="http://www.gbu.ac.in/General/Grievieance_Comm_3Jan18.jpg" style="color:blue">GBU-002/Admin./2.1/2012-1854</a>
                        dated 04,july,2012 from the office of Registrar(Gautam Buddha University) following
                        Members are assigned the responsibility given for Grievance Redressal Committee:<br>
                        <ul>
                            <li>Registrar, GBU</li>
                            <li>Dean, Academics</li>
                            <li>Dean, Student Welfare</li>
                            <li>Dean OF Respective Schools</li>
                      </ul>
  </div>
  </div>
  </div>
  <%include footer%>