<%include header%>
<style>
.navbarcolourcrc{
background-color: #78335D !important;
color: white !important;
border: none;
border-radius: 0;
font-weight: normal;
}
.crc{
background-color: #FB8C00;
border-radius: 0;
border: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.crc{
height: 142px;
}}
@media only screen and (min-width: 768px) {
.crc{
height: 150px;
}}
@media only screen and (min-width: 992px) {
.crc{
height: 168px;
}}
@media only screen and (min-width: 1200px) {
.crc{
height: 155px;
}}
</style>
<!-- banner area start -->
<div class="jumbotron mb-0 crc" style="background-image:url(../academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
  <div class="container mb-0  ">
    <h1 class="display-5 text-center font-weight-light"><strong>Coorperate Relation Cell
        </strong></h1>
    <hr class="mt-0  pt-0 mb-1">
  </div>
</div>
<!-- Banner area end here -->
<nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #78335d">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
      <ul class="nav navbar-nav list-unstyled d-inline-flex nabar-expand-md  mx-auto ">
        <li class="nav-item m-1">
          <a href="#Home" class="nav-link active" data-toggle="tab">Home</a>
        </li>
        <li class="nav-item m-1 " >
          <a href="/placements" class="nav-link" >Placements</a>
        </li>
        <li class="nav-item m-1">
          <a href="#IndustryInterface" class="nav-link" data-toggle="tab">Industry Interface</a>
        </li>
        <li class="nav-item m-1">
            <a href="/e-cell" class="nav-link" >Entrepreneurship And Incubation</a>
          </li>
          <li class="nav-item m-1">
            <a href="#" class="nav-link" data-toggle="tab">Alumni</a>
          </li>
          <li class="nav-item m-1">
              <a href="#CarrerCounselling" class="nav-link" data-toggle="tab">Carrer Counselling</a>
            </li>
            <li class="nav-item m-1">
                <a href="http://gbujobs.com" target="_0" class="nav-link" data-toggle="tab">Job Fair</a>
              </li>
         
       
        
      </div>
    </div>
  </nav>
  <!-- nav bar end -->
  <!-- home section start -->
  <div class="tab-content">
      <div class="container mt-2 tab-pane active" id="Home">
        <h4 class=" text-lg-left mt-3 mb-0">About CRC:</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
          <ul>
              <li>Corporate Relations Cell (CRC) of Gautam Buddha        University (GBU)
                  is dedicated in advising and counselling students over career options. CRC is the primary tool for the students to branch out of their classrooms and explore and experiment the classroom learning.
                </li>
                <li>  By keeping up with the latest trends and providing the latest information to the students, CRC works in direction of finding best opportunities like summer training/internships, live projects, national and international events and employment vacancies for students.
                </li>
                <li>
                  To compete with the current competitive environment individual counselling on a one-to-one basis, arranging seminars and group sessions concerning career choice, infusing interview skills and group discussion skills in students, and preparing resumes and drafts job applications are a few of many tasks undertaken by CRC.
                </li>
                <li>The Manager, Corporate Relations & the CRC team keeps a constant liaison with the various academia and Corporate establishments. The cell functions throughout the year towards generating placement and training opportunities for the students. It acts as an interface between the students, faculty, and the corporate world.</li>
                <li>CRC engages into continuous interaction with the industry, bringing and sharing the industry experiences to the campus, and understanding the industry needs and requirements.</li>
            </ul>
        </div>
        <br>
        <h4 class=" text-lg-left mt-3 mb-0">Live Projects and Internships:</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
          <ul>
              <li>
                  With respect to their Summer Internship Programs, organizations such as NSIC, Graziano, Kantar Retail, CSIR, and TERI have tapped the talent pool of students from GBU for solving specific problems in these companies. 
                </li>
                 <li>
                  Unlike the usual summer internship, these "live projects"
                  have been taken up by students both during and between their semesters. Such Live Projects benefit both the organizations as well as students.
                   </li>
                
            </ul>
        </div><br>
        <h4 class=" text-lg-left mt-3 mb-0">Industrial Visits:</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
          <ul>
              <li>  
                  An industrial visit provides an ideal opportunity for the students to understand the real functioning of the industry and get exposed to different work cultures. This kind of industry orientation programme provides students with insights into real life organizational dynamics and familiarizes the issues of current concern for the industry.
               </li> 
               <li>
                 In year 2011-12 students of MBA programme went to LG Electronics India Pvt Ltd. and Deki Electronics Pvt. Ltd., whereas students of School of Engineering went to Graziano and Global Auto Tech.
              </li>
                
            </ul>
        </div>
        <br>
        <h4 class=" text-lg-left mt-3 mb-0">Placements:</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
          <ul>
              <li>
                  Corporate Relations Cell has a focused mandate to progressively enhance the synergies between the University & the Industry. The cell conducts regular group sessions on career choice and infuses interview skills in students to face the brutal competition in the corporate world. 
                   </li>
                 <li>
                  It is dedicated toward meeting student’s long term and    
                  short-term career goals in terms of final employment.
                  <br>  <br>
                     
               </li>
                
            </ul>
        </div>
        <br>
        <h4 class=" text-lg-left mt-4 mb-0">Contact Us</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
        </div>
        <br>

        <p class="card-text text-justify">
          <h6 class="card-text text-left"> <b>Dr. Vinay Kumar Litoria</b> </h6>
          <p class= "card-text text-left"> Director</p>
          <p class= "card-text text-left">Corporate Relations Cell </p>
          <p class= "card-text text-left"><i class="fa fa-phone"> </i> +91-120-2344209</p>
          <p class= "card-text text-left"><i class="fa fa-envelope-o"> </i> vinay.litoria@gbu.ac.in</p>
        </p>
        <br>


      </div>
   
     
      <!-- home section end -->
      <div class="container mt-2 tab-pane" id="IndustryInterface">
        <h4 class=" text-lg-left mt-3 mb-0">
            Industry Interface
        </h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
      <br>
      <div class="ml-4">
        <ul>
            <li>
                In its endeavour to maintain a vibrant and proactive Industry- Academia Inerface, CRC regularly invites reputed Industry experts from various industries, fields and domains to interact with the students and faculty of GBU. </li>
                <li>CRC also organises workshops, seminars, conclaves and summits with the concerned schools which enables the students to acquire in-depth awareness of their respective fields.</li>
 


          </ul>

      </div>
        
      </div>
      <div class="container mt-2 tab-pane active" id="CarrerCounselling">
        <h4 class=" text-lg-left mt-6 mb-0"> Carrer Counselling</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
          <ul>
          <li>1. Prospective Career Counselling</li>
             <li>2. Guidance/Coaching for Higher Education</li>
              <li>3. Preparation for National Entrance Examinations</li>
              <li>4. Resume Preparation</li>
              <li>5. Student Data Collection</li>
            </ul>
        </div>
        <h4 class=" text-lg-left mt-3 mb-0">Committee of Preparation for Competitive Exams (IAS, PCS, SSC, GATE, GMAT, etc)</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
          <ul>
              <li>1.Shree Bachchu Singh, Registrar                         Chairperson  </li>
              <li>2. Dr. Amit Ujlayan, Asst. Prof.                         Member</li>
              <li>3. Shree Vikram Singh Yadav, RA/FA                       Member</li>
              <li>4. Dr. Vinay Kumar Litoria, Manager, Corporate Relations Member </li>
              <li>5. Ms. Maya Devi, Dy. Librarian  </li>
                
            </ul>
        </div><br>
      </div>
     

          
<%include footer%>