<%include header%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Gautam Buddha University</title>
    <link rel="icon" type="image/png" href="./img/logo_gbu.png">
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="./css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--- Animation -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  </head>
  <body>
      <div class="jumbotron mb-0 clubheader" style="background-image:url(academics/assets/img/banner5.png);background-size: cover; background-repeat: no-repeat">
        <div class="container mb-0  ">
          <h1 class="display-5 mb-0 ml-2 font-weight-light"><strong>Corporate Relations Cell</strong></h1>
          <hr class="mt-0  pt-0 mb-1">
        </div>
      </div>
      <div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
        This section consists of CRC details!
      </div>
      <div class="container">
        <h3 class=" text-lg-left mt-4 mb-0">
        About CRC
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
        <p class="card-text text-justify">
          Corporate Relations Cell (CRC) of Gautam Buddha University (GBU) is dedicated in advising and counselling students over career options. CRC is the primary tool for the students to branch out of their classrooms and explore and experiment the classroom learning. By keeping up with the latest trends and providing the latest information to the students, CRC works in direction of finding best opportunities like summer training/internships, live projects, national and international events and employment vacancies for students.
          <br>
          To compete with the current competitive environment individual counselling on a one-to-one basis, arranging seminars and group sessions concerning career choice, infusing interview skills and group discussion skills in students, and preparing resumes and drafts job applications are a few of many tasks undertaken by CRC. The Manager, Corporate Relations & the CRC team keeps a constant liaison with the various academia and Corporate establishments. The cell functions throughout the year towards generating placement and training opportunities for the students. It acts as an interface between the students, faculty, and the corporate world. CRC engages into continuous interaction with the industry, bringing and sharing the industry experiences to the campus, and understanding the industry needs and requirements.
        </p>
      </div>
      <br>
      <div class="container">
        <h2 class=" text-lg-left mt-4 mb-0">INDUSTRY INTERFACE
        </h2>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
        <p class="card-text text-justify">
        In its endeavour to maintain a vibrant and proactive Industry- Academia Inerface, CRC regularly invites reputed Industry experts from various industries, fields and domains to interact with the students and faculty of GBU. CRC also organises workshops, seminars, conclaves and summits with the concerned schools which enables the students to acquire in-depth awareness of their respective fields.</p>
        <br>
      </div>
      <div class="container">
        <h2 class=" text-lg-left mt-4 mb-0">LIVE PROJECTS & INTERNSHIPS </h2>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <p class="card-text text-justify">
          With respect to their Summer Internship Programs, organizations such as NSIC, Graziano, Kantar Retail, CSIR, and TERI have tapped the talent pool of students from GBU for solving specific problems in these companies. Unlike the usual summer internship, these "live projects" have been taken up by students both during and between their semesters. Such Live Projects benefit both the organizations as well as students.
        </p>
      </div>
      <br>
      <div class="container">
        <h2 class=" text-lg-left mt-4 mb-0">Contact Us</h2>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
        </div>
        <br>
        <p class="card-text text-justify">
          <h6 class="card-text text-left"> <b> Mr. Vinay Kumar Litoria</b> </h6>
          <p class= "card-text text-left"> (Manager Corporate Relations) </p>
          <p class= "card-text text-left">Corporate Relations Cell </p>
          <p class= "card-text text-left"><i class="fa fa-phone"> </i> +91-120-2344209</p>
          <p class= "card-text text-left"><i class="fa fa-envelope-o"> </i> vinay.litoria@gbu.ac.in</p>
        </p>
        </div>
</body>
<%include footer%>