<%include header%>
<style>
.navbarcolourcrc{
background-color: #78335D !important;
color: white !important;
border: none;
border-radius: 0;
font-weight: normal;
}
.crc{
background-color: #FB8C00;
border-radius: 0;
border: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.crc{
height: 142px;
}}
@media only screen and (min-width: 768px) {
.crc{
height: 150px;
}}
@media only screen and (min-width: 992px) {
.crc{
height: 168px;
}}
@media only screen and (min-width: 1200px) {
.crc{
height: 155px;
}}
</style>
<!-- banner area start -->
<div class="jumbotron mb-0 crc" style="background-image:url(../academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
  <div class="container mb-0  ">
    <h1 class="display-5 text-center font-weight-light"><strong>Entrepreneurship And Incubation Cell
        </strong></h1>
    <hr class="mt-0  pt-0 mb-1">
  </div>
</div>
<!-- Banner area end here -->
<nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #78335d">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
      <ul class="nav navbar-nav list-unstyled d-inline-flex nabar-expand-md  mx-auto ">
        <li class="nav-item m-1">
          <a href="#about" class="nav-link active" data-toggle="tab">About</a>
        </li>
        <li class="nav-item m-1 " >
          <a href="#Events" class="nav-link" data-toggle="tab">Events</a>
        </li>
        <li class="nav-item m-1">
          <a href="#Startup" class="nav-link" data-toggle="tab">Startup</a>
        </li>
        <li class="nav-item m-1">
            <a href="#Team" class="nav-link" data-toggle="tab">Team</a>
          </li>
          <li class="nav-item m-1">
            <a href="#Contact" class="nav-link" data-toggle="tab">Contact</a>
          </li>
         
       
        
      </div>
    </div>
  </nav>
  <!-- nav bar end -->
  <!-- home section start -->
  <div class="tab-content">
    <div class="container mt-2 tab-pane active" id="about">
      <h4 class=" text-lg-left mt-3 mb-0">About</h4>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
      </div>
      <br>
      <br>
      <div class="ml-4">
        <ul>
          <li>Corporate Relations Cell in its endeavour to create an atmosphere of idea generation and entrepreneurship, has created an incubation cell. The cell has tie ups with other major incubators is the country such as the Ambuja Neotia Incubator, and has readily available funding schemes to angel investor networks. The incubation cell grooms the young entrepreneurs in skills required to start their own ventures. It also helps them achieve financial as well as managerial help from government as well as private players.
          </li>
          </ul>
      </div>
    </div>
    <div class="container mt-2 tab-pane" id="Events">
        <h4 class=" text-lg-left mt-4 mb-0">
        Events
        </h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
      <br>
      <div class="ml-4">
        <ul>
          <li>1. Seminar on Unleashing Entrepreneurship in India: Opportunities and Challenges with special focus on IPR on 22nd Jan, 2020 organized by MSME and PHD Chamber of Commerce.
          </li><br>
          <li>2. Entrepreneurship Awareness Programme & Motivation Campaign Ministry of Micro, Small and Medium Enterprises, Govt. of India is organizing an entrepreneurship awareness program to familiarize the students/ startups with various schemes of MSME on 16th January, 2020 (Thursday)
        </li><br>
        <li>3. “Startup Uday” was organised in association with Swadeshi Jagran Manch on 5.10 2019. Mr. R K Chandra Sr. Advisor NIESBUD, Mr. Sanjay Bohra, Executive Director ANDC, New Delhi, Mr. Kamaljeet, and Mr. Praveen Kapoor, Mentor Swadeshi Jagran Manch.
        </li><br>
        <li>4. 15 days Entrepreneurship Development Programme which includes one day classroom training and 14 day E-learning Module.  in association with NIESBUD, Noida, from 2nd Feb 2018 to 16th Feb 2018.
        </li><br>
        <li>5. An Entrepreneurship Development Program was organized on 19th Feb, 2019 to 21st Feb, 2019 in association with NIESBUD, Noida.
        </li><br>
        <li> 6. PHD Chamber of Commerce in association with Office of Controller General of Patents, Designs and Trademarks, Ministry of MSME, Govt. Of India, organized a seminar on IPR Awareness on 13th   April, 2018.
        </li><br>
          </ul>
      </div>
        
      </div>
     
      <!-- home section end -->
      <div class="container mt-2 tab-pane" id="Startup">
        <h4 class=" text-lg-left mt-3 mb-0">
       Startup
        </h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
      <br>
      <div class="ml-4">
        <ul>
          <li>startups .............</li>
         
          </ul>
      </div>
        
      </div>
      <div class="container mt-2 tab-pane active" id="Team">
        <h4 class=" text-lg-left mt-6 mb-0"> Team</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="ml-4">
          <ul>
            <li>1. Dr. Bhupendra Chaudhary, SoBT
            </li><br>
            <li>2. Dr. Mohd. Tashfeen Ashraf, SoBT
            </li><br>
            <li>3. Dr. Navaid Z Rizvi, SoICT
            </li><br>
            <li>4. Dr. Vimlesh Kumar, SoICT
            </li><br>
            <li>5. Dr. Sandhya Tarar, SoICT
            </li><br>
            <li>6. Dr. Lovy Sarikwal, SoM 
            </li><br>
            <li>7. Dr. Kavita Singh, SoM
            </li><br>
            <li>8. Dr. Dharamvir Mangal, SoE
            </li><br>
            <li>9. Dr. Omveer Singh, SoE
            </li><br>
            <li>10. Dr. Amit K Awasthi, SoVSAS
            </li><br>
            <li>11. Dr. Vinay Kumar Litoria, CRC
            </li><br>


            </ul>
        </div>
      </div>
      <div class="container tab-pane" id="Contact">
        <h4 class=" text-lg-left mt-3 mb-0">Contact Us</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="card bordernow mt-2 mb-0">
          <div class="row container mx-auto">
            <div class="col-md-2">
              <div class="card-img">
              <img src="../placement/Vinay_kumar.jpeg" width="200" height="250" class="rounded float-left">
              </div>
            </div>
            <div class="col-md-10 px-5">
              <div class="card-body text-left">
                <h4 class="card-title ">Dr. Vinay Kumar Litoria</h4>
                <p class="card-text">Director<br>Corporate Relations Cell<br>Gautam Buddha University<br>Greater NOIDA<br>Uttar Pradesh (INDIA) - 201312 <br>
                  <a href="tel:+911202344209">+91-120-2344209</a>
                  <br>
                  <a href="mailto:vinay.litoria@gbu.ac.in">vinay.litoria@gbu.ac.in</a>
                </p>
              </div>
            </div>
          </div>
        </div>   
      </div>

            </div>
<%include footer%>