    <%include header%>
    <!-- sliding banner start from here -->
    <section>
      <div class="container-fluid" style="background-color:#584f4f;">
        <div class="row">
          <div class="col-12 p-0">
            <div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
              <!-- Indicators -->
              <ul class="carousel-indicators">
                <li data-target="#demo" data-slide-to="0" class="active"></li>
                <li data-target="#demo" data-slide-to="1"></li>
                <li data-target="#demo" data-slide-to="2"></li>
              </ul>
              <!-- The slideshow -->
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../../cultural/images/Artboard 1abhivyanjana8.png" id="fill" width="100%">
                  <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                    <h2>Annual Cultural Festival of Abhivyanjana, the Annual Cultural Festival of Gautam Buddha University is a majestic two days cultural fest. Its means to Express the Art.</h2>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../../cultural/images/Artboard 1abhivyanjana7.png" id="fill" width="100%">
                  <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                    <h2>There are over 12 clubs and societies covering a wide variety of interests available for you to join or attend.</h2>
                  </div>
                </div>
                <div class="carousel-item">
                  <img src="../../../cultural/images/Artboard 1abhivyanjana6.png" id="fill" width="100%">
                  
                  <div class="carousel-caption py-2 px-1" id="carousel-capton-text">
                    <h2>Explore and seek answers to your curiosity at GBU</h2>
                  </div>
                </div>
              </div>
              <!-- Left and right controls -->
              <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
              </a>
              <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- sliding banner end here -->
    <div class="container" style="text-justify">
      <!-- about section start -->
      <section>
        <h5 class=" text-lg-left mt-3 mb-0">About Cultural Council</h5>
        <div class=" mb-3 mt-2 float-left" style="height: 4px; width: 15%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <p>
          Cultural events and activities help the students in the widening of mind and spirits. The cultural council of the University consists of the thirteen clubs: Dramatics Club (Dishayan), Music Club(Swaranjali), Dance Club, Debating Society (Drishtikon) , Photography Club (Pratibimb), Audio Visual Education Club (Pradarsh), Adventure Club, Art Club (Chitrakala), Literary Club, Natures Club, Techno-Cultural Club, Social Service Club and Creativity Club.
          Many events are organized through out the year by the faculties and students. These clubs help students to explore their own capabilities as budding managers, performers in creative and visual arts and thinkers. Various events and activities held throughout the year give exposure to the students and help them to think out of box.
        </p>
        <p>
          GBU&#39;s annual cultural Fest Abhivyanjana intends to add wings to intellect, imagination and
          creativity of our students. Every year,students from Gautam Buddha University get together to
          celebrate the spirit of life by participating in various cultural, technical and social events in
          various dimensions of performing arts and visual arts. Abhivyanjana aims at dissolving the
          cultural demarcations and help facilitating a new school of thought where every student thinks
          beyond boundaries but is still grounded to his/her values. It intends to add wings to intellect,
          imagination andcreativity of students. The Cultural fest is packed with various cultural and
          technical events ranging from debate, photography, music , dance, poetry, story telling, robotics,
          painting, poster making, programming, Ad-mad to name a few.
        </p>
      </section>
      <!-- about section end -->
      <!-- team member start -->
      <section>
        <style type="text/css" media="screen">
        .card-body {
        text-align: center!important;
        }
        
        </style>
        <h5 class=" text-lg-left mt-3 mb-0">CORE COUNCIL MEMBERS</h5>
        <div class=" mb-3 mt-2 float-left" style="height: 4px; width: 15%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="row card-deck justify-content-center">
          <div class="card my-3">
            <img src="../../../cultural/images/Shakti Sahi-01.jpeg" class="card-img-top p-5" id="card-image">
            <div class="card-body">
              <h5 class="card-title">Dr. Shakti Sahi</h5>
              <p style="text-align: center;">Chairperson</p>
              <p style="text-align: center;"><a href="mailto:shaktis@gbu.ac.in?Subject=redirected_from_gbu.ac.in"> shaktis@gbu.ac.in</a>
            </p>
          </div>
        </div>
        <div class="card my-3">
          <img src="../../../cultural/images/kavita singh-01.jpeg" class="card-img-top p-5" id="card-image">
          <div class="card-body">
            <h5 class="card-title">Dr. Kavita Singh</h5>
            <p style="text-align: center;">Member</p>
            <p style="text-align: center;">
              <a href="mailto:kavita@gbu.ac.in?Subject=redirected_from_gbu.ac.in">kavita@gbu.ac.in</a>
            </p>
          </div>
        </div>
        <div class="card my-3">
          <img src="../../../cultural/images/Dr. Sumitra Huidrom-01.jpeg" class="card-img-top p-5" id="card-image">
          <div class="card-body">
            <h5 class="card-title">Dr. Sumitra Huidrom</h5>
            <p style="text-align: center;">Member</p>
            <p style="text-align: center;">
              <a href="mailto:huidromsumitra@gmail.com?Subject=redirected_from_gbu.ac.in">huidromsumitra@gmail.com</a>
            </p>
          </div>
        </div>
      </div>
      <style type="text/css">
      .deans{
      height: 100%;
      width: 67%;
      }
      @media only screen and (max-width: 576px){
      .deans{
      height: 100%;
      width: 100%;
      }
      }
      </style>
      <div class="">
        <div class="mt-4 row card-deck justify-content-center">
          <div class="card my-3">
            <img src="../../../cultural/images/Imteyaz Qamar-01.jpeg" class="card-img-top p-5" id="card-image">
            <div class="card-body">
              <h5 class="card-title">Dr. Imteyaz Qamar</h5>
              <p style="text-align: center;">Member</p>
              <p style="text-align: center;">
                <a href="mailto:imteyazqamar@gmail.com?Subject=redirected_from_gbu.ac.in">imteyazqamar@gmail.com</a>
              </p>
            </div>
          </div>
          <div class="card my-3">
            <img src="../../../cultural/images/Dinesh Kr.-01.jpeg" class="card-img-top  p-5" id="card-image">
            <div class="card-body">
              <h5 class="card-title">Dr. Dinesh Kr. Sharma</h5>
              <p style="text-align: center;">Member</p>
              <p style="text-align: center;"><a href="mailto:dinesh@gbu.ac.in?Subject=redirected_from_gbu.ac.in">dinesh@gbu.ac.in</a>
            </p>
          </div>
        </div>
        <div class="card my-3">
          <img src="../../../cultural/images/Shabana-01.jpeg" class="card-img-top p-5" id="card-image">
          <div class="card-body">
            <h5 class="card-title">Dr. Shabana Urooj</h5>
            <p style="text-align: center;">Member</p>
            <p style="text-align: center;"><a href="mailto:shabana@gbu.ac.in?Subject=redirected_from_gbu.ac.in">shabana@gbu.ac.in</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- team member end -->
<!--   FACULTY COORDINATORS start -->
<section>
  <h5 class=" text-lg-left mt-3 mb-0">FACULTY COORDINATORS</h5>
  <div class=" mb-3 mt-2 float-left" style="height: 4px; width: 15%; background-color:#FB8C00 ">
  </div>
  <br>
  <br>
  <div class="table-responsive">
   <table class="table table-hover table-bordered">
    <tbody>
      <tr>
        <td>
          <p>Clubs</p>
        </td>
        <td>
          <p>Faculty coordinators</p>
        </td>
        <td >
          <p>Ex. No.</p>
        </td>
        <td>
          <p>Phone No.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Dramatics Club</p>
        </td>
        <td>
          <p>Dr. Sandeep Sharma</p>
          <p>Dr. Alpa Yadav</p>
          <p>Dr. Muhammad Asif</p>
          <p>Dr. Roopali Srivastava</p>
        </td>
        <td>
          <p>6087</p>
          <p>4372</p>
          <p>4431</p>
          <p>4447</p>
        </td>
        <td>
          <p>+91 8800978609</p>
          <p>+919999993644</p>
          <p>+919650845746</p>
          <p>+919891680347</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Dance Club</p>
        </td>
        <td>
          <p>Dr. Vandna Singh</p>
          <p>Dr. Deepali Singh</p>
          <p>Dr. Deepti Goyal</p>
        </td>
        <td>
          <p>4351</p>
          <p>4281</p>
          <p>4371</p>
        </td>
        <td>
          <p>+91 8800982410</p>
          <p>+91 8860688924</p>
          <p>+91 9871722199</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Music Club</p>
        </td>
        <td>
          <p>Dr. Shubhojeet Banerjee</p>
          <p>Dr. Jaya Maitra</p>
          <p>Dr. Barkha Singhal</p>
        </td>
        <td>
          <p>6162</p>
          <p>4349</p>
          <p>4290</p>
        </td>
        <td>
          <p>+91 9415062368</p>
          <p>+919990479017</p>
          <p>+91 9871167765</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Debating Society</p>
        </td>
        <td>
          <p>Dr. Vidushi Sharma</p>
          <p>Ms. Manjari Suman</p>
          <p>Dr. Tanvi Vats</p>
        </td>
        <td>
          <p>6077</p>
          <p>4445</p>
          <p>4373</p>
        </td>
        <td>
          <p>+91 9871545049</p>
          <p>+91 9958745808</p>
          <p>+91 9212339182</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Photography Club</p>
        </td>
        <td>
          <p>Dr. Imteyaz Qamar&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p>Dr. Anant Pratap Singh&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </td>
        <td>
          <p>4280</p>
          <p>4460</p>
        </td>
        <td>
          <p>+91 9711761564</p>
          <p>+919811068462</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Audio Visual Education Club</p>
        </td>
        <td>
          <p>Dr. Lovy Sarikwal&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p>Dr. Varsha Dixit</p>
        </td>
        <td>
          <p>6155&nbsp;&nbsp;&nbsp;</p>
          <p>6158</p>
        </td>
        <td>
          <p>+919818860994&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p>+919871392946</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Adventure Club</p>
        </td>
        <td>
          <p>Dr. Ombir Singh</p>
          <p>Dr. Pradeep Kumar</p>
          <p>Dr. Arvind Kumar Singh</p>
        </td>
        <td>
          <p>6161</p>
          <p>6561</p>
          <p>6171</p>
        </td>
        <td>
          <p>+91 9958922431</p>
          <p>+91 9873337873</p>
          <p>+91 8130117721</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Art &nbsp;Club</p>
        </td>
        <td>
          <p>Dr. Priyadarsini Mitra</p>
          <p>Dr. Sumitra Huidrom</p>
        </td>
        <td>
          <p>4421</p>
          <p>7012</p>
        </td>
        <td>
          <p>+91 8826405590</p>
          <p>+919958476018</p>
        </td>
      </tr>
      <tr>
        <td >
          <p>Social Service Club</p>
        </td>
        <td>
          <p>Dr. Vinay Litoria</p>
          <p>Dr. Manmohan Shishodia</p>
          <p>Dr. Sushil Kumar</p>
          <p>Dr. Sandhya Tarar</p>
        </td>
        <td>
          <p>4209</p>
          <p>4363</p>
          <p>4350</p>
          <p>6078</p>
        </td>
        <td style="width: 139px; height: 107px;">
          <p>+91 9717195787</p>
          <p>+91 9560512422</p>
          <p>+91 8826318609</p>
          <p>+919650788867</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Literary Club</p>
        </td>
        <td>
          <p>Dr. Om Prakash</p>
          <p>Dr. Bipasha Som</p>
          <p>Ms. Priyanka Singh</p>
        </td>
        <td>
          <p>4423</p>
          <p>4449</p>
          <p>4437</p>
        </td>
        <td>
          <p>+918800259977</p>
          <p>+919650845746</p>
          <p>+91 9560965071</p>
        </td>
      </tr>
      <tr>
        <td >
          <p>Creativity Club</p>
        </td>
        <td>
          <p>Dr.&nbsp; Pradeep Tomar</p>
          <p>Dr. Vandna Singh</p>
          <p>Dr. Vishwas Tripathi</p>
          <p>Dr. Manju Sharma</p>
        </td>
        <td>
          <p>6085</p>
          <p>4351</p>
          <p>4288</p>
          <p>4367</p>
        </td>
        <td style="width: 139px; height: 107px;">
          <p>+919899874830</p>
          <p>+ 918800982410</p>
          <p>+918826506533</p>
          <p>+919990688051</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Techno- Cultural Club</p>
        </td>
        <td>
          <p>Mr. Vimlesh Kumar</p>
          <p>Dr. Navaid Zafar Rizvi</p>
          <p>Dr. Pradeep Tomar</p>
        </td>
        <td>
          <p>6093</p>
          <p>6086</p>
          <p>6085</p>
        </td>
        <td>
          <p>+919650081596</p>
          <p>+919971475401</p>
          <p>+919899874830</p>
        </td>
      </tr>
      <tr>
        <td>
          <p>Nature&rsquo;s Club</p>
        </td>
        <td>
          <p>Dr. Nirmita Mehrotra</p>
          <p>Dr. Asha Pandey</p>
        </td>
        <td>
          <p>6185&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        </td>
        <td>
          <p>+919818617933&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
          <p>+919818085408</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>  
</section>
<!--   FACULTY COORDINATORS end -->
<!-- student coordinator start -->
<section>
  <h5 class=" text-lg-left mt-3 mb-0">STUDENT COORDINATORS</h5>
  <div class=" mb-3 mt-2 float-left" style="height: 4px; width: 15%; background-color:#FB8C00 ">
  </div>
  <br>
  <br>
 <div class="table-responsive">
<table class="table table-hover table-bordered">
    <tbody>
      <tr>
        <td width="113">
          <p>Club</p>
        </td>
        <td width="142">
          <p>Designations</p>
        </td>
        <td width="142">
          <p>Name</p>
        </td>
        <td width="113">
          <p>Mobile No.</p>
        </td>
        <td width="236">
          <p>Email</p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
          <a href="clubs/drama" title=""><p>Dramatics club</p></a>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Aakarsh Aryan</p>
        </td>
        <td width="113">
          <p>08800338083</p>
        </td>
        <td width="236">
          <p><a href="mailto:Aryan.meaakarsh@gmail.com">Aryan.meaakarsh@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Snigdh Tripathi</p>
        </td>
        <td width="113">
          <p>08528585865</p>
        </td>
        <td width="236">
          <p><a href="mailto:tsnigdh@gmail.com">tsnigdh@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
          <a href="clubs/dance" title=""><p>Dance club</p></a>
        </td>
        <td width="142">
          <p>General Secretary&nbsp;&nbsp;</p>
        </td>
        <td width="142">
          <p>Shivangi Malik</p>
        </td>
        <td width="113">
          <p>08851736723</p>
        </td>
        <td width="236">
          <p><a href="mailto:shivangimallik@gmail.com">shivangimallik@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Prashant Singh</p>
        </td>
        <td width="113">
          <p>09870880074</p>
        </td>
        <td width="236">
          <p><a href="mailto:Prashantsingh02073@gmail.com">Prashantsingh02073@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
         <a href="clubs/music" title=""><p>Music Club</p></a> 
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Arjun Sharma</p>
        </td>
        <td width="113">
          <p>09958214650</p>
        </td>
        <td width="236">
          <p><a href="mailto:Arjunsharma1507@gmail.com">Arjunsharma1507@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Srishti Singh</p>
        </td>
        <td width="113">
          <p>07838514611</p>
        </td>
        <td width="236">
          <p><a href="mailto:Singhsrishti9900@gmail.co">Singhsrishti9900@gmail.co</a>m</p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
          <a href="clubs/dhristikon" title=""><p>Debating Society/Club</p></a>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Samriddhi Singh</p>
        </td>
        <td width="113">
          <p>07248198536</p>
        </td>
        <td width="236">
          <p><a href="mailto:008samariddhi@gmail.com">008samariddhi@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Neelesh Tripathi</p>
        </td>
        <td width="113">
          <p>08267927291</p>
        </td>
        <td width="236">
          <p><a href="mailto:neelesh-at@gmail.com">neelesh-at@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td rowspan="3" width="113">
          <a href="clubs/photography" title=""><p>Photography Club</p></a>
          <p>&nbsp;</p>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Krati Kaushik</p>
        </td>
        <td width="113">
          <p>06392697125</p>
        </td>
        <td width="236">
          <p><a href="mailto:Shivam.shukla2408@outlook.com">Shivam.shukla2408@outlook.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Diptimayee Das</p>
        </td>
        <td width="113">
          <p>07978103487</p>
        </td>
        <td width="236">
          <p><a href="mailto:Dipti02468@gmail.com">Dipti02468@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Members</p>
        </td>
        <td width="142">
          <p>&nbsp;</p>
        </td>
        <td width="113">
          <p>08077990394 08532035207</p>
        </td>
        <td width="236">
          <p><a href="mailto:Kratikaushik08@gmail.com">Kratikaushik08@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
          <a href="clubs/audio-visual-education" title=""><p>Audio Visual Education Club</p></a>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Abhinav Tyagi</p>
        </td>
        <td width="113">
          <p>07303220241</p>
        </td>
        <td width="236">
          <p><a href="mailto:Mokahmed1@gmail.com">Mokahmed1@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Shivani</p>
        </td>
        <td width="113">
          <p>&nbsp;</p>
        </td>
        <td width="236">
          <p>&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
         <a href="clubs/art-painting" title=""> <p>Art Club</p></a>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Shivam Pandey</p>
        </td>
        <td width="113">
          <p>&nbsp;</p>
        </td>
        <td width="236">
          <p>&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>&nbsp;</p>
        </td>
        <td width="113">
          <p>&nbsp;</p>
        </td>
        <td width="236">
          <p>&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
          <a href="clubs/social-service" title=""><p>Social Service Club</p></a>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Mayank Choudhary</p>
        </td>
        <td width="113">
          <p>09315259447</p>
        </td>
        <td width="236">
          <p><a href="mailto:cmayank1234@gmail.om">cmayank1234@gmail.om</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Megha Neolia</p>
        </td>
        <td width="113">
          <p>09891701516</p>
        </td>
        <td width="236">
          <p><a href="mailto:meghaniolia1997@gmail.com">meghaniolia1997@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
         <a href="clubs/literary" title=""> <p>Literary Club</p></a>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Moh. Shoaib Khan</p>
        </td>
        <td width="113">
          <p>09140279180</p>
        </td>
        <td width="236">
          <p><a href="mailto:Zain.khan830@gmail.com">Zain.khan830@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>&nbsp;</p>
        </td>
        <td width="113">
          <p>&nbsp;</p>
        </td>
        <td width="236">
          <p>&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
          <a href="clubs/creativity" title=""><p>Creativity Club</p></a>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Aditya Singh</p>
        </td>
        <td width="113">
          <p>08299841729</p>
        </td>
        <td width="236">
          <p><a href="mailto:saditya831@gmail.com">saditya831@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Saransh Raj</p>
        </td>
        <td width="113">
          <p>08726942865</p>
        </td>
        <td width="236">
          <p>&nbsp;</p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
          <a href="clubs/techno" title=""><p>Techno-Cultural Club</p></a>
        </td>
        <td width="142">
          <p>General Secretary</p>
        </td>
        <td width="142">
          <p>Shreya Singh</p>
        </td>
        <td width="113">
          <p>09818145388</p>
        </td>
        <td width="236">
          <p><a href="mailto:Shreyasinghho8@gmail.com">Shreyasinghho8@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Secretary</p>
        </td>
        <td width="142">
          <p>Vivek Singh&nbsp;</p>
        </td>
        <td width="113">
          <p>08860356515</p>
        </td>
        <td width="236">
          <p><a href="mailto:Viveksingh011297@gmail.com">Viveksingh011297@gmail.com</a></p>
        </td>
      </tr>
      <tr>
        <td rowspan="2" width="113">
         <a href="clubs/nature" title=""> <p>Nature&rsquo;s Club</p></a>
        </td>
        <td rowspan="2" width="142">
          <p>Coordinators</p>
        </td>
        <td width="142">
          <p>Arnav Sharma</p>
        </td>
        <td width="113">
          <p>07300800389</p>
        </td>
        <td width="236">
          <p><a href="mailto:Asframes10@outlook.com">Asframes10@outlook.com</a></p>
        </td>
      </tr>
      <tr>
        <td width="142">
          <p>Rajan Chauhan</p>
        </td>
        <td width="113">
          <p>09149345917</p>
        </td>
        <td width="236">
          <p><a href="mailto:Rajanchauhan3549@gmail.com">Rajanchauhan3549@gmail.com</a></p>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
</section>
<!-- student coordinator end -->
 </div>
 <%include footer%>