<%include header%>
		<div class="jumbotron mb-0 clubheader">
			<div class="container mb-0 ">
				<h1 class="display-4 mb-0">
				<strong>
				STUDENT SATISFACTION SURVEY (NAD)
				</strong>
				</h1>
				<hr class="mt-0  pt-0 mb-1">
			</div>
		</div>
		<!-- End pagr title -->
		<!-- Start Nevigation  -->
		<nav class="navbar navbar-expand-md navbar-dark navbarcolour">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<!-- <ul class="navbar-nav mx-auto">
						<li class="nav-item  active">
							<a href="" class="nav-link active "></a>
							
						</li>
						<li class="nav-item">
							<a href="" class="nav-link"></a>
							
						</li>
						<li class="nav-item">
							<a href="" class="nav-link"></a>
							
						</li>
						<li class="nav-item ">
							<a href="" class="nav-link mr-0"></a>
							
						</li>
						<li class="nav-item ">
							<a href="" class="nav-link mr-0"></a>
							
						</li>
					</ul> -->
				</div>
			</div>
		</nav>
		<!-- Nevigation End -->
		<div class="container">
			
			<div class="card bordernow  mt-5 mb-5">
				<div class="card-body">
					<div class="container ">
						<h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">
						National Academic Depository
						</h1>
						<hr class="mt-2 mb-5">
						
					</div>
					<section _ngcontent-c10="" class="pageContent">
						1.<a href="http://www.nad.gov.in/"> National Academic Depository (NAD)</a></section>
					</div>
				</div>
				</div>
				<%include footer%>