<%include header%>
	<head>
		<title>GBU|e-Tenders</title>
		<link rel="icon" type="image/gif/png" href="./img/logo_gbu.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="css/now.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="jumbotron mb-0 clubheader" style="background-image: url(./img/banner5.png);background-size: cover;background-repeat: no-repeat;">
			<div class="container mb-0 ">
				<h1 class=" font-weight-light display-5 mb-0" style="color: white">
				<strong>
				e-Tenders
				</strong>
				</h1>
				<hr class="mt-0  pt-0 mb-1">
			</div>
		</div>
		<div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
			This section consists of all the e-Tenders!
		</div>
		<div class="container">
			 <h3 class=" text-lg-left mt-4 mb-0">
          List of e-Tenders
          </h3>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          <br>
			<div class="card mt-2 mb-3">
				<div class="card-header">
					Date 28/09/2019
				</div>
				<div class="card-body">
					<h5 class="card-title_rohit">Tender for Supply and Installation of Computer hardware</h5>
					<a href="#" class="btn btn-primary  float-right">Details</a>
				</div>
			</div>
		</div>
	</div>
	
</body>
<%include footer%>