<%include header%>
<style>
.navbarcolourcrc{
background-color: #78335D !important;
color: white !important;
border: none;
border-radius: 0;
font-weight: normal;
}
.crc{
background-color: #FB8C00;
border-radius: 0;
border: none;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
.crc{
height: 142px;
}}
@media only screen and (min-width: 768px) {
.crc{
height: 150px;
}}
@media only screen and (min-width: 992px) {
.crc{
height: 168px;
}}
@media only screen and (min-width: 1200px) {
.crc{
height: 155px;
}}
</style>
<!-- banner area start -->
<div class="jumbotron mb-0 crc" style="background-image:url(../academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
  <div class="container mb-0  ">
    <h1 class="display-5 text-center font-weight-light"><strong>Examinations</strong></h1>
    <hr class="mt-0  pt-0 mb-1">
  </div>
</div>
<!-- Banner area end here -->
<nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #78335d">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
      <ul class="nav navbar-nav list-unstyled d-inline-flex nabar-expand-md  mx-auto ">
        <li class="nav-item m-1">
          <a href="#About" class="nav-link active" data-toggle="tab">About</a>
        </li>
        <li class="nav-item m-1">
          <a href="#Examination" class="nav-link" data-toggle="tab">Examination Committee</a>
        </li>
        <li class="nav-item m-1 " >
          <a href="#Notices" class="nav-link" data-toggle="tab">Notices</a>
        </li>
        <li class="nav-item m-1 " >
          <a href="#Announcement" class="nav-link" data-toggle="tab">Announcement</a>
        </li> 
        <li class="nav-item m-1">
          <a href="#Results" class="nav-link" data-toggle="tab">Results</a>
        </li>
        <li class="nav-item m-1">
          <a href="#Degree" class="nav-link" data-toggle="tab">Degree</a>
        </li>
        <li class="nav-item m-1">
          <a href="#Certificate" class="nav-link" data-toggle="tab">Certificate</a>
        </li>
       <li class="nav-item m-1">
          <a href="#Transcripts" class="nav-link" data-toggle="tab">Transcripts</a>
        </li>
        <li class="nav-item m-1">
          <a href="#Contact" class="nav-link" data-toggle="tab">Contact</a>
        </li>
      </div>
    </div>
  </nav>
  <!-- nav bar end -->
  <!-- home section start -->
  <div class="tab-content">
    <!-- about -->
    <div class="container mt-2 tab-pane active" id="about">
      <h4 class=" text-lg-left mt-3 mb-0">About</h4>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
      </div>
      <br>
      <br>
      <div class="ml-4">
        <ul>
          <li>Teaching and evaluation are the two major aspects of academics
            and the examination cell plays a central role in accomplishment of vision & mission of the University.
          </li>
          <li>The Examination Cell in Gautam Buddha University is headed by the Controller of Examinations (COE) with supporting staff. The prime responsibility of Examination Cell is conduction of all examinations in a fair and systematic manner.</li>
        </ul>
      </div>
    </div>
    <!-- notices -->
    <div class="container mt-2 tab-pane" id="Notices">
        <h4 class=" text-lg-left mt-4 mb-0">
        News & Notifications
        </h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
        </div>
        <table class="table table-hover table-bordered mt-4">
          <thead>
            <tr>
              <th scope="col"class="text-center">S.No.</th>
              <th scope="col" class="text-center">Details:</th>
              <th scope="col" class="text-center">Link</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Notice for "Unfair Means" in examination</td>
              <td class="text-center"><a class="text-light" href="#"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">2</th>
              <td>Notice for Mid Semester examination</td>
              <td class="text-center"><a class="text-light" href="../examination/Notice_MidSem_1Sept2019.jpg" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">3</th>
              <td>Notification for students (2012-2107) to appear in back paper examination</td>
              <td class="text-center"><a class="text-light" href="../examination/Exam_Letter_backpaper_30July19.jpg" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">4</th>
              <td>PhD Notification</td>
              <td class="text-center"><a class="text-light" href="/examinations/phd-news"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">5</th>
              <td>Office Memorandum for Grading System (Clause 5.6)</td>
              <td class="text-center"><a class="text-light" href="../examination/Exam_Grading_office Memorandum_15Jan15.pdf" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">6</th>
              <td> Examination Rules</td>
              <td class="text-center"><a class="text-light" href="../examination/Examination Rules_4May2016.pdf" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">7</th>
              <td>Degrees of the pass-out students</td>
              <td></td>
            </tr>
            <tr>
              <th scope="row" class="text-center">7a.</th>
              <td>Instructions for obtaining Degree Certificate</td>
              <td class="text-center"><a class="text-light" href="../examination/Exam_Instructions_Obtaining Degree Certificate_4May2016.pdf" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-center">7b.</th>
              <td>Application Form for Issue of University Degree/Duplicate Degree</td>
              <td class="text-center"><a class="text-light" href="../examination/Exam_FormIssueDegree_18July13.pdf" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">8</th>
              <td>Notice for Issue of Duplicate Mark Sheet</td>
              <td class="text-center"></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-center">8a.</th>
              <td>Procedure for obtaining Duplicate Mark Sheets</td>
              <td class="text-center"><a class="text-light" href="../examination/Exam_NoticeMarksheet_5Aug13.jpg" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row" class="text-center">8b.</th>
              <td>Aplication for Duplicate Mark Sheets</td>
              <td class="text-center"><a class="text-light" href="../examination/Exam_NoticeMarksheetForm_5Aug13.jpg" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <th scope="row">9</th>
              <td>Notice regarding conversion of CGPA into percentage</td>
              <td class="text-center"><a class="text-light" href="../examination/Notice_ConversionCGPAPerct_13April18.jpg" target="_blank"><button class="btn btn-info ">View</button></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- committee -->
         <div class="container mt-2 tab-pane active" id="Examination">
          <h4 class=" text-lg-left mt-4 mb-0">Examination Committee</h4>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 3%; background-color:#FB8C00 ">
          </div>
          <br>
          <br>
          <p>Examination Committee as per order no GBU-029/Admn./Estt/5.3/2019-2038</p>
          <div class="table-responsive">
            <table class="table table-hover text-center table-bordered">
              <tbody>
                <tr>
                  <td><b>S.No.</b></td>
                  <td><b> Faculty Name </b> </td>
                  <td><b>.</b> </td>
                </tr>
                <tr>
                  <td>
                    1.
                  </td>
                  <td>
                    Dr. Vikrant Nain <br>
                    Assistant Professor, SOBT
                  </td>
                  <td>Chairman</td>
                </tr>
                <tr>
                  <td>
                    2.
                  </td>
                  <td>Dr.H.C Thakur <br>
                  Assistant Professor, SOE </td>
                  <td>
                    University Coordinator
                  </td>
                </tr>
                <tr>
                  <td>3.</td>
                  <td>Dr. Deepali Singh <br>
                    Assistant Professor, SOBT
                  </td>
                  <td>
                    Joint Coordinator
                  </td>
                </tr>
                <tr>
                  <td>4.</td>
                  <td>
                    Dr. Vandana Singh <br>
                  Assistant Professor, SOVSAS </td>
                  <td>
                    Dy. Coordinator
                  </td>
                </tr>
                <tr>
                  <td>
                    5.
                  </td>
                  <td> Dr. Varsha Dixit <br>
                  Assistant Professor, SOM </td>
                  <td>
                    Dy. Coordinator
                  </td>
                </tr>

                <tr>
                  <td>
                    6.
                  </td>
                  <td>Dr. Sandeep Sharma <br>
                  R/Faculty Associate, SOICT</td>
                  <td>
                    Dy. Coordinator
                  </td>
                </tr>

                <tr>
                  <td>7.</td>
                  <td>Dr. C.B Vishvakarma <br>
                    Assistant Professor, SOE
                  </td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>8.</td>
                  <td>Dr. Anant Pratap Singh <br>
                    Assistant Professor, SOE
                  </td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>9.</td>
                  <td>Dr. Deepti Goyal <br>
                    Assistant Professor, SOVSAS
                  </td>
                  <td> Member
                  </td>
                </tr>
                <tr>
                  <td>
                  10.</td>
                  <td>Dr. Upma Singh
                    <br>Assistant Professor, SOVSAS
                  </td>
                  <td> Member
                  </td>
                </tr>
                <tr>
                  <td>11.</td>
                  <td>Dr. Barkha Singhal <br>
                    Assistant Professor, SOBT
                  </td>
                  <td>Member</td>
                </tr>
                <tr>
                  <td>12.</td>
                  <td> Dr. Naveen Kumar <br>
                    Assistant Professor, SOM
                  </td>
                  <td>Member
                  </td>
                </tr>
                <tr>
                  <td>
                    13.
                  </td>
                  <td>
                    Dr. S.K. Tiwari <br>
                    Assistant Professor, SOLJG</td>
                    <td>
                      Member
                    </td>
                  </tr>

                  <tr>
                    <td>
                      14.
                    </td>
                    <td>
                      Dr. Bipasha Som <br>
                      R/Faculty Associate, SOHSS</td>
                      <td>
                        Member
                      </td>
                    </tr>
                    <tr>
                      <td>
                        15.
                      </td>
                      <td>
                        Dr.Obaidul Ghaffar <br>
                        R/Faculty Associate, SOHSS</td>
                        <td>
                          Member
                        </td>
                      </tr>
                      <tr>
                        <td>
                          16.
                        </td>
                        <td>
                          Sh. Vikram Singh Yadav <br>
                          R/Faculty Associate, SOBSC
                        </td>
                        <td>
                          Member
                        </td>
                      </tr>
                      <tr>
                        <td>
                          17.
                        </td>
                        <td>
                          Ms. Aarti Gautam Dinkar <br>
                          R/Faculty Associate, SOHSS
                        </td>
                        <td>
                          Member
                        </td>
                      </tr>
                      <tr>
                        <td>
                          18.
                        </td>
                        <td>Sh. R.B Singh <br>
                          R/Faculty Associate, SOICT
                        </td>
                        <td>
                          Member
                        </td>
                      </tr>
                    </tbody>
                    </table>
                  </div>
                </div>
             </div>
<%include footer%>