<%include header%>
<div class="jumbotron mb-0 clubheader1"style="background-image:url(../../img/Artboard1faqdesktop.png);background-size: cover; background-repeat: no-repeat">
  <div class="container mb-0 ">
    <h1 class="display-5 text-center mb-0 text-dark text-justify">
    <b>
    Frequently Asked Questions(FAQs)
    </b>
    </h1>
    <hr class="mt-0  pt-0 mb-1">
  </div>
</div>
<!-- End pagr title -->
<div class="container">
  <div class="card-body">
    <div class="fadeuponsc card bordernow mt-2 mb-2 container">
      <div class="fadeuponsc card-body ">
        <b><h4>Why Greater Noida Is The Ideal Destination For Your Education ?</h4></b> <br>
        <p class="fadeuponsc text-justify left-70">
          For many students college life is more than the college itself. This is a period in your life that changes your personality. It makes you who you will be as an adult and makes you aware of the world.
          Hence it is of vital importance that while choosing a college for higher education, you also pay attention to the city which will be your home for the next few years.
          There are multiple advantages of being in Greater Noida for your higher education. It is a metropolitan hub, with people from not only across the country but also the world residing here. This exposes you to multiple cultures and a wide variety of beliefs and opinions and helps you grow as a person.
          <br>
        Noida is also located in the National Capital Region, giving it an added advantage of location and connectivity to the rest of the country, and by extension the world.</p>
        <div id="adq1" class="collapse"> <p class="fadeuponsc text-justify left-70">Since it is so close to the national capital, students are exposed to a plethora of fields, opportunities, co curricular, internships and experiences.Being so close to industry, students have numerable opportunities to explore their talents and polish their knowledge. This helps them to update their set of skills and make their resume more attractive. Let’s also not forget that Noida itself was established for the purpose of industry, the city has multiple industries, companies and organisations where students from multiple fields can work. <br>
          Living in Noida is also very delightful. The city is affordable, with good intracity transport and a highly developed social infrastructure. Students can explore malls, gardens, Okhla bird sanctuary or the street food hotspots from Bramhaputra Market to Atta. The city has something for everyone.  This gives Greater Noida an edge over other cities because only a very few cities in India can offer as many advantages like these. Gautam Buddha University, established by the Uttar Pradesh Gautam Buddha University Act 2002 UP Act No. 9 of 2002, is one of the most prestigious universities in the region. The university provides the students with infrastructure at par with international standards. The faculty here is devoted to providing quality education to students.  There are dedicated and well-equipped labs for all disciplines. There are eight different schools of studies at the university, making it an ideal destination for students from across disciplines and from across the country.This makes GBU, the ideal choice for your higher education.
        </p>
      </div>
      <a  href="#adq1" class="float-right collapsed expand-a" data-toggle="collapse" aria-expanded="false"><b class="btn btn-outline-primary  justify-content-center color-black ">Expand</b></a>
      <br><br>
      <hr class="mt-2 mb-3">
      <b><h4>Is GBU A Government University?</h4></b> <br>
      <p class="fadeuponsc card-text text-justify">Gautam Buddha University ("GBU") (गौतम बुद्ध विश्वविद्यालय) is a research university established under Uttar Pradesh Gautam Buddha University Act, 2002 and came into existence in year 2008. It is located in Greater Noida, Gautam Buddha Nagar district of Uttar Pradesh, India.[2][3] It is one of Uttar Pradesh's state government university which commenced its first academic session in the year 2008. University campus is spread over 511 acres in Greater Noida and offers Bachelors, Masters and Doctoral degrees in Engineering, Business Administration, Computer Applications, Biotechnology and Buddhist Studies and is mainly focused on research.It has one of the iconic infrastructure in the country.
      </p>
      <hr class="mt-2 mb-3">
      <br><br>
      <b><h4>How Is The Infrastructure Of Gbu ?</h4></b> <br>
      <p class="fadeuponsc card-text text-justify"> best thing about this college is its infrastructure. You will like the campus. Classrooms and labs are fully air-conditioned. Hostel facility is mandatory for every student, and a single room is allotted to every student. They are maintained well. There are grounds and courts for every sport.
      </p>
      <hr class="mt-2 mb-3">
      <br><br>
      <b><h4>How is The Campus Life Of Students In GBU ?</h4></b> <br>
      <p class="fadeuponsc text-justify">
        Only a good body houses a perfect mind and a pure soul. Gautam Buddha University has planned and is developing one of the finest campuses that can rival the best in the world. The University campus is an architectural marvel and has in its master plan:<br>
        <ul>
          <li>A campus spread over 511 acres with about 54000 plus sqm of constructed area, and 30% green   belt with more than 50,000 trees already planted,</li>
          <li>A central library with a reading hall that can house 2000 students at a time</li>
          <li>An administrative building,</li>
          <li>Eight school buildings</li>
          <li>The faculty & staff quarters, married research scholar hostels</li>
          <li>Hostel complexes for 5000 students,</li>
          <li>Two international guesthouses,</li>
          <li>An international centre</li>
          <li>A meditation Centre</li>
          <li>A swimming Pool,</li>
          <li>Water bodies and many other facilities</li>
        </ul>
      </p>
      <br>
      <div class="fadeuponsc collapse" id="lfq-4">
        <h4>Meditation Centre</h4><p>
        In addition to curricular inputs the university is creating facilities to guide and shape physical, mental and spiritual growth of young minds, body and soul. The Jyoti Rao Phule Meditation Centre, inspired by stupa-architecture, will be functional in June 2009. This structural marvel will accommodate huge number of practitioners of meditation in its all modern forms and will also house a library with a sizeable body of literature.</p>
        <br><br><br>
        <div class="img-show row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/meditation/mdc1.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/meditation/mdc2.jfif" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/meditation/mdc3.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/meditation/mdc4.jpg" alt="">
          </div>
        </div>
        <br><br>
        <h4>Sports Activities</h4><p>
          The university promotes multi dimensional growth with emphasis on an integrated physical and intellectual training. Though in its formative stage, it has appointed a physical training officer and has devised special slots in daily curriculum for physical training, track and field activities, and other sports both indoor and outdoor ones. A huge sports ground with an eight lane track is shaping physical health of its inmates. <br>
          Shauryotasva, annual sports meet aims at motivating students participate and add physical extensions to their intellectual quests. Recently concluded the first sports meet Shauryotasva 09 witnessed an excellent display of sportsman's spirits of students and faculty members.
        </p>
        <br><br><br>
        <div class="img-show row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/sport/sp1.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/sport/sp2.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/sport/sp3.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/sport/sp4.jpg" alt="">
          </div>
        </div>
        <br><br>
        <br><br>
        <h4>Cultural Activities</h4>
        <h5>Abhivyanjana: Unraveling meanings</h5><p>
        "Culture is the widening of mind and spirits" well displayed by the students of Gautam Buddha University. The beauty of every culture is enhanced by the minds that practice it. Abhivyanjana is a birth of a new tradition. It is GBU's annual cultural and management event that intends to add wings to intellect, imagery, and creativity of our students. It is very essential for every civilization to preserve their heritage and celebrate it from time to time. No culture can survive in isolation hence it is imperative to make the young generation aware of this heritage. Abhivyanjana aims at dissolving the cultural demarcations and facilitating a new school of thought where every student thinks beyond the limit but still grounded to his values. It also gives a platform to the budding managers and compels them to think out of the box.</p>
        <br><br><br>
        <style type="text/css">
        .img-show img{
        width: 400px;
        height: 200px;
        }
        </style>
        <div class="img-show row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/culturalfest/clfs1.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/culturalfest/clfs2.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/culturalfest/clfs3.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/culturalfest/clfs4.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/culturalfest/clfs5.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/culturalfest/clfs6.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/culturalfest/clfs7.jpg" alt="">
          </div>
          <div class="col-lg-3 col-md-4 col-6 mt-1">
            <img class="img-fluid img-thumbnail" src="admission/assets/img/culturalfest/clfs8.jpg" alt="">
          </div>
        </div>
        <br>
      </div>
      <a  href="#lfq-4" class="float-right collapsed expand-a" data-toggle="collapse" aria-expanded="false"><b class="btn btn-outline-primary  justify-content-center color-black ">Expand</b></a>
      <br><br>
      <hr>
    </div>
  </div>
  <!-- FAQs END -->
</div>

</div>
</style>
</div>
<%include footer%>