<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
  <title>Gautam Buddha University</title>
  <link rel="icon" type="image/gif/png" href="../../../img/logo_gbu.png">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Averia Gruesa Libra" rel="stylesheet">
  <!-- Custom CSS -->

  <link rel="stylesheet" type="text/css" href="../../../../../../../../css/style.css">


  <link rel="stylesheet" type="text/css" href="../gallery/assets/css/slide.css">
  <link rel="stylesheet" type="text/css" href="../gallery/assets/css/vr.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--- Animation -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../../admission/animeCssJs/css/anime.css" />
  <link rel="stylesheet" type="text/css" href="../../admission/animeCssJs/css/anime-style.css" />
  <link rel="stylesheet" type="text/css" href="../clubs/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../clubs/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../clubs/css/style.css">

  <!-- video -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
  <!-- video -->


  <script type="text/javascript" src="../../admission/animeCssJs/js/anime.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="../admission/assets/js/on-scroll-fadeUp.js">
  </script>
  <script type="text/javascript">
    function executeQuery() {
      var input = document.getElementById('form-search-input');
      console.log(input)
      var element = google.search.cse.element.getElement('searchresults-only0');
      if (input.value == '') {
        element.clearAllResults();
      } else {
        element.execute(input.value);
      }
      return false;
    }
  </script>
  <!-- e slide -->

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="../admission/admissions.css">
  <!-- Font Awesome -->

</head>

<body>
  <!--nav bar section start from here -->
  <nav class="navbar navbar-dark bg-dark py-0 navbar-expand-lg py-md-0" id="first-nav">
    <div class="navbar-collapse collapse" id="">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item py-0 px-1"><a href="../../../campus-life" class="nav-link nav-1">Campus Life</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../clubs" class="nav-link nav-1">Clubs</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../gallery" class="nav-link nav-1">Photo Gallery</a></li>
        <li class="nav-item py-0 px-1"><a href="http://mail.gbu.ac.in/" class="nav-link nav-1">Webmail</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../library" class="nav-link nav-1">Library</a></li>

        <li class="nav-item py-0 px-1"><a href="../../../naac" class="nav-link nav-1">Privacy Policy</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../iqac" class="nav-link nav-1">Terms and Conditions</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../faqs" class="nav-link nav-1">FAQs</a></li>
      </ul>
    </div>
  </nav>
  <div class="header sticky-top">
    <nav class="navbar py-2 navbar-expand-lg navbar-bgcolor">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../../../../../../../img/gbu_logo.png" style="width: 100%;" class="logo">
          <h5 class="px-1 my-auto" id="college-name">
            गौतम बुद्ध विश्वविद्यालय<br>GAUTAM BUDDHA UNIVERSITY<br>
            <p class="college-name-tag my-auto">Established by the UP GBU Act 2002 UP Act No. 9 of 2002<br>
              Approved by UGC under Section 12-B, NAAC Accredited
            </p>
          </h5>
        </a>
        <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="collapse-button" aria-expanded="false">
          <span><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
          <div class="col-3 d-none d-lg-block"></div>
          <form class=" form-inline my-2 my-lg-0 w-50 mr-0 " id="form-search-box" onsubmit="return executeQuery();">
            <div class="container">
              <label id="search"><input autocomplete="off" class="form-control form-control-sm" id="form-search-input" type="search" placeholder="Search" aria-label="Search" /></label>
            </div>
          </form>

          <div class="my-3 text-center text-md-right ">
            <!-- Facebook -->
            <a class="fb-ic  " href="http://mail.gbu.ac.in/">
              <i id="fa-size" class="fa fa-envelope mx-1 text-danger"></i>
            </a>
            <a class="fb-ic" href="https://www.facebook.com/gbugrnoida.dic/">
              <i id="fa-size" class="fa fa-facebook-official mx-1" style="color:#3b5998 "></i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/gbugrnoida">
              <i id="fa-size" class="fa fa-twitter white-text mx-1" style="color: #1da1f2"> </i>
            </a>
          </div>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main-navigation-wrapper shadow">
      <nav class="container flex-nav">
        <a class="main-navigation-a d-none">Menu</a>
        <ul class="mx-0 justify-content-center">
          <li><a class="main-navigation-a" href="/admissions">Home</a></li>
          <li class="dropdown">
            <a class="main-navigation-a dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">About</a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-12">
                  <a class="dropdown-item" id="sub-main-navigation" href="#/schools-programmes/">Schools & Programmes</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admissions/team">Admission Team</a>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="main-navigation-a dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admissions Information</a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-12">
                  <a class="dropdown-item" id="sub-main-navigation" href="#" target="_blank">Admission Brochure 2020</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admission/important-dates">Important Dates</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admission/fee-structure">Fee Structure</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admissions/international-students">International Students</a>
                </div>
              </div>
            </div>
          </li>
          <li><a class="main-navigation-a" href="#" target="_blank">Apply for Admission</a></li>
          <li><a class="main-navigation-a" href="https://youtu.be/awlKnKv17L8" target="_blank">Exam Demo</a></li>
          <li><a class="main-navigation-a" href="/admissions/contact-us">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="gcse-searchresults-only"></div>
  <!--nav bar section end here -->
  <style>
    .gsc-control-cse {
      padding: 0rem;
    }

    .xxx-l {
      font-size: 41px;
      position: absolute;
      bottom: 162px;
      left: -86px;
      word-spacing: 3px;
      font-family: 'Averia Gruesa Libra';
      font-weight: 200;
    }

    .xxx-r {
      font-size: 41px;
      position: absolute;
      bottom: 162px;
      left': -60px;
word-spacing: 3px;
      font-family: 'Averia Gruesa Libra';
      font-weight: 200;
    }

    .nav-tabs {
      border-bottom: 3px solid #dee2e6 !important;
    }

    .heading2 {
      margin: 25px 0;
      margin-bottom: 15px;
      font-weight: 350;
      "

    }
  </style>


  <!-- ----------------------------------------------------------------------------------------- -->

  <div class="pt-3">

    <h3 class="text-lg-left mt-3 mb-0 pl-5">Fee Structure <div class="pr-5 float-right" style="font-size: 35px;"><a href="" target="_blank"><i class="fa fa-print"></i></a> </div>
    </h3>
    <div class=" my-2 ml-5 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
    <br>

    <div class="container-fluid p-5">


      <table class="table-sm table-responsive table-striped border-0" border="1">

        <thead>
          <tr class="text-center" style="background-color: #FB8C00">
            <th class="py-5">S.No.</th>
            <th class="py-5">PROGRAMME(S)</th>
            <th class="py-4">Registration Fee (&#8377;)<span class="text-danger">*</span> <span class="small">(NON-REFUNDABLE)</span></th>
            <th class="py-4">Security Fee (&#8377;)<span class="text-danger">*</span> <span class="small">(REFUNDABLE)</span> </th>
            <th class="py-4">Library Fee (&#8377;)<span class="text-danger">*</span></th>
            <th class="py-4">Sports Fee (&#8377;)<span class="text-danger">*</span></th>
            <th class="py-4">Examination Fee (&#8377;) <span class="small">(Per Sem)</span></th>
            <th class="py-4">Academic Fee (&#8377;) <span class="small">(Per Sem)</span></th>
            <th class="py-4">Total Fee (&#8377;) <span class="small"> <br>(1<sup>st</sup> Sem)</span></th>
            <th class="py-4">Total Fee (&#8377;) <span class="small"> <br>(2<sup>nd</sup> Sem <span class="text-primary">#</span>)</span></th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <td colspan="10" class="text-primary"><strong>UNIVERSITY SCHOOL OF ENGINEERING</strong></td>
          </tr>

          <tr>
            <td>1</td>
            <td>B. Tech. Programmes (ME/EE/CE) (4-Year ) &amp; B.Tech. (Lateral Entry)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>Bachelor in Architecture (B. Arch.)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>100,000/-</td>
            <td>122,000/-</td>
            <td>100,500/-</td>
          </tr>

          <tr>
            <td>3</td>
            <td>Bachelor of Design (I.D.)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>42,000/-</td>
            <td>64,000/-</td>
            <td>42,500/-</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Dual Degree B.Tech. (EE 4 Year) + M.Tech. (EE 2 Year)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>5</td>
            <td>All M. Tech.</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>60,000/-</td>
            <td>82,000/-</td>
            <td>60,500/-</td>
          </tr>

          <tr>
            <td>6</td>
            <td>Master in Architecture</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>45,000/-</td>
            <td>67,000/-</td>
            <td>45,500/-</td>
          </tr>

          <tr>
            <td>7</td>
            <td>Master of Urban &amp; Regional Planning (MURP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>45,000/-</td>
            <td>67,000/-</td>
            <td>45,500/-</td>
          </tr>

          <tr>
            <td>8</td>
            <td>Ph.D. (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,000/-</td>
          </tr>

          <tr>
            <td>9</td>
            <td>Ph.D. (WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>80,000/-</td>
            <td>102,000/-</td>
            <td>80,000/-</td>
          </tr>

          <tr>
            <td colspan="10" class="text-primary"><strong>UNIVERSITY SCHOOL OF ICT</strong></td>
          </tr>

          <tr>
            <td>1</td>
            <td>B.Tech. (CSE) (Under Self Finance) &amp; B.Tech. (Lateral Entry)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>98,000/-</td>
            <td>120,000/-</td>
            <td>98,500/-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>B. Tech. Programmes (CSE/ECE/IT) (4-Year ) &amp; B.Tech. (Lateral Entry)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>3</td>
            <td>B.Tech. Artificial Intelligence &amp; B.Tech. (Lateral Entry)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>135,000/-</td>
            <td>157,000/-</td>
            <td>135,500/</td>
          </tr>

          <tr>
            <td>4</td>
            <td>B.Tech. Design Engineering</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>85,000/-</td>
            <td>107,000/-</td>
            <td>85,500/</td>
          </tr>

          <tr>
            <td>5</td>
            <td>Bachelor of Computer Application (BCA)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,500/-</td>
          </tr>

          <tr>
            <td>6</td>
            <td>5 Year Integrated B.Tech.-M.Tech. (CSE) and (ECE)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>7</td>
            <td>All M. Tech.&nbsp;</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>60,000/-</td>
            <td>82,000/-</td>
            <td>60,500/-</td>
          </tr>

          <tr>
            <td>8</td>
            <td>Master of Computer Application (MCA)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>30,000/-</td>
            <td>52,000/-</td>
            <td>30,500/-</td>
          </tr>

          <tr>
            <td>9</td>
            <td>Ph.D. (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,000/-</td>
          </tr>

          <tr>
            <td>10</td>
            <td>Ph.D. (WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>80,000/-</td>
            <td>102,000/-</td>
            <td>80,000/-</td>
          </tr>

          <tr>
            <td colspan="10" class="text-primary"><strong>UNIVERSITY SCHOOL OF BIOTECHNOLOGY</strong></td>
          </tr>

          <tr>
            <td>1</td>
            <td>&nbsp;5 Year Integrated B.Tech. (Biotechnology)-M.Tech. (Biotechnology)/ MBA</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>All M. Tech.&nbsp;</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>60,000/-</td>
            <td>82,000/-</td>
            <td>60,500/-</td>
          </tr>

          <tr>
            <td>3</td>
            <td>M.Sc. (Biotechnology, Molecular Medicine, Genomics and Genome Engineering)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>45,000/-</td>
            <td>67,000/-</td>
            <td>45,500/-</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Ph.D. (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,000/-</td>
          </tr>

          <tr>
            <td>5</td>
            <td>Ph.D. (WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>80,000/-</td>
            <td>102,000/-</td>
            <td>80,000/-</td>
          </tr>

          <tr>
            <td colspan="10" class="text-primary"><strong>UNIVERSITY SCHOOL OF MANAGEMENT</strong></td>
          </tr>

          <tr>
            <td>1</td>
            <td>Dual Degree BBA-MBA</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>B.Sc. (Hotel Management)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>52,000/-</td>
            <td>74,000/-</td>
            <td>52,500/-</td>
          </tr>

          <tr>
            <td>3</td>
            <td>B.Com. (Hons.)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,500/-</td>
          </tr>

          <tr>
            <td>4</td>
            <td>MBA (HRM/Finance/Marketing/ Strategy/Operations)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>97,500/-</td>
            <td>119,500/-</td>
            <td>98,000/-</td>
          </tr>

          <tr>
            <td>5</td>
            <td>MBA (Business Analytics)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>125,000/-</td>
            <td>147,000/-</td>
            <td>125,500/-</td>
          </tr>

          <tr>
            <td>6</td>
            <td>Ph.D. (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,000/-</td>
          </tr>

          <tr>
            <td>7</td>
            <td>Ph.D. (WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>80,000/-</td>
            <td>102,000/-</td>
            <td>80,000/-</td>
          </tr>

          <tr>
            <td colspan="10" class="text-primary"><strong>UNIVERSITY SCHOOL OF VOCATIONAL STUDIES AND APPLIED SCIENCES</strong></td>
          </tr>

          <tr>
            <td>1</td>
            <td>B. Sc. (Physical Sciences) and B.Sc. (Hons.) Physics, Chemistry, Mathematics</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>B. Tech. Programmes (FPT) (4-Year ) &amp; B.Tech. (Lateral Entry)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>3</td>
            <td>M.Sc. (Applied Chemistry, Applied Physics, Applied Mathematics, Food Science and Environmental Science)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,500/-</td>
          </tr>

          <tr>
            <td>4</td>
            <td>All M. Tech.</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>60,000/-</td>
            <td>82,000/-</td>
            <td>60,500/-</td>
          </tr>

          <tr>
            <td>5</td>
            <td>PG Diploma in Polyurethane Technology</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>30,000/-</td>
            <td>52,000/-</td>
            <td>30,500/-</td>
          </tr>

          <tr>
            <td>6</td>
            <td>PG Diploma in Environment Management (PGDEM)(WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>45,000/-</td>
            <td>67,000/-</td>
            <td>45,500/-</td>
          </tr>

          <tr>
            <td>7</td>
            <td>PG Diploma in Environment Management (PGDEM) (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>30,000/-</td>
            <td>52,000/-</td>
            <td>30,500/-</td>
          </tr>

          <tr>
            <td>8</td>
            <td>Ph.D. (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,000/-</td>
          </tr>

          <tr>
            <td>9</td>
            <td>Ph.D. (WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>80,000/-</td>
            <td>102,000/-</td>
            <td>80,000/-</td>
          </tr>

          <tr>
            <td colspan="10" class="text-primary"><strong>UNIVERSITY SCHOOL OF LAW, JUSTICE AND GOVERNANCE</strong></td>
          </tr>

          <tr>
            <td>1</td>
            <td>B.A. LL.B. (5-Year Integrated Programme)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>LL.M.</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>65,000/-</td>
            <td>87,000/-</td>
            <td>65,500/-</td>
          </tr>

          <tr>
            <td>3</td>
            <td>PG Diploma in Economics Laws</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>30,000/-</td>
            <td>52,000/-</td>
            <td>30,500/-</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Ph.D. (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,000/-</td>
          </tr>

          <tr>
            <td>5</td>
            <td>Ph.D. (WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>80,000/-</td>
            <td>102,000/-</td>
            <td>80,000/-</td>
          </tr>

          <tr>
            <td colspan="10" class="text-primary"><strong>UNIVERSITY SCHOOL OF HUMANITIES AND SOCIAL SCIENCES</strong></td>
          </tr>

          <tr>
            <td>1</td>
            <td>Bachelor of Social Work (BSW)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>15,000/-</td>
            <td>37,000/-</td>
            <td>15,500/-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>B.Ed. (Specialization: Arts &amp; Commerce)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,500/-</td>
          </tr>

          <tr>
            <td>3</td>
            <td>B.Sc. (Hons.) Applied Psychology</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>30,000/-</td>
            <td>52,000/-</td>
            <td>30,500/-</td>
          </tr>

          <tr>
            <td>4</td>
            <td>B.A. Journalism and Mass Communication</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>15,000/-</td>
            <td>37,000/-</td>
            <td>15,500/-</td>
          </tr>

          <tr>
            <td>5</td>
            <td>B.A. (Hons.) (English, Hindi, Urdu, History, Political Science, Applied Psychology, Economics, Buddhist Studies &amp; Civilization)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>15,000/-</td>
            <td>37,000/-</td>
            <td>15,500/-</td>
          </tr>

          <tr>
            <td>6</td>
            <td>M.A. (Education; Economics, Planning &amp; Development; History; English; Hindi; Urdu; and Political Science &amp; International Relations)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>7</td>
            <td>M.A. Journalism and Mass Communication</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,500/-</td>
          </tr>

          <tr>
            <td>8</td>
            <td>M.A. / M.Sc. (Applied Psychology) with specialization in Clinical &amp; Counselling Psychology</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>45,000/-</td>
            <td>67,000/-</td>
            <td>45,500/-</td>
          </tr>

          <tr>
            <td>9</td>
            <td>Master in Social Wor (MSW)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>10</td>
            <td>M.Phil. (Clinical Psychology)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>150,000/-</td>
            <td>172,000/-</td>
            <td>150,500/-</td>
          </tr>

          <tr>
            <td>11</td>
            <td>M.Phil. (Political Science &amp; International Relations)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>30,000/-</td>
            <td>52,000/-</td>
            <td>30,500/-</td>
          </tr>

          <tr>
            <td>12</td>
            <td>PG Diploma in English Language Teaching (ELT) (Part-Time, Non-Residential)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>13</td>
            <td>Diploma in Urdu Language (Part-Time, Non-Residential)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>14</td>
            <td>Ph.D. (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,000/-</td>
          </tr>

          <tr>
            <td>15</td>
            <td>Ph.D. (WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>80,000/-</td>
            <td>102,000/-</td>
            <td>80,000/-</td>
          </tr>

          <tr>
            <td colspan="10" class="text-primary"><strong>UNIVERSITY SCHOOL OF BUDDHIST STUDIES AND CIVILIZATION</strong></td>
          </tr>

          <tr>
            <td>1</td>
            <td>B.A. (Hons.) (Buddhist Studies &amp; Civilization)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>15,000/-</td>
            <td>37,000/-</td>
            <td>15,500/-</td>
          </tr>

          <tr>
            <td>2</td>
            <td>M.A. (Buddhist Studies &amp; Civilization)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>3</td>
            <td>M.Phil. (Buddhist Studies &amp; Civilization)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>35,000/-</td>
            <td>57,000/-</td>
            <td>35,500/-</td>
          </tr>

          <tr>
            <td>4</td>
            <td>Certificate in Pāli Language and Literature</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>5</td>
            <td>PG Diploma in Pāli Language and Literature</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>6</td>
            <td>PG Diploma in Buddhist Tourism and Heritage</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>20,000/-</td>
            <td>42,000/-</td>
            <td>20,500/-</td>
          </tr>

          <tr>
            <td>7</td>
            <td>Ph.D. (FT)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>25,000/-</td>
            <td>47,000/-</td>
            <td>25,000/-</td>
          </tr>

          <tr>
            <td>8</td>
            <td>Ph.D. (WP)</td>
            <td>10,000/-</td>
            <td>10,000/-</td>
            <td>1,000/-</td>
            <td>500/-</td>
            <td>500/-</td>
            <td>80,000/-</td>
            <td>102,000/-</td>
            <td>80,000/-</td>
          </tr>
        </tbody>
      </table>

      <br>

      <p><strong>Note: </strong> <br>
        <span class="text-danger">*</span> One Time Payment <br>
        <span class="text-primary">#</span> 2<sup>nd</sup> Semester & onwards
      </p> <br>

      <h6>IN ADDITION TO THE ABOVE FEE</h6>
      <p> <strong>• Hostel Charges per academic Year:</strong> <br>
        &#8377; 40,000/- Per Annum per candidate for Single Seated Room <br>
        &#8377; 30,000/- Per Annum per candidate for Triple Seated Room <br>

        <strong>• Mess Charges per Academic Year:</strong> <br>
        &#8377; 30,000/- Per Annum or as per actual, whichever is higher.
      </p>

      <h4> <u>Note:</u></h4>

      <p>
        1. Academic Fee will be charged semester-wise. <br>
        2. Relaxation to SC/ST candidates in the fee is as per UP govt. norms/rules. <br>
        3. <strong>Registration fee is onetime non-refundable fee, and not a part of academic fee.</strong> <span class="text-danger">It will be compulsory for all Courses/Programmes. This is not refundable.</span> <br>
        4. Security Fee (Caution Money) of <strong>Rupees Ten Thousand only</strong> will be charged for all Courses/Programmes. This is refundable after submission of no dues certificate from all Departments through School Dean. <strong>Security Fee
          (Caution Money) is not applicable to Foreign/International Students.</strong> <br>
        5. The <strong>First Year Students</strong> will be allotted <strong>Triple Seated</strong> accommodation till the availability of the same. <strong>Thereafter single seated</strong> rooms may be allotted <strong>subject to the
          availability</strong> of such accommodation in the university hostel. <br>
        6. In case of non-availability of both Triple seated and single seated rooms, student shall have to reside outside the University campus till the room(s) for allotment are available. Hostel exemption would not ordinarily be allowed. Only in
        exceptional circumstances can it be allowed on case to case basis by the competent authority. However, as and when the room/s is/are available, students will have to shift in the hostel accommodation of the University. The university is
        residential university, where in its act prescribes for residing in the hostel. So the students shall have to stay in the hostel by paying the hostel fee. <br>
        7. Fee would be liable to change from time to time, as determine by the Fee Review Committee.
      </p>
    </div>
  </div>


  <%include footer%>