<!DOCTYPE html>
<html lang="en">

<head>
   <title>Gautam Buddha University</title>
   <link rel="icon" type="image/gif/png" href="img/logo_gbu.png">
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <!-- Bootstrap CSS -->
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css?family=Averia Gruesa Libra" rel="stylesheet">
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
   <!-- Custom CSS -->
   <!-- <link rel="stylesheet" type="text/css" href="about/img/"> -->
   <link rel="stylesheet" type="text/css" href="about/css/style.css">
   <!-- <link rel="stylesheet" type="text/css" href="academics/img/"> -->
   <!-- <link rel="stylesheet" type="text/css" href="academics/css/now.css"> -->
   <!--    <link rel="stylesheet" type="text/css" href="library/now.css"> -->
   <link rel="stylesheet" type="text/css" href="css/style.css">
   <link rel="stylesheet" type="text/css" href="clubs/gbuclubs.css">
   <!-- Font Awesome -->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <!--- Animation -->
   <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />

</head>

<body>
   <footer class="page-footer font-small "
      style="background-image: url(../../img/green_road_img.jpg) !important; background-repeat: no-repeat;background-size: 100% 100%; background-size: cover;">
      <style>
         footer a {
            text-decoration-style: none;
            text-decoration: none !important;
         }

         footer a:hover {
            color: #FB8C00 !important;
         }
      </style>
      <div class="bg-light unique-color-dark">
         <div class="container text-center text-md-left mt-5">
            <!-- Grid row-->
            <div class="row py-4 d-flex align-items-center">
               <!-- Grid column -->
               <div class="col-md-6 col-lg-5 text-center  text-md-left mb-4 mb-md-0">
                  <h6 class="mb-0">Get connected with us on social networks!</h6>
               </div>
               <!-- Grid column -->
               <!-- Grid column -->
               <div class="col-md-6 col-lg-7 text-center text-md-right">
                  <!-- Facebook -->
                  <a class="fb-ic  " href="http://mail.gbu.ac.in/">
                           <i id="fa-size" class="fa fa-envelope mx-1 text-danger"></i>
                        </a>
                  <a class="fb-ic" href="https://www.facebook.com/gbugrnoida.dic/">
                     <i class="fa fa-facebook-official mr-2"  id="fa-size" style="color:#3b5998 "></i>
                  </a>
                  <!-- Twitter -->
                  <a class="tw-ic" href="https://twitter.com/gbugrnoida">
                     <i class="fa fa-twitter white-text mr-2" id="fa-size"  style="color: #1da1f2"> </i>
                  </a>
                  
               </div>
               <!-- Grid column -->
            </div>
            <!-- Grid row-->
         </div>
      </div>
      <div class="footer unique-color-dark " style="background-color:#343a40eb">
         <div class="content text-center text-md-left pt-5 pb-5">
            <div class="container-fluid">
               <div class="row">
                  <div class="col-md-4">
                     <div class="container ">
                        <div class=" container text-center w-100">
                           <img style="height: 175px;  background-color: #ffffff; border-radius: 50%;"
                              src="../../../../img/gbu_logo.png" alt="">
                        </div>
                        <hr style="width: 60%; border-width: 3px;border-radius: 10%; border-color: #ff4500" class="mx-auto"> 
                        <div class="f-contact text-center container text-white">
                           <h4 class="font-weight-normal" style="font-size: 1.2rem; letter-spacing: 2px">गौतम बुद्ध
                              विश्वविद्यालय <br>
                              Gautam Buddha University <br>

                           </h4>
                           <br>
                           <h6 class="font-weight-light" style="font-size: 1rem">
                              Greater Noida
                              Gautam Budh Nagar <br>
                              Uttar Pradesh (India) - 201310</h6>
                              <a href="tel:01202344200" ><i class="fa fa-phone mr-3"></i>Phone No.: 0120-2344200</a>
                          
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8">
                     <div class="container-fluid">
                        <div class="row text-center">
                           <div class="col-md-4">
                              <h6 class="text-uppercase font-weight-bold" style="color:#FB8C00;">Important Links :</h6>
                              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                                 style="width: 60%; border-width: 3px;border-radius: 10%; border-color: #ff4500">
                              <p class="mb-3 text-center">
                                 <a href="/library" style="color: white">Dr. B.R.Ambedkar Library</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/crc" style="color: white">Corporate Relations Cell</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/ccc" style="color: white">Central Computer Center</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/naac" style="color: white">NAAC</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/iqac" style="color: white">IQAC</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/ugc" style="color: white">UGC</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/tender" style="color: white">Tender</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/e-tender" style="color: white">E-Tender</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/iprcell/home" style="color: white">IPR Cell</a>
                              </p>
                              </p>
                              
                              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                                 style="width: 60%; border-width: 3px;border-radius: 10%; border-color: #ff4500">
                              <p class="dropdown mt-0 mb-0">
                                 <p class="btn btn-outline dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: grey;
                                    padding-top:6px;
                                    padding-left:15px;
                                    padding-right:15px;
                                    padding-bottom:6px;
                                    color:#fff;  
                                    ">
                                    Important Links
                                 </p>
                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="http://www.gbu.ac.in/SOL/CELMAR_16Oct18.pdf">CELMAR</a>
                                    <a class="dropdown-item" href="https://www.ugc.ac.in">UGC</a>
                                    <a class="dropdown-item" href="https://www.aicte-india.org">AICTE</a>
                                    <a class="dropdown-item" href="https://www.ncte.gov.in">NCTE</a>
                                    <a class="dropdown-item" href="http://www.barcouncilofindia.org">Bar Council of
                                       India</a>
                                    <a class="dropdown-item" href="http://www.rehabcouncil.nic.in">Rehabilitation
                                       Council of India</a>
                                    <a class="dropdown-item" href="https://www.coa.gov.in">Council of Architecture</a>
                                    <a class="dropdown-item" href="https://aiu.ac.in">Association of Indian
                                       Universities</a>
                                 </div>
                              </p>
                           </div>
                           <div class="col-md-4">

                              <!-- Links -->
                              <h6 class="text-uppercase font-weight-bold" style="color:#FB8C00;">Links :</h6>
                              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                                 style="width: 60%; border-width: 3px;border-radius: 10%; border-color: #ff4500">
                              <p class="mb-3 text-center">
                                 <a href="http://172.25.5.15/schd" style="color: white">Time-table</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/hostel" style="color: white">Hostel Facilities</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/meditation-center" style="color: white">Meditation Center</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/media" style="color: white">Media</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/placements" style="color: white">Placements</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/campus-life" style="color: white">Campus Tour</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/cultural-council" style="color: white">GBU Cultural Council</a>
                              </p>
                                                           <p class="mb-3 text-center">
                                 <a href="http://www.abhivyanjana.in" style="color: white">Abhivyanjana</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="/sitemap" style="color: white">Sitemap</a>
                              </p>
                              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                                 style="width: 60%; border-width: 3px;border-radius: 10%; border-color: #ff4500">
                              <p class="dropdown mt-0 mb-0">
                                 <p class="btn  dropdown-toggle" type="button" id="dropdownMenuButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: grey;
                                    padding-top:6px;
                                    padding-left:15px;
                                    padding-right:15px;
                                    padding-bottom:6px;
                                    color:#fff;  
                                    ">
                                    Other Links
                                 </p>
                                 <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="http://www.gbu.ac.in/General/Notice_Scholarship_MeritcumMeans_11Sept18.pdf">Merit Cum Means Scholarships</a>
                                    <a class="dropdown-item" href="http://www.gbu.ac.in/UniversityDoc/ListHolidays_24Jan19.pdf">List of Holidays</a>
                                    <a class="dropdown-item" href="/leave-form">Leave Form for faculty Staff</a>
                                    <a class="dropdown-item" href="/payment">Online Fee Payment for Students</a>
                                 </div>
                              </p>

                           </div>

                           <div class="col-md-4">

                              <!-- Links -->
                              <h6 class="text-uppercase font-weight-bold" style="color:#FB8C00;">Youtube :</h6>
                              <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto"
                                 style="width: 60%; border-width: 3px;border-radius: 10%; border-color: #ff4500">
                              <p class="mb-3 text-center">
                                 <a href="https://www.youtube.com/watch?v=cnB_pfNGPX8" style="color: white">GBU Learning
                                    Resources</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="https://www.youtube.com/channel/UCmU_Lsw1s03PNjQ0_xE48QQ"
                                    style="color: white">Electrical Engg.</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="https://www.youtube.com/channel/UCqw1kF4WsAS_rybKgqQviXQ"
                                    style="color: white">Applied Mathematics</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="https://www.youtube.com/channel/UClBWls_W9SAfR-O0PNXqPwQ"
                                    style="color: white">Electronics & Communication Engg.</a>
                              </p>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </footer>
   <div class="alert alert-dark  mt-0 mb-0 ml-0 mr-0 pt-2 pb-2 text-center bg-alert border-0" role="alert"
      style="background-color:#FB8C00;border-radius: 0px;">
      Developed and maintained by <a href="/clubs/website-council" id="website-council-link">Website Council | GBU</a>
      <br>
      Copyright &copy; <%=new Date().getFullYear()%> Gautam Buddha University.
   </div>
   <!-- jQuery library -->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
   <!-- Popper JS -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
   <!-- Latest compiled JavaScript -->
   <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
   <!-- Optional JavaScript -->
   <script type="text/javascript" src="../../../../js/main.js"></script>
   <script type="text/javascript" src="../assets/js/gl.js"></script>
</body>

</html>