<%include header%>
         <div class="jumbotron mb-0 clubheader bgimage_about_organisation_mukul">
        <style>
          @media only screen and (min-width: 992px){
            .bgimage_about_organisation_mukul{
              background-position: 100% 52%;
            }
          }
        </style>
  <div class="container mb-0  ">
    <h1 class="display-4 text-right mb-2" style="color:#ffffff"><strong>Forums and Associations </strong></h1>
    <hr class="mt-0  pt-0 mb-2">
    <h4 class="display-5 text-right mb-1" style="color: #ffffff">About Us</h4>
  </div>
</div>
       <!--  <div class="text-left pt-5 container" >
        <h1 style="font-weight: 700 ; font-size: 44px; color: #010327">Forums and Associations</h1>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 20%; background-color:#FB8C00 ">
        </div>
      </div> -->
<br>
        <!---details of page start from here-->
        <div class="container">
       <div class=" mt-4 text-justify">
        <ul>
          <li><strong>Sambudha Samwaad ( A forum of Gautam Buddha University for Intellectual Exchanges)</strong> </li>
             <p>The IT revolution and restructuring of capitalism have introduced a new form of social order.
             This new order is diffusing as industrial capitalism and in turn shaking institutions, transforming cultures,
             creating wealth and inducing poverty, spurring greed, triggering innovations, and extending hope.
             This trend has voiced changes in the academia as well. The quest for knowledge is characterized by the
             Demand-Supply chain of the market and the essence of knowledge is reduced to USP (Unique Selling Proposition).
             Everything we do is determined and guided by the market forces. This is propagating a new knowledge order. It
             may feel a painful realization that for the first time in the history that the battle of thoughts has been won
             by the market forces.</p>
            <p>We have taken up this challenge to reclaim the faith and supremacy of knowledge and intervene meaningfully to
             register our presence. We, at Gautam Buddha University, are scripting a new chapter in academic excellence.
             In this context this forum comes to us as a great intellectual respite on our way to achieving intellectual
             excellence. We nurture Sambuddh Samwaad as a forum which brings teachers, students, and intellectual pioneers
             of all disciplines to come together to exchange views and identify roles in restructuring a new knowledge order.
             It is a forum that promotes freedom of thoughts, and fosters a greater responsibility to harness all our knowledge
             for the multidimensional growth of the society. We dedicate ourselves to promote timeless human values and be part in
             restoring supremacy of knowledge.</p>
            <p>Since its inception, the forum is engaged in productive intellectual exchanges and periodically organizes talks,
             debates and seminars on current Social, Economic, Environmental, Cultural and International issues.</p>
          <li><strong>ISTE Chapter at Gautam Buddha University, Greater Noida</strong> </li>
            <p>On 21 May 2009 Gautam Buddha University family joined rest of the country to pay tribute to
             the noble initiative that has grown into a paradigmatic phenomenon in terms of Indian Society for Technical Education,
             the largest body of academicians and professionals in the country. The day witnessed a new beginning at Gautam
             Buddha University with ISTE establishing its chapter at the campus of the University. We firmly believe that opening
             of ISTE Chapter at Gautam Buddha University will provide a platform for intellectuals and industry professionals to
             come together for a productive engagement. The ISTE Chapter was inaugurated by Professor Ved Prakash, Vice
             Chairman-UGC and the inaugural function was presided over by Prof. R.S. Nirjar, Vice-Chacellor-Gautam
             Buddha University. It requires to be mentioned here that Prof. Nirjar served as the President of Indian Society
             for Technical Education for two successive terms from 2000-2002 to 2002-2005. Later on, in 2006 he was felicitated
             with Honorary Fellowship of the society as an extended gratitude for his services and contribution in imparting
             quality technical training in the country. He makes the ISTE Chapter at the University more privileged in the
             sense that the Chapter enjoys his visionary leadership and guidance. With a vision of "Sowing the seeds of
             innovations in young minds and nurturing them towards evolving into a true professional" we created this forum.
             Today, when the ideas and innovations are ruling the world, we are nurturing dreams, desires, vision and a quest
             for constant seek out of opportunities. Through this forum we intend to focus on creating world class professionals
              with an untiring quest for knowledge.</p>
              <p>The Indian Society for Technical Education is a national, professional, non-profit making Society registered
                under the Societies Registration Act of 1860. First started in 1941 as the Association of Principals of Technical
                Institutions (APTI), it was converted into "Indian Society for Technical Education" in 1968 with a view to enlarge
                its activities to advance the cause of technological education. The major objective of the ISTE is to assist and
                contribute in the production and development of top quality professional engineers, technicians and managers
                required by the industries and other organizations. The other objectives are to develop effective teachers &amp;
                 educational administrators, to enhance professional ideals &amp; standards, to foster research as a function
                  complementary to teaching, to bring about effective linkage between technical institutions industry &amp;
                  society.
               </p>


  </ul>
      </div>
      </div>
      <hr>
  <%include footer%>
