<%include header%>
<div class="jumbotron mb-0 clubheader bgimage_about_organisation_mukul">
  <style>
  @media only screen and (min-width: 992px){
  .bgimage_about_organisation_mukul{
  background-position: 100% 52%;
  }
  }
  </style>
  <div class="container mb-0  ">
    <h1 class="display-4 text-right mb-2" style="color:#ffffff"><strong>Forums and Associations </strong></h1>
    <hr class="mt-0  pt-0 mb-2">
    <h4 class="display-5 text-right mb-1" style="color: #ffffff">About Us</h4>
  </div>
</div>
<!-- nav bar start -->
<nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #78335d">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
      <ul class="nav navbar-nav list-unstyled d-inline-flex nabar-expand-md  mx-auto ">
        <li class="nav-item m-1">
          <a href="#11" class="nav-link active" data-toggle="tab">IEEE-GBU STUDENT BRANCH</a>
        </li>
        <li class="nav-item m-1 " >
          <a href="#22" class="nav-link" data-toggle="tab">ISTE CHAPTER</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- nav bar end -->
<!---details of page start from here-->
<div class="tab-content">
  <div class="container tab-pane active" id="11">
    <div class="mt-2 text-justify">
      <h5>IEEE-GBU STUDENT BRANCH</h5>
      <div class=" mb-2 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00" >
      </div>
      <br>
      <br>
      <p>IEEE and its members inspire a global community to innovate for a better tomorrow through highly cited publications, conferences, technology standards, and professional and educational activities. IEEE is the trusted “voice” for engineering, computing, and technology information around the globe.
      </p>
      <p>IEEE offers a wide range of learning and career enhancement opportunities within the engineering sciences, research, and other technology areas. The goal of these programs is to ensure the growth of skill and knowledge among professionals and to foster individual commitment to continuing education among IEEE members, the engineering and scientific community, and the general public.
      </p>
    <h5>Important Links</h5>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
    </div>
    <br>
    <br>
    <div class="row ml-3">
      <div class="col-md-6">
        <a class=" my-3 btn btn-danger" href="http://www.gbu.co.in/"> IEEE-GBU STUDENT BRANCH</a>
        <br>
        <a class=" my-3 btn btn-danger" href="https://www.ieee.org/"> IEEE.ORG</a>
        <br>
        <a class=" my-3 btn btn-danger" href="https://www.ieee.org/membership/join/index.html"> JOIN IEEE</a>
        <br>
        <a class=" my-3 btn btn-danger" href="https://www.ieee.org/membership/renew.html">RENEW MEMBERSHIP</a>
      </div>
      <div class="col-md-6">
        <a class=" my-3 btn btn-danger" href="https://www.ieee.org/Loginforms/myIEEE/login.html">SIGN INTO MYIEEE</a>
        <br>
        <a class=" my-3 btn btn-danger" href="https://www.ieee.org/about/help/my-account/web-account.html?WT.mc_id=msim_wa#">CREATE IEEE ACCOUNT</a>
        <br>
        <a class=" my-3 btn btn-danger" href="https://www.ieee.org/sitemap.html">MORE SITES</a>
      </div>
    </div>
  </div>
</div>
<div class="container mt-2 tab-pane active" id="22">
    <div class=" mt-4 text-justify">
      <h5>ISTE Chapter at Gautam Buddha University</h5>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00" >
      </div>
      <br>
      <br>
      <p>On 21 May 2009 Gautam Buddha University family joined rest of the country to pay tribute to
        the noble initiative that has grown into a paradigmatic phenomenon in terms of Indian Society for Technical Education,the largest body of academicians and professionals in the country. The day witnessed a new beginning at Gautam Buddha University with ISTE establishing its chapter at the campus of the University. We firmly believe that opening of ISTE Chapter at Gautam Buddha University will provide a platform for intellectuals and industry professionals to come together for a productive engagement. The ISTE Chapter was inaugurated by Professor Ved Prakash, Vice
        Chairman-UGC and the inaugural function was presided over by Prof. R.S. Nirjar, Vice-Chacellor-Gautam
        Buddha University. It requires to be mentioned here that Prof. Nirjar served as the President of Indian Society
        for Technical Education for two successive terms from 2000-2002 to 2002-2005. Later on, in 2006 he was felicitated
        with Honorary Fellowship of the society as an extended gratitude for his services and contribution in imparting
        quality technical training in the country. He makes the ISTE Chapter at the University more privileged in the
        sense that the Chapter enjoys his visionary leadership and guidance. With a vision of "Sowing the seeds of
        innovations in young minds and nurturing them towards evolving into a true professional" we created this forum.
        Today, when the ideas and innovations are ruling the world, we are nurturing dreams, desires, vision and a quest
        for constant seek out of opportunities. Through this forum we intend to focus on creating world class professionals
      with an untiring quest for knowledge.</p>
      <p>The Indian Society for Technical Education is a national, professional, non-profit making Society registered
        under the Societies Registration Act of 1860. First started in 1941 as the Association of Principals of Technical
        Institutions (APTI), it was converted into "Indian Society for Technical Education" in 1968 with a view to enlarge
        its activities to advance the cause of technological education. The major objective of the ISTE is to assist and
        contribute in the production and development of top quality professional engineers, technicians and managers
        required by the industries and other organizations. The other objectives are to develop effective teachers &amp;
        educational administrators, to enhance professional ideals &amp; standards, to foster research as a function
        complementary to teaching, to bring about effective linkage between technical institutions industry &amp;
        society.
      </p>
    </div>
  </div>
</div>
<%include footer%>