<%include header%>
	<!-- <div class="text-lg-center " id="headermain" style="background-color: gray; width: 100%; padding: 50px;">
		<h1>Header</h1>
	</div> -->
	<!-- <div class="site-wrap"> -->
		<!-- <div class="jumblotron bar-1" id="headermain2" style="background: #ffffff;">
			<nav class="navbar navbar-expand-md mb-0 navbar-light bg-light p-3">
				<div class="container">
					<div class="icon mb-0">
						<a href="#! text-lg-center ">
							<img class="img-fluid logo float-left" align="middle" src="assets/img/gbu_logo.png" alt="GBU"><h4 class="px-3 py-3 float-right my-auto text-dark" id="college-name">गौतम बुद्ध विश्वविद्यालय<br>Gautam Buddha University<br>
							</h4>
						</a>
					</div>
					<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#navbara" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
					</button>
					<div class="collapse navbar-collapse " id="navbara">
						<ul class="navbar-nav mx-auto text-white mt-2">
							<li class="nav-item mr-2  active">
								<a class="text-dark font-waight-light nevigation-a" href="library_home.html" class="nav-link active "><p>HOME</p></a>
							</li>
							<li class="nav-item mr-2">
								<a class="text-dark font-waight-light nevigation-a" href="library_services.html" class="nav-link active"><p>ABOUT</p></a>
							</li>
							<li class="nav-item mr-2">
								<a class="text-dark font-waight-light nevigation-a" href="library_eservices.html" class="nav-link active"><p>XXXXXX</p></a>
							</li>
							<li class="nav-item mr-2">
								<a class="text-dark font-waight-light nevigation-a" href="library_services.html" class="nav-link  active mr-0"><p>YYYYYYY</p></a>
							</li>
							<li class="nav-item mr-2">
								<a class="text-dark font-waight-light nevigation-a" href="library_r&amp;r.html" class="nav-link active mr-0"><p>REGULATIONS</p></a>
							</li>
						</ul>
					</div>
				</div>
			</nav>
		</div> -->
		  <link rel="stylesheet" type="text/css" href="../gallery/assets/css/css.css">  <!-- Having the problem -->
		<!-- <div class="jumblotron site-estimonial-1 py-5 position-relative" style="background-image: url(../gallery/assets/img/hero_bg.jpg);">
			<div class="position-absolute etxhero">
				 --><div class="container text-center">
					<h1 class="py-5" >PHOTO GALLERY</h1>
				</div>
			<!-- </div>
		</div>
		<br><br>
		<div class="jumblotron pt-2 site-block-profile-pic " style=" margin-top: -50px; z-index: 1;">
			<div class="container site-block-profile-pic text-lg-center mb-4" style=" background: transparent; margin-top: -100px; z-index: 99;">
				<img class="img-fluid m-auto " src="../gallery/assets/img/gbu_logo.png"style="border-radius: 50%;  max-width: 200px;" alt="GBU" >
			</div>
		</div> -->
		<div class="jumblotron">
			<div class="container">
				
				<div style="padding:0px; margin:0px; background-color:#fff;font-family:arial,helvetica,sans-serif,verdana,'Open Sans'">
					<!-- #region Jssor Slider Begin -->
					<!-- Generator: Jssor Slider Maker -->
					<!-- Source: https://www.jssor.com -->
					<script src="../gallery/assets/js/slidemain.js" type="text/javascript"></script>
					<script src="../gallery/assets/js/slidejs2.js" type="text/javascript">
					
					</script>
					
					<div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:980px;height:480px;overflow:hidden;visibility:hidden;">
						<!-- Loading Screen -->
						<div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
							<img style="margin-top:-19px;position:relative;top:50%;width:38px;height:38px;" src="assets/simg/spin.svg" />
						</div>
						<div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:980px;height:380px;overflow:hidden;">
							<div>
								<img data-u="image" src="../gallery/assets/simg/1.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/1.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/2.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/2.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/3.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/3.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/4.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/5.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/5.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/5.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/6.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/6.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/7.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/7.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/8.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/8.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/9.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/9.jpg" />
							</div>
							<div>
								<img data-u="image" src="../gallery/assets/simg/10.jpg" />
								<img data-u="thumb" src="../gallery/assets/simg/10.jpg" />
							</div>
						</div>
						<!-- Thumbnail Navigator -->
						<div data-u="thumbnavigator" class="jssort101" style="position:absolute;left:0px;bottom:0px;width:980px;height:100px;background-color:#ffffff;" data-autocenter="1" data-scale-bottom="0.75">
							<div data-u="slides">
								<div data-u="prototype" class="p" style="width:190px;height:90px;">
									<div data-u="thumbnailtemplate" class="t"></div>
									<svg viewbox="0 0 16000 16000" class="cv">
										<circle class="a" cx="8000" cy="8000" r="3238.1"></circle>
									<line class="a" x1="6190.5" y1="8000" x2="9809.5" y2="8000"></line>
								<line class="a" x1="8000" y1="9809.5" x2="8000" y2="6190.5"></line>
							</svg>
						</div>
					</div>
				</div>
				<!-- Arrow Navigator -->
				<div data-u="arrowleft" class="jssora106" style="width:55px;height:55px;top:162px;left:30px;" data-scale="0.75">
					<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
						<circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
					<polyline class="a" points="7930.4,5495.7 5426.1,8000 7930.4,10504.3 "></polyline>
				<line class="a" x1="10573.9" y1="8000" x2="5426.1" y2="8000"></line>
			</svg>
		</div>
		<div data-u="arrowright" class="jssora106" style="width:55px;height:55px;top:162px;right:30px;" data-scale="0.75">
			<svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
				<circle class="c" cx="8000" cy="8000" r="6260.9"></circle>
			<polyline class="a" points="8069.6,5495.7 10573.9,8000 8069.6,10504.3 "></polyline>
		<line class="a" x1="5426.1" y1="8000" x2="10573.9" y2="8000"></line>
	</svg>
</div>
</div>
<script type="text/javascript">jssor_1_slider_init();</script>
<!-- #endregion Jssor Slider End -->
</div>
</div>
</div>
<br>


<!-- ==============
<div class="jumblotron my-5">
<div class="container">
<div class="row">
<div class="col-md-12 text-lg-center mt-2 mb-2" style="font-size: 3rem;">
<h1 class="font-waight-light text-center mt-5 mb-4">School Gallery</h1>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="site-block-half d-lg-flex mb-4 mt-4">
	<div class="image text-lg-center" style="background-image: url('https://support.wwf.org.uk/sites/default/files/styles/product_list_image/public/product-images/elephanthero1.jpg?h=27eb9958&itok=2m7MQQlU');">
	</div>
	<div class="text text-center">
		<h3>School of ICT</h3>
		<p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
	</div>
</div>
<div class="site-block-half d-lg-flex mb-4 mt-4">
	<div class="image text-lg-center" style="background-image: url('https://support.wwf.org.uk/sites/default/files/styles/product_list_image/public/product-images/elephanthero1.jpg?h=27eb9958&itok=2m7MQQlU');">
	</div>
	<div class="text text-center">
		<h3>Nature Photography</h3>
		<p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
	</div>
</div>
</div>
<div class="col-md-6">
<div class="site-block-half d-lg-flex mb-4 mt-4">
	<div class="image text-lg-center" style="background-image: url('https://support.wwf.org.uk/sites/default/files/styles/product_list_image/public/product-images/elephanthero1.jpg?h=27eb9958&itok=2m7MQQlU');">
	</div>
	<div class="text text-center">
		<h3>Nature Photography</h3>
		<p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
	</div>
</div>
<div class="site-block-half d-lg-flex mb-4 mt-4">
	<div class="image text-lg-center" style="background-image: url('https://support.wwf.org.uk/sites/default/files/styles/product_list_image/public/product-images/elephanthero1.jpg?h=27eb9958&itok=2m7MQQlU');">
	</div>
	<div class="text text-center">
		<h3>Nature Photography</h3>
		<p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
	</div>
</div>
</div>
</div>
<div class="row">
<div class="col-md-6">
<div class="site-block-half d-lg-flex mb-4 mt-4">
	<div class="image text-lg-center" style="background-image: url('https://support.wwf.org.uk/sites/default/files/styles/product_list_image/public/product-images/elephanthero1.jpg?h=27eb9958&itok=2m7MQQlU');">
	</div>
	<div class="text text-center">
		<h3>Nature Photography</h3>
		<p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
	</div>
</div>
<div class="site-block-half d-lg-flex mb-4 mt-4">
	<div class="image text-lg-center" style="background-image: url('https://support.wwf.org.uk/sites/default/files/styles/product_list_image/public/product-images/elephanthero1.jpg?h=27eb9958&itok=2m7MQQlU');">
	</div>
	<div class="text text-center">
		<h3>Nature Photography</h3>
		<p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
	</div>
</div>
</div>
<div class="col-md-6">
<div class="site-block-half d-lg-flex mb-4 mt-4">
	<div class="image text-lg-center" style="background-image: url('https://support.wwf.org.uk/sites/default/files/styles/product_list_image/public/product-images/elephanthero1.jpg?h=27eb9958&itok=2m7MQQlU');">
	</div>
	<div class="text text-center">
		<h3>Nature Photography</h3>
		<p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
	</div>
</div>
<div class="site-block-half d-lg-flex mb-4 mt-4">
	<div class="image text-lg-center" style="background-image: url('https://support.wwf.org.uk/sites/default/files/styles/product_list_image/public/product-images/elephanthero1.jpg?h=27eb9958&itok=2m7MQQlU');">
	</div>
	<div class="text text-center">
		<h3>Nature Photography</h3>
		<p>Sunt nesciunt repellat molestias vitae nostrum aliquid laudantium quo voluptatem provident voluptate tenetur illo.</p>
	</div>
</div>
</div>
</div>
</div>
</div> -->

<div class="jumblotron site-estimonial-1 py-5 position-relative" style="background-image: url(../gallery/assets/img/hero_bg0.jpg);">
<div class="position-absolute etxx">
<div class="container text-center allign-midlde el-c-m">
<h1 class="text-white">Schools gallery</h1>
</div>
</div>
</div>
<!-- 
<div class="jumblotron">
<div class="container">
</div>
<br>
<div class="position-relative st-2" style=" width: 100%">
<div class="position-absolute" style="height: 100%; width: 100%; top: 0; left: 0; bottom: 0; transform: skewY(-10deg); background-color:#4682b4; z-index: -1;">
</div>
<div class="position-absolute " style="height: 100%; width: 100%;bottom: 0; top: 0; left: 0;">
<div class="container">
<div class="row mb-4 mt-4">
	<div class="col-md-6 col-lg-4 img-gal">
		<div class="sc-img" style="background-image: url(../gallery/assets/school/vocational.jpg);">
			<div class="dis-cont">
				<div class="col-md-12 text-lg-center py-5 " style="font-size: 0.5rem;">
					<h1 class="font-waight-light text-center mt-5 mb-4"></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4  img-gal">
		<div class="sc-img" style="background-image: url(../gallery/assets/school/biotech.jpg);">
			<div class="dis-cont">
				<div class="col-md-12 text-lg-center py-5 " style="font-size: 0.5rem;">
					<h1 class="font-waight-light text-center mt-5 mb-4"></h1></h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4  img-gal">
		<div class="sc-img" style="background-image: url(../gallery/assets/school/pic1.jpg);">
			<div class="dis-cont">
				<div class="col-md-12 text-lg-center py-5 " style="font-size: 0.5rem;">
					<h1 class="font-waight-light text-center mt-5 mb-4"></h1>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row mb-4 mt-4">
	<div class="col-md-6 col-lg-4 img-gal">
		<div class="sc-img" style="background-image: url(../gallery/assets/school/pic2.jpg);">
			<div class="dis-cont">
				<div class="col-md-12 text-lg-center py-5 " style="font-size: 0.5rem;">
					<h1 class="font-waight-light text-center mt-5 mb-4">My Specialties</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4  img-gal">
		<div class="sc-img" style="background-image: url(../gallery/assets/school/pic2.jpg);">
			<div class="dis-cont">
				<div class="col-md-12 text-lg-center py-5 " style="font-size: 0.5rem;">
					<h1 class="font-waight-light text-center mt-5 mb-4">My Specialties</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 col-lg-4  img-gal">
		<div class="sc-img" style="background-image: url(../gallery/assets/school/pic3.jpg);">
			<div class="dis-cont">
				<div class="col-md-12 text-lg-center py-5 " style="font-size: 0.5rem;">
					<h1 class="font-waight-light text-center mt-5 mb-4">My Specialties</h1>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div> -->
<div class="jumblotron site-estimonial py-2 position-relative" style="background-image: url(../gallery/assets/school/pic4.jpg);">
<div class="position-absolute etx">
<div class="container text-center allign-midlde el-c-m">
<h1 class= "text-white">A virtual journey around GBU</h1>
<br>
<h1 class= "text-danger" style="font-weight: 500; font-size: 70px"><span style="font-size: 100px;">3</span>60<sup ><img src="../gallery/assets/img/earth_PNG41.png" style="height: 20px ;border-radius:50%"></sup></h1>
</div>
</div>
</div>
<br>
<div class="jumblotron mb-5 mt-5">
<div class="position-relative st-3" style=" width: 100%; height: 150vh;">
<div class="position-absolute" style="height: 80%; width: 100%; top: 50px; left: 0; bottom: 0; transform: skewY(10deg); background-color:#ff4500; z-index: -1">
</div>
<div class="position-absolute " style="height: 100%; width: 100%;bottom: 0; top: 0; left: 0;">
<div class="container">
<div class="row mt-5">
	<div class="col-md-4 text-lg-center">
		<div class="bg-white ml-5 mt-3 mr-5 banner-360-box">
			<div class="w-100 position-relative" style="height: 25vh;">
				<div class="position-absolute banner-360" style=" background-image: url(../gallery/assets/360/thumb/thumb.maingate.jpg);">
					<div class="" style="height: 98%; width: 100%; background-color:#fdc009bd"></div>
					<div class="bg-white mb-4" style="height: 15%;width:100%;-webkit-transform: skewY(-4deg);margin-top: -4%;"></div>
				</div>
			</div>
			<div class="text-center p-3 container">
				<p><strong>GBU Main Gate</strong></p>
				<hr>
				In front of Yamuna Express Way
				<hr>
				<p>
					<span class="" style="font-size:30px;cursor:pointer" onclick="fullsrc('mainGate')">view 360<sup>o</sup></span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 text-lg-center">
		<div class="bg-white ml-5 mt-3 mr-5 banner-360-box">
			<div class="w-100 position-relative" style="height: 25vh;">
				<div class="position-absolute banner-360" style=" background-image: url(../gallery/assets/360/thumb/thumb.library.jpg);">
					<div class="" style="height: 98%; width: 100%; background-color:#ff2a00b0"></div>
					<div class="bg-white mb-4" style="height: 15%;width:100%;-webkit-transform: skewY(-4deg);margin-top: -4%;"></div>
				</div>
			</div>
			<div class="text-center p-3 container">
				<p>Bodhisattva Dr. B.R. Ambedkar Library</p>
				<hr>
				Central Library
				<hr>
				<p>
					<span class="" style="font-size:30px;cursor:pointer" onclick="fullsrc('library')">view 360<sup>o</sup></span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 text-lg-center">
		<div class="bg-white ml-5 mt-3 mr-5 banner-360-box">
			<div class="w-100 position-relative" style="height: 25vh;">
				<div class="position-absolute banner-360" style=" background-image: url(../gallery/assets/360/thumb/thumb.inner.mdt.jpg);">
					<div class="" style="height: 98%; width: 100%; background-color:#1e09fda1"></div>
					<div class="bg-white mb-4" style="    height: 15%;width:100%;-webkit-transform: skewY(-4deg);margin-top: -4%;"></div>
				</div>
			</div>
			<div class="text-center p-3 container">
				<p>Mahatma Jyotiba Phule Dhyan Kendra</p>
				<hr>
				Inner view
				<hr>
				<p>
					<span class="" style="font-size:30px;cursor:pointer" onclick="fullsrc('meditationIn')">view 360<sup>o</sup></span>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="row mt-5">
	<div class="col-md-4 text-lg-center">
		<div class="bg-white ml-5 mt-3 mr-5 banner-360-box">
			<div class="w-100 position-relative" style="height: 25vh;">
				<div class="position-absolute banner-360" style=" background-image: url(../gallery/assets/360/thumb/thumb.mdt.jpg);">
					<div class="" style="height: 98%; width: 100%; background-color:#1dfd09a6"></div>
					<div class="bg-white mb-4" style="    height: 15%;width:100%;-webkit-transform: skewY(-4deg);margin-top: -4%;"></div>
				</div>
			</div>
			<div class="text-center p-3 container">
				<p>Mahatma Jyotiba Phule Dhyan Kendra</p>
				<hr>
				Outter view
				<hr>
				<p>
					<span class="" style="font-size:30px;cursor:pointer" onclick="fullsrc('meditationIn')">view 360<sup>o</sup></span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 text-lg-center">
		<div class="bg-white ml-5 mt-3 mr-5 banner-360-box">
			<div class="w-100 position-relative" style="height: 25vh;">
				<div class="position-absolute banner-360" style=" background-image: url(../gallery/assets/360/thumb/thumb.ict.jpg);">
					<div class="" style="height: 98%; width: 100%; background-color:#6c3463c9"></div>
					<div class="bg-white mb-4" style="height: 15%;width:100%;-webkit-transform: skewY(-4deg);margin-top: -4%;"></div>
				</div>
			</div>
			<div class="text-center p-3 container">
				<p>SO Information & Communication Technology</p>
				<hr>
				gbu
				<hr>
				<p>
					<span class="" style="font-size:30px;cursor:pointer" onclick="fullsrc('ict')">view 360<sup>o</sup></span>
				</p>
			</div>
		</div>
	</div>
	<div class="col-md-4 text-lg-center">
		<div class="bg-white ml-5 mt-3 mr-5 banner-360-box">
			<div class="w-100 position-relative" style="height: 25vh;">
				<div class="position-absolute banner-360" style=" background-image: url(../gallery/assets/360/thumb/thumb.maingate.jpg);">
					<div class="" style="height: 98%; width: 100%; background-color:#d87427c2"></div>
					<div class="bg-white mb-4" style="    height: 15%;width:100%;-webkit-transform: skewY(-4deg);margin-top: -4%;"></div>
				</div>
			</div>
			<div class="text-center p-3 container">
				<p>GIMS</p>
				<hr>
				GBU
				<hr>
				<p>
					<span class="" style="font-size:30px;cursor:pointer" onclick="fullsrc('gims')">view 360<sup>o</sup></span>
				</p>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
<br>
<br>


<!--------------------- img Gid --------------------->
<!-- <div class=" jumbotron" style="background-image: linear-gradient(154deg, transparent,rgba(95, 4, 79, 0.88), rgb(68, 0, 56));">

<div class="row"> 
  <div class="column">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
  </div>
  <div class="column">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
  </div>  
  <div class="column">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/falls2.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/nature.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/mist.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/paris.jpg" style="width:100%">
  </div>
  <div class="column">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/ocean.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/wedding.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/mountainskies.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/rocks.jpg" style="width:100%">
    <img onclick="fullImg(this.src)" src="https://www.w3schools.com/w3images/underwater.jpg" style="width:100%">
  </div>
</div>
</div>

</div>
 -->
<!-- Over Screen View -->
<!-- VR IMG -->
<div id="vrFull" class="overlay">
<a href="javascript:void(0)" class="closebtn" onclick="closesrc()">&times;</a>
<div class="overlay-content">
<div class="panorama row">
<br>

<div class="col-md-12">
<div class="container">
	<div class="position-relative bg-danger" style="height: 85vh; overflow: hidden;">
		<div class="position-absolute " id="vr-img" style=" height: 100%;width: 100%; top: 0; left: 0; overflow-x: hidden;">
		</div>
		<div  class="position-absolute control-u-d"  style=" padding: 20px 10px; width: 10%;bottom: 30%; right: 0">
			<div class=" row">
				<div class="col-md-12"></div>
				<input id="seekslider-v" class="" orient="vertical" type="range" min="0" max="100" value="50" step="1">
			</div>
		</div>
		<div class="position-absolute controls container" style=" padding: 10px 0px;width: 100%;bottom: 0; left: 0">
			<div class="row text-center text-lg-center">
				<div class="col-sm-5">
					<div  class=" ml-3 discription" >
						<h2 class="font-weight-light">
						<span class="info">
							<img src="../gallery/assets/icon/info.svg" alt="" style="height: auto; width: 25px;">
							<marquee id="info" class="display-5 text-white" behavior="slide mi-2" direction="left" style="width: 80%;">Gautab Buddha University</marquee>
						</span>
						</h2>
					</div>
				</div>
				<div class="col-sm-2 mb-3">
					<!-- <div class="text-lg-center " style="width: 100%; ">
						<span> <button id="playPause" style="background-color:#dc3545; height: 50px; width: 50px; border-radius: 50%;"></button></span>
					</div> -->
				</div>
				<div class="col-sm-5">
					<div  class="" >
						<span>
							<button type="zoomin" class="zoomin">
							<img src="../gallery/assets/icon/zoom-in.svg" style="height: auto; width: 30px;">
							</button>
							<style type="text/css">
								button{
									outline: none;
									border-style: none;
									background: none;
									margin-right: 20px;
									}
							</style>
							<button type="zoomout" class="zoomout">
							<img src="../gallery/assets/icon/zoom-out.svg" style="height: auto; width: 30px;">
							</button>
							<br>
							<input id="seekslider" type="range" min="0" max="100" value="50" step="0.1">
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>
</div>
</div>
<!--  grid image full screen -->
<div id="imgFull" class="overlay">
	<a href="javascript:void(0)" class="closebtn" onclick="closeImgScr()">&times;</a>
	<div class="overlay-content">
		<div class="jumbotron" style="width: 100; height: 100%; background:none;">
			<img id="fullGrigImg" class="img-fluid" src="../gallery/assets/img/gbu_logo.png" alt="Grid Img">
		</div>
	</div>
</div>

<%include footer%>