<!DOCTYPE html>
<html>
  <head>
    <title>GBU|CLUBS & SOCIETIES</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="gbuclubs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="jumbotron mb-0 clubheader bannerclub">
      <div class="container mb-0 ">
        <h1 class="display-5 font-weight-light mb-0 text-white"><strong>CLUBS & SOCIETIES</strong></h1>
        
      </div>
    </div>
    
    <div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
      Find your passion and join the club you thrive for !
    </div>
    <div class="container">
      <h3 class=" text-lg-left mt-4 mb-0">
            About Club
            </h3>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
            <br>
            <br>

    </div>
    <div class="  pb-2">
      <div class="  pb-2">
        <div class="container">
          <div class="row">
            <div class="col-md-4  mb-5">
              <div class="card-title  text-center">
                <img src="img/flame.png " style="width: 100px;height: 100px;">
              </div>
              <div class="card-title text-center">INNOVATIVE THINKERS
              </div>
              <p class="card-text m-3 servicesinfo text-center"> If you look at history, innovation
                doesn't come just from giving people incentives; it comes from creating environments
              where their ideas can connect.</p>
            </div>
            <div class="col-md-4  mb-5">
              <div class="card-title  text-center">
                <img src="img/teamwork.png" style="width: 100px;height: 100px;">
              </div>
              <div class="card-title text-center">DEDICATED MEMBERS
              </div>
              <p class="card-text m-3 servicesinfo text-center"> We all have dreams. But in order to
                make dreams come into reality, it takes an awful lot of determination, dedication,
              self-discipline, and effort.</p>
            </div>
            <div class="col-md-4  mb-5">
              <div class="card-title  text-center">
                <img src="img/target.png  " style="width: 100px;height: 100px;">
              </div>
              <div class="card-title text-center">ORGANISED CLUBS
              </div>
              <p class="card-text m-3 servicesinfo text-center">There are over 12 clubs and societies
              covering a wide variety of interests available for you to join or attend.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <h3 class=" text-lg-left mt-4 mb-0">
            CLUBS & SOCIETIES
            </h3>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
            <br>
            <br>

      </div>
      <div class=" pt-5 pb-2">
        <div class="container">
          <div class="row">

            <div class="col-md-4  mb-5">
              <a class="pagelinker" href="webcouncil.html">
              <div class="card-title  text-center">
                <img src="img/iconfinder_browser_1055104.png" style="width: 100px;height: 100px;">
              </div>
              <div class="card-title text-center ">WEBSITE COUNCIL</div></a>
              <p class="card-text m-3 servicesinfo text-center">Dedicated to design, create, and maintain the GBU official website. </p>
            </div>

            <div class="col-md-4  mb-5">
              <a class="pagelinker" href="dishayan_club.html">
              <div class="card-title  text-center">
                <img src="img/theater.png " style="width: 100px;height: 100px;">
              </div>
              <div class="card-title  text-center">DRAMA CLUB
            </div></a>
            <p class="card-text m-3 servicesinfo text-center">The aim is to develop the groups acting skills in a fun, safe environment.</p>
          </div>

          <div class="col-md-4  mb-5">
            <a class="pagelinker" href="dance_club.html">
            <div class="card-title  text-center">
              <img src="img/flamenco-couple-dancing.png" style="width: 100px;height: 100px;">
            </div>
            <div class="card-title  text-center">DANCE CLUB
          </div></a>
          <p class="card-text m-3 servicesinfo text-center">The aim is to boost up the morale of students and
          to highlight the talent of dance and creativity.</p>
        </div>

        <div class="col-md-4  mb-3">
          <a class="pagelinker" href="dhristikon_club.html">
          <div class="card-title  text-center">
            <img src="img/debate.png " style="width: 100px;height: 100px;">
          </div>
          <div class="card-title text-center">DHRISTIKON SOCIETY
        </div></a>
        <p class="card-text m-3 servicesinfo text-center">Dhristikon debate society helps students
        improve their personal and professional attributes and skills. </p>
      </div>

      <div class="col-md-4  mb-3">
        <a class="pagelinker" href="literary_club.html">
        <div class="card-title  text-center">
          <img src="img/books.png " style="width: 100px;height: 100px;">
        </div>
        <div class="card-title text-center">LITERARY SOCIETY
      </div></a>
      <p class="card-text m-3 servicesinfo text-center">The aim is to build a responsible student
      community, sensitive to the cultural, social scenario of the contemporary world.</p>
    </div>

    <div class="col-md-4  mb-3">
      <a class="pagelinker" href="techno_club.html">
      <div class="card-title  text-center">
        <img src="img/project-management.png " style="width: 100px;height: 100px;">
      </div>
      <div class="card-title text-center">TECHNO CLUB
    </div></a>
    <p class="card-text m-3 servicesinfo text-center"> Dedicated to fulfill the thirst of the corporate
    by updating the students’ knowledge on recent trends and technologies.</p>
  </div>

  <!-- ================================================== -->
  <div class="col-md-4  mb-5">
    <a class="pagelinker" href="art_painting_club.html">
    <div class="card-title  text-center">
      <img src="img/art-painting.png " style="width: 100px;height: 100px;">
    </div>
    <div class="card-title text-center">ART PAINTING CLUB</div></a>
    <p class="card-text m-3 servicesinfo text-center">Dedicated to provide the opportunities
    for experiencing the arts, experiment with artistic processes</p>
  </div>

  <div class="col-md-4  mb-5">
    <a class="pagelinker" href="creativity_club.html">
    <div class="card-title  text-center">
      <img src="img/creativity.png " style="width: 100px;height: 100px;">
    </div>
    <div class="card-title text-center">CREATIVITY CLUB</div></a>
    <p class="card-text m-3 servicesinfo text-center">Focused on process art, creativity,
    imagination, nature and play and are all about the creating and not just the end product. </p>
  </div>

  <div class="col-md-4  mb-3">
    <a class="pagelinker" href="photography_club.html">
    <div class="card-title  text-center">
      <img src="img/photography.png" style="width: 100px;height: 100px;">
    </div>
    <div class="card-title text-center">PHOTOGRAPHY CLUB
  </div></a>
  <p class="card-text m-3 servicesinfo text-center">Provide an environment for interested students to share their
  creativity, knowledge and passion for photography.</p>
</div>

<div class="col-md-4  mb-3">
  <a class="pagelinker" href="music_club.html">
  <div class="card-title  text-center">
    <img src="img/music.png " style="width: 100px;height: 100px;">
  </div>
  <div class="card-title text-center">MUSIC CLUB
</div></a>
<p class="card-text m-3 servicesinfo text-center">Focused to share, experience, and express
themselves through different flavors of music and to perform and spice up the mood for all.</p>
</div>

<div class="col-md-4  mb-3">
  <a class="pagelinker" href="adventure_club.html">
<div class="card-title  text-center">
  <img src="img/adventur.png " style="width: 100px;height: 100px;">
</div>
<div class="card-title text-center">ADVENTURE CLUB
</div></a>
<p class="card-text m-3 servicesinfo text-center"> Dedicated to promote the interests of students who
have interests in outdoor pursuits such as hiking, rock climbing etc.</p>
</div>
<div class="col-md-4  mb-5">
  <a class="pagelinker" href="social_service_club.html">
<div class="card-title  text-center">
<img src="img/social-service.png " style="width: 100px;height: 100px;">
</div>
<div class="card-title text-center">SOCIAL SERVICE CLUB</div></a>
<p class="card-text m-3 servicesinfo text-center"> Providing opportunities for involvement in service, social, and spiritual activities for students.</p>
</div>

<div class="col-md-4  mb-5">
  <a class="pagelinker" href="audio_visual_club.html">
<div class="card-title  text-center">
<img src="img/audio-visual.png " style="width: 100px;height: 100px;">
</div>
<div class="card-title text-center">AUDIO VISUAL EDUCATION CLUB</div></a>
<p class="card-text m-3 servicesinfo text-center">Supports teaching, learning, and collaboration by providing innovative education, presentation, and performance technology resources.</p>
</div>

<div class="col-md-4  mb-3">
  <a class="pagelinker" href="meditation_club.html">
<div class="card-title  text-center">
<img src="img/yoga.png " style="width: 100px;height: 100px;">
</div>
<div class="card-title text-center">BODHI MINDFULNESS CLUB
</div></a>
<p class="card-text m-3 servicesinfo text-center">Aim to create a community around the pursuit of living a
more mindful, reflective, and skillful life.</p>
</div>

<div class="col-md-4  mb-3">
  <a class="pagelinker" href="nature_club.html">
<div class="card-title  text-center">
<img src="img/nature.png " style="width: 100px;height: 100px;">
</div>
<div class="card-title text-center">NATURE'S CLUB
</div></a>
<p class="card-text m-3 servicesinfo text-center">To inculcate love and respect among the members for nature and thus work with global
perspective.</p>
</div>
</div>
<!-- ================================================= -->
</div>
</div>
</div>
<div class="container-fluid">
<div class="carousel slide carousel-fade " id="my-carousel" data-ride="carousel">
<div class="carousel-indic"></div>
</div>
</div>
<div class="container">
 <h3 class=" text-lg-left mt-4 mb-0">
           EVENTS GALLARY
            </h3>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
            <br>
            <br>
<div class="row text-center text-lg-left">
<div class="col-lg-3 col-md-4 col-6">
<a href="#" class="d-block mb-4 h-100">
<img class="img-fluid img-thumbnail" src="img/nature/photo1.jpg" alt="">
<!-- <div class="card-text text-center designevent  mt-1">ABHIVYANJANA 2018</div> -->
</a>
</div>
<div class="col-lg-3 col-md-4 col-6">
<a href="#" class="d-block mb-4 h-100">
<img class="img-fluid img-thumbnail" src="img/nature/photo2.jpg" alt="">
<!-- <div class="card-text text-center designevent  mt-1">ABHIVYANJANA 2018</div> -->
</a>
</div>
<div class="col-lg-3 col-md-4 col-6">
<a href="#" class="d-block mb-4 h-100">
<img class="img-fluid img-thumbnail" src="img/nature/photo3.jpg" alt="">
<!-- <div class="card-text text-center designevent  mt-1">ABHIVYANJANA 2018</div> -->
</a>
</div>
<div class="col-lg-3 col-md-4 col-6">
<a href="#" class="d-block mb-4 h-100">
<img class="img-fluid img-thumbnail" src="img/nature/photo4.jpg" alt="">
<!-- <div class="card-text text-center designevent  mt-1">ABHIVYANJANA 2018</div> -->
</a>
</div>
<div class="col-lg-3 col-md-4 col-6">
<a href="#" class="d-block mb-4 h-100">
<img class="img-fluid img-thumbnail" src="../meditation/img/buddha26.jpg" alt="">
<!-- <div class="card-text text-center designevent  mt-1">ABHIVYANJANA 2018</div> -->
</a>
</div>
<div class="col-lg-3 col-md-4 col-6">
<a href="#" class="d-block mb-4 h-100">
<img class="img-fluid img-thumbnail" src="../meditation/img/buddha22.JPG" alt="">
<!-- <div class="card-text text-center designevent  mt-1">ABHIVYANJANA 2018</div> -->
</a>
</div>
<div class="col-lg-3 col-md-4 col-6">
<a href="#" class="d-block mb-4 h-100">
<img class="img-fluid img-thumbnail" src="../meditation/img/buddha25.jpg" alt="">
<!-- <div class="card-text text-center designevent  mt-1">ABHIVYANJANA 2018</div> -->
</a>
</div>
<div class="col-lg-3 col-md-4 col-6">
<a href="#" class="d-block mb-4 h-100">
<img class="img-fluid img-thumbnail" src="../meditation/img/buddha24.jpg" alt="">
<!-- <div class="card-text text-center designevent  mt-1">ABHIVYANJANA 2018</div> -->
</a>
</div>
</div>
</div>
<div class="container">
<h3 class=" text-lg-left mt-4 mb-0">
          UPCOMING EVENTS
            </h3>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
            <br>
            <br><div class="row">
<div class="col-lg-4 col-sm-6 mb-4">
<div class="card h-100">
<a href="#"><img class="card-img-top" src="../img/eveningout1.jpg" alt=""></a>
<div class="card-body">
<h4 class="card-title text-center">
<a class="eventlister" href="#">GBU FOOD FEST</a>
<hr>
</h4>
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
<div class="card h-100">
<a href="#"><img class="card-img-top" src="img/techfest.PNG" alt=""></a>
<div class="card-body">
<h4 class="card-title text-center">
<a class="eventlister" href="#">TECH FEST </a>
<hr>
</h4>
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
</div>
</div>
</div>
<div class="col-lg-4 col-sm-6 mb-4">
<div class="card h-100">
<a href="#"><img class="card-img-top" src="https://source.unsplash.com/2gYsZUmockw/400x300" alt=""></a>
<div class="card-body">
<h4 class="card-title text-center">
<a class="eventlister" href="#">SHAURYA UTSAV</a>
<hr>
</h4>
<p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur eum quasi sapiente nesciunt? Voluptatibus sit, repellat sequi itaque deserunt, dolores in, nesciunt, illum tempora ex quae? Nihil, dolorem!</p>
</div>
</div>
</div>
</div>
</div>

</body>
</html>