<%include header%>

<!-- ccc banner start -->
<div class="container-fluid">
	<div class="row">
		<div class="col-12 p-0">
			<div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
				<ul class="carousel-indicators">
					<li data-target="#demo" data-slide-to="0" class="active"></li>
					<li data-target="#demo" data-slide-to="1"></li>
					<li data-target="#demo" data-slide-to="2"></li>
				</ul>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="../hostel-data/banner/Artboard1savitri.png" id="fill" width="100%">
					</div>
					<div class="carousel-item">
						<img src="../hostel-data/banner/Artboard 1hostel2.png" id="fill" width="100%">
		           </div>
					<div class="carousel-item">
						<img src="../hostel-data/banner/Artboard 1hostel1.png" id="fill" width="100%">
                   </div>
				</div>
				<a class="carousel-control-prev" href="#demo" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
		</div>
	</div>
</div>
<!-- ccc banner end -->
<!-- marquee start -->
<section>
  <div class="" style="background-color: #fb8d1c; height: 30px;" >
         <div class="container text-center" style="vertical-align:middle;">
            <marquee align="center" onmouseout="start();" onmouseover="stop();" scrollamount="4" >
               <a href="http://adm-del.nielit.in/"><p style="color: #000; font-size: 16px;">Welcome to the official webpage of hostels | GBU</p>
               </a>
            </marquee> 
         </div>
      </div>
</section>

<!-- marquee end -->
<!-- nav bar start -->
<nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #78335d">
	<div class="container">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
		</button>
		<div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
			<ul class="nav navbar-nav list-unstyled d-inline-flex nabar-expand-md  mx-auto ">
		<li class="nav-item m-1">
		  <a href="#about" class="nav-link active" data-toggle="tab">About</a>
			</li>
		<li class="nav-item m-1 " >
	      <a href="#boy" class="nav-link" data-toggle="tab">Boys Hostel</a>
			</li>
		 <li class="nav-item m-1">
			<a href="#girl" class="nav-link" data-toggle="tab">Girls Hostel</a>
			</li>
		  <li class="nav-item m-1">
			<a href="#hostel-allotment" class="nav-link" data-toggle="tab">Hostel Allotment</a>
				</li>
				
			</div>
		</div>
	</nav>
	<!-- nav bar end -->
	<!-- about section start -->
	<div class="tab-content">
		<div class="container mt-2 tab-pane active" id="about">
			<h4 class=" text-lg-left mt-3 mb-0">About</h4>
			<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
			</div>
			<br>
			<br>
			<div class="ml-4">
				<p>The University provides hostels to all students (both - boys and girls). There are 18 hostels functioning under Gautam Buddha University campus.Regular maintenance work is carried out in the campus annually for proper upkeep of the hostels.</p>
			</div>
		</div>
	<!-- about section end -->
	<!-- boys hostel section start -->
	<div class="container mt-2 tab-pane" id="boy">
			<h4 class=" text-lg-left mt-3 mb-0">Hostel Warden</h4>
			<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
			</div>
			<br>
			<br>
			<div class="table-responsive">
				<table class="table table-hover text-center table-bordered">
					<tbody>
						<tr>
							<td>
								<b>S. N.</b>
							</td>
							<td>
								<b>Name of the candidate</b>
							</td>
							<td>
								<b>Designation</b>
							</td>
							<td>
								<b>Hostel Office No.</b>
							</td>
						</tr>
						<tr>
							<td>
								1
							</td>
							<td>
								<b>Dr. Manmohan Singh Shishodia</b><br>
								Dean, Student Affairs <br>
								Chief Proctor
							</td>
							<td>
								In-charge Student Affairs
							</td>
							<td>
								6176
							</td>
						</tr>
						<tr>
							<td>
								2
							</td>
							<td>
								<b>Dr. Subhojit Banerjee </b><br>
								Chief Warden (Boys)
							</td>
							<td>
								Chief Warden (Boys)
							</td>
							<td>
								6175
							</td>
						</tr>
						<tr>
							<td>
								3
								
							</td>
							<td>
								<b>Dr. Muhammad Asif </b><br>
								(Warden)
							</td>
							<td>
								Sant Ravi Das Boys Hostel
							</td>
							<td>
								6317
							</td>
						</tr>
						<tr>
							<td>
								4
							</td>
							<td>
								<b>Dr. Arvind Kumar Singh</b><br>
								(Warden)
							</td>
							<td>
								M.R.S.Hostel (Warden)
							</td>
							<td>
								----
							</td>
						</tr>
						<tr>
							<td>
								5
							</td>
							<td>
								<b>Dr. Santosh Kumar Twari</b><br>
								(Warden)
							</td>
							<td rowspan="2">
								
								
								Guru Ghasi Das Boys Hostel
								
							</td>
							<td rowspan="2">
								6335
							</td>
						</tr>
						<tr>
							<td>
								6
							</td>
							<td>
								<b>Dr. Anurag Singh Baghel</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								7
							</td>
							<td>
								<b>Dr. C.S. Paswan </b><br>
								(Warden)
							</td>
							<td rowspan="2">
								
								Shri Narayan Guru Boys Hostel
							</td>
							<td rowspan="2">
								6322
							</td>
						</tr>
						<tr>
							<td>
								8
							</td>
							<td>
								<b>Dr. Akshay Kumar Singh</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								9
							</td>
							<td>
								<b>Dr. Vivek Kumar Mishra </b><br>
								(Warden)
							</td>
							<td rowspan="2">
								
								
								Birsa Munda Hostel Boys
							</td>
							<td rowspan="2">
								6332
							</td>
						</tr>
						<tr>
							<td>
								10
							</td>
							<td>
								<b>Dr. Obaidul Ghaffar</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								11
							</td>
							<td>
								<b>Mr. R.B. Singh </b><br>
								(Warden)
							</td>
							<td rowspan="2">
								
								Sant Kabir Das Hostel Boys
							</td>
							<td rowspan="2">
								6327
							</td>
						</tr>
						<tr>
							<td>
								12
							</td>
							<td>
								<b>Mr. Vikram Singh</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								13
							</td>
							<td>
								<b>Mr. Anant Pratap Singh</b><br>
								(Warden)
							</td>
							<td rowspan="2">
								
								Shri Chatrapati Sahu Ji Maharaj Boys Hostel
							</td>
							<td rowspan="2">
								6279
							</td>
						</tr>
						<tr>
							<td>
								14
							</td>
							<td>
								<b>Dr. Manish Meshram</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								15
							</td>
							<td>
								<b>Dr. Sushil Kumar <br>
								</b>(Warden)
							</td>
							<td rowspan="2">
								
								Malik Mohd. Jaysi Hostel Boys
							</td>
							<td rowspan="2">
								7055
							</td>
						</tr>
						<tr>
							<td>
								16
							</td>
							<td>
								<b>Dr. Prakash Chandra Dilare</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								17
							</td>
							<td>
								<b>Dr. Navaid Zafar Rizvi</b><br>
								(Warden)
							</td>
							<td rowspan="2">
								Tulsidas Hostel Boys
								
							</td>
							<td rowspan="2">
								7062
							</td>
						</tr>
						<tr>
							<td>
								18
							</td>
							<td>
								<b>Dr. Nagendra Singh</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								19
							</td>
							<td>
								<b>Dr. Rajesh Gupta </b><br>
								(Warden)
							</td>
							<td rowspan="2">
								
								Raheem Boys Hostel
							</td>
							<td rowspan="2">
								7066
							</td>
						</tr>
						<tr>
							<td>
								20
							</td>
							<td>
								<b>Dr. Fahed Zulfeqarr</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								21
								
							</td>
							<td>
								<b>Dr. Amit Ujlayan </b><br>
								(Warden) 
							</td>
							<td rowspan="2">
								Ram Sharan Das Boys Hostel
								
							</td>
							<td rowspan="2">
								7059
							</td>
						</tr>
						<tr>
							<td>
								22
							</td>
							<td>
								<b>Dr. Gurmet Dorjey </b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								23
							</td>
							<td>
								<b>Dr. Navaid Zafar Rizvi</b><br>
								(Warden)
							</td>
							<td>
								Munshi Prem Chand Boys Hostel
								(New Hostel)
							</td>
							<td>
								----------
							</td>
						</tr>
						<tr>
							<td>
								24
							</td>
							<td>
								<b>Dr. Vimlesh Kumar </b><br>
								(Warden)
							</td>
							<td>
								Maharshi Valmiki Boys Hostel
							</td>
							<td>
								----------
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
	<!-- boys hostel section end -->
	<!-- girls hostel section start -->
	<div class="container mt-2 tab-pane" id="girl">
			<h4 class=" text-lg-left mt-3 mb-0">Hostel Warden</h4>
		<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
			</div>
			<br>
			<br>
			<div class="table-responsive">
				<table class="table table-hover text-center table-bordered">
					<tbody>
						<tr>
							<td>
								<b>S. N.</b>
							</td>
							<td>
								<b>Name of the candidate</b>
							</td>
							<td>
								<b>Designation</b>
							</td>
							<td>
								<b>Hostel Office No.</b>
							</td>
						</tr>
						<tr>
							<td>
								1
							</td>
							<td>
								<b>Dr. Manmohan Singh Shishodia</b><br> 
								Dean, Student Affairs <br>
								Chief Proctor
							</td>
							<td>
								In-charge Student Affairs
							</td>
							<td>
								6176
							</td>
						</tr>
		
						<tr>
							<td>
								2
							</td>
							<td>
								<b>Dr. Pratiksha Saxena</b><br> 
								Chief Warden (Girls)
							</td>
							<td>
								Chief Warden (Girls)
							</td>
							<td>
								4353
							</td>
						</tr>
					
						<tr>
							<td>
								3
							</td>
							<td>
								<b>Dr. Sumitra Huidrom </b><br>
								(Warden)
							</td>
							<td rowspan="2">
						
								Rani Laxmi Bai Girls Hostel
							</td>
							<td rowspan="2">
								7054
							</td>
						</tr>
						<tr>
							<td>
								4
							</td>
							<td>
								<b>Dr. Rekha Puria </b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								5
							</td>
							<td>
								<b>Ms. Aarti Gautam Dinker</b><br>
								(Warden)
							</td>
							<td rowspan="2">
								Mahamaya Girls Hostel
							</td>
							<td rowspan="2">
								6290
							</td>
						</tr>
						<tr>
							<td>
								6
							</td>
							<td>
								<b>Dr. Deepti Goyal</b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								7
							</td>
							<td>
								<b>Dr. Renu Yadav </b><br>
								(Warden)
							</td>
							<td>
								Rama Bai Ambedkar Girls Hostel 
							</td>
							<td>
								6286
							</td>
						</tr>
						<tr>
							<td>
								8
							</td>
							<td>
								<b>Dr. Priyadarsini Mittra</b><br>
								(Warden)
							</td>
							<td rowspan="2">
								Savitri Bai Phule Girls Hostel
							</td>
							<td rowspan="2">
								6281
							</td>
						</tr>
						<tr>
							<td>
								9
							</td>
							<td>
								<b>Dr. Dipti Singh </b><br>
								(Associate Warden)
							</td>
						</tr>
						<tr>
							<td>
								10
							</td>
							<td>
								<b>Dr. Sandhya Tarar</b><br>
								(Warden)
							</td>
							<td>
								Maha Devi Verma Girls Hostel
							</td>
							<td>
								---------
							</td>
						</tr>
						<tr>
							<td>
								11
							</td>
							<td>
							  <b>Ms. Rupali Shrivastava</b> <br>
								(Warden)
							</td>
							<td>
								Ismat Chughtai Girls Hostel
							</td>
							<td>
								----------
							</td>
						</tr>
					</tbody>
				</table>
			</div>
	</div>
	<!-- girls hostel section end -->
	<!-- hostel allotment start -->
	<div class="container mt-2 tab-pane" id="hostel-allotment">
			<h4 class=" text-lg-left mt-3 mb-0">Hostel Allotment</h4>
			<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
			</div>
			<br>
			<br>
<ul style="list-style-type: circle;">
	<li><a href="../hostel-data/Birsa Munda Boys Hostel_13July19">Birsa Munda Boys Hostel</a></li>
<li><a href="../hostel-data/Guru Ghasi Das Boys Hostel_13July19.pdf">Guru Ghasi Das Boys Hostel</a></li>
<li><a href="../hostel-data/Maha Devi Verma Girls Hostel_13July19.pdf">Maha Devi Verma Girls Hostel</a></li>
<li><a href="../hostel-data/Maha Maya Girls Hostel_13July19.pdf">Maha Maya Girls Hostel</a></li>
<li><a href="../hostel-data/MalikMohammadJaysiBoys19July19.pdf">Malik Mohammad Jaysi Boys Hostel</a></li>
<li><a href="../hostel-data/RaheemBoys_19July19.pdf">Raheem Boys Hostel</a></li>
<li><a href="../hostel-data/Ram Sharan Das Boys Hostel_13July19.pdf">Ram Sharan Das Boys Hostel</a></li>
<li><a href="../hostel-data/Rama Bai Ambedkar Girls Hostel_13July19.pdf">Rama Bai Ambedkar Girls Hostel</a></li>
<li><a href="../hostel-data/Sant Kabir Das Boys Hostel_13July19.pdf">Sant Kabir Das Boys Hostel</a></li>
<li><a href="../hostel-data/Sant Ravi Das Boys Hostel_13July19.pdf">Sant Ravi Das Boys Hostel</a></li>
<li><a href="../hostel-data/Savitri Bai Phule Girls Hostel_13July19.pdf">Savitri BaiPhule Girls Hostel(13 July 2019)</a></li>
<li><a href="../hostel-data/SavitriBaiPhuleGirls_19July19.pdf">Savitri BaiPhule Girls Hostel(19 July 2019)</a></li>
<li><a href="../hostel-data/Shri Chhatrapati Shahu Ji Maharaj Boys Hostel_13July19.pdf">Shri Chhatrapati Shahu Ji Maharaj Boys Hostel</a></li>
<li><a href="../hostel-data/Shri Narayan Guru Boys Hostel_13July19.pdf">Shri Narayan Guru Boys Hostel</a></li>
<li><a href="../hostel-data/Tulsidas Boys Hostel_13July19.pdf">Tulsidas Boys Hostel</a></li>
<li><a href="../hostel-data/Notice_Hostelallotment_pending_9Aug19.jpg">Notice Hostel allotment pending(9 Aug 2019)</a></li>
<li><a href="../hostel-data/HostelAccommodationform_19July19.pdf">Hostel Accommodation form</a></li>
<li><a href="../hostel-data/Brief_Allocation_newadmission_19July19.pdf">Brief Allocation (New admission)</a></li>
</ul>
	</div>
	<!-- hostel allotment end -->
		</div>	
	<%include footer%>