<%include header%>
			<div class="jumbotron mb-0 clubheader" style="background-image:url(img/banner5.png);background-size: cover; background-repeat: no-repeat">
			<div class="container mb-0 ">
				<h1 class="display-4 mb-0 text-white">
				<strong>
				HOSTEL ALLOTMENT
				</strong>
				</h1>
				<hr class="mt-0  pt-0 mb-1">
			</div>
		</div>
		<!-- End pagr title -->
		<div class="container">
			<div class="card bordernow  mt-2 mb-5">
				<div class="card-body">
					<div class="container ">
						<h2 class=" text-lg-left mt-4 mb-0">
        About
        </h2>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
         <br>
        <br>
					<p>The University provides hostels to all students (both - boys and girls). There are 18 hostels functioning under Gautam Buddha University campus.Regular maintenance work is carried out in the campus annually for proper upkeep of the hostels.</p>
					<ul class="ml-4">
						<li> <a href="http://www.gbu.ac.in/Hostel/Notice_Hostelallotment_pending_9Aug19.jpg">  Notice regarding Hostel allotment for students who have not availed hostel till date</a>
						</li>
						<li><a href="http://www.gbu.ac.in/news/353"> Hostel allotment List for Students for Academic Session 2019-20 (Dated 5th August 2019)</a>
						<br></li>
						<li><a href="http://www.gbu.ac.in/news/352"> Hostel allotment List for New Students for Academic Session 2019-20 </a>
						<br></li>
						<li><a href="http://www.gbu.ac.in/Hostel/MentorMenteeList_PhaseI_21July19.pdf"> Mentor Mentee List for Academic Session 2019-20 Phase I </a>
						</li>
					</ul>
					
					
				</div>
			</div>
		</div>
	</div>
			<%include footer%>