<%include header%>
		<div class="jumbotron mb-0 clubheader">
			<div class="container mb-0 ">
				<h1 class="display-4 mb-0">
				<strong>
				HOSTEL ALLOTMENT
				</strong>
				</h1>
				<!-- <hr class="mt-0  pt-0 mb-1"> -->
			</div>
		</div>
		<!-- End pagr title -->
		<!-- Start Nevigation  -->
		<nav class="navbar navbar-expand-md navbar-dark navbarcolour">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse">
					<!-- <ul class="navbar-nav mx-auto">
						<li class="nav-item  active">
							<a href="" class="nav-link active "></a>
							
						</li>
						<li class="nav-item">
							<a href="" class="nav-link"></a>
							
						</li>
						<li class="nav-item">
							<a href="" class="nav-link"></a>
							
						</li>
						<li class="nav-item ">
							<a href="" class="nav-link mr-0"></a>
							
						</li>
						<li class="nav-item ">
							<a href="" class="nav-link mr-0"></a>
							
						</li>
					</ul> -->
				</div>
			</div>
		</nav>
		<!-- Nevigation End -->
		<div class="container">
			
			<div class="card bordernow  mt-5 mb-5">
				<div class="card-body">
					<!-- <div class="container "> -->
						<h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">
						Hostel Allotment
						</h1>
						<hr class="mt-2 mb-5">
					<!-- </div> -->
					<p class="card-text text-justify mt-2">
						
						
						<a href="http://www.gbu.ac.in/Hostel/Notice_Hostelallotment_pending_9Aug19.jpg"> 1. Notice regarding Hostel allotment for students who have not availed hostel till date</a>
						<br><br>
						<a href="http://www.gbu.ac.in/news/353"> 2. Hostel allotment List for Students for Academic Session 2019-20 (Dated 5th August 2019)</a>
						<br><br>
						<a href="http://www.gbu.ac.in/news/352"> 3. Hostel allotment List for New Students for Academic Session 2019-20 </a>
						<br><br>
						<a href="http://www.gbu.ac.in/Hostel/MentorMenteeList_PhaseI_21July19.pdf"> 4. Mentor Mentee List for Academic Session 2019-20 Phase I </a>
						<br><br>
					</p>
					
				
			</div>
			</div>
		</div>
		
			<%include footer%>