<%include header%>

<div class="jumbotron mb-0 clubheader bgimage_iprcell_home_mukul">
  <div class="container mb-0  ">
    <h1 class="display-4 mb-0 text-right text-white"><strong>IPR Cell</strong></h1>
    <hr class="mt-0  pt-0 mb-1">
    <h4 class="display-5 text-right mb-0 text-white">Intellectual Property Right-Courses</h4>
  </div>
</div>
<nav class="navbar navbar-expand-md  navbar-dark navbarcolour_rohit">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbaraa" >
      <ul class="navbar-nav mx-auto" >
        <li class="nav-item">
          <a href="/iprcell/home" class="nav-link">Home</a>
        </li>
        <li class="nav-item ">
          <a href="/iprcell/people" class="nav-link mr-0">People</a>
        </li>
        <li class="nav-item active">
          <a href="/iprcell/courses" class="nav-link mr-0">Courses</a>
        </li>
        <li class="nav-item ">
          <a href="/iprcell/policy" class="nav-link mr-0">GBU IPR Policy</a>
        </li>
        <li class="nav-item ">
          <a href="/iprcell/iprs" class="nav-link mr-0">GBU IPRs</a>
        </li>
        <li class="nav-item ">
          <a href="/iprcell/links" class="nav-link mr-0">Links</a>
        </li><li class="nav-item ">
        <a href="/iprcell/contact-us" class="nav-link mr-0">Contact Us</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container mb-5">
  <div class="container">
    <h2 class=" text-lg-left mt-4 mb-0">
    Intellectual Property Rights, Biosafety and Bioethics
    </h2>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    
    <br>
    <br>
    <p class="mt-3"><strong>A.  </strong>School of Biotechnology offers a 03 Credit course on 'Intellectual Property Rights, Biosafety and Bioethics' in the 9th semester of Integrated B.Tech.-M.Tech. (Biotechnology) and 3rd Semster of M.Tech. (Biotechnology) programs. The objectives of this course are:
    </p>
    <ul>
      <li>
        To provide basic knowledge on intellectual property rights and their implications in biological research and product development.
      </li>
      <li>
        To become familiar with India’s IPR Policy.
      </li>
      <li>
        To learn biosafety and risk assessment of products derived from biotechnology and regulation of such products.
      </li>
      <li>
        To become familiar with ethical issues in biological research.
      </li>
    </ul>
    <p class="mt-4"><strong>B. </strong> School of Vocational Studies and Applied sciences offers a 02 Credit course on 'Patent Law and IPR issues' in the 3rd semester of M.Sc. Applied chemistry and another 02 Credit course on ' Intellectual Property Rights' in B.Sc. Physical sciences. The objectives of these courses are: </p>
    <ul>
      <li>To apprise the students about the multifaceted dimensions of I P issues.</li>
      <li>To introduce them to the basic aspects of Intellectual Property and various rights associated with them</li>
      <li>To create an awareness about the maintenance and protection of IP</li>
      <li>To give them a knowhow of India’s IP policy and its placement among different international treaties</li>
    </ul>
  </div>
</div>
</div>
<%include footer%>