<%include header%>
<!DOCTYPE html>
<html lang="en">
   <head>
      <title>GBU|IPR_Cell</title>
      <link rel="icon" type="image/gif/png" href="../img/logo_gbu.png">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--- Animation -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
   </head>
   <body >
      
      <div class="jumbotron mb-0 clubheader bgimage_iprcell_home_mukul">
        <div class="container mb-0  ">
          <h1 class="display-4 mb-0 text-right text-white"><strong>IPR Cell</strong></h1>
          <hr class="mt-0  pt-0 mb-1">
          <h4 class="display-5 text-right mb-0 text-white">Intellectual Property Right-People</h4>
        </div>
      </div>
	<nav class="navbar navbar-expand-md  navbar-dark navbarcolour_rohit">
	  <div class="container">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse " id="navbaraa" >
	    <ul class="navbar-nav mx-auto" >
	      <li class="nav-item">
	        <a href="/iprcell/home" class="nav-link ">Home</a>
	      </li>
	      <li class="nav-item active">
	        <a href="/iprcell/people" class="nav-link mr-0">People</a>
	      </li>
	      <li class="nav-item">
	        <a href="/iprcell/courses" class="nav-link mr-0">Courses</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/policy" class="nav-link mr-0">GBU IPR Policy</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/iprs" class="nav-link mr-0">GBU IPRs</a>
	      </li>
	<li class="nav-item ">
	        <a href="/iprcell/links" class="nav-link mr-0">Links</a>
	      </li><li class="nav-item ">
	        <a href="/iprcell/contact-us" class="nav-link mr-0">Contact Us</a>
	      </li>
	    </ul>
	  </div>
	</nav>
<div class="container mb-5">
	<div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            List Of People
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          
          <br>
          <br>
<div class="row">
  <div class="col-sm-6 mb-4"><div class="card">
  <h5 class="card-header">Dr. Shakti Singh</h5>
  <div class="card-body">
    <h5 class="card-title_rohit">School of Biotechnology, GBU</h5>
    <p class="card-text">Nodal Officer</p>

  </div>
</div></div>
 <div class="col-sm-6 mb-4"><div class="card">
  <h5 class="card-header">Dr. Bhupendra Chaudhary </h5>
  <div class="card-body">
    <h5 class="card-title_rohit">School of Biotechnology, GBU</h5>
    <p class="card-text">Member (Biotechnology Stream)</p>

  </div>
</div></div>
 <div class="col-sm-6 mb-4"><div class="card">
  <h5 class="card-header">Dr. Tanvi Vats</h5>
  <div class="card-body">
    <h5 class="card-title_rohit">Department of Applied Chemistry, GBU</h5>
    <p class="card-text">Member (Science Stream)</p>

  </div>
</div></div>
 <div class="col-sm-6 mb-4"><div class="card">
  <h5 class="card-header">Dr. Santosh Tiwari</h5>
  <div class="card-body">
    <h5 class="card-title_rohit">Department of Law, GBU</h5>
    <p class="card-text">Member (Law Discipline)</p>

  </div>
</div></div>
 <div class="col-sm-6 mb-4"><div class="card">
  <h5 class="card-header">Dr. Rakesh Srivastava </h5>
  <div class="card-body">
    <h5 class="card-title_rohit">Department of Management, GBU</h5>
    <p class="card-text">Member (HRD)</p>

  </div>
</div></div>
 <div class="col-sm-6 mb-4"><div class="card">
  <h5 class="card-header">Dr. Vinay Kumar Litoria </h5>
  <div class="card-body">
    <h5 class="card-title_rohit">Director CRC</h5>
    <p class="card-text">Member (Placement Cell)</p>

  </div>
</div></div>
 <div class="col-sm-6 mb-4"><div class="card">
  <h5 class="card-header">Dr. Radhey Lal </h5>
  <div class="card-body">
    <h5 class="card-title_rohit">Joint Director </h5>
    <hp class="card-title_rohit">Incharge Patent Information Center CST, U.P. </hp>
    <p class="card-text">External Member</p>

  </div>
</div></div>


  <div class="col-sm-6 mb-4"><div class="card">
  <h5 class="card-header">Ms. Snageeta Nagar </h5>
  <div class="card-body">
    <h5 class="card-title_rohit">Scientist E, PFC, TIFAC, New Delhi</h5>
    <p class="card-text">External Member</p>

  </div>
</div></div>
</div>
</div>
</div>

</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Optional JavaScript -->
<script type="text/javascript" src="../js/main.js"></script>
</body>
</html>

<%include footer%>