<%include header%>
      <div class="jumbotron mb-0 clubheader bgimage_iprcell_home_mukul">
        <div class="container mb-0  ">
          <h1 class="display-4 mb-0 text-right text-white"><strong>IPR Cell</strong></h1>
          <hr class="mt-0  pt-0 mb-1">
          <h4 class="display-5 text-right mb-0 text-white">Intellectual Property Right-Links</h4>
        </div>
      </div>
	<nav class="navbar navbar-expand-md  navbar-dark navbarcolour_rohit">
	  <div class="container">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse " id="navbaraa" >
	    <ul class="navbar-nav mx-auto" >
	      <li class="nav-item">
	        <a href="/iprcell/home" class="nav-link">Home</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/people" class="nav-link mr-0">People</a>
	      </li>
	      <li class="nav-item">
	        <a href="/iprcell/courses" class="nav-link mr-0">Courses</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/policy" class="nav-link mr-0">GBU IPR Policy</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/iprs" class="nav-link mr-0">GBU IPRs</a>
	      </li>
	<li class="nav-item active ">
	        <a href="/iprcell/links" class="nav-link mr-0">Links</a>
	      </li><li class="nav-item ">
	        <a href="/iprcell/contact-us" class="nav-link mr-0">Contact Us</a>
	      </li>
	    </ul>
	  </div>
	</nav>
<div class="container mb-5">
		<div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Important Links
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          <br>
          <br>
<div class="container mb-5">
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">Sl.</th>
                <th scope="col">Discription :</th>
                
                <th scope="col">Website Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>World Intellectual Property Oragnization(WIPO) </td>
                <td><a class="text-light" href="https://www.wipo.int/portal/en/"><button class="btn btn-info ">Visit</button></a></td>
                
              </tr>
               <tr>
                <th scope="row">2</th>
                <td>American Patents' Database</td>
                <td><a class="text-light" href="http://patft.uspto.gov/"><button class="btn btn-info ">Visit</button></a></td>
                
              </tr>
               <tr>
                <th scope="row">3</th>
                <td>Indian Patents' Database</td>
                <td><a class="text-light" href="http://patinfo.nic.in/"><button class="btn btn-info ">Visit</button></a></td>
                
              </tr>
               <tr>
                <th scope="row">4</th>
                <td>Intellectual Property, India</td>
                <td><a class="text-light" href="http://ipindia.nic.in/"><button class="btn btn-info ">Visit</button></a></td>
                
              </tr>
               <tr>
                <th scope="row">5</th>
                <td>European Patent Office </td>
                <td><a class="text-light" href="http://epo.org/"><button class="btn btn-info ">Visit</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>
</div>
</div>
<%include footer%>