<%include header%>
   <head>
      <title>GBU|IPR_Cell</title>
      <link rel="icon" type="image/gif/png" href="../img/logo_gbu.png">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="../css/style.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--- Animation -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
   </head>
   <body >
      <div class="jumbotron mb-0 clubheader bgimage_iprcell_home_mukul">
        <div class="container mb-0  ">
          <h1 class="display-4 mb-0 text-right text-white"><strong>IPR Cell</strong></h1>
          <hr class="mt-0  pt-0 mb-1">
          <h4 class="display-5 text-right mb-0 text-white">Intellectual Property Right-Home</h4>
        </div>
      </div>
	<nav class="navbar navbar-expand-md  navbar-dark navbarcolour_rohit">
	  <div class="container">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse " id="navbaraa" >
	    <ul class="navbar-nav mx-auto" >
	      <li class="nav-item">
	        <a href="/iprcell/home" class="nav-link active">Home</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/people" class="nav-link mr-0">People</a>
	      </li>
	      <li class="nav-item">
	        <a href="/iprcell/courses" class="nav-link mr-0">Courses</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/policy" class="nav-link mr-0">GBU IPR Policy</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/iprs" class="nav-link mr-0">GBU IPRs</a>
	      </li>
	<li class="nav-item ">
	        <a href="/iprcell/links" class="nav-link mr-0">Links</a>
	      </li><li class="nav-item ">
	        <a href="/iprcell/contact-us" class="nav-link mr-0">Contact Us</a>
	      </li>
	    </ul>
	  </div>
	</nav>
<div class="container">
		 <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            About
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          
          <br>
          <br>


<p class="text-justify">
  <ul> 
   <li> Gautam Buddha University was established in the year 2008 by the Uttar Pradesh Act (9) of 2002. The University is recognized by the University Grants Commission of India under section 2(f) of UGC Act 1956 and approved by UGC under section 12-B. The University had initiated research activities since its inception with the help of qualified faculty members and ambitious students. The University aspires to conduct R&D in diverse areas aiming to cover the full spectrum, from fundamental and theoretical studies, through research of relevance to business and industry with practice-based studies in Science, Engineering, Management, and allied areas.
    </li>
<li>
The focus of the University in promoting interdisciplinary research is to bring together experts from a variety of disciplines to identify challenges and deliver practical solutions. University also guides and encourages the faculty members to propose new research projects and ideas to carry out innovative research, apply for externally funded research projects to different national and international funding agencies, and also in helping the researchers in filing the Intellectual Properties (IPs) generated and protecting their rights.
</li>
<li>
Intellectual Property Rights given to the inventor(s) to control the use of his/her new creations or inventions for a limited period of time are vital for the socio- economic prosperity of the nation. These rights help in promoting creativity and inventiveness through dissemination of new knowledge or products and encourage fair competition. 
</ul>
 </p>





  </div>




	</div>
  </div>

   <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Objectives
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          
          <br>
          <br>
<p>Considering the requirement, an IPR Cell has been established at Gautam Buddha University in association with Council of Science and Technology (CST), Uttar Pradesh promoting and disseminating issues related to IPR through following objectives:</p>
   <h5>Training, Awareness & Protection of IPRs </h5>
   <ul class="mb-2">
     <li>To create awareness amongst potential researchers of the University (students/faculty members) on basics of IPRs, especially patents & copyrights.</li>
     <li> To encourage the students & faculty members to carry out patent searches in- house and/or at PIC and to fine-tune their research objectives. </li>
     <li>To conduct workshops and seminars on IP-related issues and contemporary topics of discussion. </li>
     <li>To motivate the innovators promoting to generate new ideas and further guiding in alliance with University Incubation Center. </li>
     <li>To facilitate the filing of IPs through their timely clearance and forwarding to the Patent Office.</li>
     <li>To bridge between the University and Patent Information Centre, CST, UP.</li>
   </ul>
   </ul>
  </div>
	<!--FOOTER START FROM HERE--->
	<footer class="page-footer font-small unique-color-dark bg-dark">
		 <div class="bg-light" >
				<div class="container">
					 <!-- Grid row-->
					 
					 <!-- Grid row-->
				</div>
		 </div>
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<!-- Popper JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<!-- Optional JavaScript -->
	<script type="text/javascript" src="../js/main.js"></script>
	</body>
<%include footer%>