<%include header%>

      <div class="jumbotron mb-0 clubheader bgimage_iprcell_home_mukul">
        <div class="container mb-0  ">
          <h1 class="display-4 mb-0 text-right text-white"><strong>IPR Cell</strong></h1>
          <hr class="mt-0  pt-0 mb-1">
          <h4 class="display-5 text-right mb-0 text-white">Intellectual Property Right-IPRS</h4>
        </div>
      </div>
	<nav class="navbar navbar-expand-md  navbar-dark navbarcolour_rohit">
	  <div class="container">
	    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
	    <span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse " id="navbaraa" >
	    <ul class="navbar-nav mx-auto" >
	      <li class="nav-item">
	        <a href="/iprcell/home" class="nav-link ">Home</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/people" class="nav-link mr-0">People</a>
	      </li>
	      <li class="nav-item">
	        <a href="/iprcell/courses" class="nav-link mr-0">Courses</a>
	      </li>
	      <li class="nav-item ">
	        <a href="/iprcell/policy" class="nav-link mr-0">GBU IPR Policy</a>
	      </li>
	      <li class="nav-item active">
	        <a href="/iprcell/iprs" class="nav-link mr-0">GBU IPRs</a>
	      </li>
	<li class="nav-item ">
	        <a href="/iprcell/links" class="nav-link mr-0">Links</a>
	      </li><li class="nav-item ">
	        <a href="/iprcell/contact-us" class="nav-link mr-0">Contact Us</a>
	      </li>
	    </ul>
	  </div>
	</nav>

<div class="container mb-5">

		<div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Patents [GRANTED]
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          
          <br>
          <br>
<p class="mt-3"><strong>US Patent: </strong>Polysaccharide agents and methods of their use for removing solids from water. Inventors: Rajani Srinivasan, Anuradha Mishra, John McKinney .


</p>
<p><strong>Assignee:</strong> THE TEXAS A&M UNIVERSITY SYSTEM. A part of the technology has been licensed by a Company Pristana LLC headed by Mr. John Mckinney of Company Columbia Biogas, California. </p>
</div>
  <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Patent [FILED]
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          
          <br>
          <br>
<ul>
  <li>
    <strong> Bhupendra Chaudhary,</strong> Sakshi Arora and Dhananjay Pandey (2018) Method of plant phenotype alteration via target-mimicry based diminution of miRNA167. India Patent Application No. 201811032478 A, 30 August 2018
  </li>
  <li>
   <strong>   Vikrant Nain</strong> and Suman (2017) Sequences and procedures for high throughput assembly of TALE nucleases/TALE fusion proteins. (Patent Application No. 201711009831) 2017
  </li>
  <li>
  <strong> Bhupendra Chaudhary</strong> and Dhananjay Pandey (2017) Bioengineering of Cotton for Increased Floral Inception and Fiber Initiation. India Patent Application No. 201711026325 A, 04 August 2017

  </li>
  <li>
     <strong> Bhupendra Chaudhary</strong> and Dhananjay Pandey (2017) Method for enhanced tetrahydrofolate production by deregulation of allosteric inhibition of dihydroneopterin aldolase (DHNA). India Patent Application No.201711000033 A, 05 January 2017

  </li>
  <li>  <strong> Bhupendra Chaudhary </strong>  and Dhananjay Pandey (2016) Methods of Producing Early Flowering and Enhanced Agronomic Traits in Plants. India Patent Application No.201611036458 A, 28 October 2016
</li>
<li><strong> Shakti Sahi and Vikrant Nain</strong>  (2013) Methods and compositions for expression, purification, activation and enzyme assay of Leucyl amino peptidases” (27/DEL/2013) </li>

<li><strong>Vikrant Nain and Shakti Sahi</strong> (2013) A synthetic gene encoding Plasmodium falciparum leucyl aminopeptidase PfA-M17 and uses thereof” (28/DEL/2013). </li>
</ul>
</div>
  <div class="container">
            <h2 class=" text-lg-left mt-4 mb-0">
            Copyrights
            </h2>
            <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
          
          <br>
          <br>


<ul>
  <li>Saxena Pratiksha, Lokesh Sharma, Copyright of QSIM, L-53455/2013.</li>
  <li>Saxena Pratiksha, Tulsi Kushwaha, Copyright of SIMIN, L-53456/2013.</li>
  <li>Saxena Pratiksha, Abhinav Chaudhary, Sanchit Kumar, Satyavan Singh, Copyright of TRANSSIM, L-58410/2014.
  </li>
  <li>Pratiksha Saxena, Bhavya Nidhi Vats, L-62664/2015.
</li>
<li>  Pratiksha Saxena, Neha Khanna, Copyright of SIMFEED, L-72258/2018.</li>

</ul>

</div>
</div>

<%include footer%>