<%include header%>
 <div class="jumbotron mb-0 clubheader bgimage_about_home_mukul banner-mob-view" >
        
    <div class="container mb-0  ">
      <h1 class="display-4 text-right mb-2" style="color: white"><strong>Internal Quality Assurance Cell</strong></h1>
      <hr class="mt-0  pt-0 mb-1">
    </div>
  </div>
   

  <div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
  This is the IQAC Details Section!
</div>

<section>
    <!-- section1 start -->
  <div class="section-1 p-4">
    <div class="container">
      <div class="row " style="padding: 20px 0px;">
        <div class="column col-md-6 " style=" background-image: url(../../../../gbudata/IQAC/iqac.jpg);background-repeat: no-repeat;background-size: cover;" >
          
        </div>
        <div class="column col-md-6">
          <h2 style="font-size: 22px !important;">About IQAC</h2>​​​​
          <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
          <p>As per National Assessment and Accreditation Council (NAAC) guidelines every accredited institution should establish an Internal Quality Assurance Cell (IQAC) as a post-accreditation quality sustenance measure. Since quality enhancement is a continuous process, the IQAC becomes a part of the institution's system and works towards realization of the goals of quality enhancement and sustenance. 
          <!--   <br>
            <br>
            <br>
            <a href="../../../../gbudata/approval/RCI.pdf"><button type="button" class="btn btn-success">RCI Approval Letter</button></a> -->
            </p>
        </div>
      </div>
    </div>
  </div>
</section>
  <!--    section1 end -->
  <%include footer%>