<%include header%>
    <div class="jumbotron mb-0 clubheader bgimage_library">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0"><strong>Bodhisattva Dr. B.R.Ambedkar Library</strong></h1>
        <hr class="mt-0  pt-0 mb-1">
        <h4 class="display-5 text-right mb-0">RULES & REGULATIONS</h4>
      </div>
    </div>
    <!-- End Page title -->
    <!-- Start Nevigation  -->
    <nav class="navbar navbar-expand-md navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbaraa" >
          <ul class="navbar-nav mx-auto" >
            <li class="nav-item  active">
              <a href="/library" class="nav-link active ">HOME</a>

            </li>
            <li class="nav-item">
              <a href="/library/services" class="nav-link active">SERVICES</a>

            </li>
            <li class="nav-item">
              <a href="/library/e-services" class="nav-link active">E-SERVICES</a>

            </li>
            <li class="nav-item ">
              <a href="/library/open-access-e-resources" class="nav-link  active mr-0">OPEN ACCESS E-RESOURCES</a>

            </li>
            <li class="nav-item ">
              <a href="/library/rules-regulations" class="nav-link active mr-0">RULES & REGULATIONS</a>

            </li>
            </ul>

        </div>
      </div>
    </nav>
    <!-- Nevigation End -->
    <div class="container">
      <!-- RULES AND REGULATIONS -->
      <div class="card bordernow mt-5 mb-5">
        <div class="card-body">
          <div class="container">
            <h1 class="font-weight-light text-lg-right mt-4 mb-0">
            RULES AND REGULATIONS
            </h1>
            <hr class="mt-2 mb-5">
            <strong>
            <h4 class="font-weight-lighter"><i class="fa fa-book"></i> LIBRARY OPENING AND CLOSING HOURS</h4>
            </strong><br>

            <div class="table-resposive-sm">
              <table class="text-center table table-hover table-bordered ">
                <thead>
                    <tr>
                    <th>Days</th>
                    <th>Opening & Closing times</th>

                  </tr>
                  </thead>
                <tbody>


                  <tr>
                    <td>Monday to Saturday </td>
                    <td>09:00 am to 06.30 pm </td>

                  </tr>
                </tbody>
              </table><br>
              <p><b><i><i class="fa fa-tags"></i> One Reading Hall 24x7 Open (including Sunday and Public holidays)</i></b></p>
            </div>
            <br>
            <div id="ccc1" class="collapse"> <p class="card-text text-justify"><h4 class="card-title font-waight-light text-left">
            GENERAL RULES</h4></p>
            <hr>
            <p class="card-text text-justify">1. All the members are required to maintain proper discipline in the
            library premises, and observe library rules. </p>
            <p class = "card-text-justify">2. Silence shall be observed in the library. </p>
            <p class ="card-text-justify">3. Users found talking loudly, shouting or quarreling or including
            in eve-teasing or any other act of indiscipline shall be liable to be punished as per University Rules.</p>
            <p class="card-text-justify">4. Smoking/Spitting is strictly prohibited in the library. </p>
            <p class ="card-text-jusify">5. Damage to the library property may lead to the withdrawal
            of library membership. In serious cases, a heavy fine and other disciplinary action will be levied/ taken. </p>
            <p class ="card-tect-justify">6. The use of mobile phones is not allowed in the library. </p>
            <p class ="card-text-justify">7. Any member who is guilty of taking a book out of the library without authorization shall be liable to disciplinary action and withdrawal of library privileges and/or fine. University librarian shall impose any one or more of the following penalties, in case of indiscipline:
              a) Warning (by the librarian)
              b) Fine
              c) Temporary or permanent withdrawal or cancellation of library membership.
            </p>
          </div>
          <a href="#ccc1" class="float-right btn btn-outline-primary" data-toggle="collapse">Expand</a>
        </div>
      </div>
    </div>
    <!--End RULES AND REGULATIONS -->

    <!-- MEMBERSHIP RULES -->
    <div class="card bordernow mt-2 mb-5">
      <div class="card-body">
        <div class="container">
          <h1 class="font-weight-light text-lg-right mt-4 mb-0">
          MEMBERSHIP RULES
          </h1>
          <hr class="mt-2 mb-5">
          <strong>
          <h4 class="font-weight-lighter"><i class="fa fa-handshake-o" aria-hidden="true"></i> MEMBERSHIP</h4>
          </strong><br>
          <p class="text-justify">
            All faculties, staff, scholars and students of GBU are entitled to become Library members. Registered Members must produce his/her identity card at the entrance of the Library failing which admission may be refused. Special care should be taken that the Identity Card/Membership Card is not misplaced or lost. If a membership card is lost, it must be reported immediately to the library to avoid any misuse. However, the members will be responsible for the misuse of the ID card, if any.
          </p>
          <br>
          <strong>
          <h4 class="font-weight-lighter"><i class="fa fa-book"></i> ISSUE-RETURN RULES</h4>
          </strong><br>
          <div class="table-resposive-sm">
            <table class="text-center table table-bordered table-hover">
              <thead>
                  <tr>
                  <th>S.No.</th>
                  <th>Catgory</th>
                  <th>No. Of Books</th>
                  <th>Duration</th>
                </tr>
                </thead>

              <tbody >


                <tr>
                  <td>1. </td>
                  <td>Research Scholars </td>
                  <td>8</td>
                  <td>45 Days</td>

                </tr>
                <tr>
                  <td>2.</td>
                  <td>Students</td>
                  <td>4</td>
                  <td>15 Days</td>
                </tr>
              </tbody>
            </table>

          </div>
          <div id="ccc2" class="collapse">
            <strong>
            <h4 class="font-weight-light "><i class="fa fa-rupee"></i> FINE FOR LATE RETURN BOOKS</h4>
            </strong>

            <p class="card-text text-justify">Members have to return all the issued
              books on the time failing which fine of Rs. 5 per day per book shall be charged.

            </p>
          </div>
          <a href="#ccc2" class="float-right btn btn-outline-primary" data-toggle="collapse">Expand</a>
        </div>
      </div>
    </div>
    </div>
  <%include footer%>