<%include header%>
  <head>
    <title>GBU-LIBRARY</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/now.css">
    <link rel="stylesheet" type="text/css" href="assets/css/banner.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/gif/png" href="./img/logo_gbu.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--- Animation --->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
  </head>
  <body >
    <!-- home section - start from here -->
    <div class="jumbotron mb-0 clubheader banner-bg" style="background-image: url(assets/img/banner1.png); ">
      
      <div class="container">
        <h3 class="mb-0 text-left" style="color: black;">
        
        BODHISATTVA Dr. B.R. AMBEDKAR<br>LIBRARY
        </h3>
        <hr class="mt-0 pt-0 mb-1">
        <h3 class="display-5 text-right mb-0">HOME</h3>
      </div>
      
    </div>
    <!-- navbar - start from here -->
    <nav class="navbar navbar-expand-md  navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbaraa" >
          <ul class="navbar-nav mx-auto" >
            <li class="nav-item  active">
              <a href="/library/home" class="nav-link active ">Home</a>
            </li>
            <li class="nav-item">
              <a href="/library/about" class="nav-link active">About</a>
            </li>
            <li class="nav-item ">
              <a href="/library/online-catalogue" class="nav-link active mr-0">Online Catalogue</a>
            </li>
            <li class="nav-item">
              <a href="/library/e-resources" class="nav-link active">E-Resources</a>
            </li>
            <li class="nav-item ">
              <a href="/library/downloads-&-forums" class="nav-link  active mr-0">Downloads & Forms</a>
            </li>
            <li class="nav-item ">
              <a href="/library/contact-us" class="nav-link active mr-0">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <!-- home section start -->
    <div class="container">
      <h3 class=" text-lg-left mt-3 mb-0">Home</h3>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
      </div>
    </div>
    <div class="container">
      <div class="pb-1 ">
        <ul><li>
          <p class="card-text mt-5 text-justify">Bodhisattva Dr. B.R.Ambedkar Library is the heart of academic and research activities of the Gautam Buddha University. It has been catering to the needs of faculty members, research scholars, and students on campus effectively. It has huge volumes of books, journals and e-journals which cover the disciplines of management, computer science, information technology, biotechnology, Humanities, Social Sciences, Law, Environmental Science, Engineering, Buddhist Studies and other related areas.
          </p></li><li>
          <p> The library is located on the outer circle of the schools as the background of Tathagat’s statue and is constructed in 1.78 lacs sqft., spread over five story building. It was established in 2008 and shifted to its new building in 2010.  </p></li><li>
          <p>The library is well equipped with modern facilities, spacious stack halls, 2000-seating capacity reading hall, reference sections, catalogue area, digital library, multiple loaning counters, and is managed by a highly dedicated team of professionals. The Central Library is a fully automated with Libsys and RFID systems. </p></li><li>
          <p>The mission of Bodhisattva Dr. B.R.Ambedkar Library is to “provide high quality services in support of the teaching and research objectives of the University communities”.
          </p></li></ul>
          
          
          <a href="https://docs.google.com/forms/d/e/1FAIpQLScQzGHxKuUZzqoGida4Fl57GUn82ONIubPD6SoDutnwtawMfA/viewform" class="btn btn-info" role="button">Online Form for I-Card Registration</a>
        </div>
      </div>
      <!-- home section start -->
      <div class="container">
        <h3 class=" text-lg-left mt-3 mb-0">Rules and Regulations</h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
        </div>
      </div>
      <div class="container">
        <div class="pb-1 ">
          <ul><li>
            <h5 class="card-text mt-5 text-justify">Membership Rule:
            </h5>
            <p>All faculties, staff, scholars and students of GBU are entitled to become Library members. Registered Members must produce his/her identity card at the entrance of the Library failing which admission may be refused. Special care should be taken that the Identity Card/Membership Card is not misplaced or lost. If a membership card is lost, it must be reported immediately to the library to avoid any misuse. However, the members will be responsible for the misuse of the ID card, if any.</p>
          </li>
          <li>
          <h5>Issue-Return Rule:</h5>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">  Category</th>
                
                <th scope="col">No. of Books</th>
                 <th scope="col">Duration</th>
              </tr>
            </thead>
            <tbody>
        <tr>
            <td class="auto-style8">1.</td>
            <td>Research Scholars</td>
            <td>8</td>
            <td>45 Days</td>
        </tr>
        <tr>
            <td class="auto-style8">2.</td>
            <td>Students</td>
            <td>4</td>
            <td>15 Days</td>
        </tr>
    </tbody>
</table>
        </li>
        <li>
          <h5>Fine for Late Return Books</h5>
          <p>Members have to return all the issued books on the time failing which fine of Rs. 5 per day per book shall be charged.</p>
        </li><li>
          <h5>General Rules</h5>
<ul><li>
  All the members are required to maintain proper discipline in the library premises, and observe library rules.
</li>
<li>Silence shall be observed in the library.</li>
<li>Users found talking loudly, shouting or quarreling or including in eve-teasing or any other act of indiscipline shall be liable to be punished as per University Rules.
</li>
<li>Smoking/Spitting is strictly prohibited in the library.</li>
<li>Damage to the library property may lead to the withdrawal of library membership. In serious cases, a heavy fine and other disciplinary action will be levied/ taken.</li>
<li>The use of mobile phones is not allowed in the library.</li>
<li>Any member who is guilty of taking a book out of the library without authorization shall be liable to disciplinary action and withdrawal of library privileges and/or fine. University librarian shall impose any one or more of the following penalties, in case of indiscipline:
a) Warning (by the librarian)
b) Fine
c) Temporary or permanent withdrawal or cancellation of library membership.</li>
</ul>
        </li></ul>
        </div>
      </div>
        <!-- Optional JavaScript -->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
      </body>
    <%include footer%>