<%include header%>
    <div class="jumbotron mb-0 clubheader bgimage_library">
      <div class="container mb-0  ">
        <h1 class="display-4 mb-0"><strong>Bodhisattva Dr. B.R.Ambedkar Library</strong></h1>
        <hr class="mt-0  pt-0 mb-1">
        <h4 class="display-5 text-right mb-0">LIBRARY HOME</h4>
      </div>
    </div>
    <nav class="navbar navbar-expand-md  navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbaraa" >
          <ul class="navbar-nav mx-auto" >
            <li class="nav-item  active">
              <a href="/library" class="nav-link active ">HOME</a>

            </li>
            <li class="nav-item">
              <a href="/library/services" class="nav-link active">SERVICES</a>

            </li>
            <li class="nav-item">
              <a href="/library/e-services" class="nav-link active">E-SERVICES</a>

            </li>
            <li class="nav-item ">
              <a href="/library/open-access-e-resources" class="nav-link  active mr-0">OPEN ACCESS E-RESOURCES</a>

            </li>
            <li class="nav-item ">
              <a href="/library/rules-regulations" class="nav-link active mr-0">RULES & REGULATIONS</a>

            </li>
          </ul>
        </div>
      </nav>

      <div class="container">
        <div class="card bordernow  mt-5 mb-5">
          <div class="card-body">
            <div class="container">
              <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">ABOUT US</h1>
              <hr class="mt-2 mb-5">
            </div>
            <div class="pb-2">


              <p class="card-text mt-5 text-justify">Bodhisattva Dr. B.R.Ambedkar Library is the heart of academic and research activities of the Gautam Buddha University. It has been catering to the needs of faculty members, research scholars, and students on campus effectively. It has huge volumes of books, journals and e-journals which cover the disciplines of management, computer science, information technology, biotechnology, Humanities, Social Sciences, Law, Environmental Science, Engineering, Buddhist Studies and other related areas.
              </p>
              <P> The library is located on the outer circle of the schools as the background of Tathagat’s statue and is constructed in 1.78 lacs sqft., spread over five story building. It was established in 2008 and shifted to its new building in 2010.  </P>
              <P>The library is well equipped with modern facilities, spacious stack halls, 2000-seating capacity reading hall, reference sections, catalogue area, digital library, multiple loaning counters, and is managed by a highly dedicated team of professionals. The Central Library is a fully automated with Libsys and RFID systems. </P>
              <p>The mission of Bodhisattva Dr. B.R.Ambedkar Library is to “provide high quality services in support of the teaching and research objectives of the University communities”.
              </p>
              <br>
              <div id="ccc1" class="collapse"> <p class="card-text text-justify">
                <h3 class="font-weight-light text-center text-lg-right mt-4 mb-0">OBJECTIVES </h3>
                <hr class="mt-2 mb-5">
                <p class="card-text text-justify"> i).  To advance and support teaching and learning activities of the university.</p>
                <p class="card-text text-justify">  ii).  To support research activities of the university.</p>
                <p class="card-text text-justify"> iii).   To procure, process, organize, display, facilitates access to Scholarly communications.
                </p>
                <br>
                <h3 class="font-weight-light text-center text-lg-right mt-4 mb-0">FUTURE PLANS </h3>
                <hr class="mt-2 mb-5">
                <p class="card-text text-justify"> • Close Circuit TV on all floors.
                </p>
                <p class="card-text text-justify">  • Collaboration and form partnerships with other leading National and International Universities.</p>
                <p class="card-text text-justify">  • Establishment of Braille Section for special users .
                </p>
                <p class="card-text text-justify">  • To develop and implement of Institutional Repository.
                </p> <p class="card-text text-justify">  • Development text book and reference section.
              </p> <p class="card-text text-justify">  • Digitization of institute project reports, technical reports, annual reports, faculty publication, conference proceeding etc.
            </p> <p class="card-text text-justify">  • Increase and strengthen use of reading material and technology.
          </p> <p class="card-text text-justify">   • Implementation of a user-friendly search and discovery tool.
        </p>
      </div>
      <a href="#ccc1" class="float-right " data-toggle="collapse"><strong class ="btn btn-outline-primary buttoncolour justify-content-center">Expand</a></strong></a>
      <br>
    </div>
  </div>
  <!--contact us-->
</div>
<div class="container">

  <div class="card justify-content-center  " >
    <div class="card-body">
      <div class="container">
        <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">CONTACT US</h1>
        <hr class="mt-2 mb-5">
      </div>


      <p class="card-text "><h5 class="card-text text-left"> <b> Dr. Maya Mishra </b> </h5>
        <p class= "card-text text-left"> (
          Deputy Librarian
        ) </P>
        <p class= "card-text text-left">Bodhisattva Dr. B. R. Ambedkar Library  </p>
        <p class= "card-text text-left"><i class="fa fa-phone"> </i> +91-120-2346262 </p>
        <p class= "card-text text-left"><i class="fa fa-envelope-o"> </i> mayamishra@gbu.ac.in</p>

      </div>
    </div>

  </div>

</p>
</p>
</div>
</div>
</div>
</p>
</div>
</div>
</div>
</div>
</div>
</div>
</nav>
<%include footer%>
