<%include header%>
    <div class="jumbotron mb-0 clubheader bgimage_library">
         <div class="container mb-0 ">
            <h1 class="display-4 mb-0"><strong>Bodhisattva Dr. B.R.Ambedkar Library</strong></h1>
            <hr class="mt-0  pt-0 mb-1">
            <h4 class="display-5 text-right mb-0">LIBRARY E-SERVICES</h4>
         </div>
      </div>


    <nav class="navbar navbar-expand-md  navbar-dark navbarcolour">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbaraa" >
    <ul class="navbar-nav mx-auto" >
      <li class="nav-item  active">
        <a href="/library" class="nav-link active ">HOME</a>

      </li>
      <li class="nav-item">
        <a href="/library/services" class="nav-link active">SERVICES</a>

      </li>
      <li class="nav-item">
        <a href="/library/e-services" class="nav-link active">E-SERVICES</a>

      </li>
      <li class="nav-item ">
        <a href="/library/open-access-e-resources" class="nav-link  active mr-0">OPEN ACCESS E-RESOURCES</a>

      </li>
      <li class="nav-item ">
        <a href="/library/rules-regulations" class="nav-link active mr-0">RULES & REGULATIONS</a>

      </li>
    </ul>

  </div>




</nav>
    <div class="container">

          <br>
          <div class="card bordernow" >
              <div class="card-body">
                 <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">E-RESOURCES</h1>
    <hr class="mt-2 mb-3">
                <h4 class="font-weight-light text-center text-lg-right mt-4 mb-0">E-Journal/Database</h4>
    <hr class="mt-2 mb-5">

           <p class="card-text text-justify">1. World E-book Library</p>
                         <p>  URL: <a href="   http://Community.WorldLibrary.In/?AffiliateKey=NDL-BY1838 "> <u> http://Community.WorldLibrary.In/?AffiliateKey=NDL-BY1838 </u> </a></p>
                    <p class="card-text text-justify">2. India Quarterly </p>
                    <p>  URL: <a href="  http://journals.sagepub.com/toc/iqqa/current  "> <u>http://journals.sagepub.com/toc/iqqa/current </u></a></p>
                    <p class="card-text text-justify">3. Indian Journal of Public Administration </p>
                    <p>  URL: <a href="   http://journals.sagepub.com/toc/ipaa/current  ">  <u>http://journals.sagepub.com/toc/ipaa/current </u></a></p>
                    <p class="card-text text-justify">4. International Studies</p>
                    <p>  URL: <a href="   http://journals.sagepub.com/toc/isqa/current "><u>http://journals.sagepub.com/toc/isqa/current</u> </a></p>
                    <p class="card-text text-justify">5.Jadavpur Journal of International Relations</p>
                    <p>  URL: <a href=" http://journals.sagepub.com/toc/jnra/current "> <u> http://journals.sagepub.com/toc/jnra/current</u> </a></p>
                    <div id="ccc1" class="collapse">
                      <p class="card-text text-justify">6.Vikalpa  </p>
                      <p>  URL: <a href="   http://journals.sagepub.com/toc/vika/current"><u>http://journals.sagepub.com/toc/vika/current </u>  </a></p>
                      <p class="card-text text-justify">7.SCC Online (IP Accessible) {Free Registration Required} </p>
                      <p>  URL: <a href="  www.scconline.com  "> <u>www.scconline.com </u></a></p>
                      <br>

                       <h4 class="font-weight-light text-center text-lg-right mt-4 mb-0">E-BOOKS</h4>
    <hr class="mt-2 mb-5">
                      <p class="card-text text-justify">1. Comprehensive Nanoscience and Technology</p>
                      <p>  URL: <a href="  http://www.sciencedirect.com/science/referenceworks/9780123743961 "> <u>http://www.sciencedirect.com/science/referenceworks/9780123743961 </u> </a></p>
                      <p class="card-text text-justify">2. Comprehensive Natural Products Chemistry </p>
                      <p>  URL: <a href="  http://www.sciencedirect.com/science/referenceworks/9780080912837"> <u>http://www.sciencedirect.com/science/referenceworks/9780080912837</u>
                      </a></p>
                      <p class="card-text text-justify">3. Encyclopedia of Applied Psychology </p>
                      <p>  URL: <a href="  http://www.sciencedirect.com/science/referenceworks/9780126574104 ">  <u> URL: http://www.sciencedirect.com/science/referenceworks/9780126574104</u>
                      </a></p>
                      <p class="card-text text-justify">4. Encyclopedia of Biological Chemistry</p>
                      <p>  URL: <a href=" http://www.sciencedirect.com/science/referenceworks/9780124437104 "><u> URL: http://www.sciencedirect.com/science/referenceworks/9780124437104</u>
                      </a></p>
                      <p class="card-text text-justify">5. Encyclopedia of Genetics</p>
                       <p>  URL: <a href="http://www.sciencedirect.com/science/referenceworks/9780122270802 "><u> http://www.sciencedirect.com/science/referenceworks/9780122270802 </u></a></p>

                      <p class="card-text text-justify">6. Encyclopedia of Immunology (Second Edition) </p>
                      <p>  URL: <a href="  http://www.sciencedirect.com/science/referenceworks/9780122267659  "> <u> URL: http://www.sciencedirect.com/science/referenceworks/9780122267659 </u> </a></p>
                      <p class="card-text text-justify">7.Encyclopedia of Information Systems </p>
                      <p>  URL: <a href="  http://www.sciencedirect.com/science/referenceworks/9780122272400 "> <u> http://www.sciencedirect.com/science/referenceworks/9780122272400 </u>  </a></p>
                      <p class="card-text text-justify">8. Encyclopedia of International Media and Communications</p>
                      <p>  URL: <a href="  http://www.sciencedirect.com/science/referenceworks/9780123876706 "> <u> http://www.sciencedirect.com/science/referenceworks/9780123876706 </u> </a></p>
                      <p class="card-text text-justify">9. Encyclopedia of Mathematical Physics </p>
                      <p>  URL: <a href=" http://www.sciencedirect.com/science/referenceworks/9780125126663"> <u> http://www.sciencedirect.com/science/referenceworks/9780125126663</u>
                      </a></p>
                      <p class="card-text text-justify">10. Encyclopedia of Modern Optics </p>
                      <p>  URL: <a href="   http://www.sciencedirect.com/science/referenceworks/9780123693952 "> <u>  http://www.sciencedirect.com/science/referenceworks/9780123693952</u>
                      </a></p>
                      <p class="card-text text-justify">11. Encyclopedia of Physical Science and Technology (Third Edition)</p>
                      <p>  URL: <a href="  http://www.sciencedirect.com/science/referenceworks/9780122274107"><u>http://www.sciencedirect.com/science/referenceworks/9780122274107</u>

                      </a></p>
                      <p class="card-text text-justify">12. Encyclopedia of Stress (Second Edition)</p>
                       <p>  URL: <a href="http://www.sciencedirect.com/science/referenceworks/9780123739476 "><u> http://www.sciencedirect.com/science/referenceworks/9780123739476 </u></a></p>

                      <p class="card-text text-justify">13. Encyclopedia of Violence, Peace, & Conflict (Second Edition) </p>
                      <p>  URL: <a href=" http://www.sciencedirect.com/science/referenceworks/9780123739858  "> <u>http://www.sciencedirect.com/science/referenceworks/9780123739858 </u></a></p>
                      <p class="card-text text-justify">14. Encyclopedia of Virology (Third Edition)</p>
                      <p>  URL: <a href=" http://www.sciencedirect.com/science/referenceworks/9780123744104 "> <u>http://www.sciencedirect.com/science/referenceworks/9780123744104</u>   </a></p>
                   <br>



                    </div>





                 <a href="#ccc1" class="float-right" data-toggle="collapse"><strong class ="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
              </div>
            </div>


            <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">DEVELOPING LIBRARY NETWORK [DELNET]</h1>
    <hr class="mt-2 mb-3">
            <div class="card bordernow " >
              <div class="card-body">


                <h5 class="card-title text-left">Contact Library For User Name And Password</h5><br>

                <p class="text-center">  DELNET: <a class="btn btn-outline-primary buttoncolour" href="http://164.100.247.30/ "> http://164.100.247.30/ </a></p>


              </div>
            </div>
    </div>
  </div>
</nav>
<%include footer%>


