<%include header%>
<head>
    <title>GBU-LIBRARY</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/now.css">
    <link rel="stylesheet" type="text/css" href="assets/css/banner.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/gif/png" href="./img/logo_gbu.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--- Animation --->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
  </head>
  <body >
    <!-- home section - start from here -->
    <div class="jumbotron mb-0 clubheader banner-bg" style="background-image: url(assets/img/banner1.png); ">
      
      <div class="container">
        <h3 class="mb-0 text-left" style="color: black;">
        
        BODHISATTVA Dr. B.R. AMBEDKAR<br>LIBRARY
        </h3>
        <hr class="mt-0 pt-0 mb-1">
        <h3 class="display-5 text-right mb-0">Online Catalogue</h3>
      </div>
      
    </div>
    <!-- navbar - start from here -->
    <nav class="navbar navbar-expand-md  navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbaraa" >
          <ul class="navbar-nav mx-auto" >
            <li class="nav-item  active">
              <a href="/library/home" class="nav-link active ">Home</a>
            </li>
            <li class="nav-item">
              <a href="/library/about" class="nav-link active">About</a>
            </li>
            <li class="nav-item ">
              <a href="/library/online-catalogue" class="nav-link active mr-0">Online Catalogue</a>
            </li>
            <li class="nav-item">
              <a href="/library/e-resources" class="nav-link active">E-Resources</a>
            </li>
            <li class="nav-item ">
              <a href="/library/downloads-&-forums" class="nav-link  active mr-0">Downloads & Forms</a>
            </li>
            <li class="nav-item ">
              <a href="/library/contact-us" class="nav-link active mr-0">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <!-- home section start -->
    <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Online Catalogue
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          
 <a href="http://172.25.5.12:8080/jopacv11/html/SearchForm" class="btn btn-info" role="button">BODHISATTVA Dr. B.R. AMBEDKAR
LIBRARY</a>
<p>*Note: Access only in GBU campus</p>
<a class="text-light" href="https://docs.google.com/forms/d/e/1FAIpQLScQzGHxKuUZzqoGida4Fl57GUn82ONIubPD6SoDutnwtawMfA/viewform"><button class="btn btn-info ">Library membership form for Students</button></a>

        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="main.js"></script>
      </body>
      <%include footer%>