<%include header%>
    <div class="jumbotron mb-0 clubheader bgimage_library">
         <div class="container mb-0 ">
            <h1 class="display-4 mb-0"><strong>Bodhisattva Dr. B.R.Ambedkar Library</strong></h1>
            <hr class="mt-0  pt-0 mb-1">
            <h4 class="display-5 text-right mb-0">OPEN ACCESS E-RESOURCES</h4>
         </div>
      </div>


    <nav class="navbar navbar-expand-md  navbar-dark navbarcolour">
  <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse " id="navbaraa" >
    <ul class="navbar-nav mx-auto" >
      <li class="nav-item  active">
        <a href="/library" class="nav-link active ">HOME</a>

      </li>
      <li class="nav-item">
        <a href="/library/services" class="nav-link active">SERVICES</a>

      </li>
      <li class="nav-item">
        <a href="/library/e-services" class="nav-link active">E-SERVICES</a>

      </li>
      <li class="nav-item ">
        <a href="/library/open-access-e-resources" class="nav-link  active mr-0">OPEN ACCESS E-RESOURCES</a>

      </li>
      <li class="nav-item ">
        <a href="/library/rules-regulations" class="nav-link active mr-0">RULES & REGULATIONS</a>

      </li>
      </ul>

  </div>
</nav>
    <div class="container">
        <div class="caption center-block tr">

          </div>
          <br>
          <!---SECTION 1-->
          <div class="card bordernow mt-1" style="width: 95%">
              <div class="card-body">
                <div class="container">
    <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">LIBRARY SERVICES & FORMS</h1>
    <hr class="mt-2 mb-3">

                    <p class="card-text text-justify">• Access to Abstracts and full text of E-Resources</p>

                    <p class="card-text text-justify">• Circulation Services</p>
                    <p class="card-text text-justify">• Inter-Library loan Service</p>
                    <p class="card-text text-justify">• Document Delivery Services</p>
                    <p class="card-text text-justify">• CAS, (Current Awareness Services) & Display of New  Arrivals </p>




                            <div id="ccc1" class="collapse">
                              <p class="card-text text-justify">• Document Scanning , Photocopy & Printout Services</p>

                              <p class="card-text text-justify">• Selective Dissemination of Information (SDI) </p>
                              <p class="card-text text-justify">• Internet & Services Reference and Information Services</p>
                              <br>
                              <h3 class="font-weight-light text-center text-lg-right mt-4 mb-0">DOWNLOAD FORMS </h3>
    <hr class="mt-2 mb-5">
                              <p class="card-text text-justify">
                                  <a href="Book_recommendation_sheet_10Aug18.pdf"> 1. Book Recommendations Form  <i class="fa fa-download"></i> </a></p>
                                  <p><a href="E-Resources_Print Journals Recommendation Sheet_10Aug18.pdf"> 2. E-Resources/Print-Journal Recommendations Form  <i class="fa fa-download"></i> </a></p>
                                  <p><a href="FacultyStaff_ReccomForm_10Aug18.pdf">3. Library membership form for Faculty/staff  <i class="fa fa-download"></i> </a></p>
                                  <p><a href="Research Fellow ID Form_10Aug18.pdf"> 4. Library membership form for Research Fellow <i class="fa fa-download"></i> </a></p>
                                  <p><a href="Ph.DStudent ID Form_10Aug18.pdf"> 5. Library membership form for Research Scholars <i class="fa fa-download"></i> </a></p>
                                  <p><a href="Student_ID_Card_Form_10Aug18.pdf"> 6. Library membership form for Students <i class="fa fa-download"></i> </a></p>



                            </div>
                            <a href="#ccc1" class="float-right" data-toggle="collapse"><strong class ="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
              </div>
            </div><br>

            <div class="card bordernow" >
                <div class="card-body">
                  <div class="container">
    <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">LIBRARY COLLECTIONS</h1>
    <hr class="mt-2 mb-5">

                  <p class="card-text text-justify"><div class="table-resposive-sm">
                    <table class="table table-bordered table-hover">

                      <tbody class="text-center">
                        <tr>
                          <th>S.No.</th>
                          <th>Document Type</th>
                          <th>Total Collection</th>

                        </tr>

                        <tr>
                          <td>1. </td>
                          <td>Text Books </td>
                          <td>45888</td>

                        </tr>




                        <tr>
                          <td>2.</td>
                          <td>Meditation</td>
                          <td>567</td>
                        </tr>
                        <tr>
                          <td>3.</td>
                          <td>Reference Books</td>
                          <td>110</td>
                        </tr>
                        <tr>
                          <td>4.</td>
                          <td>Book Bank</td>
                          <td>12104</td>
                        </tr>
                        <tr>
                          <td>5.</td>
                          <td>Other Books</td>
                          <td>762</td>
                        </tr>
                        <tr>
                          <td>6.</td>
                          <td>E-Books</td>
                          <td>500</td>
                        </tr>
                        <tr>
                          <td>7.</td>
                          <td>CD/DVD</td>
                          <td>2400</td>
                        </tr>
                        <tr>
                          <td>8.</td>
                          <td>Project Reports/Theses</td>
                          <td>1243</td>
                        </tr>

                      </tbody>
                    </table>
                  </p>
                  <br>

                              <div id="ccc2" class="collapse"> <p class="card-text text-justify">
                                <h3 class="font-weight-light text-center text-lg-right mt-4 mb-0">LIST OF PRINT-JOURNAL/MAGAZINE : </h3>
    <hr class="mt-2 mb-5">

                                  <div class="table-resposive-sm">
                                      <table class="table table-bordered table-hover">

                                        <tbody class="text-center">
                                          <tr>
                                            <th>Sr.No.</th>
                                            <th>Title</th>

                                          </tr>

                                          <tr>
                                            <td>1.</td>
                                            <td>World Focus (English Version) </td>

                                          </tr>

                                          <tr>
                                            <td>2.</td>
                                            <td>Yojna (English Version)</td>

                                          </tr>
                                          <tr>
                                            <td>3.</td>
                                            <td>Kurukhsetra (English Version)</td>
                                          </tr>
                                          <tr>
                                            <td>4.</td>
                                            <td>Pratiyogita Darpan (Hindi Version)</td>
                                          </tr>
                                          <tr>
                                            <td>5.</td>
                                            <td>Pratiyogita Darpan (English Version)</td>
                                          </tr>
                                          <tr>
                                            <td>6.</td>
                                            <td>Civil Services Chronicle</td>
                                          </tr>
                                          <tr>
                                            <td>7.</td>
                                            <td>Frontline (English Version)</td>
                                          </tr>
                                          <tr>
                                            <td>8.</td>
                                            <td>Economic and Political Weakly (English Version)</td>
                                          </tr>
                                          <tr>
                                            <td>9.</td>
                                            <td>Down to Earth (English, Hindi Version) </td>
                                          </tr>
                                          <tr>
                                            <td>10.</td>
                                            <td>India Today (English, Hindi Version)</td>
                                          </tr>
                                          <tr>
                                            <td>11.</td>
                                            <td>Competition Success Review</td>
                                          </tr>

                                        </tbody>
                                      </table>

                                    </div>


                              <br>
                              <h3 class="font-weight-light text-center text-lg-right mt-4 mb-0">LIST OF DAILY NEWSPAPERS : </h3>
    <hr class="mt-2 mb-5">

                                  <div class="table-resposive-sm">
                                      <table class="table table-bordered table-hover">

                                        <tbody class="text-center">
                                          <tr>
                                            <th>Sr.No.</th>
                                            <th>Name Of Newspapers</th>

                                          </tr>

                                          <tr>
                                            <td>1.</td>
                                            <td>Amar Ujala</td>

                                          </tr>

                                          <tr>
                                            <td>2.</td>
                                            <td>Dainik Jagran</td>

                                          </tr>
                                          <tr>
                                            <td>3.</td>
                                            <td>The Economic Times</td>
                                          </tr>
                                          <tr>
                                            <td>4.</td>
                                            <td>Employement News</td>
                                          </tr>
                                          <tr>
                                            <td>5.</td>
                                            <td>Hindustan</td>
                                          </tr>
                                          <tr>
                                            <td>6.</td>
                                            <td>Hindustan Times</td>
                                          </tr>
                                          <tr>
                                            <td>7.</td>
                                            <td>Mint</td>
                                          </tr>
                                          <tr>
                                            <td>8.</td>
                                            <td>Nav Bharat Times</td>
                                          </tr>
                                          <tr>
                                            <td>9.</td>
                                            <td>The Hindu </td>
                                          </tr>
                                          <tr>
                                            <td>10.</td>
                                            <td>The Times Of India</td>
                                          </tr>


                                        </tbody>
                                      </table>

                                    </div>

                              </p>
                            </div>
                              <a href="#ccc2" class="float-right" data-toggle="collapse"><strong class ="btn btn-outline-primary buttoncolour justify-content-center">Expand</strong></a>
                </div>
              </div>
    </div>
  </p>
</div>
</div>
</div>
</div>
</div>
</div>
</nav>

<%include footer%>