<%include header%>
<head>
    <title>GBU-LIBRARY</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/now.css">
    <link rel="stylesheet" type="text/css" href="assets/css/banner.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/gif/png" href="./img/logo_gbu.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--- Animation --->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
  </head>
  <body >
    <!-- home section - start from here -->
    <div class="jumbotron mb-0 clubheader banner-bg" style="background-image: url(assets/img/banner1.png); ">
     
          <div class="container">
            <h3 class="mb-0 text-left" style="color: black;">
              
              BODHISATTVA Dr. B.R. AMBEDKAR<br>LIBRARY
              </h3>
            <hr class="mt-0 pt-0 mb-1">
            <h3 class="display-5 text-right mb-0">About</h3>
          </div>
        
      </div>
    <!-- navbar - start from here -->
        <nav class="navbar navbar-expand-md  navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbaraa" >
          <ul class="navbar-nav mx-auto" >
            <li class="nav-item  active">
              <a href="/library/home" class="nav-link active ">Home</a>
            </li>
            <li class="nav-item">
              <a href="/library/about" class="nav-link active">About</a>
            </li>
            <li class="nav-item ">
              <a href="/library/online-catalogue" class="nav-link active mr-0">Online Catalogue</a>
            </li>
            <li class="nav-item">
              <a href="/library/e-resources" class="nav-link active">E-Resources</a>
            </li>
            <li class="nav-item ">
              <a href="/library/downloads-&-forums" class="nav-link  active mr-0">Downloads & Forms</a>
            </li>
            <li class="nav-item ">
              <a href="/library/contact-us" class="nav-link active mr-0">Contact Us</a>
            </li>

          </ul>
        </div>
      </div>
      </nav>
      <br>
      <!-- home section start -->
      <div class="container">
        <h3 class=" text-lg-left mt-3 mb-0">About Us</h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
        </div>
      </div>
      <br>
      <br>
      <div class="container">
        <div class="pb-1 ">
          <ul><li>
          The Bodhisattva Dr. B.R. Ambedkar Library constructed in 1.78 lacs sqft. and spread over five story building. Established in 2008 and shifted to its new building in 2010.</li>
<li>
Library has huge collection of books, journal and E-journals which cover the disciplines of Management, Computer Science, Information Technology, Biotechnology, Humanities, Social Sciences, Law, Environmental Science, Engineering, Buddhist Studies and other related areas.
</li><li>
The Library is well-equipped with modern facilities, spacious stack halls, reading halls with 2000-seating capacity, reference sections, catalogue area, digital library and is being managed by the Library staff.</li><li>


The Central Library is a fully automated with Libsys and RFID systems.</li></ul>
        </div>
      <br>
      <!-- <div id="ccc1" class="collapse"> -->
        <h3 class=" text-lg-left mt-4 mb-0">Objectives</h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        <br><br>
        <p class="card-text text-justify"> i).  To advance and support teaching and learning activities of the university.</p>
        <p class="card-text text-justify">  ii).  To support research activities of the university.</p>
        <p class="card-text text-justify"> iii).   To procure, process, organize, display, facilitates access to Scholarly communications.
        </p>
        <br>
        <h3 class=" text-lg-left mt-4 mb-0">Future Plans</h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        <br>
        <br>
        <p class="card-text text-justify"> • Close Circuit TV on all floors.
        </p>
        <p class="card-text text-justify">  • Collaboration and form partnerships with other leading National and International Universities.</p>
        <p class="card-text text-justify">  • Establishment of Braille Section for special users .
        </p>
        <p class="card-text text-justify">  • To develop and implement of Institutional Repository.
        </p> 
        <p class="card-text text-justify">  • Development text book and reference section.
      </p> 
      <p class="card-text text-justify">  • Digitization of institute project reports, technical reports, annual reports, faculty publication, conference proceeding etc.
    </p> 
    <p class="card-text text-justify">  • Increase and strengthen use of reading material and technology.
  </p> 
  <p class="card-text text-justify">   • Implementation of a user-friendly search and discovery tool.
</p>
</div> 

<!-- 
Opening hours details -->

 <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Opening Hours
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">Days</th>
                <th scope="col">Timing(Open & Close Time)</th>
                
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">
Monday to Saturday</th>
                <td>09:00 am to 06.30 pm</td>
                
                
              </tr>
            </tbody>
          </table>
          <p>*Note: One reading hall 24x7 (including Sunday and Public holidays)</p>
        </div>

<!-- 
Opening hours details -->

 <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
       Library Collection
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
    <tbody>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Document Type</th>
            <th scope="col">Total Collection</th>
        </tr>
        <tr>
            <td>1.</td>
            <td>Text Books</td>
            <td class="auto-style6">45888</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Meditation</td>
            <td class="auto-style6">567</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Reference Books</td>
            <td class="auto-style6">110</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Book Bank</td>
            <td class="auto-style6">12104</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Other Books</td>
            <td class="auto-style6">762</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>E-Books</td>
            <td class="auto-style6">500</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>CD/DVD</td>
            <td class="auto-style6">2400</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Project Reports/Theses</td>
            <td class="auto-style7">1243</td>
        </tr>
    </tbody>
</table>
</div>

 <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
       List of Print Journals/ Magazine
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
    <tbody>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Title</th>
            
        </tr>
      
        <tr>
            <td>1.</td>
            <td>World Focus (English Version)</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Yojna (English Version)</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>Kurukhsetra (English Version)</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Pratiyogita Darpan (Hindi Version)</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Pratiyogita Darpan (English Version)</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Civil Services Chronicle</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Frontline (English Version)</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Economic and Political Weakly (English Version)</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>Down to Earth (English, Hindi Version)</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>India Today (English, Hindi Version)</td>
        </tr>
        <tr>
            <td>11.</td>
            <td>Competition Success Review</td>
        </tr>
    </tbody>
</table>
</div>

 <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
       List of Daily Newspapers:
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
    <tbody>
        <tr>
            <th scope="col">S.No.</th>
            <th scope="col">Name of Newspapers</th>
            
        </tr>
      
        <tr>
            <td>1.</td>
            <td>Amar Ujala</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>Dainik Jagran</td>
        </tr>
        <tr>
            <td>3.</td>
            <td>The Economic Times</td>
        </tr>
        <tr>
            <td>4.</td>
            <td>Employment News</td>
        </tr>
        <tr>
            <td>5.</td>
            <td>Hindiustan (Hindi)</td>
        </tr>
        <tr>
            <td>6.</td>
            <td>Hindustan Times</td>
        </tr>
        <tr>
            <td>7.</td>
            <td>Mint</td>
        </tr>
        <tr>
            <td>8.</td>
            <td>Nav Bharat Times</td>
        </tr>
        <tr>
            <td>9.</td>
            <td>The Hindu</td>
        </tr>
        <tr>
            <td>10.</td>
            <td>The Times of India</td>
        </tr>
    </tbody>
</table>
</div>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script type="text/javascript" src="main.js"></script>
</body>
<%include footer%>