<!doctype html>
<html lang="en">
  <head>
    <title>GBU | Library</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" type="image/gif/png" href="../../../../../img/logo_gbu.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../../schools/css/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
    <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
    <script type="text/javascript">
    function executeQuery() {
    var input = document.getElementById('form-search-input');
    console.log(input)
    var element = google.search.cse.element.getElement('searchresults-only0');
    if (input.value == '') {
    element.clearAllResults();
    } else {
    element.execute(input.value);
    }
    return false;
    }
    </script>
  </head>
  <body>
    
    <div class="header sticky-top">
      <div class="global-header">
        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" >
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block" onsubmit="return executeQuery();">
                <div class="container">
                  <input class="form-control form-control-sm" type="search"  id="form-search-input" placeholder="Search" aria-label="Search">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>
<nav class="navbar shadow navbar-expand-lg navbar-bgcolor">
    <div class="container px-3 my-3">
        <a class="navbar-brand my-auto" href="/schools/sob">
           <div class="row">
              <div class="col" id="col-college-name-1">
                <div class="row justify-content-end">
                  <h5 class="my-auto" id="college-name-1">Bodhisattva </h5>
                </div>
                <div class="row justify-content-end">
                 <h5 class="my-auto " id="college-name-1">Dr. B.R.Ambedkar</h5>
                </div>
                </div>
                <div class="col my-auto">
                  <h5 class="my-auto float-right" id="college-name-2">Library</h5>
                </div>
              </div>
              
            </a>
            <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-expanded="false">
            <span ><i class="fa fa-bars"></i></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsibleNavbar">
              <ul class="nav ml-auto text-center justify-content-center" id="nav-tabs" role="tablist">
                <li class="nav-item active"><a href="#home-tab" class="nav-link" data-toggle="tab" role="tab">Home</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop" data-toggle="dropdown" href="">About</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#about-us-tab" data-toggle="tab" role="tab">About Us</a>
                  <a class="dropdown-item" href="#Objectives-tab" data-toggle="tab" role="tab">Objectives</a>
                  <a class="dropdown-item" href="#Library-Collection-tab" data-toggle="tab" role="tab">Library Collection</a>
                  <a class="dropdown-item" href="#Opening-Hours-tab" data-toggle="tab" role="tab">Opening Hours</a>
                  <a class="dropdown-item" href="#Library-Services-tab" data-toggle="tab" role="tab">Library Services</a>
                  <a class="dropdown-item" href="#Future-Plan-tab" data-toggle="tab" role="tab">Future Plan</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Rules</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#Membership-Rule-tab" data-toggle="tab" role="tab">Membership Rule</a>
                  <a class="dropdown-item" href="#Issue-Return-Rule-tab"data-toggle="tab" role="tab">Issue-Return Rule</a>
                  <a class="dropdown-item" href="#Late-Return-Books-tab" data-toggle="tab" role="tab">Late Return Rule</a>
                  <a class="dropdown-item" href="#General-Rule-tab" data-toggle="tab" role="tab">General Rules</a>
                  
                </div>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbardrop"  data-toggle="dropdown">
                E-Resources
                </a>
                <div class="dropdown-menu">
                  <h5 class="dropdown-header text-danger">E-Resources</h5>
                  <a class="dropdown-item" href="#ee111" data-toggle="tab" role="tab">E-Journals/Database</a>
                  <a class="dropdown-item" href="#ee222"data-toggle="tab" role="tab">E-Books</a>
                  <a class="dropdown-item" href="#ee333" data-toggle="tab" role="tab">DELNET</a>
                  <h5 class="dropdown-header text-danger">Open Access E-Resources</h5>
                  <a class="dropdown-item" href="#o111" data-toggle="tab" role="tab">E-Journals/Database</a>
                  <a class="dropdown-item" href="#o222"data-toggle="tab" role="tab">E-Books</a>
                  <a class="dropdown-item" href="#o333" data-toggle="tab" role="tab">Thesis /Dissertation/Projects</a>
                  <a class="dropdown-item" href="#o444" data-toggle="tab" role="tab">Institutional Repositories </a>
                  <a class="dropdown-item" href="#o555" data-toggle="tab" role="tab">Open Data</a>
                </div>
              </li>
              <li class="nav-item"><a href="#online" class="nav-link" data-toggle="tab" role="tab">Online Catalogue</a></li>
              <li class="nav-item"><a href="#download" class="nav-link" data-toggle="tab" role="tab">Downloads</a></li>
              <li class="nav-item"><a href="#contact" class="nav-link" data-toggle="tab" role="tab">Contact Us</a></li>
              
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="tab-content" id="nav-tabcontent">
    <div class="tab-pane active" id="home-tab" role="tabpanel">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img id="fill-image" src="../library/img/Artboard 1library2.jpg" alt="First slide" width="100%">
          </div>
          <div class="carousel-item">
            <img id="fill-image" src="../library/img/Artboard 1library3.jpg" alt="Second slide" width="100%">
          </div>
          <div class="carousel-item">
            <img id="fill-image" src="../library/img/Artboard 1library1.jpg" alt="Third slide" width="100%">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="my-5">
        <div class="container">
          <div class="jumbotron">
            <h1 class="text-center">Bodhisattva Dr. B.R.Ambedkar Library</h1>
            <br>
            <p class="text-justify">Bodhisattva Dr. B.R.Ambedkar Library is the heart of academic and research activities of the Gautam Buddha University. It has been catering to the needs of faculty members, research scholars, and students on campus effectively. It has huge volumes of books and e-journals which cover the disciplines of management, computer science, information technology, biotechnology, Humanities, and other related areas. The library is located on the outer circle of the schools as the background of Tathagat’s statue. The library is well equipped with modern facilities, spacious stack halls, 2000-seating capacity reading hall, reference sections, catalogue area, multiple loaning counters, and is managed by a highly dedicated team of professionals. The mission of Bodhisattva Dr. B.R.Ambedkar Library is to “provide high quality services in support of the teaching and research objectives of the University communities”. The plans to remain open round the clock.
            </p>
            <br>
            <p class="text-justify collapse" id="more-content">The Bodhisattva Dr. B. R.Ambedkar Library liaises with academic staff and researchers to identify the information needs of library users, procures material and provides services to make required information available, provides a conducive environment to study and research, and facilitates users with advice, assistance and skills training in using documents and information sources.
            </p>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLScQzGHxKuUZzqoGida4Fl57GUn82ONIubPD6SoDutnwtawMfA/viewform" title=""><button type="button" class="btn btn-info">Online Form for I-Card Registration</button></a>
            <a href="#more-content" class="float-right" data-toggle="collapse"><i class="fa fa-plus"></i></a>
          </div>
        </div>
      </div>
    </div>
    <!-- about section start -->
    <div class="tab-pane fade" id="about-us-tab" role="tabpanel">
      <div class="container my-5">
        <h3 class=" text-lg-left mt-3 mb-0">About Us</h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
        </div>
        <br>
        <br>
        <div class="container">
          <div class="pb-1 ">
            <ul><li>
            The Bodhisattva Dr. B.R. Ambedkar Library constructed in 1.78 lacs sqft. and spread over five story building. Established in 2008 and shifted to its new building in 2010.</li>
            <li>
              Library has huge collection of books, journal and E-journals which cover the disciplines of Management, Computer Science, Information Technology, Biotechnology, Humanities, Social Sciences, Law, Environmental Science, Engineering, Buddhist Studies and other related areas.
            </li><li>
          The Library is well-equipped with modern facilities, spacious stack halls, reading halls with 2000-seating capacity, reference sections, catalogue area, digital library and is being managed by the Library staff.</li><li>
        The Central Library is a fully automated with Libsys and RFID systems.</li></ul>
      </div>
    </div>
  </div>
</div>
<div class="tab-pane fade" id="Objectives-tab" role="tabpanel">
  <div class="container my-5">
    <h3 class=" text-lg-left mt-4 mb-0">Objectives</h3>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    <br><br>
    <p class="card-text text-justify"> i).  To advance and support teaching and learning activities of the university.</p>
    <p class="card-text text-justify">  ii).  To support research activities of the university.</p>
    <p class="card-text text-justify"> iii).   To procure, process, organize, display, facilitates access to Scholarly communications.
    </p>
  </div>
</div>
<div class="tab-pane fade" id="Future-Plan-tab" role="tabpanel">
  <div class="container my-5">
    <h3 class=" text-lg-left mt-4 mb-0">Future Plans</h3>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    <br>
    <br>
    <p class="card-text text-justify"> • Close Circuit TV on all floors.
    </p>
    <p class="card-text text-justify">  • Collaboration and form partnerships with other leading National and International Universities.</p>
    <p class="card-text text-justify">  • Establishment of Braille Section for special users .
    </p>
    <p class="card-text text-justify">  • To develop and implement of Institutional Repository.
    </p>
    <p class="card-text text-justify">  • Development text book and reference section.
    </p>
    <p class="card-text text-justify">  • Digitization of institute project reports, technical reports, annual reports, faculty publication, conference proceeding etc.
    </p>
    <p class="card-text text-justify">  • Increase and strengthen use of reading material and technology.
    </p>
    <p class="card-text text-justify">   • Implementation of a user-friendly search and discovery tool.
    </p>
  </div>
</div>
<div class="tab-pane fade" id="Opening-Hours-tab" role="tabpanel">
  <div class="container my-5">
    <h3 class=" text-lg-left mt-4 mb-0">
    Opening Hours
    </h3>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    
    <br>
    <br>
    <table class="table table-hover table-bordered mt-4">
      <thead>
      </thead>
      <tr>
        <th scope="col">Days</th>
        <th scope="col">Timing(Open & Close Time)</th>
        
      </tr>
    </thead>
    <tbody>
      
      <tr>
        <th scope="row">
        Monday to Saturday</th>
        <td>09:00 am to 06.30 pm</td>
        
        
      </tr>
    </tbody>
  </table>
  <p>*Note: One reading hall 24x7 (including Sunday and Public holidays)</p>
</div>
</div>
<div class="tab-pane fade" id="Library-Services-tab" role="tabpanel">
<div class="container my-5">
  <h3 class=" text-lg-left mt-4 mb-0">
  Library Services
  </h3>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  
  <br>
  <br>
  <ul>
    <li>Access to Abstracts and full text of E-Resources</li>
    <li> Circulation Services</li>
    <li> Display of New Arrivals</li>
    <li> Document Scanning, Photocopy & Printout Services</li>
    <li> CAS, (Current Awareness Services)</li>
    <li> Selective Dissemination of Information (SDI)</li>
    <li> Reference and Information Services</li>
    <li> Internet Services</li>
  </ul>
</div>
</div>
<div class="tab-pane fade" id="Library-Collection-tab" role="tabpanel">
<div class="container my-5">
  <h3 class=" text-lg-left mt-4 mb-0">
  Library Collection
  </h3>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  
  <br>
  <br>
  <table class="table table-hover table-bordered mt-4">
    <tbody>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Document Type</th>
        <th scope="col">Total Collection</th>
      </tr>
      <tr>
        <td>1.</td>
        <td>Text Books</td>
        <td class="auto-style6">45888</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Meditation</td>
        <td class="auto-style6">567</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Reference Books</td>
        <td class="auto-style6">110</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Book Bank</td>
        <td class="auto-style6">12104</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Other Books</td>
        <td class="auto-style6">762</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>E-Books</td>
        <td class="auto-style6">500</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>CD/DVD</td>
        <td class="auto-style6">2400</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Project Reports/Theses</td>
        <td class="auto-style7">1243</td>
      </tr>
    </tbody>
  </table>
  <h3 class=" text-lg-left mt-4 mb-0">
  List of Print Journals/ Magazine
  </h3>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  
  <br>
  <br>
  <table class="table table-hover table-bordered mt-4">
    <tbody>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Title</th>
        
      </tr>
      
      <tr>
        <td>1.</td>
        <td>World Focus (English Version)</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Yojna (English Version)</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>Kurukhsetra (English Version)</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Pratiyogita Darpan (Hindi Version)</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Pratiyogita Darpan (English Version)</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Civil Services Chronicle</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Frontline (English Version)</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Economic and Political Weakly (English Version)</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>Down to Earth (English, Hindi Version)</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>India Today (English, Hindi Version)</td>
      </tr>
      <tr>
        <td>11.</td>
        <td>Competition Success Review</td>
      </tr>
    </tbody>
  </table>
  <h3 class=" text-lg-left mt-4 mb-0">
  List of Daily Newspapers:
  </h3>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
  
  <br>
  <br>
  <table class="table table-hover table-bordered mt-4">
    <tbody>
      <tr>
        <th scope="col">S.No.</th>
        <th scope="col">Name of Newspapers</th>
        
      </tr>
      
      <tr>
        <td>1.</td>
        <td>Amar Ujala</td>
      </tr>
      <tr>
        <td>2.</td>
        <td>Dainik Jagran</td>
      </tr>
      <tr>
        <td>3.</td>
        <td>The Economic Times</td>
      </tr>
      <tr>
        <td>4.</td>
        <td>Employment News</td>
      </tr>
      <tr>
        <td>5.</td>
        <td>Hindiustan (Hindi)</td>
      </tr>
      <tr>
        <td>6.</td>
        <td>Hindustan Times</td>
      </tr>
      <tr>
        <td>7.</td>
        <td>Mint</td>
      </tr>
      <tr>
        <td>8.</td>
        <td>Nav Bharat Times</td>
      </tr>
      <tr>
        <td>9.</td>
        <td>The Hindu</td>
      </tr>
      <tr>
        <td>10.</td>
        <td>The Times of India</td>
      </tr>
    </tbody>
  </table>
</div>
</div>
<!-- about section end -->
<!-- rules section start -->
<div class="tab-pane fade" id="Membership-Rule-tab" role="tabpanel">
<div class="container my-5">
  <h5 class="card-text mt-5 text-justify">Membership Rule</h5>
  <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
  </div><br><br>
  <ul>
    <li>All faculties, staff, scholars and students of GBU are entitled to become Library members. Registered Members must produce his/her identity card at the entrance of the Library failing which admission may be refused. Special care should be taken that the Identity Card/Membership Card is not misplaced or lost. If a membership card is lost, it must be reported immediately to the library to avoid any misuse. However, the members will be responsible for the misuse of the ID card, if any.</li></ul>
  </div>
</div>
<div class="tab-pane fade" id="Issue-Return-Rule-tab" role="tabpanel">
  <div class="container my-5">
    <h5 class="card-text mt-5 text-justify">Issue-Return Rule</h5>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
    </div><br><br>
    <table class="table table-hover table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">  Category</th>
          
          <th scope="col">No. of Books</th>
          <th scope="col">Duration</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="auto-style8">1.</td>
          <td>Research Scholars</td>
          <td>8</td>
          <td>45 Days</td>
        </tr>
        <tr>
          <td class="auto-style8">2.</td>
          <td>Students</td>
          <td>4</td>
          <td>15 Days</td>
        </tr>
      </tbody>
    </table>
    
  </div>
</div>
<div class="tab-pane fade" id="Late-Return-Books-tab" role="tabpanel">
  <div class="container my-5">
    <h5 class="card-text mt-5 text-justify">Fine for Late Return Books</h5>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
    </div><br><br>
    <ul>
      <li>Members have to return all the issued books on the time failing which fine of Rs. 5 per day per book shall be charged.</li>
    </ul>
    
  </div>
</div>
<div class="tab-pane fade" id="General-Rule-tab" role="tabpanel">
  <div class="container my-5">
    <h5 class="card-text mt-5 text-justify">General Rules</h5>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
    </div>
    <br>
    <br>
    <ul>
    <li>All the members are required to maintain proper discipline in the library premises, and observe library rules.
    </li>
    <li>Silence shall be observed in the library.</li>
    <li>Users found talking loudly, shouting or quarreling or including in eve-teasing or any other act of indiscipline shall be liable to be punished as per University Rules.
    </li>
    <li>Smoking/Spitting is strictly prohibited in the library.</li>
    <li>Damage to the library property may lead to the withdrawal of library membership. In serious cases, a heavy fine and other disciplinary action will be levied/ taken.</li>
    <li>The use of mobile phones is not allowed in the library.</li>
    <li>Any member who is guilty of taking a book out of the library without authorization shall be liable to disciplinary action and withdrawal of library privileges and/or fine. University librarian shall impose any one or more of the following penalties, in case of indiscipline: <br>
      a) Warning (by the librarian)<br>
      b) Fine <br>
    c) Temporary or permanent withdrawal or cancellation of library membership.</li>
</ul>
</div>
</div>
<!-- rules section end -->
<div class="tab-pane fade" id="ee111" role="tabpanel">
<div class="container my-5">
<h4 class=" text-lg-left mt-3 mb-0">E-Journals/Database</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
</div>
<br>
<br>
<table class="table table-hover table-bordered mt-4">
<thead>
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">Details:</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>South Asia Archive</td>
      <td><a href="http://www.southasiaarchive.com/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>World eBook Library</td>
      <td><a href="http://community.worldlibrary.in/?AffiliateKey=NDL-BY1838" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>India Quarterly </td>
      <td><a href="http://journals.sagepub.com/toc/iqqa/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Indian Journal of Public Administration</td>
      <td><a href="http://journals.sagepub.com/toc/ipaa/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>5</td>
      <td>International Studies</td>
      <td><a href="http://journals.sagepub.com/toc/isqa/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>6</td>
      <td>Jadavpur Journal of International Relations</td>
      <td><a href="http://journals.sagepub.com/toc/jnra/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>7</td>
      <td>Vikalpa</td>
      <td><a href="http://journals.sagepub.com/toc/vika/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>8</td>
      <td>SCC Online (IP Accessible) {Free Registration Required}</td>
      <td><a href="https://www.scconline.com/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="ee222" role="tabpanel">
<div class="container my-5">
<h4 class=" text-lg-left mt-3 mb-0">E-Books</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
</div>
<br>
<br>
<table class="table table-hover table-bordered mt-4">
<thead>
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">Details:</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Comprehensive Nanoscience and Technology</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780123743961" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>2</td>
      <td>Comprehensive Natural Products Chemistry</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780080912837" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>3</td>
      <td>Encyclopedia of Applied Psychology</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780126574104" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>4</td>
      <td>Encyclopedia of Biological Chemistry</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780124437104" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>5</td>
      <td>Encyclopedia of Genetics</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780122270802" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>6</td>
      <td>Encyclopedia of Immunology (Second Edition) </td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780122267659" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>7</td>
      <td>Encyclopedia of Information Systems</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780122272400" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>8</td>
      <td>Encyclopedia of International Media and Communications</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780123876706" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>9</td>
      <td>Encyclopedia of Mathematical Physics</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780125126663" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>10</td>
      <td>Encyclopedia of Modern Optics</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780123693952" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>11</td>
      <td>Encyclopedia of Physical Science and Technology (Third Edition)</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780122274107" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>12</td>
      <td>Encyclopedia of Stress (Second Edition)</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780123739476" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>13</td>
      <td>Encyclopedia of Violence, Peace, & Conflict (Second Edition)</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780123739858" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>14</td>
      <td>Encyclopedia of Virology (Third Edition)</td>
      <td><a href="http://www.sciencedirect.com/science/referenceworks/9780123744104" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>
<div class="tab-pane fade" id="ee333" role="tabpanel">
<div class="container my-5">
<h4 class=" text-lg-left mt-3 mb-0">Developing Library Network (DELNET)</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 8%; background-color:#FB8C00 ">
</div>
<br>
<br>
<p>Contact library for user name and password</p>
<a href="http://164.100.247.30/" target="_blank"><button class="btn btn-info btn-sm ">DELNET</button></a>
</div>
</div>
<div class="tab-pane fade" id="o111" role="tabpanel">
<div class="container my-5">
<h4 class=" text-lg-left mt-3 mb-0">Open Access E-Journals/Database</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
</div>
<br>
<br>
<table class="table table-hover table-bordered mt-4">
  <thead>
    <tr>
      <th scope="col">S.NO</th>
      <th scope="col">Details:</th>
      <th scope="col">Links</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1. </td>
      <td>Directory of Open Access Journals</td>
      <td><a href="https://doaj.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>2.</td>
      <td>Directory of Open Access Databases (LOADB) </td>
      <td><a href="http://www.loadb.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>3. </td>
      <td>Taylor & Francis  </td>
      <td><a href="http://www.tandfonline.com/openaccess/openjournals" target="_blank"><button class="btn btn-info btn-sm ">View</button></a>
      </td>
    </tr>
    <tr>
      <td>4. </td>
      <td>SANKHAYA , the Indian Journal of Statistics (Indian Statistical Institute)s</td>
      <td><a href="http://sankhya.isical.ac.in/latestissue.html" target="_blank"><button class="btn btn-info btn-sm ">View</button></a>
      </td>
    </tr>
    <tr>
      <td>5.</td>
      <td>Public Library of Science (PLOS)</td>
      <td><a href=" https://www.plos.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>6.</td>
      <td>PubMed (Medical Science)  </td>
      <td><a href="https://www.ncbi.nlm.nih.gov/pubmed?otool=wiuwiblib" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>7.</td>
      <td>BioMedCentral (Biomedical, Medicine, Biology & Biotechnology)</td>
      <td><a href="https://bmcproc.biomedcentral.com/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>8. </td>
      <td>Medknow Publications: Publisher of peer reviewed scholarly journals.</td>
      <td><a href="http://www.medknow.com/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>9. </td>
      <td>MedlinePlus (Medical science)  </td>
      <td><a href="https://medlineplus.gov/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>10.</td>
      <td> Indian Council of Medical Research</td>
      <td><a href="http://www.icmr.nic.in/Publications/Publications.html" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>11.</td>
      <td> Free Medical Journals</td>
      <td><a href="http://www.freemedicaljournals.com/f.php?f=ip_medic" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>12.</td>
      <td> Springer Open</td>
      <td><a href="  https://www.springeropen.com/ " target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>13.</td>
      <td> Nature.com (Multi-disciplinary)  </td>
      <td><a href="http://www.nature.com/siteindex/index.html" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>14.</td>
      <td> AgEcon (Agriculture and Applied Economics) </td>
      <td><a href="  http://ageconsearch.tind.io//" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>15.</td>
      <td> AGRICOLA (Agriculture)</td>
      <td><a href="https://agricola.nal.usda.gov/ " target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>16.</td>
      <td> arXiv (Physics, Mathematics, Computer Science, Quantitative Biology, Quantitative Finance and Statistics)</td>
      <td><a href="https://arxiv.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>17.</td>
      <td> Open Biology (Royal Society of Chemistry)</td>
      <td><a href="http://rsob.royalsocietypublishing.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>18.</td>
      <td> Royal Society Open Science (Royal Society of Chemistry) </td>
      <td><a href="http://rsos.royalsocietypublishing.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>19.</td>
      <td> Biographical Memoirs (RSC) (all issues are now freely available, apart from the most recent issue)</td>
      <td><a href="  http://rsbm.royalsocietypublishing.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>20.</td>
      <td> NISCAIR Online Periodicals Repository  </td>
      <td><a href="  http://nopr.niscair.res.in/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>21.</td>
      <td> NCERT Journals </td>
      <td><a href="http://ncert.nic.in/ncert/collection/online_journal.html" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>22.</td>
      <td> Indian Academy of Sciences </td>
      <td><a href="http://www.ias.ac.in/Journals/Overview/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>23.</td>
      <td> Advances in production Engineering and Management</td>
      <td><a href="http://apem-journal.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>24.</td>
      <td> The Electronic Library of Mathematics (ELibM)  </td>
      <td><a href="http://www.emis.de/ELibEMS.html" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>25.</td>
      <td> Academic Journals (Science, Art, Education, Legal)</td>
      <td><a href="  http://www.academicjournals.org/journal" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>26.</td>
      <td> Computational Linguistics (MIT)</td>
      <td><a href="  http://www.mitpressjournals.org/loi/coli" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>27.</td>
      <td> Journal of Digital Information </td>
      <td><a href="https://journals.tdl.org/jodi/index.php/jodi" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>28.</td>
      <td> Cogprints (Multidisciplinary) </td>
      <td><a href="  http://cogprints.org/9764/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>29.</td>
      <td> Strategian (Multi disciplinary)</td>
      <td><a href="http://www.strategian.com/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>30.</td>
      <td> Mathguide (Mathematics)</td>
      <td><a href="http://www.mathguide.de/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>31.</td>
      <td> eigenFactor.org (Impact factor Science/Social Science)</td>
      <td><a href="  http://eigenfactor.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>32.</td>
      <td> The WWW Virtual Library</td>
      <td><a href="http://vlib.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>33.</td>
      <td> Sociosite(Social Science)</td>
      <td><a href="http://www.sociosite.net/index.php" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>34.</td>
      <td> CiteULike (Citation Database)</td>
      <td><a href="http://www.citeulike.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>35.</td>
      <td> Psych Web (psychology topics and APA reference Style)</td>
      <td><a href="http://www.psychwww.com/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>36.</td>
      <td> Foreign Trade Review</td>
      <td><a href="http://journals.sagepub.com/toc/ftra/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>37.</td>
      <td> India Quarterly</td>
      <td><a href="http://journals.sagepub.com/toc/iqqa/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>38.</td>
      <td> Indian Journal of Public Administration</td>
      <td><a href="http://journals.sagepub.com/toc/ipaa/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>39.</td>
      <td> International Studies </td>
      <td><a href="http://journals.sagepub.com/toc/isqa/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>40.</td>
      <td> Jadavpur Journal of International Relations</td>
      <td><a href="http://journals.sagepub.com/toc/jnra/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>41.</td>
      <td> Vikalpa</td>
      <td><a href="http://journals.sagepub.com/toc/vika/current" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
    <tr>
      <td>42.</td>
      <td> SCC Online (IP Accessible) {Free Registration Required}</td>
      <td><a href="http://www.scconline.com" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
    </tr>
  </tbody>
</table>
</div>
</div>

<div class="tab-pane fade" id="o222" role="tabpanel">
<div class="container my-5">
  <h4 class=" text-lg-left mt-3 mb-0">Open Access E-books</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
</div>
<br>
<br>
<table class="table table-hover table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Details</th>
          <th scope="col">Links</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Directory of Open Access Books</td>
          <td><a href="https://www.doabooks.org/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Book Gold Mine</td>
          <td><a href="https://www.bookgoldmine.com/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Bartleby.com</td>
          <td><a href="http://www.bartleby.com/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>E-BookLobby</td>
          <td><a href="http://www.ebooklobby.com/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>The complete work of Shakespeare</td>
          <td><a href="http://shakespeare.mit.edu/works.html"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>6</td>
          <td>OAPEN (Law, Science Social, Sciences, Arts and Humanities)</td>
          <td><a href="http://www.oapen.org/home"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="tab-pane fade" id="o333" role="tabpanel">
<div class="container my-5">
 <h4 class=" text-lg-left mt-3 mb-0">Open Access Thesis /Dissertation/Projects</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
</div>
<br>
<br>
<table class="table table-hover table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Details</th>
          <th scope="col">Links</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Vidyanidhi: Indian digital library of electronic thesis (University of Mysore)</td>
          <td><a href="http://eprints.uni-mysore.ac.in/4778/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Shodhganga</td>
          <td><a href="http://shodhganga.inflibnet.ac.in/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
       <tr>
          <td>3</td>
          <td>Shodhgangotri</td>
          <td><a href="http://shodhgangotri.inflibnet.ac.in/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>NDLTD</td>
          <td><a href="http://search.ndltd.org/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>Digital Access to Scholarship at Harvard</td>
          <td><a href="https://dash.harvard.edu/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>6</td>
          <td>Caltech THESIS: A Caltech Library Service</td>
          <td><a href="http://thesis.library.caltech.edu/"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>7</td>
          <td></td>
          <td><a href=""><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="tab-pane fade" id="o444" role="tabpanel">
<div class="container my-5">
 <h4 class=" text-lg-left mt-3 mb-0"></h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
</div>
<br>
<br>
<table class="table table-hover table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Details</th>
          <th scope="col">Links</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Digital Library of India</td>
          <td><a href="http://www.dli.ernet.in/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>The Directory of Open Access Repositories (Covered all the Subjects)</td>
          <td><a href="http://www.opendoar.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>The National Science Digital Library</td>
          <td><a href="https://nsdl.oercommons.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>4</td>
          <td>National Science Foundation</td>
          <td><a href="https://www.nsf.gov/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>National Digital Library of India (free registration is required to access NDL resources)</td>
          <td><a href="https://ndl.iitkgp.ac.in/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>6</td>
          <td>SciDev.Net</td>
          <td><a href="http://www.scidev.net/global/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>7</td>
          <td>Computing Research Repository (Cornell University USA)</td>
          <td><a href="https://arxiv.org/corr/home" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>8</td>
          <td>Dspace@MIT</td>
          <td><a href="https://dspace.mit.edu/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<div class="tab-pane fade" id="o555" role="tabpanel">
<div class="container my-5">
 <h4 class=" text-lg-left mt-3 mb-0">Open Data</h4>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 4%; background-color:#FB8C00 ">
</div>
<br>
<br>
<table class="table table-hover table-bordered mt-4">
      <thead>
        <tr>
          <th scope="col">S.No.</th>
          <th scope="col">Details</th>
          <th scope="col">Links</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>Central Statistical Organisation CSO</td>
          <td><a href="http://mospi.nic.in/?status=1&menu_id=14" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>Indiastat.Com</td>
          <td><a href="http://www.indiastat.com/default.aspx" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>Data.Gov.in</td>
          <td><a href="https://data.gov.in/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>4</td>
          <td> International Monetary Fund (IMF) Data</td>
          <td><a href="http://www.imf.org/external/index.htm" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>5</td>
          <td>World Bank Data</td>
          <td><a href="http://data.worldbank.org/" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
        <tr>
          <td>6</td>
          <td>United Nations (UN) Data Portal</td>
          <td><a href="http://data.un.org/Default.aspx" target="_blank"><button class="btn btn-info btn-sm ">View</button></a></td>
        </tr>
      </tbody>
    </table>
</div>
</div>
<!-- online cataloge start -->
<div class="tab-pane fade" id="online" role="tabpanel">
<div class="container my-5">
<h3 class=" text-lg-left mt-3 mb-0">Online Catalogue</h3>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
</div>
<br>
<br>
<p>Access only in GBU campus</p>
<a href="http://172.25.5.12:8080/jopacv11/html/SearchForm" title="" target="_blank"><button type="button" class="btn btn-info">Library Search</button></a>
</div>
</div>
<!-- online cataloge end -->
<!-- download section start -->
<div class="tab-pane fade" id="download" role="tabpanel">
<div class="container my-5">
<h3 class=" text-lg-left mt-4 mb-0">
Download Forms:
</h3>
<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>

<br>
<br>
<table class="table table-hover table-bordered mt-4">
  <thead>
    <tr>
      <th scope="col">S.No.</th>
      <th scope="col">Details :</th>
      
      <th scope="col">Download Link</th>
    </tr>
  </thead>
  <tbody>
    
    <tr>
      <th scope="row">1</th>
      <td>Book Recommendations Form</td>
      <td><a class="text-light" href="assets/forms/Book_recommendation_sheet_10Aug18.pdf" target="_blank"><button class="btn btn-info ">Download</button></a></td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>E-Resources/Print-Journal Recommendations Form</td>
      <td><a class="text-light" href="assets/forms/E-Resources_Print Journals Recommendation Sheet_10Aug18.pdf" target="_blank"><button class="btn btn-info ">Download</button></a></td>
      
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Library membership form for Faculty/staff</td>
      <td><a class="text-light" href="assets/forms/FacultyStaff_ReccomForm_10Aug18.pdf" target="_blank"><button class="btn btn-info ">Download</button></a></td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Library membership form for Research Fellow</td>
      <td><a class="text-light" href="assets/forms/Research Fellow ID Form_10Aug18.pdf" target="_blank"><button class="btn btn-info ">Download</button></a></td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Library membership form for Research Scholars</td>
      <td><a class="text-light" href="assets/forms/Ph.DStudent ID Form_10Aug18.pdf" target="_blank"><button class="btn btn-info ">Download</button></a></td>
      
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Library membership form for Students (offline mode)</td>
      <td><a class="text-light" href="assets/forms/Student_ID_Card_Form_10Aug18.pdf" target="_blank"><button class="btn btn-info ">Download</button></a></td>
      
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Library membership form for Students (online mode)</td>
      <td><a class="text-light" href="https://docs.google.com/forms/d/e/1FAIpQLScQzGHxKuUZzqoGida4Fl57GUn82ONIubPD6SoDutnwtawMfA/viewform" target="_blank"><button class="btn btn-info ">Visit link</button></a></td>
      
    </tr>
  </tbody>
</table>
</div>
</div>


<!--Start library Contact us -->
        <div class="container tab-pane" id="contact">
          <h4 class=" text-lg-left mt-3 mb-0">Contact Us</h4>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 ">
          </div>
          <br>
          <br>
          <div class="card bordernow mt-2 mb-0">
            <div class="row container mx-auto">
              <div class="col-md-2">
                <div class="card-img">
                <img src="../library/img/dept-librarian.jpeg" width="200" height="250" class="rounded float-left">
                </div>
              </div>
              <div class="col-md-10 px-5">
                <div class="card-body text-left">
                  <h4 class="card-title ">Dr. Maya Mishra</h4>
                  <p class="card-text">Deputy Librarian<br>Bodhisattva Dr. B. R. Ambedkar Library<br>Gautam Buddha University<br>Greater NOIDA<br>Uttar Pradesh (INDIA) - 201312 <br>
                    <a href="tel:+911202346262">+91-120-2346262</a>
                    <br>
                    <a href="mailto:mayamishra@gbu.ac.in">mayamishra@gbu.ac.in</a>
                  </p>
                </div>
              </div>
            </div>
          </div>   
        </div>
        
      
      <!--End library Contacts us -->


<!-- download section end -->
<div class="gcse-searchresults-only"></div>
<script type="text/javascript" src="../schools/js/school_main.js"></script>
<%include footer%>