<%include header%>
  <head>
    <title>GBU-LIBRARY</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="assets/css/now.css">
    <link rel="stylesheet" type="text/css" href="assets/css/banner.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/gif/png" href="./img/logo_gbu.png">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--- Animation --->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet"/>
  </head>
  <body >
    <!-- home section - start from here -->
    <div class="jumbotron mb-0 clubheader banner-bg" style="background-image: url(assets/img/banner1.png); ">
      
      <div class="container">
        <h3 class="mb-0 text-left" style="color: black;">
        
        BODHISATTVA Dr. B.R. AMBEDKAR<br>LIBRARY
        </h3>
        <hr class="mt-0 pt-0 mb-1">
        <h3 class="display-5 text-right mb-0">E-Resources</h3>
      </div>
      
    </div>
    <!-- navbar - start from here -->
    <nav class="navbar navbar-expand-md  navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbaraa" >
          <ul class="navbar-nav mx-auto" >
            <li class="nav-item  active">
              <a href="/library/home" class="nav-link active ">Home</a>
            </li>
            <li class="nav-item">
              <a href="/library/about" class="nav-link active">About</a>
            </li>
            <li class="nav-item ">
              <a href="/library/online-catalogue" class="nav-link active mr-0">Online Catalogue</a>
            </li>
            <li class="nav-item">
              <a href="/library/e-resources" class="nav-link active">E-Resources</a>
            </li>
            <li class="nav-item ">
              <a href="/library/downloads-&-forums" class="nav-link  active mr-0">Downloads & Forms</a>
            </li>
            <li class="nav-item ">
              <a href="/library/contact-us" class="nav-link active mr-0">Contact Us</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <br>
    <!-- home section start -->
    <div class="container">
      <div class="mt-5 mb-5 container card shadow m-auto">
        <div class="card-body">
          <div class="container">
            
             <div class="container">
      <h4 class=" text-lg-left mt-3 mb-0">Open Access E-Resources</h4>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 6%; background-color:#FB8C00 ">
      </div>
    </div>
    <br>
    <br>
            
            <p class="card-text text-justify">1. Directory of Open Access Journals</p>
            <p>URL: <a href="https://doaj.org/"> <u>https://doaj.org/</u></a></p>
            <p class="card-text text-justify">2.Directory of Open Access Databases (LOADB) </p>
            <p>  URL: <a href="  http://www.loadb.org/   "> <u>http://www.loadb.org/  </u></a></p>
            <p class="card-text text-justify">3. Taylor & Francis  </p>
            <p>  URL: <a href=" http://www.tandfonline.com/openaccess/openjournals   ">  <u>http://www.tandfonline.com/openaccess/openjournals  </u></a></p>
            <p class="card-text text-justify">4. SANKHAYA , the Indian Journal of Statistics (Indian Statistical Institute)s</p>
            <p>  URL: <a href="  http://sankhya.isical.ac.in/latestissue.html  "><u>http://sankhya.isical.ac.in/latestissue.html </u> </a></p>
            <p class="card-text text-justify">5.Public Library of Science (PLOS)</p>
            <p>  URL: <a href=" https://www.plos.org/ "> <u> https://www.plos.org/ </u> </a></p>
            <p class="card-text text-justify">6.PubMed (Medical Science)  </p>
            <p>  URL: <a href="   https://www.ncbi.nlm.nih.gov/pubmed?otool=wiuwiblib "><u> https://www.ncbi.nlm.nih.gov/pubmed?otool=wiuwiblib  </u>  </a></p>
            <p class="card-text text-justify">7. BioMedCentral (Biomedical, Medicine, Biology & Biotechnology) </p>
            <p>  URL: <a href=" https://bmcproc.biomedcentral.com/  "> <u>https://bmcproc.biomedcentral.com/ </u></a></p>
            <p class="card-text text-justify">8. Medknow Publications: Publisher of peer reviewed scholarly journals.</p>
            <p>  URL: <a href="  http://www.medknow.com/  "> <u>  http://www.medknow.com/   </u> </a></p>
            <p class="card-text text-justify">9. MedlinePlus (Medical science)  </p>
            <p>  URL: <a href="  https://medlineplus.gov/    "> <u>https://medlineplus.gov/   </u></a></p>
            <p class="card-text text-justify">10. Indian Council of Medical Research  </p>
            <p>  URL: <a href=" http://www.icmr.nic.in/Publications/Publications.html    ">  <u>http://www.icmr.nic.in/Publications/Publications.html   </u></a></p>
            <p class="card-text text-justify">11. Free Medical Journals</p>
            <p>  URL: <a href="   http://www.freemedicaljournals.com/f.php?f=ip_medic "><u> http://www.freemedicaljournals.com/f.php?f=ip_medic </u> </a></p>
            <p class="card-text text-justify">12. Springer Open</p>
            <p>  URL: <a href="  https://www.springeropen.com/ "> <u>  https://www.springeropen.com/ </u> </a></p>
            <p class="card-text text-justify">13. Nature.com (Multi-disciplinary)  </p>
            <p>  URL: <a href=" http://www.nature.com/siteindex/index.html  "><u>http://www.nature.com/siteindex/index.html   </u>  </a></p>
            <p class="card-text text-justify">14. AgEcon (Agriculture and Applied Economics) </p>
            <p>  URL: <a href="  http://ageconsearch.tind.io//"> <u> http://ageconsearch.tind.io//  </u></a></p>
            <p class="card-text text-justify">15. AGRICOLA (Agriculture)</p>
            <p>  URL: <a href=" https://agricola.nal.usda.gov/ "> <u> https://agricola.nal.usda.gov/ </u> </a></p>
            <p class="card-text text-justify">16. arXiv (Physics, Mathematics, Computer Science, Quantitative Biology, Quantitative Finance and Statistics) </p>
            <p>  URL: <a href="  https://arxiv.org/    "> <u> https://arxiv.org/   </u></a></p>
            <p class="card-text text-justify">17. Open Biology (Royal Society of Chemistry)  </p>
            <p>  URL: <a href="  http://rsob.royalsocietypublishing.org/   ">  <u> http://rsob.royalsocietypublishing.org/  </u></a></p>
            <p class="card-text text-justify">18. Royal Society Open Science (Royal Society of Chemistry) </p>
            <p>  URL: <a href=" http://rsos.royalsocietypublishing.org/   "><u>http://rsos.royalsocietypublishing.org/  </u> </a></p>
            <p class="card-text text-justify">19. Biographical Memoirs (RSC) (all issues are now freely available, apart from the most recent issue)</p>
            <p>  URL: <a href="  http://rsbm.royalsocietypublishing.org/ "> <u>  http://rsbm.royalsocietypublishing.org/ </u> </a></p>
            <p class="card-text text-justify">20. NISCAIR Online Periodicals Repository  </p>
            <p>  URL: <a href="  http://nopr.niscair.res.in/  "><u> http://nopr.niscair.res.in/  </u>  </a></p>
            <p class="card-text text-justify">21. NCERT Journals </p>
            <p>  URL: <a href=" http://ncert.nic.in/ncert/collection/online_journal.html   "> <u>http://ncert.nic.in/ncert/collection/online_journal.html  </u></a></p>
            <p class="card-text text-justify">22. Indian Academy of Sciences </p>
            <p>  URL: <a href=" http://www.ias.ac.in/Journals/Overview/  "> <u> http://www.ias.ac.in/Journals/Overview/    </u> </a></p>
            <p class="card-text text-justify">23. Advances in production Engineering and Management</p>
            <p>  URL: <a href="   http://apem-journal.org/     "> <u> http://apem-journal.org/    </u></a></p>
            <p class="card-text text-justify">24. The Electronic Library of Mathematics (ELibM)  </p>
            <p>  URL: <a href=" http://www.emis.de/ELibEMS.html">  <u>http://www.emis.de/ELibEMS.html    </u></a></p>
            <p class="card-text text-justify">25. Academic Journals (Science, Art, Education, Legal)</p>
            <p>  URL: <a href="  http://www.academicjournals.org/journal "><u> http://www.academicjournals.org/journal </u> </a></p>
            <p class="card-text text-justify">26. Computational Linguistics (MIT)</p>
            <p>  URL: <a href="  http://www.mitpressjournals.org/loi/coli "> <u> http://www.mitpressjournals.org/loi/coli </u> </a></p>
            <p class="card-text text-justify">27. Journal of Digital Information </p>
            <p>  URL: <a href=" https://journals.tdl.org/jodi/index.php/jodi"><u>https://journals.tdl.org/jodi/index.php/jodi
            </u>  </a></p>
            <p class="card-text text-justify">28. Cogprints (Multidisciplinary) </p>
            <p>  URL: <a href="  http://cogprints.org/9764/"> <u>  http://cogprints.org/9764/ </u></a></p>
            <p class="card-text text-justify">29. Strategian (Multi disciplinary)</p>
            <p>  URL: <a href=" http://www.strategian.com/  "> <u>http://www.strategian.com/  </u> </a></p>
            <p class="card-text text-justify">30. Mathguide (Mathematics)</p>
            <p>  URL: <a href=" http://www.mathguide.de/ "> <u>http://www.mathguide.de/ </u>
            </a></p>
            <p class="card-text text-justify">31. eigenFactor.org (Impact factor Science/Social Science)</p>
            <p>  URL: <a href="  http://eigenfactor.org/  ">  <u> http://eigenfactor.org/ </u>
            </a></p>
            <p class="card-text text-justify">32. The WWW Virtual Library</p>
            <p>  URL: <a href=" http://vlib.org/  "><u> http://vlib.org/ </u>
            </a></p>
            <p class="card-text text-justify">33. Sociosite(Social Science)</p>
            <p>  URL: <a href=" http://www.sociosite.net/index.php  "><u>  http://www.sociosite.net/index.php  </u></a></p>
            <p class="card-text text-justify">34. CiteULike (Citation Database) </p>
            <p>  URL: <a href="   http://www.citeulike.org/   "> <u>  http://www.citeulike.org/  </u> </a></p>
            <p class="card-text text-justify">35. Psych Web (psychology topics and APA reference Style) </p>
            <p>  URL: <a href=" http://www.psychwww.com/ "> <u> http://www.psychwww.com/  </u>  </a></p>
            <p class="card-text text-justify">36. Foreign Trade Review</p>
            <p>  URL: <a href=" http://journals.sagepub.com/toc/ftra/current "> <u> http://journals.sagepub.com/toc/ftra/current                       </u> </a></p>
            <p class="card-text text-justify">37. India Quarterly</p>
            <p>  URL: <a href=" http://journals.sagepub.com/toc/iqqa/current "> <u>http://journals.sagepub.com/toc/iqqa/current </u>
            </a></p>
            <p class="card-text text-justify">38. Indian Journal of Public Administration  </p>
            <p>  URL: <a href=" http://journals.sagepub.com/toc/ipaa/current  "> <u>  http://journals.sagepub.com/toc/ipaa/current </u>
            </a></p>
            <p class="card-text text-justify">39. International Studies </p>
            <p>  URL: <a href=" http://journals.sagepub.com/toc/isqa/current"><u>http://journals.sagepub.com/toc/isqa/current</u>
            </a></p>
            <p class="card-text text-justify">40. Jadavpur Journal of International Relations </p>
            <p>  URL: <a href="http://journals.sagepub.com/toc/jnra/current"><u> http://journals.sagepub.com/toc/jnra/current </u></a></p>
            <p class="card-text text-justify">41. Vikalpa </p>
            <p>  URL: <a href="http://journals.sagepub.com/toc/vika/current   "> <u>http://journals.sagepub.com/toc/vika/current  </u></a></p>
            <p class="card-text text-justify">42. SCC Online (IP Accessible) {Free Registration Required}</p>
            <p>  URL: <a href=" www.scconline.com  "> <u> www.scconline.com </u>   </a></p>
            <br>
          </div>
        </div>
      </div>
      <div class="container card shadow m-auto" >
        <div class="card-body">
          <div class="card-header font-weight-bold text-center p-1"><h4><b>E-LIBRARY</b></h4></div> <br>
          
          <p class="card-text text-justify"><b>
            A. Open Access E-Journal/Database</b>
          </p>
          <p class="card-text text-justify"><u>1. Directory of Open Access Journals</u></p>
          <p class="card-text text-justify">2.Directory of Open Access Databases (LOADB) </p>
          <p>  URL: <a href="  http://www.loadb.org/   "> <u>http://www.loadb.org/  </u></a></p>
          <p class="card-text text-justify">3. Taylor & Francis  </p>
          <p>  URL: <a href=" http://www.tandfonline.com/openaccess/openjournals   ">  <u>http://www.tandfonline.com/openaccess/openjournals  </u></a></p>
          <p class="card-text text-justify">4. SANKHAYA , the Indian Journal of Statistics (Indian Statistical Institute)s</p>
          <p>  URL: <a href="  http://sankhya.isical.ac.in/latestissue.html  "><u>http://sankhya.isical.ac.in/latestissue.html </u> </a></p>
          <p class="card-text text-justify">5.Public Library of Science (PLOS)</p>
          <p>  URL: <a href=" https://www.plos.org/ "> <u> https://www.plos.org/ </u> </a></p>
          <p class="card-text text-justify">6.PubMed (Medical Science)  </p>
          <p>  URL: <a href="   https://www.ncbi.nlm.nih.gov/pubmed?otool=wiuwiblib "><u> https://www.ncbi.nlm.nih.gov/pubmed?otool=wiuwiblib  </u>  </a></p>
          <p class="card-text text-justify">7. BioMedCentral (Biomedical, Medicine, Biology & Biotechnology) </p>
          <p>  URL: <a href=" https://bmcproc.biomedcentral.com/  "> <u>https://bmcproc.biomedcentral.com/ </u></a></p>
          <p class="card-text text-justify">8. Medknow Publications: Publisher of peer reviewed scholarly journals.</p>
          <p>  URL: <a href="  http://www.medknow.com/  "> <u>  http://www.medknow.com/   </u> </a></p>
          <p class="card-text text-justify">9. MedlinePlus (Medical science)  </p>
          <p>  URL: <a href="  https://medlineplus.gov/    "> <u>https://medlineplus.gov/   </u></a></p>
          <p class="card-text text-justify">10. Indian Council of Medical Research  </p>
          <p>  URL: <a href=" http://www.icmr.nic.in/Publications/Publications.html    ">  <u>http://www.icmr.nic.in/Publications/Publications.html   </u></a></p>
          <p class="card-text text-justify">11. Free Medical Journals</p>
          <p>  URL: <a href="   http://www.freemedicaljournals.com/f.php?f=ip_medic "><u> http://www.freemedicaljournals.com/f.php?f=ip_medic </u> </a></p>
          <p class="card-text text-justify">12. Springer Open</p>
          <p>  URL: <a href="  https://www.springeropen.com/ "> <u>  https://www.springeropen.com/ </u> </a></p>
          <p class="card-text text-justify">13. Nature.com (Multi-disciplinary)  </p>
          <p>  URL: <a href=" http://www.nature.com/siteindex/index.html  "><u>http://www.nature.com/siteindex/index.html   </u>  </a></p>
          <p class="card-text text-justify">14. AgEcon (Agriculture and Applied Economics) </p>
          <p>  URL: <a href="  http://ageconsearch.tind.io//"> <u> http://ageconsearch.tind.io//  </u></a></p>
          <p class="card-text text-justify">15. AGRICOLA (Agriculture)</p>
          <p>  URL: <a href=" https://agricola.nal.usda.gov/ "> <u> https://agricola.nal.usda.gov/ </u> </a></p>
          <p class="card-text text-justify">16. arXiv (Physics, Mathematics, Computer Science, Quantitative Biology, Quantitative Finance and Statistics) </p>
          <p>  URL: <a href="  https://arxiv.org/    "> <u> https://arxiv.org/   </u></a></p>
          <p class="card-text text-justify">17. Open Biology (Royal Society of Chemistry)  </p>
          <p>  URL: <a href="  http://rsob.royalsocietypublishing.org/   ">  <u> http://rsob.royalsocietypublishing.org/  </u></a></p>
          <p class="card-text text-justify">18. Royal Society Open Science (Royal Society of Chemistry) </p>
          <p>  URL: <a href=" http://rsos.royalsocietypublishing.org/   "><u>http://rsos.royalsocietypublishing.org/  </u> </a></p>
          <p class="card-text text-justify">19. Biographical Memoirs (RSC) (all issues are now freely available, apart from the most recent issue)</p>
          <p>  URL: <a href="  http://rsbm.royalsocietypublishing.org/ "> <u>  http://rsbm.royalsocietypublishing.org/ </u> </a></p>
          <p class="card-text text-justify">20. NISCAIR Online Periodicals Repository  </p>
          <p>  URL: <a href="  http://nopr.niscair.res.in/  "><u> http://nopr.niscair.res.in/  </u>  </a></p>
          <p class="card-text text-justify">21. NCERT Journals </p>
          <p>  URL: <a href=" http://ncert.nic.in/ncert/collection/online_journal.html   "> <u>http://ncert.nic.in/ncert/collection/online_journal.html  </u></a></p>
          <p class="card-text text-justify">22. Indian Academy of Sciences </p>
          <p>  URL: <a href=" http://www.ias.ac.in/Journals/Overview/  "> <u> http://www.ias.ac.in/Journals/Overview/    </u> </a></p>
          <p class="card-text text-justify">23. Advances in production Engineering and Management</p>
          <p>  URL: <a href="   http://apem-journal.org/     "> <u> http://apem-journal.org/    </u></a></p>
          <p class="card-text text-justify">24. The Electronic Library of Mathematics (ELibM)  </p>
          <p>  URL: <a href=" http://www.emis.de/ELibEMS.html">  <u>http://www.emis.de/ELibEMS.html    </u></a></p>
          <p class="card-text text-justify">25. Academic Journals (Science, Art, Education, Legal)</p>
          <p>  URL: <a href="  http://www.academicjournals.org/journal "><u> http://www.academicjournals.org/journal </u> </a></p>
          <p class="card-text text-justify">26. Computational Linguistics (MIT)</p>
          <p>  URL: <a href="  http://www.mitpressjournals.org/loi/coli "> <u> http://www.mitpressjournals.org/loi/coli </u> </a></p>
          <p class="card-text text-justify">27. Journal of Digital Information </p>
          <p>  URL: <a href=" https://journals.tdl.org/jodi/index.php/jodi"><u>https://journals.tdl.org/jodi/index.php/jodi
          </u>  </a></p>
          <p class="card-text text-justify">28. Cogprints (Multidisciplinary) </p>
          <p>  URL: <a href="  http://cogprints.org/9764/"> <u>  http://cogprints.org/9764/ </u></a></p>
          <p class="card-text text-justify">29. Strategian (Multi disciplinary)</p>
          <p>  URL: <a href=" http://www.strategian.com/  "> <u>http://www.strategian.com/  </u> </a></p>
          <p class="card-text text-justify">30. Mathguide (Mathematics)</p>
          <p>  URL: <a href=" http://www.mathguide.de/ "> <u>http://www.mathguide.de/ </u>
          </a></p>
          <p class="card-text text-justify">31. eigenFactor.org (Impact factor Science/Social Science)</p>
          <p>  URL: <a href="  http://eigenfactor.org/  ">  <u> http://eigenfactor.org/ </u>
          </a></p>
          <p class="card-text text-justify">32. The WWW Virtual Library</p>
          <p>  URL: <a href=" http://vlib.org/  "><u> http://vlib.org/ </u>
          </a></p>
          <p class="card-text text-justify">33. Sociosite(Social Science)</p>
          <p>  URL: <a href=" http://www.sociosite.net/index.php  "><u>  http://www.sociosite.net/index.php  </u></a></p>
          <p class="card-text text-justify">34. CiteULike (Citation Database) </p>
          <p>  URL: <a href="   http://www.citeulike.org/   "> <u>  http://www.citeulike.org/  </u> </a></p>
          <p class="card-text text-justify">35. Psych Web (psychology topics and APA reference Style) </p>
          <p>  URL: <a href=" http://www.psychwww.com/ "> <u> http://www.psychwww.com/  </u>  </a></p>
          <p class="card-text text-justify">36. Foreign Trade Review</p>
          <p>  URL: <a href=" http://journals.sagepub.com/toc/ftra/current "> <u> http://journals.sagepub.com/toc/ftra/current                       </u> </a></p>
          <p class="card-text text-justify">37. India Quarterly</p>
          <p>  URL: <a href=" http://journals.sagepub.com/toc/iqqa/current "> <u>http://journals.sagepub.com/toc/iqqa/current </u>
          </a></p>
          <p class="card-text text-justify">38. Indian Journal of Public Administration  </p>
          <p>  URL: <a href=" http://journals.sagepub.com/toc/ipaa/current  "> <u>  http://journals.sagepub.com/toc/ipaa/current </u>
          </a></p>
          <p class="card-text text-justify">39. International Studies </p>
          <p>  URL: <a href=" http://journals.sagepub.com/toc/isqa/current"><u>http://journals.sagepub.com/toc/isqa/current</u>
          </a></p>
          <p class="card-text text-justify">40. Jadavpur Journal of International Relations </p>
          <p>  URL: <a href="http://journals.sagepub.com/toc/jnra/current"><u> http://journals.sagepub.com/toc/jnra/current </u></a></p>
          <p class="card-text text-justify">41. Vikalpa </p>
          <p>  URL: <a href="http://journals.sagepub.com/toc/vika/current   "> <u>http://journals.sagepub.com/toc/vika/current  </u></a></p>
          <p class="card-text text-justify">42. SCC Online (IP Accessible) {Free Registration Required}</p>
          <p>  URL: <a href=" www.scconline.com  "> <u> www.scconline.com </u>   </a></p>
          <br>
          <p class="card-text text-justify"><b>B. Open Access E-books</b>
            <p class="card-text text-justify">1. Directory of Open Access Books</p>
            <p>  URL: <a href=" http://www.doabooks.org//  "> <u> http://www.doabooks.org/  </u> </a></p>
            <p class="card-text text-justify">2. Book Gold Mine </p>
            <p>  URL: <a href="  https://www.bookgoldmine.com/    "> <u>https://www.bookgoldmine.com/   </u></a></p>
            <p class="card-text text-justify">3. Bartleby.com  </p>
            <p>  URL: <a href=" http://www.bartleby.com/   ">  <u>http://www.bartleby.com/  </u></a></p>
            <p class="card-text text-justify">4. EBookLobby</p>
            <p>  URL: <a href="  http://www.ebooklobby.com/   "><u>http://www.ebooklobby.com/  </u> </a></p>
            <p class="card-text text-justify">5. The complete work of Shakespeare</p>
            <p>  URL: <a href=" http://shakespeare.mit.edu/works.html  "> <u> http://shakespeare.mit.edu/works.html  </u> </a></p>
            <p class="card-text text-justify">6. OAPEN (Law, Science Social, Sciences, Arts and Humanities)</p>
            <p>  URL: <a href="http://www.oapen.org/home   "> <u> http://www.oapen.org/home   </u> </a></p>
            <br>
            <p class="card-text text-justify"><b>C. Open Access Thesis /Dissertation/Projects</b>
              <p class="card-text text-justify">1. Vidyanidhi: Indian digital library of electronic theses (University of Mysore)</p>
              <p>  URL: <a href="http://eprints.uni-mysore.ac.in/4778/  "> <u> http://eprints.uni-mysore.ac.in/4778/   </u> </a></p>
              <p class="card-text text-justify">2. Shodhganga </p>
              <p>  URL: <a href="  http://shodhganga.inflibnet.ac.in     "> <u>http://shodhganga.inflibnet.ac.in  </u></a></p>
              <p class="card-text text-justify">3. Shodhgangotri  </p>
              <p>  URL: <a href="  http://shodhgangotri.inflibnet.ac.in/    ">  <u> http://shodhgangotri.inflibnet.ac.in/   </u></a></p>
              <p class="card-text text-justify">4. NDLTD </p>
              <p>  URL: <a href="  http://search.ndltd.org/    "><u>http://search.ndltd.org/   </u> </a></p>
              <p class="card-text text-justify">5. Digital Access to Scholarship at Harvard</p>
              <p>  URL: <a href=" https://dash.harvard.edu/   "> <u> https://dash.harvard.edu/  </u> </a></p>
              <p class="card-text text-justify">6. Caltech THESIS: A Caltech Library Service</p>
              <p>  URL: <a href="http://thesis.library.caltech.edu/ "> <u> http://thesis.library.caltech.edu/    </u> </a></p>
              <br>
              <p class="card-text text-justify"><b>D. Open Access Institutional Repositories </b>
                <p class="card-text text-justify">1. Digital Library of India</p>
                <p>  URL: <a href="http://www.dli.ernet.in/  "> <u> http://www.dli.ernet.in/   </u> </a></p>
                <p class="card-text text-justify">2. The Directory of Open Access Repositories (Covered all the Subjects) </p>
                <p>  URL: <a href="  http://www.opendoar.org/    "> <u>http://www.opendoar.org/   </u></a></p>
                <p class="card-text text-justify">3. The National Science Digital Library  </p>
                <p>  URL: <a href=" https://nsdl.oercommons.org/     ">  <u> https://nsdl.oercommons.org/    </u></a></p>
                <p class="card-text text-justify">4. National Science Foundation </p>
                <p>  URL: <a href=" https://www.nsf.gov/    "><u>https://www.nsf.gov/  </u> </a></p>
                <p class="card-text text-justify">5. National Digital Library of India (free registration is required to access NDL resources)</p>
                <p>  URL: <a href=" https://ndl.iitkgp.ac.in/ "> <u> https://ndl.iitkgp.ac.in/                     </u> </a></p>
                <p class="card-text text-justify">6. SciDev.Net (reliable and authoritative news, views and analysis on information about science and technology for global development)</p>
                <p>  URL: <a href=" http://www.scidev.net/global/ "> <u>  http://www.scidev.net/global/  </u> </a></p>
                <p class="card-text text-justify">7. Computing Research Repository (Cornell University USA)</p>
                <p>  URL: <a href=" https://arxiv.org/corr/home / "> <u>https://arxiv.org/corr/home                     </u> </a></p>
                <p class="card-text text-justify">8. Dspace@MIT</p>
                <p>  URL: <a href=" Dspace@MIT  "> <u>  Dspace@MIT  </u> </a></p>
                <br>
                <p class="card-text text-justify"><b>D. Open Data</b>
                  <p class="card-text text-justify">1. Central Statistical Organisation CSO</p>
                  <p>  URL: <a href="http://mospi.nic.in/?status=1&menu_id=14 "> <u> http://mospi.nic.in/?status=1&menu_id=14   </u> </a></p>
                  <p class="card-text text-justify">2. Indiastat.Com </p>
                  <p>  URL: <a href="  http://www.indiastat.com/default.aspx      "> <u>http://www.indiastat.com/default.aspx   </u></a></p>
                  <p class="card-text text-justify">3. 3. Data.Gov.in</p>
                  <p>  URL: <a href="  https://data.gov.in/   ">  <u> https://data.gov.in/  </u></a></p>
                  <p class="card-text text-justify">4. International Monetary Fund (IMF) Data </p>
                  <p>  URL: <a href=" http://www.imf.org/external/index.htm     "><u>http://www.imf.org/external/index.htm   </u> </a></p>
                  <p class="card-text text-justify">5. World Bank Data</p>
                  <p>  URL: <a href=" http://data.worldbank.org/    "> <u> http://data.worldbank.org/   </u> </a></p>
                  <p class="card-text text-justify">6. United Nations (UN) Data Portal</p>
                  <p>  URL: <a href="http://data.un.org/Default.aspx  "> <u> http://data.un.org/Default.aspx     </u> </a></p>
                </div>
              </div>
            </p>
          </p>
        </p>
      </p>
      </div>
      
              <!-- Optional JavaScript -->
              <!-- jQuery library -->
              <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
              <!-- Popper JS -->
              <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
              <!-- Latest compiled JavaScript -->
              <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
              <script type="text/javascript" src="main.js"></script>
            </body>
          <%include footer%>