<%include header%>
		<div class="jumbotron mb-0 clubheader1 headkkk" style="background-image: url(./img/banner5.png);background-size: cover;background-repeat: no-repeat;">
			<style>
          @media only screen and (min-width: 992px){
            .headkkk{
              background-position: 100% 52%;
            }
          }
        </style>
			<div class="container mb-0 ">
				<h1 class=" font-weight-light display-5 mb-0 text-center" style="color: #ffffff">
				<strong>
				Mahatma Jyotiba Phule Dhyan Kendra, GBU
				</strong>
				</h1>
				<hr class="mt-0  pt-0 mb-1">
			</div>
		</div>
		
		<nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #78335d">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
					<ul class="nav navbar-nav list-unstyled nabar-expand-md nav-justified mx-auto ">
						<li class="nav-item m-1">
							<a href="#about" class="nav-link active" data-toggle="tab">About</a>
						</li>
						<li class="nav-item m-1">
							<a href="#history" class="nav-link" data-toggle="tab">History</a>
						</li>
						<li class="nav-item m-1">
							<a href="#whatis" class="nav-link" data-toggle="tab">Meditation</a>
						</li>
						<li class="nav-item m-1">
							<a href="#faculty" class="nav-link" data-toggle="tab">Faculty</a>
						</li>
						
						<li class="nav-item m-1">
							<a href="#gallery" class="nav-link" data-toggle="tab">Gallery</a>
						</li>
						<li class="nav-item m-1">
							<a href="#downloads" class="nav-link" data-toggle="tab">Downloads</a>
						</li>
						
					</div>
				</div>
			</nav>
			<div class="jumbotron mt-0 " style="background-color: #ffffff">
				<div class=" tab-content container">
					
					<div class="tab-pane active" id="about"> <br>
						<div class="fadeuponsc row w-100 visible">
							<div class="container m-0 ttab w-100">
								<div class="stats-copy">
									<h2 class="text-lg-left">About Mahatma Jyotiba Phule Dhyan Kendra, GBU</h2>
									<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
									<br>
									<ul>
										<li>In addition to curricular inputs the university is creating facilities to guide and shape Mahatma Jyotiba Phule Dhyana Kendra, inspired by stupa architecture is a learning and retreat centre to give an experience of the power of peace and inner silence.</li>
										<li>The centre is looking forward to organize seminars, lectures and experiential workshops in meditation, positive values, stress free living and self management.
											<li>It aims to help the residents at campus in recognizing their own inherent qualities and recollect their inner most potential. The meditation centre facilitates the experience of the inner self through silence.</li>
										</ul>
									</div>
									<div class="stats-copy">
										<h2 class="text-lg-left">Vision & Mission</h2>
										<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
										<br>
										<ul>
											<li>The Bodhi-Mindfulness Meditation Course vision to create a community around the pursuit of living a more mindful, reflective, and skillful life.BMC hopes to develop the meditation skills of its members and foster discussion of matters of practical importance.
											</li>
											<li>In short, BMC is dedicated to creating a community which promotes human flourishing and the art of living well. It is clear vision of awareness of Buddhist Meditation among the students of GBU.
											</li>
											<li>This course will be very helpful to personality development through mindfulness meditation technique in the student’s careers.Personality trait and mindfulness are associated with a way we understand ourselves and those around us and consequentially be able to demonstrate skills to react in society peacefully.
											</li>
											<li>These skills are, for example, working with others, solving problems, making decisions, and adapting to change.
											</li>
											<li>Bodhi Mindfulness Meditation is the only course on campus that provides an opportunity to learn about, discuss, reflect on, and practices various forms of meditations and mindfulness and loving-kindness.
											</li>
											<li>The course provides, at a minimum, an hour each week for students to come and learn about not only what various types of meditation and mindfulness are, but especially why they’re important and how to apply them to daily life.
											</li>
											<li> Everyone is welcome to share insight, stories, thoughts, etc. as the group is a learning experience for everyone. Each meeting is a chance for students relax for an hour at the beginning of the week - to center themselves and walk away with a new perspective, a sense of connectedness, and maybe a bit of wisdom.
											</li>
											
										</ul>
									</div>
									<h2 class="text-lg-left">Bodhi Meditation Course/Programme Schedule</h2>
									<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
									<br>
									<div class="text-justify table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>Days/Month</th>
													<th>Types of Course/Programmes</th>
													<th>Time Duration</th>
													<th>Practitioners</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>
													<td>Every Monday & Thursday</td>
													<td>Bodhi Meditation course for beginners</td>
													<td>5.00-6.00 PM</td>
													<td>GBU Students only
													</td>
												</tr>
												<tr>
													<td>2.</td>
													<td>Every Friday</td>
													<td>Advance Course on “Bodhi Meditation for Trainers”</td>
													<td>4.00-5.00 PM</td>
													<td>BMC Members only
													</td>
												</tr>
												<tr>
													<td>3.</td>
													<td>Every 2nd Sunday of the month</td>
													<td>Basic Mindfulness Meditation Practices</td>
													<td>8.00-9.00 AM</td>
													<td>GBU Family Members</td>
												</tr>
												<tr>
													<td>4.</td>
													<td>Every 4th Saturday of the  month</td>
													<td>Day Workshop on “Bodhi Meditation” With Sub-Theme :Personality
													Development; Motivation; Effective Study & Student Career</td>
													<td>2.00-5.30 PM</td>
													<td>Open to All</td>
												</tr>
												<tr>
													<td>5.</td>
													<td>On Festival Holidays</td>
													<td>One Day Retreat on  “Study & Practices of Buddhist Meditation”</td>
													<td>10.00 AM to 5.00 PM </td>
													<td>Advanced Practitioners</td>
												</tr>
												<tr>
													<td>6.</td>
													<td>In Winter/Summer Vacations</td>
													<td>One Day Camp on “Mindfulness Training for School Children”</td>
													<td>10.00 AM to 4.00 PM</td>
													<td>Open for school students</td>
												</tr>
												<tr>
													<td>7. </td>
													<td>End of the Even session </td>
													<td>Two days Retreat on “Vipassana Meditation : Theory & Practices”</td>
													<td>Two Days</td>
													<td>GBU Studnets</td>
												</tr>
											</tbody>
										</table>
										
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane " id="history"> <br>
							<div class="fadeuponsc row w-100 visible">
								<div class="container m-0 ttab w-100">
									<div class="stats-copy">
										<h2 class="text-lg-left">History Of Bodhi Meditation</h2>
										<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
										<br>
										<br>
										<ul>
											<li>
												The Mahatma Jyotiba Phule Dhyan Kendra aims to create a community around the pursuit of living a more mindful, reflective and skilful life. It focuses to develop the meditation skills of its members and foster discussion of matters of practical importance. Personality trait and mindfulness are associated with a way we understand ourselves and those around us and consequentially be able to demonstrate skills to react in society peacefully. These skills are, for example, working with others, solving problems, making decision, and adapting to change. At Mahatma Jyotiba Pule Dhyan Kendra, University offers a course on Bodhi Mindfulness Meditation, a kind of Vipassana Meditation, which is practical way to achieve peace of mind to lead a contented life.
											</li>
											<li>
												The technique of Bodhi Meditation is part of Vipassana is a simple, practical way to achieve real peace of mind and to lead a happy, useful life. Vipassana means "to see things as they really are"; it is a logical process of mental purification through self-observation. Bodhi means Buddha-hood and Buddha-Nature, Supreme Enlightenment and Perfect Mindfulness. The Bodhi is not only in psychical Enlightenment but also in physical light. It I known as the “will” is psychology and as the “heart” in physiology. Bodhi-citta as symbolized by a Full moon, perfect & round & bright, eight inches in diameter, situated in his heart, and consisting of great compassion and deep wisdom.
											</li>
											<li>This course has been started from August, 2013 intuition of School of Buddhist Studies & Civilization (SoBSC) the part of practical approach of Buddhist education. In first 2013-14 batch 150 students, in second 2014-15 batch165, in third 2015-16 batch 300 students, in fourth year 2016-17 batch 120 students and fifth year 2017-18 batch 135 was enrolled in this course from all schools. It would be increase number of students to get benefits of mindfulness meditation techniques through this course.(Total Beneficiary GBU Students from all schools: 950+ during 2013-14 up to 2017-18).
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="whatis"> <br>
							<div class="fadeuponsc row w-100 visible">
								<div class="container m-0 ttab w-100">
									<div class="stats-copy">
										<h2 class="text-lg-left">What is meditation?</h2>
										<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
										<br>
										<br>
										<ul>
											<li>There are many things in life that are beyond our control. However, it is possible to take responsibility for our own states of mind – and to change them for the better. According to Buddhism this is the most important thing we can do, and Buddhism teaches that it is the only real antidote to our own personal sorrows, and to the anxieties, fears, hatreds, and general confusions that beset the human condition.
											</li>
											<li>Meditation is a means of transforming the mind. Buddhist meditation practices are techniques that encourage and develop concentration, clarity, emotional positivity, and a calm seeing of the true nature of things. By engaging with a particular meditation practice you learn the patterns and habits of your mind, and the practice offers a means to cultivate new, more positive ways of being. With regular work and patience these nourishing, focused states of mind can deepen into profoundly peaceful and energised states of mind. Such experiences can have a transformative effect and can lead to a new understanding of life.
											</li>
											<li>Over the millennia countless meditation practices have been developed in the Buddhist tradition. All of them may be described as ‘mind-trainings’, but they take many different approaches. The foundation of all of them, however, is the cultivation of a calm and positive state of mind.
											</li>
										</ul>
										<h2 class="text-lg-left">Methods of Buddhist Meditation Techniques:</h2>
										<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
										<br>
										<br>
										<ul>
											<li><strong>01. Mindfulness Meditation (anapanasati-Mindfulness of Breathing)
												</strong>
												<br>
												Mindfulness is noticing what is happening in the present moment. Mindfulness can help us learn to pay close attention to many things. It can also help us calm down when we are angry, sad, frustrated, or have any difficult emotion. Mindfulness can help us notice when we are happy or grateful too. It can also help us focus and in school, sports or music. Mindfulness is a particular way of paying attention. It is the mental faculty of purposefully bringing awareness to one’s experience. Mindfulness can be applied to sensory experience, thoughts, and emotions by using sustained attention and noticing our experience without reacting.<br>
												<strong> How to do the mindfulness of breathing Meditation?</strong>
												<br>
												As its name implies, the ‘Mindfulness of Breathing’ uses the breath as an object of concentration. By focusing on the breath you become aware of the mind’s tendency to jump from one thing to another. The simple discipline of concentration brings us back to the present moment and all the richness of experience that it contains. It is a way to develop mindfulness, the faculty of alert and sensitive awareness. And it is an excellent method for cultivating the states of intense meditative absorption known as dhyana. As well as this, the mindfulness of breathing is a good antidote to restlessness and anxiety, and a good way to relax: concentration on the breath has a positive effect on your entire physical and mental state.<br>
												The meditation has four progressive stages leading to a highly enjoyable level of concentration. To start with five minutes per stage is a good period of practice.
												<ul>
													<li>
														<strong>In the first stage</strong> you use counting to stay focused on the breath. After the out-breath you count one, then you breathe in and out and count two, and so on up to ten, and then you start again at one.
													</li>
													<li>
														<strong>In the second stage</strong> you subtly shift where you breathe, counting before the in-breath, anticipating the breath that is coming, but still counting from one to ten, and then starting again at one.
													</li>
													<li>
														<strong>In the third stage</strong> you drop the counting and just watch the breath as it comes in and goes out.
													</li>
													<li>
														<strong>In the final stage</strong> the focus of concentration narrows and sharpens, so you pay attention to the subtle sensation on the tip of the nose where the breath first enters and last leaves the body.
													</li>
												</ul>
											</li>
											<li><strong>02.	Heart fullness Meditation (Metta Bhavana: Loving-Kindness Development)</strong>
												<br>
												Loving-kindness is a central virtue of Buddhism, and loving-kindness meditation (metta bhavana) is a way of developing this virtue. It is a practice that is seen as supplemental or complementary to other forms of meditation. The purpose of loving-kindness meditation is to develop the mental habit of altruistic love for the self and others.
												The original name of this practice is metta bhavana, which comes from the Pali language. Metta means ‘love’ (in a non-romantic sense), friendliness, or kindness: hence ‘loving-kindness’ for short. It is an emotion, something you feel in your heart. Bhavana means development or cultivation.<br>
												<strong>The commonest form of the practice is in five stages, each of which should last about five minutes for a beginner.
												</strong> <br>
												<ul>
													<li>
														<strong>In the first stage</strong> you feel metta for yourself. You start by becoming aware of yourself, and focusing on feelings of peace, calm, and tranquillity. Then you let these grow in to feelings of strength and confidence, and then develop into love within your heart. You can use an image, like golden light flooding your body, or a phrase such as ‘may I be well and happy’, which you can repeat to yourself. These are ways of stimulating the feeling of metta for yourself.
													</li>
													<li>
														<strong>In the second stage</strong> think of a good friend. Bring them to mind as vividly as you can, and think of their good qualities. Feel your connection with your friend, and your liking for them, and encourage these to grow by repeating ‘may they be well; may they be happy’ quietly to yourself. You can also use an image, such as shining light from your heart into theirs. You can use these techniques — a phrase or an image — in the next two stages as well.
													</li>
													<li>
														<strong>In the third stage</strong> think of someone you do not particularly like or dislike. Your feelings are ‘neutral’. This may be someone you do not know well but see around. You reflect on their humanity, and include them in your feelings of metta.
													</li>
													<li>
														<strong>In the fourth stage</strong> think of someone you actually dislike — an “enemy”, traditionally— someone you are having difficulty with. Trying not to get caught up in any feelings of hatred, think of them positively and send your metta to them as well.
													</li>
													<li>
														<strong>In the final and fifth stage</strong> first of all you think of all four people together — yourself, the friend, the neutral person, and the enemy. Then extend your feelings further — to everyone around you, to everyone in your neighbourhood; in your town, your country, and so on throughout the world. Have a sense of waves of loving-kindness spreading from your heart to everyone, to all beings everywhere. Then gradually relax out of meditation, and bring the practice to an end.
													</li>
												</ul>
											</li>
											
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="faculty"> <br>
							<div class="fadeuponsc row w-100 visible">
								<div class="container m-0 ttab w-100">
									<div class="stats-copy">
										<h2 class="text-lg-left">Dr. Manish T. Meshram</h2>
										<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
										<br>
										
										<section  id="faculty-section" style="    box-shadow: 1px 0px 9px 5px #adabab;
											}">
											<div class="p-5 card border-0">
												<div class="row justify-content-center ">
													<div class="col-sm-3 m-auto pl-5">
														<img class="rounded-circle border border-radius-1 border-warning" src="../meditation/img/manishtmeshram.jpg" alt="manishtmeshram">
													</div>
													<div class="col-sm-9 my-auto 0pl-3 pr-5">
														<div class="card-block">
															<p class="card-text">
																<p>
																	<ul><li>Dr. Manish T. Meshram is working as an Assistant Professor in School of Buddhist Studies and Civilization, since 2012 at Gautam Buddha University.
																	</li>
																	<li>He is In-charge, Meditation Centre and Faculty Coordinator the course of Bodhi Mindfulness Meditation. Through this course 1000+ Students gets benefits from mindfulness meditation in GBU campus since 2013.
																	</li>
																	<li>His teachings have been deeply influential in bringing mindfulness and compassion practice to psychotherapy and stress reduction science.
																	</li>
																	<li>He has been 20 years experience and practices of different kind of Buddhist meditation. He studied and Practicing in different types of Buddhist meditation by expert meditation masters in Triratna Buddhist Community. It is International Buddhist movement.
																	</li>
																	<li>He was ordained into the Triratna Buddhist Order since 2006. He is the author, subject on Buddhist philosophy and one book on Buddhist Meditation.
																	</li>
																	<li>He published 60+ papers, articles subject on Buddhist Philosophy, Buddhist Meditation and Mindfulness in various journals.
																	</li>
																</ul>
															</p>
														</div>
													</div>
												</div>
											</div>
										</section>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="downloads"> <br>
							<div class="fadeuponsc row w-100 visible">
								<div class="container m-0 ttab w-100">
									<div class="stats-copy">
										<h2 class="text-lg-left">Download Resourses</h2>
										<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
										<br>
										<br>
										<div class="text-justify table-responsive">
											<table class="table table-hover t">
												<thead>
													<tr>
														<th>S.No.</th>
														<th>Description</th>
														<th>Download Link</th>
													</tr>
												</thead>
												<tbody >
													<tr>
														<td>1.</td>
														<td>Bodhi Meditation Course/Programme Schedule</td>
														<td><a href="../meditation/doc/schedule2019.pdf"> Download</a></td>
													</tr>
													<tr>
														<td>2.</td>
														<td>Bodhi Meditation Courses</td>
														<td><a href="../meditation/doc/BodhiMeditationCourse.pdf">Download</a></td>
													</tr>
													<tr>
														<td>3.</td>
														<td>Bodhi Mindfulness Club(BMC)</td>
														<td><a href="../meditation/doc/BodhiMindfulnessClub.pdf">Download</a></td>
													</tr>
													<tr>
														<td>4. </td>
														<td>Application for Bodhi Mindfulness Club</td>
														<td><a href="../meditation/doc/applicationformBMC.pdf">Download</a></td>
													</tr>
													<tr>
														<td>5.</td>
														<td>List of Meditation Students during 2017-18</td>
														<td><a href="../meditation/doc/ListofMstudents201718.pdf">Download</a></td>
														
													</tr>
													<tr>
														<td>6.</td>
														<td>List of Meditation Students during 2016-17</td>
														<td><a href="../meditation/doc/ListofMstudents201617.pdf">Download</a></td>
													</tr>
													<!-- <tr>
																	<td>7.</td>
																	<td>First talk- Basic idea of Buddhist Meditation</td>
																	<td><a href="../meditation/doc/Firsttalk.wav">Download</a></td>
																	
													</tr>
													<tr>
																	<td>8.</td>
																	<td>Second talk- about metta bhavana</td>
														<td><a href="../meditation/doc/Secondtalk.wav">Download</a></td> -->
														
													</tr>
													
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="tab-pane" id="gallery"> <br>
							<div class="fadeuponsc row w-100 visible">
								<div class="container m-0 ttab w-100">
									<div class="stats-copy">
										<h2 class="text-lg-left">Photo Gallery</h2>
										<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
										<br>
										<br>
										<style type="text/css">
											@media (min-width: 768px) {
												.carousel-multi-item-2 .col-md-3 {
												float: left;
												width: 25%;
												max-width: 100%; } }
												.carousel-multi-item-2 .card img {
												border-radius: 2px; }
										</style>
										<!--Carousel Wrapper-->
										<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
											<!--Slides-->
											<div class="carousel-inner" role="listbox">
												<!--First slide-->
												<div class="carousel-item active">
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/meditationcenternight.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha2.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha3.JPG"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha4.jpg"
															alt="Card image cap">
														</div>
													</div>
												</div>
												<!--/.First slide-->
												<!--Second slide-->
												<div class="carousel-item">
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha5.JPG"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha6.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha7.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha8.jpg"
															alt="Card image cap">
														</div>
													</div>
												</div>
												<!--/.Second slide-->
											</div>
											<!--/.Slides-->
										</div>
										<!--Carousel Wrapper-->
										<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
											<!--Slides-->
											<div class="carousel-inner" role="listbox">
												<!--First slide-->
												<div class="carousel-item active">
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha9.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha10.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha11.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha12.jpg"
															alt="Card image cap">
														</div>
													</div>
												</div>
												<!--/.First slide-->
												<!--Second slide-->
												<div class="carousel-item">
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha13.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha14.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha15.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha16.jpg"
															alt="Card image cap">
														</div>
													</div>
												</div>
												<!--/.Second slide-->
												<!--Third slide-->
												<div class="carousel-item">
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha17.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha18.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha19.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha20.jpg"
															alt="Card image cap">
														</div>
													</div>
												</div>
												<!--/.Third slide-->
											</div>
											<!--/.Slides-->
										</div>
										<!--/.Carousel Wrapper-->
										<div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
											<!--Slides-->
											<div class="carousel-inner" role="listbox">
												<!--First slide-->
												<div class="carousel-item active">
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha21.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha22.JPG"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha23.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha24.jpg"
															alt="Card image cap">
														</div>
													</div>
												</div>
												<!--/.First slide-->
												<!--Second slide-->
												<div class="carousel-item">
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha25.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha26.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha28.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha27.jpg"
															alt="Card image cap">
														</div>
													</div>
												</div>
												<!--/.Second slide-->
												<!--Third slide-->
												<div class="carousel-item">
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha28.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha29.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha30.jpg"
															alt="Card image cap">
														</div>
													</div>
													<div class="col-md-3 mb-3">
														<div class="card">
															<img class="img-fluid" src="../meditation/img/buddha31.jpg"
															alt="Card image cap">
														</div>
													</div>
												</div>
												<!--/.Third slide-->
											</div>
											<!--/.Slides-->
										</div>
										<!--/.Carousel Wrapper-->
									</div>
								</div>
							</div>
						</div>
					</p>
				</div>
			</div>
		</div>
	</div>
						
					
	<%include footer%>