<%include header%>
<style>
	
				.crc{
			background-color: #FB8C00;
			border-radius: 0;
			border: none;
			}
			/* Extra small devices (phones, 600px and down) */
			@media only screen and (max-width: 600px) {
			.crc{
			height: 142px;
			}}
			@media only screen and (min-width: 768px) {
			.crc{
			height: 150px;
			}}
			@media only screen and (min-width: 992px) {
			.crc{
			height: 168px;
			}}
			@media only screen and (min-width: 1200px) {
			.crc{
			height: 155px;
			}}
</style>
<div class="py-5 crc" style="background: url('./img/banner-media.png'); background-repeat: no-repeat; width: 100%; background-size: cover;">
	<div class="container mb-0">
		<h1 class="text-left mb-2" style="color: #000"><b>Media</b></h1>
		<hr class="mt-0  pt-0 mb-2">
		<!-- <h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4> -->
	</div>
</div>
<!-- home section start-->

<nav class="navbar navbar-expand-lg navbar-light text-white "style="background-color: #012454;">
	
	<button class="navbar-toggler text-white" style="color: #fff !important;" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon" style="color: #fff !important;">
	</span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNavDropdown">
		<ul class=" nav navbar-nav container" >
			<li class="nav-item">
				<a style="color: #fff !important" class="nav-link active " data-toggle="tab" href="#gbu-camoush-video">GBU Campus Video</a>
			</li>
			<li class="nav-item">
				<a style="color: #fff !important"class="nav-link" data-toggle="tab"  href="#press-report">Press Report</a>
			</li>
			<li class="nav-item">
				<a style="color: #fff !important"class="nav-link" data-toggle="tab" href="#media">Media Helpdesk</a>
			</li>
			<li class="nav-item">
				<a style="color: #fff !important"class="nav-link" data-toggle="tab"  href="#Convocation">Convocation</a>
			</li>
		</ul>
	</div>
</nav>

<!-- Campush video div -->
<div class="tab-content">
	<div id="gbu-camoush-video" class="jumbotron tab-pane active"  style="background: none">
		<div class="container">
			<h5 class=" text-lg-left mt-3 mb-0">GBU Campus Overview (Short Video)</h5>
			<div class=" mb-2 mt-1 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
			</div>
			
			<br>
			<br>
			<br>
			<iframe width="100%" height="480" src="https://www.youtube.com/embed/mGMcrVVMCDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
		<div class="container">
			<a href="https://www.youtube.com/watch?v=mGMcrVVMCDU" target="_blank">
			<h5 class=" text-lg-left mt-3 mb-0">YouTube link of GBU Campus video (Full Video)</h5></a>
		</div>
	</div>
	<!-- Press Report -->
	<div id="press-report" class="jumbotron tab-pane fade" style="background: none">
		<div class="container">
			<h3 class=" text-lg-left  mb-0">Press Report</h3>
			<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 "></div>
			<br>
		</div>
		<br>
		<div class="container">
			<div class="row">
				<div class="col-6">
					<h3>Print Media</h3>
					<div class="ml-3">
						<ul style="list-style-type: square!important;">
						<li>
							<a href="https://tennews.in/up-smart-hackthon-startup-expo-2020-gbu/" target="_blank"> Press Releases regarding UP Smart Hackthon & Website Launch(Ten News)</a>
						</li>
						<li>
							<a href="https://www.etvbharat.com/hindi/delhi/city/noida/up-smart-hekathan-2019-20-startup-expo-organized-at-gautam-budh-university-greater-noida/dl20200303214654304" target="_blank"> Press Releases regarding UP Smart Hackthon & Website Launch(Etv Bharat)</a>
						</li>
						<li>
							<a href="https://www.grenonews.com/?p=26840" target="_blank"> Press Releases regarding Fashion show(Greater Noida News)</a>
						</li>
						<li>
							<a href="http://www.ncrexpressnews.com/2020/03/blog-post_42.html" target="_blank"> Press Releases regarding Fashion show(NCR Express)</a>
						</li>
						<li>
							<a href="https://parichowk.com/?p=19876" target="_blank"> Press Releases regarding National Science Day 2020</a>
						</li>
						<li>
							<a href="https://tennews.in/dawat-e-gbu-at-gautam-buddha-university-reignites-taste-buds-of-visitors/" target="_blank"> Press Releases regarding “Dawat-E-GBU” 2020</a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/PressRelMatter_4March2017.pdf" target="_blank"> Press Releases in various Newspapers regarding Admissions 2017-18 (Part 1) </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Press%20release_admission_4March2017.pdf" target="_blank"> Press Releases in various Newspapers regarding Admissions 2017-18 (Part 2) </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_GorakhpurGBU_27Feb15.pdf" target="_blank"> Hindustan , 27 February 2015 Gorakhpur Edition </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_Kanpur%20GBU_27Feb15.pdf" target="_blank"> Hindustan , 27 February 2015 Kanpur Edition </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Desh_25022015.pdf" target="_blank"> DeshBandhu, 25 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_19022015.jpg" target="_blank"> Hindustan , 19 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Jagran_17022015.jpg" target="_blank"> Dainik Jagran, 17 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/TimesofIndia_17022015.jpg" target="_blank">Times Of India, 17 February 2015</a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_17022015.jpg" target="_blank"> Hindustan, 17 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Amarujala_17022015.jpg" target="_blank"> Amar Ujala, 17 February 2015</a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_15022015.jpg" target="_blank"> Hindustan, 15 February 2015</a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Jagran_15022015.jpg" target="_blank"> Dainik Jagran, 15 February 2015</a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Amarujala_14022015.jpg" target="_blank"> Amar Ujala, 14 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_09022015.jpg" target="_blank"> Hindustan , 9 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/NBT_0602015.tif" target="_blank"> Navbharat Times, 6 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Amarujala_02012015.tif" target="_blank"> Amar Ujala, 2 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_02022015.jpg" target="_blank"> Hindustan, 2 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_01022015.jpg" target="_blank">Hindustan, 1 February 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_29012015.jpg" target="_blank"> Hindustan, 29 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan1_29012015%20.jpg" target="_blank"> Hindustan, 29 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/NBT_29012015.tif" target="_blank">Navbharat Times, 29 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/NBT_28012015.tif" target="_blank">Navbharat Times, 28 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_10012015.jpg" target="_blank">Hindustan, 10 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_07012015.jpg" target="_blank">Hindustan, 7 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_06012015.jpg" target="_blank">Hindustan, 6 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_02012015.jpg" target="_blank">Hindustan, 2 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Jagran_02012015.tif" target="_blank">Dainik Jagran, 2 January 2015 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_29122014.jpg" target="_blank">Hindustan , 29 December 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_09122014.jpg" target="_blank">Hindustan , 9 December 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_25112014.jpg" target="_blank">Hindustan, 25 November 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Jagran_21112014.tif" target="_blank">Dainik Jagan, 21 November 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Jagran_14112014.tif" target="_blank">Dainik Jagan, 14 November 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Hindustan_14112014.jpg" target="_blank">Hindustan Times, 14 November 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Jagran_13082014.tif" target="_blank">Dainik Jagan, 13 August 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Jagran_27062014.tif" target="_blank">Dainik Jagan, 27 June 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Jagran_07062014.tif" target="_blank">Dainik Jagan, 7 June 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/NBT_25022014.tif" target="_blank">Navbharat Times, 25 February 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/NBT_30012014.tif" target="_blank">Navbharat Times, 30 January 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Press_Danik%20Jagran_Date7June2014.jpg" target="_blank"> Dainik Jagran, 7 June 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Press_Navbharat%20Times_5June2014.jpg" target="_blank"> Navbharat Times, 5 June 2014</a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Press_TOI_1March2014.jpg" target="_blank"> Times of India, 1 March 2014 </a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Press_NavbharatTimes_28Feb2014.jpg" target="_blank"> Navbharat Times, 28 February 2014</a>
						</li>
						<li>
							<a href="../../../../gbudata/GBUPress/Press_HindustanTimes_28Feb2014.jpg" target="_blank"> Hindustaan Times, 28 February 2014</a>
						</li>
					</ul>
					</div>
				</div>
				<div class="col-6">
					<h3>Electrolnic Media</h3>
					<ul style="list-style-type: square!important;">
						<li>
							<a href="https://www.youtube.com/watch?v=hPfH9IRFyWY" target="_blank">Interview of Dr. J.P.Sharma, Hon’ble Vice Chancellor, Gautam Buddha University on DD National</a>
						</li>
						
					</ul>
				</div>
			</div>
			
		</div>
	</div>
	<div id="media" class="jumbotron tab-pane fade " style="background: none">
		<div class="" style="background-color: white;">
			<div class="container">
				<h3 class=" text-lg-left  mb-0">Media Helpdesk</h3>
				<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
				<br>
			</div>
			<div class="container">
				<p class="card-text ">
					<h5 class="card-text text-left"><b>Dr. Arvind Kumar Singh</b></h5>
				</p>
				<p class= "card-text text-left">M.A., M.Phil. & Ph.D.</p>
				<p class= "card-text text-left"><i class="fa fa-envelope-o"> <a href="mailto:arvinds@gbu.ac.in">arvinds@gbu.ac.in</a></i> </p>
				<p class= "card-text text-left"><i class="fa fa-envelope-o"> <a href="mailto:arvindbantu@yahoo.co.in">arvindbantu@yahoo.co.in</a></i> </p>
			</div>
		</div>
	</div>
	<div id="Convocation" class="jumbotron tab-pane fade"
		style="background: none">
		<div class="container">
			<div class="container">
				<h3 class=" text-lg-left  mb-0">Convocation 2016</h3>
				<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
				<br>
			</div>
			<br>
			<iframe width="100%" height="480" src="https://www.youtube.com/embed/Fy4kKvi2lMQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</div>
	</div>
</div>
<%include footer%>