<%include header%>
<!DOCTYPE html>
<html>
<head>
	<title></title>

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Averia Gruesa Libra" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    
    <link rel="stylesheet" type="text/css" href="css/style.css">
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--- Animation -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="css/aboutgbu.css">
</head>
<body>

	<div class="py-5" style="background: url('banner5.png');">
		<div class="container mb-0">
        	<h1 class="display-4 text-right mb-2" style="color: white"><strong>Governing Bodies of GBU</strong></h1>
        	<hr class="mt-0  pt-0 mb-2">
        	<h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4>
      </div>
    	
    </div>
    <!-- home section start-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav container" role="tablist">
      <li class="nav-item active">
        <a class="nav-link active" data-toggle="tab" role="tab" href="#gbu-camoush-video">GBU Campush Video</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" data-toggle="tab" role="tab" href="#press-report">Press Report</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" data-toggle="tab" role="tab" href="#media">Media Helpdesk</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" data-toggle="tab" role="tab" href="#Convocation" tabindex="-1" aria-disabled="true">Convocation</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Campush video div -->
  <div class="tab-content" id="nav-tabcontent" style="background: none">
  	<div>
  	<div class="container" id="gbu-camoush-video"  role="tabpanel">
  		<iframe width="100%" height="480" src="https://www.youtube.com/embed/mGMcrVVMCDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  	</div>
  </div>

  <!-- Press Report -->
  <div id="" class="jumbotron"   style="background: none">
  	<div class="container" id="press-report" role="tabpanel">
  		<section _ngcontent-c10="" class="pageContent table-responsive">
		<table width="100%" border="1" class="table">
		      <tbody><tr>
		            <th>Print Media</th>
		            <th>Electrolnic Media</th>
		      </tr>
		      <tr>
		            <td width="50%" class="table-responsive">
		              <table width="100%" class="table">
		                    <tbody>
		                        <tr>
		                            <td>
		                                <p>1.<a href="http://www.gbu.ac.in/GBUPress/PressRelMatter_4March2017.pdf" target="_blank"> Press Releases in various Newspapers regarding Admissions 2017-18 (Part 1) </a>
		                                    <br>
		                                    <br>2.<a href="http://www.gbu.ac.in/GBUPress/Press%20release_admission_4March2017.pdf" target="_blank"> Press Releases in various Newspapers regarding Admissions 2017-18 (Part 2) </a>
		                                    <br>
		                                    <br>3.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_GorakhpurGBU_27Feb15.pdf" target="_blank"> Hindustan , 27 February 2015 Gorakhpur Edition </a>
		                                    <br>
		                                    <br>4.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_Kanpur%20GBU_27Feb15.pdf" target="_blank"> Hindustan , 27 February 2015 Kanpur Edition </a>
		                                    <br>
		                                    <br>5.<a href="http://www.gbu.ac.in/GBUPress/Desh_25022015.pdf" target="_blank"> DeshBandhu, 25 February 2015 </a>
		                                    <br>
		                                    <br>6.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_19022015.jpg" target="_blank"> Hindustan , 19 February 2015 </a>
		                                    <br>
		                                    <br>7.<a href="http://www.gbu.ac.in/GBUPress/Jagran_17022015.jpg" target="_blank"> Dainik Jagran, 17 February 2015 </a>
		                                    <br>
		                                    <br>8.<a href="http://www.gbu.ac.in/GBUPress/TimesofIndia_17022015.jpg" target="_blank">Times Of India, 17 February 2015</a>
		                                    <br><br>9.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_17022015.jpg" target="_blank"> Hindustan, 17 February 2015 </a>
		                                    <br>
		                                    <br>10.<a href="http://www.gbu.ac.in/GBUPress/Amarujala_17022015.jpg" target="_blank"> Amar Ujala, 17 February 2015</a>
		                                    <br><br>11.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_15022015.jpg" target="_blank"> Hindustan, 15 February 2015</a>
		                                    <br><br>12.<a href="http://www.gbu.ac.in/GBUPress/Jagran_15022015.jpg" target="_blank"> Dainik Jagran, 15 February 2015</a>
		                                    <br><br>13.<a href="http://www.gbu.ac.in/GBUPress/Amarujala_14022015.jpg" target="_blank"> Amar Ujala, 14 February 2015 </a>
		                                    <br>
		                                    <br>14.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_09022015.jpg" target="_blank"> Hindustan , 9 February 2015 </a>
		                                    <br>
		                                    <br>15.<a href="http://www.gbu.ac.in/GBUPress/NBT_0602015.tif" target="_blank"> Navbharat Times, 6 February 2015 </a>
		                                    <br>
		                                    <br>16.<a href="http://www.gbu.ac.in/GBUPress/Amarujala_02012015.tif" target="_blank"> Amar Ujala, 2 February 2015 </a>
		                                    <br>
		                                    <br>17.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_02022015.jpg" target="_blank"> Hindustan, 2 February 2015 </a>
		                                    <br>
		                                    <br>18.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_01022015.jpg" target="_blank">Hindustan, 1 February 2015 </a>
		                                    <br>
		                                    <br>19.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_29012015.jpg" target="_blank"> Hindustan, 29 January 2015 </a>
		                                    <br>
		                                    <br>20.<a href="http://www.gbu.ac.in/GBUPress/Hindustan1_29012015%20.jpg" target="_blank"> Hindustan, 29 January 2015 </a>
		                                    <br>
		                                    <br>21. <a href="http://www.gbu.ac.in/GBUPress/NBT_29012015.tif" target="_blank">Navbharat Times, 29 January 2015 </a>
		                                    <br>
		                                    <br>22. <a href="http://www.gbu.ac.in/GBUPress/NBT_28012015.tif" target="_blank">Navbharat Times, 28 January 2015 </a>
		                                    <br>
		                                    <br>23. <a href="http://www.gbu.ac.in/GBUPress/Hindustan_10012015.jpg" target="_blank">Hindustan, 10 January 2015 </a>
		                                    <br>
		                                    <br>24. <a href="http://www.gbu.ac.in/GBUPress/Hindustan_07012015.jpg" target="_blank">Hindustan, 7 January 2015 </a>
		                                    <br>
		                                    <br>25. <a href="http://www.gbu.ac.in/GBUPress/Hindustan_06012015.jpg" target="_blank">Hindustan, 6 January 2015 </a>
		                                    <br>
		                                    <br>26. <a href="http://www.gbu.ac.in/GBUPress/Hindustan_02012015.jpg" target="_blank">Hindustan, 2 January 2015 </a>
		                                    <br>
		                                    <br>27. <a href="http://www.gbu.ac.in/GBUPress/Jagran_02012015.tif" target="_blank">Dainik Jagran, 2 January 2015 </a>
		                                    <br>
		                                    <br>28. <a href="http://www.gbu.ac.in/GBUPress/Hindustan_29122014.jpg" target="_blank">Hindustan , 29 December 2014 </a>
		                                    <br>
		                                    <br>29. <a href="http://www.gbu.ac.in/GBUPress/Hindustan_09122014.jpg" target="_blank">Hindustan , 9 December 2014 </a>
		                                    <br>
		                                    <br>30.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_25112014.jpg" target="_blank">Hindustan, 25 November 2014 </a>
		                                    <br>
		                                    <br>31.<a href="http://www.gbu.ac.in/GBUPress/Jagran_21112014.tif" target="_blank">Dainik Jagan, 21 November 2014 </a>
		                                    <br>
		                                    <br>32.<a href="http://www.gbu.ac.in/GBUPress/Jagran_14112014.tif" target="_blank">Dainik Jagan, 14 November 2014 </a>
		                                    <br>
		                                    <br>33.<a href="http://www.gbu.ac.in/GBUPress/Hindustan_14112014.jpg" target="_blank">Hindustan Times, 14 November 2014 </a>
		                                    <br>
		                                    <br>34.<a href="http://www.gbu.ac.in/GBUPress/Jagran_13082014.tif" target="_blank">Dainik Jagan, 13 August 2014 </a>
		                                    <br>
		                                    <br>35.<a href="http://www.gbu.ac.in/GBUPress/Jagran_27062014.tif" target="_blank">Dainik Jagan, 27 June 2014 </a>
		                                    <br>
		                                    <br>36.<a href="http://www.gbu.ac.in/GBUPress/Jagran_07062014.tif" target="_blank">Dainik Jagan, 7 June 2014 </a>
		                                    <br>
		                                    <br>37.<a href="http://www.gbu.ac.in/GBUPress/NBT_25022014.tif" target="_blank">Navbharat Times, 25 February 2014 </a>
		                                    <br>
		                                    <br>38.<a href="http://www.gbu.ac.in/GBUPress/NBT_30012014.tif" target="_blank">Navbharat Times, 30 January 2014 </a>
		                                    <br>
		                                    <br>39.<a href="http://www.gbu.ac.in/GBUPress/Press_Danik%20Jagran_Date7June2014.jpg" target="_blank"> Dainik Jagran, 7 June 2014 </a>
		                                    <br>
		                                    <br>40.<a href="http://www.gbu.ac.in/GBUPress/Press_Navbharat%20Times_5June2014.jpg" target="_blank"> Navbharat Times, 5 June 2014</a>
		                                    <br>
		                                    <br>41.<a href="http://www.gbu.ac.in/GBUPress/Press_TOI_1March2014.jpg" target="_blank"> Times of India, 1 March 2014 </a>
		                                    <br>
		                                    <br>42.<a href="http://www.gbu.ac.in/GBUPress/Press_NavbharatTimes_28Feb2014.jpg" target="_blank"> Navbharat Times, 28 February 2014</a>
		                                    <br>
		                                    <br>43.<a href="http://www.gbu.ac.in/GBUPress/Press_HindustanTimes_28Feb2014.jpg" target="_blank"> Hindustaan Times, 28 February 2014</a> </p>
		                            </td>
		                        </tr>
		                    </tbody>
		              </table>
		            </td>
		            <td valign="top" width="50%">
		                  <table width="100%">
		                    <tbody>
		                        <tr>
		                            <td>
		                                <p>1.<a href="https://www.youtube.com/watch?v=hPfH9IRFyWY" target="_blank">Interview of Dr. J.P.Sharma, Hon’ble Vice Chancellor, Gautam Buddha University on DD National</a>
		                                    <br>
		                                    <br>
		                                    </p>
		                            </td>
		                        </tr>
		                    </tbody>
		                  </table>
		            </td>
		      </tr>
		</tbody>
		</table>


		</section>
  	</div>
  </div>
  <div class="jumbotron"   style="background: none">
  	<div class="container" id="media" role="tabpanel">
  		<h2 class="font-weight-lighter">
  			Dr. Arvind Kumar Singh <br>
			M.A., M.Phil. & Ph.D.
		</h2>
  		<br>
		<h4 class="font-weight-lighter">
			Email: <a href="mailto:arvindbantu@yahoo.co.in">arvindbantu@yahoo.co.in</a><br>
			Email: <a href="mailto:arvinds@gbu.ac.in">arvinds@gbu.ac.in</a>
		</h4>
  	</div>
  </div>
  <div class="jumbotron" style="background: none">
  	<div class="container" id="Convocation"  role="tabpanel">
  		<h5 class="font-weight-lighter">
  			1. <a class="btn-lightbtn" href="https://www.youtube.com/watch?v=Fy4kKvi2lMQ" target="_blank"> Convocation 2016</a>
		</h5>
  	</div>
  </div>
</div>













<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Optional JavaScript -->
<script type="text/javascript" src="js/main.js"></script>
</body>
</html>
<%include footer%>