<!DOCTYPE html>
<html>
  <head>
    <title>GBU|BODHI MINDFULNESS CLUB</title>
    <link rel="icon" type="image/png" href="../img/logo_gbu.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="gbuclubs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="jumbotron mb-0 clubheader bannermeditationclub">
      <div class="container mb-0 ">
        <h1 class="display-5 font-weight-light mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
        <hr class="mt-0  pt-0 mb-1">
        <h3 class="display-5 text-right mb-0">Bodhi Mindfulness Club</h3>
      </div>
    </div>
    <div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
      This is the official page of BODHI MINDFULNESS CLUB. Visit for regular updates!
    </div>
    <div class="container">
      <div class="container">
        <h3 class=" text-lg-left mt-4 mb-0">
        About Club
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
      </div>
      <br>
    </div>
    <div class="container">
      <div class="ml-3 text-justify">
        <p><ul>
          <li>Bodhi means Buddha hood and Buddha-Nature,Supreme Enlightenment and Perfect
            Mindfulness. The Bodhi is not only in psychical Enlightenment but also in physical light. It I
            known as the “will” is psychology and as the “heart” in physiology. Bodhi-citta as
            symbolized by a Full moon, perfect & round & bright, eight inches in diameter, situated in
          his heart, and consisting of great compassion and deep wisdom.</li>
          <li>The Bodhi-Mindfulness Club aims to create a community around the pursuit of living a
            more mindful, reflective, and skillful life. BMC hopes to develop the meditation skills of its
            members and foster discussion of matters of practical importance. In short, BMC is
            dedicated to creating a community which promotes human flourishing and the art of living
          well.</li>
          <li>BMC is the only club on campus that provides an opportunity to learn about, discuss,
            reflect on, and practice various forms of meditations and mindfulness. The club provides,
            at a minimum, an hour each week for students to come and learn about not only what
            various types of meditation and mindfulness are, but especially why they’re important and
            how to apply them to daily life. Everyone is welcome to share insight, stories, thoughts,
          etc. as the group is a learning experience for everyone.</li>
          <li>Each meeting is a chance for students relax for an hour at the beginning of the week - to
            center themselves and walk away with a new perspective, a sense of connectedness, and
          maybe a bit of wisdom.</li>
          <li>Mission is to introduce Buddhist meditation methods to all students. Provide the meditation
            methods to help the students' develop mindfulness, loving-kindness, compassion and
            relaxation technique. And promote the meditation education to nearby University from
          GBU’s meditation students.</li>
        </ul></p>
      </div>
    </div> <br>
    <div class="container">
      <h3 class=" text-lg-left mt-2 mb-0 ">
      Faculty Co-ordinator
      </h3>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
    </div>
    <br>
    <br>
    <div class="container ">
      <div class="row text-center text-lg-left ">
        <div class="col-lg-3 col-md-4 col-6">
          
          <img class="img-fluid img-thumbnail ml-5" src="../meditation/img/manishtmeshram.jpg" alt="">
          <div class="card-text text-center designevent  mt-1">Dr. Manish T. Meshram</div>
          <div class="designeventnew text-center">Contact: +918860855578 <br>Email: bodhimeditationgbu27@gmail.com</div>
          
        </div>
      </div>
    </div>
    <br>
    <div class="container">
      <div class="container">
        <h3 class=" text-lg-left mt-2 mb-0 ">
        Membership: Eligibility for Membership
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
      </div>
      <br>
      <br>
      <div class="ml-3 text-justify">
        <ul>
          <li> <p>Membership is for all students from the All Schools/Departments of Gautam Buddha
            University regardless of their gender or racial, ethnic, or cultural background.
          </p> </li>
          <li><p>Any action of insulting or discrimination to other religions is not tolerated. Any member
            who commits this disrespect action will be warned at the first. If the member continues to
          do it, he or she will be removed from the club.</p></li>
        </ul>
      </div>
    </div>
    <br>
    <!-- photo gallery start-->
    <div class="container">
      <h3 class=" text-lg-left mt-2 mb-0 ">
      Photo Gallery
      </h3>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
      
      <br>
      <br>
      
      <!-- gallery 1st row -->
      <div id="multi-item-example" class="carousel slide carousel-multi-item carousel-multi-item-2" data-ride="carousel">
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
          <!--First slide-->
          <div class="carousel-item active">
            <div class="col-md-3 mb-3">
              <div class="card">
                <img class="img-fluid" src="../meditation/img/buddha26.jpg"
                alt="Card image cap">
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card">
                <img class="img-fluid" src="../meditation/img/buddha22.JPG"
                alt="Card image cap">
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card">
                <img class="img-fluid" src="../meditation/img/buddha25.jpg"
                alt="Card image cap">
              </div>
            </div>
            <div class="col-md-3 mb-3">
              <div class="card">
                <img class="img-fluid" src="../meditation/img/buddha24.jpg"
                alt="Card image cap">
              </div>
            </div>
          </div>
          <!--/.First slide-->
          <!--/.Third slide-->
          <!-- gallery 1st row end -->
          <!-- gallery 2nd row start-->
          <!-- gallery 2nd row end-->
        </div>
      </div>
    </div>
  </body>
</html>