<%include header%>
<div class="container">
 
  <h3 class=" text-lg-left mt-4 mb-0">
           MoUs signed by GBU
          </h3>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 12%; background-color:#FB8C00 "></div>
          <br>
          <br>
<table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>MoU between GBU and NSDC for introducing Skill Development Programmes in University</td>
                <td><a class="text-light" href="../../gbudata/mous/"><button class="btn btn-info btn-sm">View MoU</button></a></td>              
              </tr>
              <!-- whenever add any mous kindly upload data to this location ../gbudata/mous/ -->
              <tr>
                <th scope="row">2</th>
                <td>Details of MOU</td>
                <td><a class="text-light" href="../../gbudata/mous/"><button class="btn btn-info btn-sm">View MOUs</button></a></td>              
              </tr>
            
            </tbody>
          </table>  
</div>
  <%include footer%>