<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

<section>
  <!-- section1 start -->
  <div class="section-1 p-4">
    <div class="container">
      <div class="row " style="padding: 20px 0px;">
        <div class="column col-md-6 " style=" background-image: url(ugc.jpg);background-repeat: no-repeat;background-size: cover;" >
          
        </div>
        <div class="column col-md-6">
          <h2 style="font-size: 22px !important;">UGC 12 B Certificate</h2>​​​​
          <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
          <p>University Grants Commission,New Delhi has granted Gautam Buddha University recognition under section 12(B) of the UGC Act, 1956. <br>
            <a href="../../ugc/UGC_12BCertificate_28June19.pdf"><button type="button" class="btn btn-light">UGC 12 B Certificate</button></a>
            </p>
        </div>
      </div>
    </div>
  </div>
  <!--    section1 end -->
  <!-- section 2 start -->
  <div class="section-1 p-4">
    <div class="container">
      <div class="row">
        <div class="column col-md-6">
          <h2 style="font-size: 22px !important;">​Bar Council of India</h2>​​​​
          <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
          <p>The Bar Council of India is a statutory body established under the section 4 of advocates Act 1961 that regulates the legal practice and legal education in India. Its members are elected from amongst the lawyers in India and as such represents the Indian bar.
            
          </p>
        </div>
        <div class="column col-md-6" style="background-image: url(bar.png)!important;
          background-size: cover !important;
          background-position: 50% 50% !important;
          background-attachment: scroll !important;
          background-repeat: no-repeat !important;
          background-size: cover;" >
          
        </div>
        
      </div>
    </div>
  </div>
  
</section>
</body>
</html>