<%include header%>
    <div class="jumbotron mb-0 clubheader " style="background-image:url(img/banner5.png);background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0 text-white">
        <strong>
        NIRF REPORT
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <div class="container">
      <div class="card-body">
        <h2 class="  text-lg-left mt-4 mb-0">
          About NIRF
        </h2>
       <div class=" mb-3 float-left" style="height: 5px; width: 20%; background-color:#FB8C00 "></div>
      <div class="m-auto">

        <!-- About -->

      </div>
      </div>
    </div>
    
    <div class="container">
      <div class="card-body">
        <h2 class="  text-lg-left mt-4 mb-0">
          Downloads
        </h2>
       <div class=" mb-3 float-left" style="height: 5px; width: 20%; background-color:#FB8C00 "></div>
      <div class="table">
        <table class="table table-hover table-bordered mt-2">
            <thead>
              <tr>
                <th scope="col">Sl.</th>
                <th scope="col">Details :</th>
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Report of NIRF</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/General/NIRF_report_4Jan18.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
            </tbody>
          </table>
      </div>
      </div>
    </div>
<%include footer%>