<%include header%>
       <div class="jumbotron mb-0 clubheader bgimage_about_organisation_mukul">
  <style>
          @media only screen and (min-width: 992px){
            .bgimage_about_organisation_mukul{
              background-position: 100% 52%;
            }
          }
        </style>
  <div class="container mb-0  ">
    <h1 class="display-4 text-right mb-2" style="color:#ffffff"><strong>Organization </strong></h1>
    <hr class="mt-0  pt-0 mb-2">
    <h4 class="display-5 text-right mb-1" style="color: #ffffff">About Us</h4>
  </div>
</div>
<!-- header section end here-->
<!--details--->
<div class="container my-0">
  <div class="">
    <div class="container">
      <div class="pt-1">
      <div class="container pt-5 mb-0">
        <h1 style="font-size: 30px; color: #0d1491" class="text-right">Vice Chancellor</h1>
        <hr class="mt-0 pt-0 mb-2">
      </div>
    </div>
      <div class="container py-0">
        <div class="card">
          <div class="row ">
            <div class="col-md-3">
              <center><img src="./img/VC_Sir_BPSharma.jpg" class="w-100 p-5" id="card-image"></center>
            </div>
            <div class="col-md-9 my-auto">
              <div class="card-block pl-0">
                <h5 class="card-title mx-3 servicesinfo">Prof. Bhagwati Prakash Sharma</h5>
                <p class="card-text mx-3 servicesinfo" style="color: #78335D;">Vice Chancellor<br>Gautam Buddha University</p>
                <p class="card-text mx-3  mb-3 servicesinfo"><a href="tel:+911202344202">+91-120-2344202</a> <br>
                <a href="mailto:vc@gbu.ac.in?Subject=redirected_from_gbu.ac.in">vc@gbu.ac.in</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
     <!--  <div class="container my-5">
        <h3 class="text-center"><strong>Deans</strong></h3>
      </div> -->
       <div class="pt-2">
      <div class="container pt-5 mb-0">
        <h1 style="font-size: 30px; color: #0d1491" class="text-right">Deans</h1>
        <hr class="mt-0 pt-0 mb-2">
      </div>
    </div>
      <div class="row card-deck justify-content-center">
        <div class="card my-3">
          <img src="./img/Shweta_anand.png" class="card-img-top p-5" id="card-image">
          <div class="card-body">
            <h5 class="card-title">Prof. Shweta Anand</h5>
            <p>Dean Academics</p>
            <p>Dean School Of Management</p>
            <p>Dean School Of Biotechnology</p>
            <p><a href="tel:+911202346144">+91-120-2346144</a>
            <a href="mailto:shweta.anand@gbu.ac.in?Subject=redirected_from_gbu.ac.in">shweta.anand@gbu.ac.in</a></p>
          </div>
        </div>
        <div class="card my-3">
          <img src="./img/pkyadav.png" class="card-img-top p-5" id="card-image">
          <div class="card-body">
            <h5 class="card-title">Prof. Pradeep Kumar Yadav</h5>
            <p>Dean Planning & Research</p>
            <p>Dean School of Engineering</p>
            <p><a href="tel:+911202344229"></a><a href="tel:120234429">+91-120-2344229</a>
            <a href="mailto:pradeep.yadav@gbu.ac.in?Subject=redirected_from_gbu.ac.in">pradeep.yadav@gbu.ac.in</a></p>
          </div>
        </div>
        <div class="card my-3">
          <img src="./img/Prof. N P Melkania.jpg" class="card-img-top p-5" id="card-image">
          <div class="card-body">
            <h5 class="card-title">Prof. N.P. Melkania</h5>
            <p>Dean,School of Vocational Studies and Applied Sciences</p>
            <p><a href="tel:+911202344341">+91-120-2344341</a>
            <a href="mailto:niranjan.melkania@gbu.ac.in?Subject=redirected_from_gbu.ac.in">niranjan.melkania@gbu.ac.in</a></p>
          </div>
        </div>
      </div>
      <style type="text/css">
      .deans{
      height: 100%;
      width: 67%;
      }
      @media only screen and (max-width: 576px){
      .deans{
      height: 100%;
      width: 100%;
      }
      }
      </style>
      <div class="">
        <div class="mt-4 row card-deck justify-content-center">
          <div class="card my-3">
            <img src="../schools/img/soljg/sksingh.PNG" class="card-img-top p-5" id="card-image">
            <div class="card-body">
              <h5 class="card-title">Prof. Surendra Kumar Singh</h5>
              <p>Dean School of Law, Justice and Governance</p>
              <p>Dean School of Buddhist Studies and Civilization<br>
                 <a href="tel:+911202347015">+91-120-2347015</a><br>
            <a href="mailto:surendra.singh@gbu.ac.in?Subject=redirected_from_gbu.ac.in">surendra.singh@gbu.ac.in</a>
            </p>

            </div>
          </div>
          
          <div class="card my-3">
            <img src="../schools/img/soict/sanjaykumarsharma.png" class="card-img-top p-5" id="card-image">
            <div class="card-body">
              <h5 class="card-title">Prof. Sanjay Kumar Sharma</h5>
              <p>Dean School of Information & Communication Technology</p>
              <p><a href="tel:+911202346067">+91-120-2346067</a><br>
            <a href="mailto:sanjay.sharma@gbu.ac.in?Subject=redirected_from_gbu.ac.in">sanjay.sharma@gbu.ac.in</a>
            </p>

            </div>
          </div>
          <div class="card my-3">
            <img src="./img/Neeti_Rana.png" class="card-img-top  p-5" id="card-image">
            <div class="card-body">
              <h5 class="card-title">Dr. Neeti Rana</h5>
              <p>Dean(I/C),School of Humanities & Social Sciences</p>
              <p><a href="tel:+911202344268">+91-120-2344268</a> <br>
              <a href="mailto:neeti@gbu.ac.in?Subject=redirected_from_gbu.ac.in">neeti@gbu.ac.in</a></p>
            </div>
          </div>
        </div>
      </div>
      
    </div>
    <!--Administration of gbu details start from here-->
    <!-- <div class="container my-5">
      <h3 class="text-center">Administration</h3>
    </div> -->
     <div class="pt-2">
      <div class="container pt-5 mb-0">
        <h1 style="font-size: 30px; color: #0d1491" class="text-right">Administration</h1>
        <hr class="mt-0 pt-0 mb-2">
      </div>
    </div>
    <div class="card-deck justify-content-center">
      <div class="card my-3">
        <img src="./img/BachchuSingh.jpg" class="card-img-top p-5" id="card-image">
        <div class="card-body">
          <h5 class="card-title">Sh. Bachchu Singh (PCS)</h5>
          <p>Registrar</p>
          <p><a href="tel:+911202344213">+91-120-2344213</a>
          <a href="mailto:registrar@gbu.ac.in?Subject=redirected_from_gbu.ac.in">registrar@gbu.ac.in</a></p>
        </div>
      </div>
      
      <div class="card my-3">
        <img src="../about/img/FO_pic.jpg" class="card-img-top p-5" id="card-image">
        <div class="card-body">
          <h5 class="card-title">Sh. P.S.Chaudhary</h5>
          <p>Finance Officer</p>
          <p><a href="tel:+911202344230">+91-120-2344230</a>
          <a href="mailto:fo@gbu.ac.in?Subject=redirected_from_gbu.ac.in">fo@gbu.ac.in</a></p>
        </div>
      </div>
      <div class="card my-3">
        <img src="./img/SNTiwari.png" class="card-img-top p-5" id="card-image">
        <div class="card-body">
          <h5 class="card-title">Sh. S.N.Tiwari</h5>
          <p>Deputy Registrar</p>
          <p><a href="tel:+911202344212">+91-120-2344212</a>
          <a href="mailto:dr@gbu.ac.in?Subject=redirected_from_gbu.ac.in">dr@gbu.ac.in</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
<%include footer%>