<%include header%>
        <!-- <div class="jumbotron mb-0 clubheader bgimage_about_organisation_mukul">
          <div class="container mb-0  ">
            <h1 class="display-4 text-right mb-2" style="color:#78335D"><strong>Organization Structure</strong></h1>
            <hr class="mt-0  pt-0 mb-2">
            <h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4>
          </div>
        </div> -->
      <!-- header section end here-->
      <div class="pt-5">
        <div class="container mb-0">
          <h1 style="font-size: 30px; color: #0d1491" class="text-right">Organization Structure of GBU</h1>
          <hr class="mt-0 pt-0 mb-2">
        </div>
        </div>

            <div class="container my-5">
              <h3 class="text-center">Administration</h3>
            </div>
            <div class="card-deck justify-content-center container m-auto">
              <div class="card my-3">
                <img src="./img/BachchuSingh.jpg" class="card-img-top p-5">
                <div class="card-body">
                  <h5 class="card-title">Sh. Bachchu Singh (PCS)</h5>
                  <p>Registrar</p>
                  <p><a href="tel:+911202344213"><i class = "material-icons icon_size">phone_iphone</i></a>+91-120-2344213</p>
                  <p><a href="mailto:registrar@gbu.ac.in?Subject=redirected_from_gbu.ac.in"><i class = "material-icons icon_size">mail</i></a>registrar@gbu.ac.in</p>
                </div>
              </div>
              <div class="card my-3">
                <img src="./img/SNTiwari.png" class="card-img-top p-5">
                <div class="card-body">
                  <h5 class="card-title">Sh. S.N.Tiwari</h5>
                  <p>Deputy Registrar</p>
                  <p><a href="tel:+911202344212"><i class = "material-icons icon_size">phone_iphone</i></a>+91-120-2344212</p>
                  <p><a href="mailto:dr@gbu.ac.in?Subject=redirected_from_gbu.ac.in"><i class = "material-icons icon_size">mail</i></a>dr@gbu.ac.in</p>
                </div>
              </div>
              <div class="card my-3">
                <img src="http://placehold.it/560x560" class="card-img-top p-5">
                <div class="card-body">
                  <h5 class="card-title">Sh. P.S.Chaudhary</h5>
                  <p>Finance Officer</p>
                  <p><a href="tel:+911202344230"><i class = "material-icons icon_size">phone_iphone</i></a>+91-120-2344230</p>
                  <p><a href="mailto:fo@gbu.ac.in?Subject=redirected_from_gbu.ac.in"><i class = "material-icons icon_size">mail</i></a>fo@gbu.ac.in</p>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
<%include footer%>