<%include header%>
    <link rel="stylesheet" type="text/css" href="../payment/assets/pay.css">
	<div class="jumbotron payu">
		<div class="container ">
			<div class="row">
				<div class="col-md-6">
					<div class="tab online-tab">
						<h1 class="pre " style="color: #012454;">Go Digital, Fast payment <br>
						with PayU money
							<div class="text-pri">Payment Gateway</div>
							<div class="mt-3 mb-3" style="height: 5px; width: 100px; background-color: #3eff3e"></div>
							<div class="mt-3 ml-2">
								<a href="https://www.payumoney.com/customer/paymentOptionsGroup/#/719CF29F947ECEA8A609BCDFEF06C13B/GBU" class="payu-money ">
								<img alt="PayU money" src="../payment/assets/payfee-logo.png">
								</a>
							</div>
						</h1>
					</div>
				</div>
				<div class="col-6 hd">
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron bg-bl ">
		<div class="container ">
			<div class="row">
				<div class="col-md-6">
					<div class="tab bnk-tab">
						<h1 class="pre mt-3"> Direct pay to GBU By NEFT/RTGS <br>
							<div class="text-pri">Bank Details:
							</div>
						</h1>
						<div class="mt-3 mb-3" style="height: 5px; width: 100px; background-color: #3eff3e"></div>
						<div class="b-detail table mt-4 ">
							<table class="table-hover">
								<tbody>
									<tr>
										<td>Name of Beneficiary </td>
										<td>Gautam Buddha University</td>
									</tr>
									<tr>
										<td>A/C Number</td>
										<td> 6660000100000025</td>
									</tr>
									<tr>
										<td>IFSC</td>
										<td>PUNB0666000</td>
									</tr>
									<tr>
										<td>A/C Type</td>
										<td>Savings</td>
									</tr>
									<tr>
										<td>Name of Bank</td>
										<td>Punjab National Bank</td>
									</tr>
									<tr>
										<td>Bank Branch</td>
										<td>Gautam Buddha University, Gr Noida</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<div class="col-6 hd">
					<img class="img-fluid" src="../payment/assets/pay.png" alt="img">
				</div>
			</div>
		</div>
	</div>
	<div class="jumbotron new-pay">
		<div class="container ">
			<div class="row">
				<div class="col-md-6">
					<div class="tab mb-4">
						<div class="mt-5">
							<h1 class="pre " style="color: #012454"> Online Fee Payment for newly
								<div class="text-pri"> registered candidates
								</div>
							</h1>
							<div class="mt-3 mb-3" style="height: 5px; width: 100px; background-color: #3eff3e"></div>
							<div class="mt-3 ml-3 mb-5 new-r-fee-div ">
								<br>
								<br>
								<a href="http://gautambuddha.softcoreindia.com/FullFee/FeeLogin.aspx">click here</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-6 hd">
					<img class="img-fluid" style="max-height: 400px; max-width: 400px;" src="../payment/assets/pay2.png" alt="img">
				</div>
			</div>
		</div>
	</div>
<%include footer%>