<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
    <title>GBU | Placement Cell</title>
    <link rel="icon" type="image/gif/png" href="../../../img/logo_gbu.png">
    <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" type="image/gif/png" href="../../../../../img/logo_gbu.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
        <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
      <script type="text/javascript">
      function executeQuery() {
    var input = document.getElementById('form-search-input');
    console.log(input)
    var element = google.search.cse.element.getElement('searchresults-only0');
    if (input.value == '') {
      element.clearAllResults();
    } else {
      element.execute(input.value);
    }
    return false;
  }
    </script>
  </head>
  </head>
  <body>

        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1 bg-dark navbar-dark" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" >
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block" onsubmit="return executeQuery();">
                <div class="container">
                  <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="form-search-input">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>  
    
            <nav class="navbar navbar-expand-md navbar-light shadow" style="z-index: 2; filter: blur(-4px);">
                <div class="container py-3">
                    <a href="#" class="navbar-brand"><h2>Placement Cell</h2></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse" role="tablist">
                    <div class="navbar-nav ml-auto" >
                        <a href="#home" class="nav-item nav-link active" data-toggle="tab" role="tab">Home</a>
                        <a href="#why-to-recruit" class="nav-item nav-link" data-toggle="tab" role="tab">Why to recruit?</a>
                        <a href="#" class="nav-item nav-link" data-toggle="tab" role="tab">For Company</a>
                        <a href="#" class="nav-item nav-link" data-toggle="tab" role="tab">For Student</a>
                        <a href="#" class="nav-item nav-link" data-toggle="tab" role="tab">Placement Policy</a>
                        <a href="#" class="nav-item nav-link" data-toggle="tab" role="tab">Past Placement</a>
                        <a href="#" class="nav-item nav-link" data-toggle="tab" role="tab">Downloads</a>
                        <a href="#" class="nav-item nav-link" data-toggle="tab" role="tab">Contact Us</a>
                    </div>
                </div>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabcontent" >
                
            
                <!-- <div class="row">
                    <div class="col-lg-3">
                        <center>
                            <img class="" src="./img/VC_Sir_BPSharma.jpg" style="width: 75%; border: 5px solid #cc3636; border-radius: 90%">
                        </center>
                    </div>
                    <div class="col-lg-9 my-auto">
                         <p class="pl-3">"Education is key to enrich our socio-cultural values and facilitate the all-round scientific
                      and technological development as well as to sustain growth and prosperity in the economy. It is also a
                      potent and purposive intervention to facilitate, object oriented learning, invoke utilitarian skills,
                       consolidate moral values, bring advancement in scientific and technical know how, enhance individual
                       and social commitments, reinforce one’s faith in the self and shape the individual as well as societal
                        behavior of generations to come.
                        </p>
                        <h6 class="float-left pl-3"><b>Prof. Bhagwati Prakash Sharma</b><br>Vice-Chancellor<br>Gautam Buddha University</h6>

                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-9">
                        
                    </div>
                    <div class="col-lg-3">
                        
                    </div>
                </div> -->
                <!-- sliding banner start from here -->
          <div class="container-fluid tab-pane active" id="home">
           <center>
               <div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                     <li data-target="#demo" data-slide-to="0" class="active"></li>
                     <li data-target="#demo" data-slide-to="1"></li>
                     <li data-target="#demo" data-slide-to="2"></li>
                  </ul>
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <img src="./img/" width="65%">
                     </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                     <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                     <span class="carousel-control-next-icon"></span>
                  </a>
               </div>
           </center>
          </div>

          <div class="tab-pane py-5" id="why-to-recruit">
            <div class="row container mx-auto">
                <div class="col-lg-6 my-auto">
                    <h4>Why to recruit?</h4>
                    <p >GBU produces responsible citizens who not only are skillful and well mannered, but also are vibrant and strong willed. The students of GBU have a strong sense of responsibility toward the nation and the family. This rare sense of appreciation and veneration for their belongingness makes them very different from the rest of the lot. Corporate partners have often appreciated the low attrition rates of the students of GBU. Because of this quality of sheer perseverance toward a cause or a vision or a mission,  GBU students have created a reputable name in the corporate arena.
                  <p>
                </div>
                <div class="col-lg-6 my-auto">
                    <img src="../../img/job-placement1.png" width="100%" style="background-position: center;background-size: cover; background-repeat: no-repeat;">
                </div>
            </div>

          </div>
          
        </div>

     <div class="gcse-searchresults-only"></div>
        <script type="text/javascript" src="../schools/js/school_main.js"></script>
<% include footer%>

