<!DOCTYPE html>
<html lang="en">
  <head>
    <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
    <title>GBU | Placement Cell</title>
    <link rel="icon" type="image/gif/png" href="../../../img/logo_gbu.png">
    <!-- Required meta tags -->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <link rel="icon" type="image/gif/png" href="../../../../../img/logo_gbu.png">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
     <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="../../schools/css/style.css">
     <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
        <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
      <script type="text/javascript">
      function executeQuery() {
    var input = document.getElementById('form-search-input');
    console.log(input)
    var element = google.search.cse.element.getElement('searchresults-only0');
    if (input.value == '') {
      element.clearAllResults();
    } else {
      element.execute(input.value);
    }
    return false;
  }
    </script>
  </head>
  </head>
  <body>

        <div class="back-to-home justify-content-center">
          <nav class="navbar shadow py-1 bg-dark navbar-dark" id="top-navigation">
            <div class="container">
              <a class="navbar-brand float-left" href="/"><img src="../../img/logo_gbu.png" id="gbu-logo" >
                <h5 class="px-2 my-auto" id="gbu-name">Gautam Buddha University</h5>
              </a>
              <form class="form-inline my-1 my-lg-0 d-none d-lg-block" onsubmit="return executeQuery();">
                <div class="container">
                  <input class="form-control form-control-sm" type="search" placeholder="Search" aria-label="Search" id="form-search-input">
                  <button class="btn btn-sm btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
          </nav>
        </div>  
    
            <nav class="navbar navbar-expand-md navbar-light shadow" style="z-index: 2; filter: blur(-4px);">
                <div class="container py-3">
                    <a href="#" class="navbar-brand"><h4>Placement Cell</h4></a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarCollapse" role="tablist">
                    <div class="nav ml-auto" >
                        <a href="#home" class="nav-item nav-link active" data-toggle="tab" role="tab">Home</a>
                        <a href="#why-to-recruit" class="nav-item nav-link" data-toggle="tab" role="tab">Why to recruit?</a>
                        <a href="#for-company" class="nav-item nav-link" data-toggle="tab" role="tab">For Company</a>
                        <a href="#for-student" class="nav-item nav-link" data-toggle="tab" role="tab">For Student</a>
                        <a href="#placement-policy" class="nav-item nav-link" data-toggle="tab" role="tab">Policy</a>
                        <a href="#past-placement" class="nav-item nav-link" data-toggle="tab" role="tab">Past Placement</a>
                        <a href="#downloads" class="nav-item nav-link" data-toggle="tab" role="tab">Downloads</a>
                        <a href="#contact" class="nav-item nav-link" data-toggle="tab" role="tab">Contact Us</a>
                    </div>
                </div>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabcontent" >
            
                <!-- sliding banner start from here -->
          <div class=" tab-pane active" id="home">
           <center>
               <div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
                  <!-- Indicators -->
                  <ul class="carousel-indicators">
                     <li data-target="#demo" data-slide-to="0" class="active"></li>
                     <li data-target="#demo" data-slide-to="1"></li>
                     <li data-target="#demo" data-slide-to="2"></li>
                  </ul>
                  <!-- The slideshow -->
                  <div class="carousel-inner">
                     <div class="carousel-item active">
                        <img src="./placement/PressRelease.jpeg" width="100%">
                     </div>
                  </div>
                  <!-- Left and right controls -->
                  <a class="carousel-control-prev" href="#demo" data-slide="prev">
                     <span class="carousel-control-prev-icon"></span>
                  </a>
                  <a class="carousel-control-next" href="#demo" data-slide="next">
                     <span class="carousel-control-next-icon"></span>
                  </a>
               </div>
           </center>
          </div>

          <div class="tab-pane py-5" id="why-to-recruit">
            <div class="row container mx-auto">
                <div class="col-lg-6 my-auto">
                    <h4 class="text-lg-left"><b>Why to recruit?</b></h4>
                    <p class="mt-1">GBU produces responsible citizens who not only are skillful and well mannered, but also are vibrant and strong willed. The students of GBU have a strong sense of responsibility toward the nation and the family. This rare sense of appreciation and veneration for their belongingness makes them very different from the rest of the lot. Corporate partners have often appreciated the low attrition rates of the students of GBU. Because of this quality of sheer perseverance toward a cause or a vision or a mission,  GBU students have created a reputable name in the corporate arena.
                  <p>
                </div>
                <div class="col-lg-6 my-auto">
                    <img src="../../img/job-placement1.png" width="100%" style="background-position: center;background-size: cover; background-repeat: no-repeat;">
                </div>
            </div>

          </div>

          <div class="tab-pane py-5" id="past-placement">
              <div class="container">
                   <h4 class=" text-lg-left">
                      Past Placements 
                   </h4>
                   <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
                   </div>
                   <table class="table table-hover table-bordered mt-4">
                    <thead>
                      <tr>
                        <th scope="col">Year</th>
                        <th scope="col">Details:</th> 
                        <th scope="col">View</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">2018-19</th>
                        <td>Campus Placement 2018-19</td>
                        <td><a class="text-light" href="../crc/placement1819.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2017-18</th>
                        <td>Placement 2017-18</td>
                        <td><a class="text-light" href="../crc/placement1718.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2016-17</th>
                        <td>Placement 2016-17</td>
                        <td><a class="text-light" href="../crc/placement1617.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2016</th>
                        <td>Placement 2016</td>
                        <td><a class="text-light" href="../crc/placement16.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2015</th>
                        <td>Placement 2015</td>
                        <td><a class="text-light" href="../crc/placement15.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2014</th>
                        <td>Placement 2014</td>
                        <td><a class="text-light" href="../crc/placement14.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2013</th>
                        <td>Placement 2013</td>
                        <td><a class="text-light" href="../crc/placement13.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2012</th>
                        <td>Placement 2012</td>
                        <td><a class="text-light" href="../crc/placement12.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2011</th>
                        <td>Placement 2011</td>
                        <td><a class="text-light" href="../crc/placement11.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2010</th>
                        <td>Placement 2010</td>
                        <td><a class="text-light" href="../crc/placement10.pdf"><button class="btn btn-info btn-sm ">View</button></a></td>   
                      </tr>
                    </tbody>
                  </table>

              </div>
          </div>

          <div class="tab-pane" id="for-company">
              <div class="container my-5">
                 <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSduUv1ABymG823prkIupnd5pMkos0jO4dFQGhJS7KUIFuMd1Q/viewform?embedded=true" width="100%" height="900" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
              </div>
          </div>


          <div class="tab-pane" id="downloads">
              <div class="container my-5">
                 <h4 class=" text-lg-left">
                      Downloads 
                   </h4>
                   <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
                   </div>
                   <table class="table table-hover table-bordered mt-4">
                    <thead>
                      <tr>
                        <th scope="col">S.No.</th>
                        <th scope="col">Details</th> 
                        <th scope="col">Links</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Placement Brochure</td>
                        <td><a class="text-light" href="../crc/"><button class="btn btn-info btn-sm ">Download</button></a></td>   
                      </tr>
                    </tbody>
                    <tbody>
                      <tr>
                        <th scope="row">2</th>
                        <td>Departmental Brochure</td>
                        <td><a class="text-light" href="../crc/"><button class="btn btn-info btn-sm">Download</button></a></td>   
                      </tr>
                    </tbody>
                  </table>                  
              </div>
          </div>
            <div class="tab-pane" id="contact">
              <div class="container my-5">
<h4 class=" text-lg-left mt-4 mb-0">Contact Us</h4>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 5%; background-color:#FB8C00 ">
        </div>
        <br>

        <p class="card-text text-justify">
          <h6 class="card-text text-left"> <b>Dr. Vinay Kumar Litoria</b> </h6>
          <p class= "card-text text-left"> Director</p>
          <p class= "card-text text-left">Corporate Relations Cell </p>
          <p class= "card-text text-left"><i class="fa fa-phone"> </i> +91-120-2344209</p>
          <p class= "card-text text-left"><i class="fa fa-envelope-o"> </i> vinay.litoria@gbu.ac.in</p>
        </p>

              </div>
            </div>

        </div>

     <div class="gcse-searchresults-only"></div>
        <script type="text/javascript" src="../schools/js/school_main.js"></script>
<% include footer%>

