<%include header%>
<div class="site-wrap">

        <%include faculty_head%>
        
        <div class="jumbotron mt-0 pt-0">
            <div class="container">
                <div class="row text-left">
                    <!-- <div class="col-md-3"> -->
                        
                         <%include faculty_nav%>

                   <!--  </div> -->
                    <div class="col-md-9">
                        <div id="maincontent">
                        
                        <div id="content">
                            <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                                <h5 class="ml-3">Biography</h5>
                            </div>
                            
                             <%-faculty.biography%><br>
                            <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                                <h5 class="ml-3">Academics</h5>
                            </div>
                                <%-faculty.academics%>
                             <br>
                            
                            </div><!-- Content -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>