<%include header%>
<div class="site-wrap">
       <%include faculty_head%>
                    
        <div class="jumbotron mt-0 pt-0">
            <div class="container">
                <div class="row text-left">
 <%include faculty_nav%>
                   
                    <div class="col-md-9">
                        <div id="maincontent">
                            <div class="roundbannertop"></div>
                            <div id="content">
                                <div class="font-weight-normal" style="color: #ffff; background-color:#78335d; padding: 5px 0px; ">
                                    <h5 class="ml-3">Researches</h5>
                                </div><br>
                                <p class="text-justify">
                                     <%-faculty.researchs%>
                                </p>
                                
                                <br>
                                
                            </div><!-- Content -->
                                
                        </div>
                           
                    </div>
                            
                </div>
            </div>
        </div>
    </div>
    <%include footer%>