<%include header%>
		<!-- <div class="jumbotron mb-0 clubheader">
			<div class="container mb-0 ">
				<h1 class="display-4 mb-0">
				<strong>
				Academic Programmes as per CBCS
				</strong>
				</h1>
			</div>
		</div>
		 -->
		<nav class="navbar navbar-expand-md  navbar-dark  sticky-top " style="background-color: #78335d">
			<div class="container">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
					<ul class="nav navbar-nav list-unstyled nabar-expand-md nav-justified mx-auto ">
						<li class="nav-item m-1">
							<a href="#som" class="nav-link" data-toggle="tab"> School Of Management </a>
						</li>
						<li class="nav-item m-1">
							<a href="#sob" class="nav-link" data-toggle="tab"> School Of Biotechnology</a>
						</li>
						<li class="nav-item m-1">
							<a href="#soict" class="nav-link" data-toggle="tab"> School Of <br> ICT </a>
						</li>
						<li class="nav-item m-1">
							<a href="#soe" class="nav-link" data-toggle="tab">School Of Engineering</a>
						</li>
						<li class="nav-item m-1">
							<a href="#soh" class="nav-link" data-toggle="tab"> School Of Humanities  </a>
						</li>
						<li class="nav-item m-1">
							<a href="#sov" class="nav-link" data-toggle="tab">School Of Vocational </a>
						</li>
						<li class="nav-item m-1">
							<a href="#sol" class="nav-link" data-toggle="tab"> School Of Law Justice  </a>
						</li>
						<li class="nav-item m-1">
							<a href="#sobs" class="nav-link" data-toggle="tab">School Of Buddhist </a>
						</li>
					</div>
				</div>
			</nav>
			<div class="jumbotron mt-0 text-center">
				<div class=" tab-content container">
					
					<div class="tab-pane active" id="som"> <br>
						<div class="fadeuponsc row w-100 visible">
							<div class="container m-0 ttab w-100">
								<div class="stats-copy">
									<h2 class="text-lg-left">School Of Management</h2>
									<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>School Name</th>
													<th>Department</th>
													<th>Program Name</th>
													<th>Course Structure/Syllabus</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>
													<td>School Of Management</td>
													<td>BM</td>
													<td>Integrated Dual Degree Programme BBA-MBA</td>
													<td><a href="http://gbu.ac.in/AcadProg/SOM/IBM.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>2. </td>
													<td>School Of Management</td>
													<td>BM</td>
													<td>MBA</td>
													<td><a href="http://gbu.ac.in/AcadProg/SOM/MBA.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>3.</td>
													<td>School Of Management</td>
													<td>BM</td>
													<td>MBA (Tourism and Travel)</td>
													<td> <a href="/cbcs/program/som/bm/mbt"> Course Structure </a> </td>
												</tr>
												<tr>
													<td>4. </td>
													<td>School Of Management</td>
													<td>BM</td>
													<td>Ph.D. (Business Management)</td>
													<td> <a href="/cbcs/program/som/bm/pbm"> Course Structure </a> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane " id="sob"> <br>
						<div class="fadeuponsc row w-100 visible">
							<div class="container m-0 ttab w-100">
								<div class="stats-copy">
									<h2 class="text-lg-left">School Of Biotechnology</h2>
									<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>School Name</th>
													<th>Department</th>
													<th>Program Name</th>
													<th>Course Structure</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>
													<td>School Of Biotechnology</td>
													<td>BT</td>
													<td>Integrated Dual Degree Programme B.Tech - M.Tech/MBA (Biotechnology)</td>
													<td><a href="http://gbu.ac.in/AcadProg/SOBT/SOB_MTech_5yrs_BoS_11July2017.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>2.</td>
													<td>School Of Biotechnology</td>
													<td>BT</td>
													<td>M.Tech. Biotech (Two years programme)</td>
													<td> <a href="http://gbu.ac.in/AcadProg/SOBT/SOB_MTech_2yrs_ BoS_11July2017.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>3.</td>
													<td>School Of Biotechnology</td>
													<td>BT</td>
													<td>M.Sc. Biotech (Two years programme)</td>
													<td> <a href="http://gbu.ac.in/AcadProg/SOBT/SOB_MSc Biotech_BoS_11July2017.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>4.</td>
													<td>School Of Biotechnology</td>
													<td>BT</td>
													<td>Ph.D. (Biotechnology)</td>
													<td> <a href="http://gbu.ac.in/AcadProg/SOBT/PBT.pdf"> Course Structure </a> </td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="soict"> <br>
						<div class="fadeuponsc row w-100 visible">
							<div class="container m-0 ttab w-100">
								<div class="stats-copy">
									<h2 class="text-lg-left">School Of Information & communications technology </h2>
									<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>School Name</th>
													<th>Department</th>
													<th>Program Name</th>
													<th>Course Structure/Syllabus</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>
													<td>School Of ICT</td>
													<td>EC</td>
													<td>Integrated Dual Degree VLSI (ECE)</td>
													<td><a href="http://gbu.ac.in/data/ict/ECE Syllabus/Dual Degree VLSI (ECE).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>2.</td>
													<td>School Of ICT</td>
													<td>EC</td>
													<td>Integrated Dual Degree WCN (ECE)</td>
													<td><a href="http://gbu.ac.in/data/ict/ECE Syllabus/Dual Degree WCN (ECE).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>3.</td>
													<td>School Of ICT</td>
													<td>EC</td>
													<td>M.Tech. VLSI Design_Scheme and Syllabi</td>
													<td><a href="http://gbu.ac.in/data/ict/ECE Syllabus/M.Tech. VLSI Design_Scheme and Syllabi.pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>4.</td>
													<td>School Of ICT</td>
													<td>EC</td>
													<td>Integrated Dual Degree VLSI (ECE)</td>
													<td><a href="http://gbu.ac.in/data/ict/ECE Syllabus/Dual Degree VLSI (ECE).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>5.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>SOICT_CourseStruc(17-19)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/2 M.Tech - AIR/SOICT_CourseStruc(17-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>6.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>MTech SE (2017-19)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/2 Year M.Tech -SE/MTech SE (2017-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>7.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>SOICT_MTechCS_(2017-19)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/2 Year M.Tech CS/SOICT_MTechCS_(2017-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>8.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>IT (2016-20)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2016-20).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>9.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>IT (2017-21)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2017-21).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>10.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>IT (2018-22)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/4 Year B.Tech (IT)/IT (2018-22).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>11.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>Dual Degree ISR final (2014-19)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/Dual Degree ISR final (2014-19).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>12.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>dual degree ISR final (2015-20)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree ISR final (2015-20).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>13.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>dual degree ISR final (2016-21)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree ISR final (2016-21).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>14.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>dual degree ISR final (2017-22)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree ISR final (2017-22).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>15.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>dual degree SE final( 2015-20)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree SE final( 2015-20).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>16.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>dual degree SE final( 2016-21)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree SE final( 2016-21).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>17.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>dual degree SE final( 2017-22)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree SE final( 2017-22).pdf"> Course Structure</a></td>
												</tr>
												<tr>
													<td>18.</td>
													<td>School Of ICT</td>
													<td>CS</td>
													<td>dual degree SE final(14-19)</td>
													<td><a href="http://gbu.ac.in/data/ict/CSE Syllabus/integrated/dual degree SE final(14-19).pdf"> Course Structure</a></td>
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane" id="soe"> <br>
						<div class="fadeuponsc row w-100 visible">
							<div class="container m-0 ttab w-100">
								<div class="stats-copy">
									<h2 class="text-lg-left">School Of Engineering</h2>
									<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>School Name</th>
													<th>Department</th>
													<th>Program Name</th>
													<th>Course Structure/Syllabus</th>
												</tr>
											</thead>
											<tbody >
												<tr>
													<td>1.</td>
													<td>School Of Engineering</td>
													<td>CE</td>
													<td>Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
													<td> <a href="http://gbu.ac.in/AcadProg/SOE/ICE-EV.pdf"> Course Structure (EV) </a>
												</td>
											</tr>
											<tr>
												<td>2.</td>
												<td>School Of Engineering</td>
												<td>EE</td>
												<td>Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
												<td><a href="http://gbu.ac.in/AcadProg/SOE/ICE-Str.pdf"> Course Structure (STR) </a>
											</td>
										</tr>
										<tr>
											<td>3.</td>
											<td>School Of Engineering</td>
											<td>ME</td>
											<td>Integrated Dual Degree Programme B.Tech - M.Tech/MBA</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/IME.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>4.</td>
											<td>School Of Engineering</td>
											<td>AR</td>
											<td>Bachelor in Architecture (B. Arch.)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/IAR.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>5.</td>
											<td>School Of Engineering</td>
											<td>AR</td>
											<td>M.Plan (Masters in Urban and Regional Planning)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MURP.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>5.</td>
											<td>School Of Engineering</td>
											<td>CE</td>
											<td>M.Tech. (Environmental Engineering)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MEV.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>6. </td>
											<td>School Of Engineering</td>
											<td>CE</td>
											<td>M.Tech. (Structural Engineering)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MST.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>7.</td>
											<td>School Of Engineering</td>
											<td>EE</td>
											<td>M.Tech. (Power System Engineering)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MPS.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>8.</td>
											<td>School Of Engineering</td>
											<td>EE</td>
											<td>M.Tech. (Instrumentation and Control)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MIC.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>9.</td>
											<td>School Of Engineering</td>
											<td>EE</td>
											<td>M.Tech. (Power Electronics and Drives)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MPD.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>10.</td>
											<td>School Of Engineering</td>
											<td>ME</td>
											<td>M.Tech. (Manufacturning Engg)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MME.pdf"> Course Structure </a></td>
										</tr>
										<tr>
											<td>11.</td>
											<td>School Of Engineering</td>
											<td>ME</td>
											<td>M.Tech. (Design Engg.)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MDE.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>12.</td>
											<td>School Of Engineering</td>
											<td>ME</td>
											<td>M.Tech. (Thermal Engg.)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOE/MTH.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>13.</td>
											<td>School Of Engineering</td>
											<td>EE</td>
											<td>Ph.D. (Electrical Engg.)</td>
											<td> <a href="http://gbu.ac.in/AcadProg/SOE/MTH.pdf"> Course Structure </a> </td>
										</tr>
										<tr>
											<td>14.</td>
											<td>School Of Engineering</td>
											<td>CE</td>
											<td>Ph.D. (Civil Engg.)</td>
											<td> <a href="http://gbu.ac.in/AcadProg/SOE/MTH.pdf"> Course Structure </a> </td>
										</tr>
										<tr>
											<td>15.</td>
											<td>School Of Engineering</td>
											<td>EE</td>
											<td>Ph.D. (Electrical Engg.)</td>
											<td><a href="/cbcs/program/soe/ee/pee"> Course Structure</a></td>
										</tr>
										<tr>
											<td>16.</td>
											<td>School Of Engineering</td>
											<td>CE</td>
											<td>Ph.D. (Civil Engg.)</td>
											<td><a href="/cbcs/program/soe/ce/pce"> Course Structure</a></td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="soh"> <br>
				<div class="fadeuponsc row w-100 visible">
					<div class="container m-0 ttab w-100">
						<div class="stats-copy">
							<h2 class="text-lg-left">School Of Humanities & Social Sciences</h2>
							<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
							<br>
							<br>
							<div class="text-justify table-responsive">
								<table class="table table-hover t">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>School Name</th>
											<th>Department</th>
											<th>Program Name</th>
											<th>Course Structure/syllabus</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">HC</td>
											<td>M.A. (History and Civilization)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MHC.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>2.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">EP</td>
											<td>M.A. (Economics, Planning and Development)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MEP.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>3.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">EN</td>
											<td>M.A. (English)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MEN.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>4. </td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">IL</td>
											<td>M.A. (Hindi)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MHI.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>5.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">IL</td>
											<td>M.A. (Urdu)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MUD.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>6.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">MC</td>
											<td>M.A. (Mass Communication)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MMC.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>7.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">SW</td>
											<td>MSW (Master in Social Work)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MSW.PDF"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>8.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">SO</td>
											<td>M.A. (Sociology)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MSO.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>9.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">PM</td>
											<td>M.A./ M.Sc. (Applied Psychology) (With a provision of M.Sc. For the candidates with Science background)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MPM.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>10.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">PR</td>
											<td>M.A. (Political Science and International Relations)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MPR.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>11.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">ET</td>
											<td>M.A. (Education)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MED.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>12.</td>
											<td>School Of Humanities &amp; Social Sciences</td>
											<td class="text-center">PM</td>
											<td>M. Phil. (Clinical Psychology)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOHSS/MCP.pdf"> Course Structure</a></td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="sov"> <br>
				<div class="fadeuponsc row w-100 visible">
					<div class="container m-0 ttab w-100">
						<div class="stats-copy">
							<h2 class="text-lg-left">School Of Vocational Studies &amp; Applied Sciences</h2>
							<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
							<br>
							<br>
							<div class="text-justify table-responsive">
								<table class="table table-hover text-justify">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>School Name</th>
											<th>Department</th>
											<th>Program Name</th>
											<th>Course Structure</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>FT</td>
											<td>Integrated Dual Degree Programme B.Tech-M.Tech/MBA (Food Processing and Technology)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/IFT.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>2.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>FT</td>
											<td>M.Tech. Food Processing and Technology</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/MFT.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>3.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>AC</td>
											<td>M.Sc. Applied Chemistry</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/MAC.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>4.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>AP</td>
											<td>M.Sc. Applied Physics</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/MAP.pdf"> Course Structure</a></td>
										</tr>
										<tr>
											<td>5.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>AM</td>
											<td>M.Sc. Applied Mathematics</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/MAM.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>6.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>ES</td>
											<td>M.Sc. Environmental Science</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/MES.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>7.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>FT</td>
											<td>M.Sc. Food Science</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/MFS.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>8.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>PS </td>
											<td>B.Sc Physical Sciences</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/SOVSAS_BSc_Syllabus_final_12Aug2016.pdf"> Course Structure &amp; Syllabus</a></td>
											
										</tr>
										<tr>
											<td>9.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>AP</td>
											<td>Ph.D. (Applied Physics)</td>
											<td> <a href="http://gbu.ac.in/AcadProg/SOVSAS/PAP.pdf"> Course Structure </a> </td>
										</tr>
										<tr>
											<td>10.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>AC</td>
											<td>Ph.D. (Applied Chemistry)</td>
											<td> <a href="http://gbu.ac.in/AcadProg/SOVSAS/MFT.pdf pac"> Course Structure </a> </td>
											
										</tr>
										<tr>
											<td>11.</td>
											<td>School Of Vocational Studies &amp; Applied Sciences</td>
											<td>AM</td>
											<td>Ph.D. (Applied Mathematics)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOVSAS/PAM.pdf"> Course Structure</a></td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="sol"> <br>
				<div class="fadeuponsc row w-100 visible">
					<div class="container m-0 ttab w-100">
						<div class="stats-copy">
							<h2 class="text-lg-left">School Of Law Justice & Governance</h2>
							<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
							<br>
							<br>
							<div class="text-justify table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>School Name</th>
											<th>Department</th>
											<th>Program Name</th>
											<th>Course Structure/Syllabus</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1.</td>
											<td>School Of Law Justice &amp; Governance</td>
											<td>LJ</td>
											<td>Integrated Dual Degree Programme BA-LLB</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOLJG/IBL.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>2.</td>
											<td>School Of Law Justice &amp; Governance</td>
											<td>LJ</td>
											<td>Integrated Dual Degree Programme BBA-LLB</td>
											<td> <a href="http://gbu.ac.in/AcadProg/SOLJG/IBL.pdfibbl"> Course Structure </a> </td>
											
										</tr>
										<tr>
											<td>3.</td>
											<td>School Of Law Justice &amp; Governance</td>
											<td>LJ</td>
											<td> LLM (MASTER OF LAWS)</td>
											<td> <a href="http://gbu.ac.in/AcadProg/SOLJG/LLMCourseStructure_4March2016.pdf"> Course Structure </a> </td>
											
										</tr>
										<tr>
											<td>4.</td>
											<td>School Of Law Justice &amp; Governance</td>
											<td>LJ</td>
											<td> Ph.D in Law</td>
											<td> <a href="http://gbu.ac.in/AcadProg/SOLJG/PhDCourseStucture_4March2016.pdf"> Course Structure </a> </td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane" id="sobs"> <br>
				<div class="fadeuponsc row w-100 visible">
					<div class="container m-0 ttab w-100">
						<div class="stats-copy">
							<h2 class="text-lg-left">School Of Buddhist Studies &amp; Civilization</h2>
							<div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
							<br>
							<br>
							<div class="text-justify table-responsive">
								<table class="table table-hover">
									<thead>
										<tr>
											<th>S.No.</th>
											<th>School Name</th>
											<th>Department</th>
											<th>Program Name</th>
											<th>Course Structure/Syllabus</th>
										</tr>
									</thead>
									<tbody >
										<tr>
											<td>1. </td>
											<td>School Of Buddhist Studies &amp; Civilization</td>
											<td>BS</td>
											<td>B.A. (Hons) - M. A. in Buddhist Studies and Civilization</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOBSC/IBS.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>2. </td>
											<td>School Of Buddhist Studies &amp; Civilization</td>
											<td>BS</td>
											<td>M.A. (Buddhist Studies and Civilization)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOBSC/MBS.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>3.</td>
											<td>School Of Buddhist Studies &amp; Civilization</td>
											<td>BS</td>
											<td>M.Phil. (Buddhist Studies and Civilization)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOBSC/MBC.pdf"> Course Structure</a></td>
											
										</tr>
										<tr>
											<td>4.</td>
											<td>School Of Buddhist Studies &amp; Civilization</td>
											<td>BS</td>
											<td>Ph.D. (Buddhist Studies and Civilization)</td>
											<td><a href="http://gbu.ac.in/AcadProg/SOBSC/PBS.pdf"> Course Structure</a></td>
											
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			
		</div>
	</div>
	<%include footer%>