<%include header%>
    <div class="jumbotron mb-0 clubheader" style="background-image:url(img/banner_recruitment.png)">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0" style="color:yellow;" >
        <strong>
        Recruitment
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <nav class="navbar navbar-expand-md navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>
    <!-- Nevigation End -->
    <div class="container">

      <div class="card bordernow  mt-5 mb-5">
        <div class="card-body">
          <div class="container">
            <h4 class="font-weight-light text-center text-lg-right mt-4 mb-0"> Advertisement for Guest Faculty in various Schools/departments (Advt. No. GBU/Admn./2019/01)</h4>
            <hr class="mt-2 mb-5">
          </div>
             <p class="card-text text-justify">
          <a href="Advt_GuestFaculty_01_29May19.pdf">1. Advertisement</a>
          <P><a href="Add_GuestfacultyAdvt_10June19.pdf">2. Additional Advertisement for Guest faculty</a></P>
          <P> <a href="ApplicationForm_GuestFaculty_29May19.pdf">3. Application Form </a></P>
          <p class="card-text text-justify">
     <a href="Advt_JRF_SoBt_DrJPMuyal_2May19.pdf">4. Details for Recruitment of JRF Position </a>
   </p>
        </p>
        </div>
      </div>
    </div>

<%include footer%>
