<%include header%>

  <body>
    <div class="jumbotron mb-0 clubheader" style="background-image:url(img/banner_recruitment2.png);background-size: cover; background-repeat: no-repeat">
      <div class="container mb-0  ">
        <h1 class="display-4 mb-0 ml-2 text-white"><strong>RECRUITMENT</strong></h1>
        
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
     <div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
        This section consists of Recruitment details!
      </div>
    <!-- Nevigation End -->
     <div class="container">

  
        <div class="card-body">
          <div class="container">
<h3 class=" text-lg-left mt-4 mb-0">
          Advertisement for Guest Faculty
          </h3>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 12%; background-color:#FB8C00 "></div>
          <br>
          <br>
          <p> Walk in Interview for Guest Faculty in Structural Engineering in the School of Engineering - 15th January 2020</p>
        <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>Details for Interview</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/RecruitmentMain/Walkin_SOE_GuestFaculty_10Jan2020.pdf"><button class="btn btn-info ">View Details</button></a></td>
                
              </tr>
            
            </tbody>
          </table>
        </div>
    </div>
    </div>
     
     <!-- Section-2 ends-->
     <div class="container">

  
        <div class="card-body">
          <div class="container">
<h3 class=" text-lg-left mt-4 mb-0">
          Advertisement for Non-teaching positions
          </h3>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 12%; background-color:#FB8C00 "></div>
          <br>
          <br>
          <p> Last date for application receipt is 16th January 2020</p>
        <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td> Advertisement TOI</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/RecruitmentMain/Advt_TOI_26Dec19.pdf"><button class="btn btn-info ">View Details</button></a></td>
                
              </tr>
               <tr>
                <th scope="row">1</th>
                <td> Advertisement TOI</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/RecruitmentMain/Advt_TOI_26Dec19.pdf"><button class="btn btn-info ">View Details</button></a></td>
                
              </tr>
               <tr>
                <th scope="row">2</th>
                <td> Advertisement Dainik Jagran</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/RecruitmentMain/Advt_DainikJagran_26Dec19.pdf"><button class="btn btn-info ">View Details</button></a></td>
              </tr>
               <tr>
                <th scope="row">3</th>
                <td>Detailed Advertisement and Application Form</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/RecruitmentMain/NonTeachingAdvt_Application_26Dec2019.pdf"><button class="btn btn-info ">View Details</button></a></td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>
    </div>
    <div class="container">

  
        <div class="card-body">
          <div class="container">
<h3 class=" text-lg-left mt-4 mb-0">
          Advertisement for Guest Faculty
          </h3>
          <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 12%; background-color:#FB8C00 "></div>
          <br>
          <br>
          <p> Walk in Interview for Guest Faculty in the department of Computer Science and Engg., School of ICT - 13th January 2020</p>
        <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>Details of Advertisement</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/RecruitmentMain/Advt_GuestFaculty_SoICT_30Dec19.pdf"><button class="btn btn-info ">View Details</button></a></td>
                
              </tr>      
            </tbody>
          </table>
        </div>
    </div>
    </div>
<%include footer%>
