<%include header%>
  <div class="jumbotron mb-0 clubheader bgimage_about_home_mukul banner-mob-view" >
        
    <div class="container mb-0  ">
      <h1 class="display-4 text-right mb-2" style="color: white"><strong>Regulatory Bodies</strong></h1>
      <hr class="mt-0  pt-0 mb-1">
      <h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4>
    </div>
  </div>
  <nav class="navbar navbar-expand-md  navbar-dark " style="background-color: #78335d">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="fadeuponsc container navbar-expand-md visible collapse navbar-collapse" id="navbaraa">
          <ul class="nav navbar-nav list-unstyled nabar-expand-md nav-justified mx-auto ">
            <li class="nav-item m-1">
              <a href="#UGC" class="nav-link active" data-toggle="tab">UGC</a>
            </li>
            <li class="nav-item m-1">
              <a href="#BCI" class="nav-link" data-toggle="tab">BCI</a>
            </li>
            <li class="nav-item m-1">
              <a href="#NCTE" class="nav-link" data-toggle="tab">NCTE</a>
            </li>
            <li class="nav-item m-1">
              <a href="#CoA" class="nav-link" data-toggle="tab">CoA</a>
            </li>
            
            <li class="nav-item m-1">
              <a href="#RCI" class="nav-link" data-toggle="tab">RCI</a>
            </li>
          </div>
        </div>
      </nav>

<div class="tab-content container">

            <!-- section1 start -->
            <div class="tab-pane active" id="UGC">
            <div class="section-1 p-4">
              <div class="container">
                <div class="row " style="padding: 20px 0px;">
                  <div class="column col-md-6 " style=" background-image: url(../../../../gbudata/approval/ugc.jpg);background-repeat: no-repeat;background-size: cover;" >
                    
                  </div>
                  <div class="column col-md-6">
                    <h2 style="font-size: 22px !important;">UGC 12 B Certificate</h2>​​​​
                    <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
                    <p>University Grants Commission,New Delhi has granted Gautam Buddha University recognition under section 12(B) of the UGC Act, 1956.
                    The University Grants Commission (UGC) declared fit to receive central assistance (UGC grant) under Section 12 (B)** of UGC Act, 1956 as per approved pattern of assistance under various schemes. 
                      <br>
                      <br>
                      <br>
                      <a href="../../../../gbudata/approval/UGC_12BCertificate_28June19.pdf"><button type="button" class="btn btn-success">UGC 12 B Certificate</button></a>
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--    section1 end -->
            <!-- section 2 start -->
            <div class="tab-pane active" id="BCI">
            <div class="section-1 p-4">
              <div class="container">
                <div class="row">
                  <div class="column col-md-6">
                    <h2 style="font-size: 22px !important;">​Bar Council of India</h2>​​​​
                    <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
                    <p>The Bar Council of India is a statutory body established under the section 4 of advocates Act 1961 that regulates the legal practice and legal education in India. Its members are elected from amongst the lawyers in India and as such represents the Indian bar.
                      <br>
                      <br>
                    <a href="../../../../../../gbudata/approval/Bar_Council_India_Approval_Letter1_5Aug13.jpg"><button type="button" class="btn btn-success">BCI Approval Letter</button></a>
                      
                    </p>
                  </div>
                  <div class="column col-md-6" style="    background-image: url(../../../../gbudata/approval/bar.png) !important;
                    background-size: cover !important;
                    background-position: 50% 50% !important;
                    background-attachment: scroll !important;
                    background-repeat: no-repeat !important;
                    background-size: cover;" >
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
           <!-- section 2 end -->
            <!-- section3 start -->
            <div class="tab-pane active" id="NCTE">
            <div class="section-1 p-4">
              <div class="container">
                <div class="row " style="padding: 20px 0px;">
                  <div class="column col-md-6 " style=" background-image: url(../../../../gbudata/approval/ncte.jpg);background-repeat: no-repeat;background-size: cover;" >
                    
                  </div>
                  <div class="column col-md-6">
                    <h2 style="font-size: 22px !important;">National Council for Teacher Education</h2>​​​​
                    <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
                    <p>The National Council for Teacher Education, in its previous status since 1973, was an advisory body for the Central and State Governments on all matters pertaining to teacher education, with its Secretariat in the Department of Teacher Education of the National Council of Educational Research and Training (NCERT). 
                      <br>
                      <br>
                      <br>
                      <a href="../../../../gbudata/approval/Deppt_Education_NCT_17May2017.pdf"><button type="button" class="btn btn-success">NCTE Recognition Order</button></a>
                      </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <!--    section3 end -->
            <!-- section 4 start -->
            <div class="tab-pane active" id="CoA">
            <div class="section-1 p-4">
              <div class="container">
                <div class="row">
                  <div class="column col-md-6">
                    <h2 style="font-size: 22px !important;">​Council of Architecture</h2>​​​​
                    <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
                    <p>The Council of Architecture (COA) has been constituted by the Government of India under the provisions of the Architects Act, 1972, enacted by the Parliament of India, which came into force on 1st September, 1972. The Act provides for registration of Architects, standards of education, recognized qualifications and standards of practice to be complied with by the practicing architects.
                      <br>
                      <br>
                    <a href="../../../../../../gbudata/approval/CoA.pdf"><button type="button" class="btn btn-success">Inspection from Council of Architecture (CoA)</button></a>
                      
                    </p>
                  </div>
                  <div class="column col-md-6" style="    background-image: url(../../../../gbudata/approval/Council-of-Architecture.jpg) !important;
                    background-size: cover !important;
                    background-position: 50% 50% !important;
                    background-attachment: scroll !important;
                    background-repeat: no-repeat !important;
                    background-size: cover;" >
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <!-- section 4 end -->
          <!-- section 5 start -->
          <div class="tab-pane active" id="RCI">
          <div class="section-1 p-4">
              <div class="container">
                <div class="row " style="padding: 20px 0px;">
                  <div class="column col-md-6 " style=" background-image: url(../../../../gbudata/approval/RCI.jpg);background-repeat: no-repeat;background-size: cover;" >
                    
                  </div>
                  <div class="column col-md-6">
                    <h2 style="font-size: 22px !important;"> Rehabilitation Council of India(RCI) </h2>​​​​
                    <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
                    <p>The Rehabilitation Council of India(RCI) was set up as a registered society in 1986.On September,1992 the RCI Act was enacted by Parliament and it became a Statutory Body on 22 June 1993.The Act was amended by Paliament in 2000 to make it more broadbased.The mandate given to RCI is to regulate and monitor services given to persons with disability,to standardise syllabi and to maintain a Central Rehabilitation Register of all qualified professionals and personnel working in the field of Rehabilitation and Special Education.The Act also prescribes punitive action against unqualified persons delivering services to persons with disability. 
                      <br>
                      <br>
                      <br>
                      <a href="../../../../gbudata/approval/RCI.pdf"><button type="button" class="btn btn-success">RCI Approval Letter</button></a>
                      </p>
                  </div>
                </div>
              </div>
          </div>
          </div>
          <!-- section 6 end -->
</div>
<%include footer%>