<%include header%>
           <div class="jumbotron mb-0 clubheader bgimage_about_report_mukul">
      <style>
          @media only screen and (min-width: 992px){
            .bgimage_about_report_mukul{
              background-position: 100% 52%;
            }
          }
        </style>
      <div class="container mb-0  ">
        <h1 class="display-4 text-right mb-2" style="color:#78335D"><strong>Annual Reports</strong></h1>
        <hr class="mt-0  pt-0 mb-2">
        <h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4>
      </div> 
    </div>
    <!-- about us section start from here-->
    <div class="pt-5">
      <div class="container pt-5 mb-0">
        <h1 style="font-size: 30px; color: #0d1491" class="text-right">Annual Report 2014-15</h1>
        <hr class="mt-0 pt-0 mb-2">
      </div>
    </div>
    <!---details of page start from here-->
    <div class="container">
      <div class="ml-4">
        <ul style="list-style-type: circle!important;">
          <li>
            <p>Gautam Buddha University Annual Report 2015 is an attempt to present initiatives, developments, accomplishments,
              and accolades, the University has earned during the year 2014-015.The year gone by has crossed many
              milestones and witnessed a number of achievements by the University in its journey towards excellence.
            </p>
            <p> The information presented in this report is not claimed to be exhaustive, however, efforts have been made
              to make it as inclusive as possible by incorporating major developments and accomplishments by the University.
              The availability of limited space plays restriction on including entire list of developments and accomplishments.<br><br>
              Read complete annual report.
              <button type="button" class="btn btn-sm btn-outline-primary"><a href="../../../../gbudata/UniversityDoc/GBU%20Annual%20Report%202014-15%20Final%20Version_16Feb2016.pdf">Read Report</a></button></p>
            </li><br>
          </ul>
        </div>
      </div>
      <hr>
     <%include footer%>