<%include header%>
    <div class="jumbotron mb-0 clubheader">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0">
        <strong>
        RESEARCH AND PUBLICATION
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <nav class="navbar navbar-expand-md navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <!-- <ul class="navbar-nav mx-auto">
            <li class="nav-item  active">
              <a href="" class="nav-link active "></a>
            
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
              
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
              
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link mr-0"></a>
              
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link mr-0"></a>
              
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    <!-- Nevigation End -->
    <div class="container">
      
      <div class="card bordernow  mt-5 mb-5">
        <div class="card-body">
          <div class="container ">
              <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">
                Research And Publication
              </h1>
              <hr class="mt-2 mb-5">
            </div>
          
          <p class="card-text text-justify mt-2">
            The University aspires to make a distinct identity at both national and international levels as an integrated academic and research institution of excellent repute. The University promotes research and explorations of possibilities that can prepare students endowed with innovative and entrepreneurial orientations and a deeply rooted faith in human values. Thus the University is dedicated to create an educated and progressive society which provides equal opportunities to all. <br><br>
            Research being at the core, the University patronizes attempts to provide new theoretical frameworks which enable reassessment and refinement of current practices and theory. The path-breaking interdisciplinary research by the faculty helps directly enhance qualitatively teaching-learning environment of the University and caters to the needs the practicing professionals in the field. More attention is paid to the relevance, objectivity, and depth of research. In addition to conduct research internally, the faculty is encouraged to undertake several projects which are commissioned and funded by the institutions/companies of national / international repute. Faculty of the University also commit themselves to supervise the research work by the scholars under the Ph. D. programme conducted in the modes such as, faculty/research associates, JRF/UGC sponsored projects, CSIR projects, and other research funding organizations. <br><br>
				
				<div>
					GBU’s Research Bulletin I Click Here <a href="http://www.gbu.ac.in/Programfiles/Research@GBUBullatin.pdf">Click Here</a>
					<br>
					GBU’s Research Bulletin II <a href="http://www.gbu.ac.in/Programfiles/Research_Bulletin[2].pdf">Click Here</a>
				</div>

          </p>
            
  </div>
</div>
</div>
<%include footer%>