<%include header%>
 
    <div class="jumbotron mb-0 clubheader" style="background-image:url(academics/img/banner5.png);background-size: cover; background-repeat: no-repeat">
        <div class="container mb-0  ">
          <h1 class="display-5 mb-0 ml-2 font-weight-light"><strong>Result Section</strong></h1>
          <hr class="mt-0  pt-0 mb-1">
        </div>
      </div>
      <div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
        This section consists results of all schools!
      </div>
    
        <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Results of School Of Law Justice & Governance
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>----------</td>
                <td><a class="text-light" href=""><button class="btn btn-info ">View Results</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>
         <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Results of School Of ICT
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>----------</td>
                <td><a class="text-light" href=""><button class="btn btn-info ">View Results</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>

         <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Results of School Of Management
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>----------</td>
                <td><a class="text-light" href=""><button class="btn btn-info ">View Results</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>

         <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Results of School Of Humanities & Social Sciences
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>----------</td>
                <td><a class="text-light" href=""><button class="btn btn-info ">View Results</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>

         <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Results of School Of Buddhist Studies & Civilization
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>----------</td>
                <td><a class="text-light" href=""><button class="btn btn-info ">View Results</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>

         <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Results of School Of Biotechnology
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>----------</td>
                <td><a class="text-light" href=""><button class="btn btn-info ">View Results</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>

         <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Results of School Of Vocational Studies & Applied Sciences
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>----------</td>
                <td><a class="text-light" href=""><button class="btn btn-info ">View Results</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>

         <div class="container mb-5">
          <h3 class=" text-lg-left mt-4 mb-0">
        Results of School Of Engineering
        </h3>
        <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 "></div>
        
        <br>
        <br>
          <table class="table table-hover table-bordered mt-4">
            <thead>
              <tr>
                <th scope="col">S.No.</th>
                <th scope="col">Description</th>
                
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              
              <tr>
                <th scope="row">1</th>
                <td>----------</td>
                <td><a class="text-light" href=""><button class="btn btn-info ">View Results</button></a></td>
                
              </tr>
            </tbody>
          </table>
        </div>
<%include footer%>