<%include header%>
      <div class="text-center pt-5" >
      <h1 style="font-weight: 700 ; font-size: 44px; color: #010327">Right To Information(RTI)</h1>
      </div>
        <!---details of page start from here-->
        <div class="container my-5">
            <div class="">
              <div class="container ">
                <div class="container py-3">
                  <div class="card border-0">
                    <div class="row ">
                      <div class="col-md-4">
                          <img src="./img/BachchuSingh.jpg" class="w-100 p-5 m-auto">
                      </div>
                      <div class="col-md-8 p-4 my-auto">
                        <div class="card-block px-3">
                          <h4 class="card-title m-3 servicesinfo">Sh. Bachchu Singh (PCS)</h4>
                          <p class="card-text m-3 servicesinfo"><strong>Registrar<br>Gautam Buddha University</strong></p>
                          <p class="card-text m-3 servicesinfo"><a href="tel:+911202344213"><i class = "material-icons icon_size">phone_iphone</i></a>+91-120-2344213</p>
                           <p class="card-text m-3 servicesinfo"><a href="mailto:registrar@gbu.ac.in?Subject=redirected_from_gbu.ac.in"><i class = "material-icons icon_size">mail</i></a>registrar@gbu.ac.in</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="container py-3">
                  <div class="card border-0">
                    <div class="row ">
                      <div class="col-md-4">
                          <img src="./img/SNTiwari.png" class="w-100 p-5 m-auto">
                      </div>
                      <div class="col-md-8 p-4 my-auto">
                        <div class="card-block px-3">
                          <h4 class="card-title m-3 servicesinfo">Sh. S.N.Tiwari</h4>
                          <p class="card-text m-3 servicesinfo"><strong>Deputy Registrar<br>Gautam Buddha University</strong></p>
                          <p class="card-text m-3 servicesinfo"><a href="tel:+911202344212"><i class = "material-icons icon_size">phone_iphone</i></a>+91-120-2344212</p>
                          <p class="card-text m-3 servicesinfo"><a href="mailto:dr@gbu.ac.in?Subject=redirected_from_gbu.ac.in"><i class = "material-icons icon_size">mail</i></a>dr@gbu.ac.in</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                </div>
                  </div>
                </div>
              </div>
      <hr>
<%include footer%>
   