<%include header%>
          <div class="jumbotron mb-0 clubheader bgimage_about_organisation_mukul">
         <style>
          @media only screen and (min-width: 992px){
            .bgimage_about_organisation_mukul{
              background-position: 100% 52%;
            }
          }
        </style>
  <div class="container mb-0  ">
    <h1 class="display-4 text-right mb-2" style="color:#ffffff"><strong>Right To Information(RTI) </strong></h1>
    <hr class="mt-0  pt-0 mb-2">
    <h4 class="display-5 text-right mb-1" style="color: #ffffff">About Us</h4>
  </div>
</div>
   
   <div class="container pt-5 mb-0">
        <h1 style="font-size: 30px; color: #0d1491" class="text-right">Right To Information(RTI)</h1>
        <hr class="mt-0 pt-0 mb-2">
      </div>
      <div class="container py-0">
        <div class="card">
          <div class="row ">
            <style>
              @media only screen and (max-width: 992px){
              .p-center{
                text-align: center!important;
              }
            }
            </style>
            <div class="col-md-4 p-center">
              <img src="./img/BachchuSingh.jpg" class="w-100 p-5" id="card-image" >
            </div>
            <div class="col-md-8 p-4 my-auto">
              <div class="card-block px-3 p-center">
               <h5 class="card-title m-3 servicesinfo">Sh. Bachchu Singh (PCS)</h5>
                <h6 class="mr-5 float-right"><b>Appellate Authority</b></h6>
                <h6 class="card-text m-3 servicesinfo" style="color: #78335D;">Registrar<br>Gautam Buddha University</h6>
                <p class="card-text m-3 servicesinfo p-center
"><a href="tel:+911202344213">+91-120-2344213</a> <br>
                 <a href="mailto:registrar@gbu.ac.in?Subject=redirected_from_gbu.ac.in">registrar@gbu.ac.in</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container py-0">
        <div class="card">
          <div class="row ">
            <div class="col-md-4 p-center">
              <img src="./img/SNTiwari.png" class="w-100 p-5" id="card-image">
            </div>
            <div class="col-md-8 p-4 my-auto p-center">
              <div class="card-block px-3">
                <h5 class="card-title m-3 servicesinfo">Sh. S.N.Tiwari</h5>
                <h6 class="mr-5 float-right"><b>Public Information Officer</b></h6>

                  <h6 class="card-text m-3 servicesinfo" style="color: #78335D;">Deputy Registrar<br>Gautam Buddha University</h6>
                  <p class="card-text m-3 servicesinfo p-center"><a href="tel:+911202344212">+91-120-2344212</a> <br>
                  <a href="mailto:dr@gbu.ac.in?Subject=redirected_from_gbu.ac.in">dr@gbu.ac.in</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
<%include footer%>
   