<%include header%>
          <div class="jumbotron mb-0 clubheader bgimage_about_organisation_mukul">
         <style>
          @media only screen and (min-width: 992px){
            .bgimage_about_organisation_mukul{
              background-position: 100% 52%;
            }
          }
        </style>
  <div class="container mb-0  ">
    <h1 class="display-4 text-right mb-2" style="color:#ffffff"><strong>Right To Information(RTI) </strong></h1>
    <hr class="mt-0  pt-0 mb-2">
    <h4 class="display-5 text-right mb-1" style="color: #ffffff">About Us</h4>
  </div>
</div>
   
   <div class="container pt-5 mb-0">
        <h1 style="font-size: 30px; color: #0d1491" class="text-right">Right To Information(RTI)</h1>
        <hr class="mt-0 pt-0 mb-2">
      </div>
      <div class="container py-0">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="./img/BachchuSingh.jpg" class="w-100 p-5">
            </div>
            <div class="col-md-8 p-4 my-auto">
              <div class="card-block px-3">
               <h2 class="card-title m-3 servicesinfo">Sh. Bachchu Singh (PCS)</h2>
                          <h4 class="card-text m-3 servicesinfo" style="color: #78335D;">Registrar<br>Gautam Buddha University</h4>
                          <p class="card-text m-3 servicesinfo"><a href="tel:+911202344213"><i class = "material-icons icon_size">phone_iphone</i></a>+91-120-2344213</p>
                           <p class="card-text m-3 servicesinfo"><a href="mailto:registrar@gbu.ac.in?Subject=redirected_from_gbu.ac.in"><i class = "material-icons icon_size">mail</i></a>registrar@gbu.ac.in</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="container py-0">
        <div class="card">
          <div class="row ">
            <div class="col-md-4">
              <img src="./img/SNTiwari.png" class="w-100 p-5">
            </div>
            <div class="col-md-8 p-4 my-auto">
              <div class="card-block px-3">
                <h2 class="card-title m-3 servicesinfo">Sh. S.N.Tiwari</h2>
                          <h4 class="card-text m-3 servicesinfo" style="color: #78335D;">Deputy Registrar<br>Gautam Buddha University</h4>
                          <p class="card-text m-3 servicesinfo"><a href="tel:+911202344212"><i class = "material-icons icon_size">phone_iphone</i></a>+91-120-2344212</p>
                          <p class="card-text m-3 servicesinfo"><a href="mailto:dr@gbu.ac.in?Subject=redirected_from_gbu.ac.in"><i class = "material-icons icon_size">mail</i></a>dr@gbu.ac.in</p>
              </div>
            </div>
          </div>
        </div>
      </div>
<%include footer%>
   