<%include header%>
  <div class="container text-left" >
   	<h1>Site Map</h1>
  	<ul>
  	<li>About</li>
  </ul>
<ul >
	                         <li><a  style="color:blue;" href="/about/home" >Home</a>
	                         	 </li> 
                              <li><a  style="color:blue;" href="/about/vision-&-mission" >Vision & Mission</a>
                              	</li>
                              <li><a  style="color:blue;" href="/about/vc-message" >VC's message</a>
                              	</li>
                              <li><a  style="color:blue;" href="/about/governing-bodies" >Governing Bodies</a>
                              	</li>
                              <li><a  style="color:blue;" href="/about/organisation" >Organisation</a>
                              	</li>
                              <li><a  style="color:blue;" href="/about/gbu-commitee" >GBU Commitee</a>
                              	</li>
                              <li><a  style="color:blue;" href="/about/annual-report" >Annual Report</a>
                              	</li>
                              <li><a  style="color:blue;" href="/about/forums-and-associations" >Forums and Associations</a>
                              	</li>
                              <li><a  style="color:blue;" href="/about/gbu-act">GBU Act, Statute and Ordinance</a>
                              	</li>
                              <li><a  style="color:blue;" href="/about/right-to-information" >Right to Information</a>
                              	</li>
</ul>
    <li>Academics</li>
    <ul>
                              <li>
                              	<a  style="color:blue;" href="/academics/academic-programmes" >Academic Programmes as per CBCS</a>
                              </li>
                              <li>
                              	<a  style="color:blue;" href="/academics/international-collaboration" >International Collaboration</a>
                              </li>
                              <li>
                              	<a  style="color:blue;" href="/academics/international-student-affairs" >International Student Affairs</a>
                              </li>
                              <li>
                              	<a  style="color:blue;" href="/academics/training-consultations" >Training & Consultations</a>
                              </li>
                              <li>
                              	<a  style="color:blue;" href="/academics/hostel-allotment" >Hostel Allotment</a>
                              </li>
                              <li>
                              	<a  style="color:blue;" href="/academics/students-placements" >Students Placements</a>
                              </li>
                              <li>
                              <a  style="color:blue;" href="/academics/research-publication" >Research And Publication</a>
                              </li>
                              <li>
                              <a  style="color:blue;" href="/academics/ieee-gbu-student-branch" >IEEE-GBU Student Branch</a>
                              </li>
                              <li>
                              	<a  style="color:blue;" href="/academics/national-service-scheme" >National Service Scheme</a>
                              </li>
                             <li> <a  style="color:blue;" href="/academics/anti-ragging" >Anti Ragging</a>
                              </li>
                              <li><a  style="color:blue;" href="/academics/nirf-report" >NIRF Report</a>
                              </li>
                              <li><a  style="color:blue;" href="/academics/student-satisfaction-survey" >Student Satisfaction Survey</a>
                              </li>
                              <li><a  style="color:blue;" href="/academics/national-academic-depository" >National Academic Depository</a>
                              </li>

                            </ul>
         <li>Schools</li>  
         <ul>               
                       <li><a style="color: blue" href="/schools/som">Management</a>
                       	</li> 
                        <li><a style="color: blue" href="/schools/soict">Information & Communication Technology</a>
                        </li> 
                        <li><a style="color: blue" href="/schools/soe">Engineering</a>
                        </li> 
                        <li><a style="color: blue" href="/schools/sob">Biotechnology</a>
                        </li> 
                        <li><a style="color: blue" href="/schools/sovs">Vocational Studies & Applied Sciences</a>
                        </li> 
                        <li><a style="color: blue" href="/schools/sobs">Buddhist Studies & Civilization</a>
                        </li> 
                        <li><a style="color: blue" href="/schools/soljg">Law, Justice & Governance</a>
                        </li> 
                        <li><a style="color: blue" href="/schools/soh">Humanities & Social Sciences</a>
                        </li> 
                        </ul> 
                        <ul>
         <li><a style="color: black" href="/admissions">Admissions</li></a> 
         <li><a style="color: black" href="/examinations">Examination</li></a>
         <li><a style="color: black" href="/placements">Placements</li> </a>
         <li><a style="color: black" href="/contact-us">contact</li>  </a>              
                        </ul>

</div>
<%include footer%>