<%include header%>
<!-- sliding banner start from here -->
<section>
	<div class="container-fluid" style="background-color:#584f4f;">
		<div class="row">
			<div class="col-12 p-0">
				<div id="demo" class="carousel slide shadow carousel-fade" data-ride="carousel">
					<!-- Indicators -->
					<ul class="carousel-indicators">
						<li data-target="#demo" data-slide-to="0" class="active"></li>
						<li data-target="#demo" data-slide-to="1"></li>
						<li data-target="#demo" data-slide-to="2"></li>
					</ul>
					<!-- The slideshow -->
					<div class="carousel-inner">
						<div class="carousel-item active">
							<img src="../../../sports/banner1.jpg" id="fill" width="100%">
							<div class="carousel-caption py-2 px-1" id="carousel-capton-text">
								<h2>Eklavya Sports Complex</h2>
							</div>
						</div>
						<div class="carousel-item">
							<img src="../../../sports/banner2.jpg" id="fill" width="100%">
							<div class="carousel-caption py-2 px-1" id="carousel-capton-text">
								<h2></h2>
							</div>
						</div>
						<div class="carousel-item">
							<img src="../../../sports/banner3.jpg" id="fill" width="100%">
							
							<div class="carousel-caption py-2 px-1" id="carousel-capton-text">
								<h2></h2>
							</div>
						</div>
					</div>
					<!-- Left and right controls -->
					<a class="carousel-control-prev" href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
					</a>
					<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- sliding banner end here -->
<!-- about section start -->
<section>
	<div class="container">
	<h5 class=" text-lg-left mt-3 mb-0">About Sport Council</h5>
	<div class=" mb-3 mt-2 float-left" style="height: 4px; width: 7%; background-color:#FB8C00 ">
	</div>
	<br>
	<br>
	<p>
		The university promotes multi dimensional growth with emphasis on an integrated physical and intellectual training. Though in its formative stage, it has appointed a physical training officer and has devised special slots in daily curriculum for physical training, track and field activities, and other sports both indoor and outdoor ones. A huge sports ground with an eight lane track is shaping physical health of its inmates.
	</p>
	<p>
		Shauryotasva, annual sports meet aims at motivating students participate and add physical extensions to their intellectual quests. Recently concluded the first sports meet Shauryotasva 09 witnessed an excellent display of sportsman’s spirits of students and faculty members.
	</p>
	<h5 class=" text-lg-left mt-3 mb-0">Sports Facilities</h5>
	<div class=" mb-3 mt-2 float-left" style="height: 4px; width: 7%; background-color:#FB8C00 ">
	</div>
	<br>
	<br>
	<p>The sports and games facilities in the university include:
		• Synthetic Lawn-Tennis courts with floodlight 04 Nos.<br>
		• Synthetic Volleyball courts with floodlight 04 Nos.<br>
		• Synthetic Basketball courts with floodlight 03 Nos.<br>
		• Gym Facility in Girls Hostel.<br>
		• Gym Facility in Faculty Club.<br>
		• Gym Facility in Type II & III.<br>
		• National Level Cricket Stadium with pavilion of sitting approx. 65o persons.<br>
		• Practices pitch 07 Nos.<br>
		• Soccer cum track and field.<br>
		• A 5 target Air Pistol Shooting Range.<br>
		• ITTF approved Table-Tennis Table in Sports Center 06 Nos.<br>
		• Indoor Stadium with facilities of 08 Badminton Courts, 01 Basketball Court, 02 Squash Courts.<br>
	    • Indore Stadium: Centre Playing Area 20 x 40 m. with PVC approved Sports Flooring, Seating Capacity- 2000 persons.</p>
	    <h5 class=" text-lg-left mt-3 mb-0">Proposed sports facilities</h5>
	<div class=" mb-3 mt-2 float-left" style="height: 4px; width: 10%; background-color:#FB8C00 ">
	</div>
	<br>
	<br>
	<p>• Hockey Astro - turf Stadium with pavilion of sitting approx. 650 persons. <br>
• Synthetic Athletic Cum Soccer Stadium with pavilion of sitting approx. 650 persons.<br>
• Olympic size Swimming Pool cum Diving Pool with sitting approx. 600 persons.</p>
 <h5 class=" text-lg-left mt-3 mb-0">List of Sports Coaches</h5>
	<div class=" mb-3 mt-2 float-left" style="height: 4px; width: 10%; background-color:#FB8C00 ">
	</div>
	<br>
	<br>
  <div class="table-responsive">
   <table class="table table-hover table-bordered">
<tbody>
<tr>
<th>
S.No
</th>
<th>
Coach
</th>
<th>
Time
</th>
</tr>
<tr>
<td>
1.
</td>
<td>
Badminton Coach
</td>
<td>
06:00pm &ndash; 08:30 pm
</td>
</tr>
<tr>
<td>
2.
</td>
<td>
Basketball Coach
</td>
<td>
06:00pm &ndash; 08:30 pm
</td>
</tr>
<tr>
<td>
3.
</td>
<td>
Cricket Coach
</td>
<td>
04:30pm &ndash; 07:00 pm
</td>
</tr>
<tr>
<td>
4.
</td>
<td>
Football Coach
</td>
<td>
04:30pm &ndash; 07:00 pm
&nbsp;
</td>
</tr>
<tr>
<td>
5.
</td>
<td>
Table-Tennis Coach
</td>
<td>
06:00pm &ndash; 08:30 pm
&nbsp;
</td>
</tr>
<tr>
<td>
6.
</td>
<td>
Volleyball Coach
&nbsp;
</td>
<td>
06:00pm &ndash; 08:30 pm
&nbsp;
</td>
</tr>
</tbody>
</table>
</div>

</div>	    
</section>
<!-- about section end -->
<%include footer%>