<%include header%>
    <div class="jumbotron mb-0 clubheader" style="background-image:url(img/banner5.png);background-size: cover; background-repeat: no-repeat; background-position: inherit; color: #ffffff">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0">
        <strong>
        STUDENTS PLACEMENTS
        </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
    <br>
    <!-- End pagr title -->
    <div class="container">
    <div class="container ">
      <h3 class=" text-lg-left mt-4 mb-0">
      Students Placements
      </h3>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 20%; background-color:#FB8C00 "></div>
    </div>
  </div>
    <br>
    <div class="container">
      <div class="container">
        <p class="card-text text-justify mt-2 mb-4">
        In this competitive world, managerial leadership requires both excellent functional skills and exceptional outlook. The CRC helps students in finding appropriate summer projects and final placements. The CRC involves students strategically for summer and final placements. GBUSM placement process aims to match the requirement of the recruiters and the aspirations of the students.
      </p>
      </div>
      
    </div>
    <br>
    
    <div class="container table">
      <div class="container ">
      <h3 class=" text-lg-left mt-2 mb-0">
      Downloads
      </h3>
      <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 20%; background-color:#FB8C00 "></div>
    </div>
      <table class="table table-hover table-bordered mt-2">
            <thead>
              <tr>
                <th scope="col">Sl.</th>
                <th scope="col">Details :</th>
                <th scope="col">Download Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td scope="row">1</td>
                <td>Placement 2017-18  <img src="http://www.gbu.ac.in/images/new.gif"></td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/Placementdoc_4April18.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              <tr>
                <td scope="row">2</td>
                <td>Placement 2016-17 <img src="http://www.gbu.ac.in/images/new.gif"></td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/Placement16%20-17_13July2017.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              
              <tr>
                <td scope="row">3</td>
                <td>Placement 2016</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/CRC_Placement_21July2016.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              <tr>
                <td scope="row">4</td>
                <td>Placement 2015</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/Website_Placement_28July%202015.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              <tr>
                <td scope="row">5</td>
                <td>Placement 2014</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/Placement%202014%20Link_1stDecember14.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              <tr>
                <td scope="row">6</td>
                <td>Placement 2013</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/Placement%202013_1st%20December14.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              <tr>
                <td scope="row">7</td>
                <td>Placement 2012</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/Placement%20link%202012_24August2015.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              <tr>
                <td scope="row">8</td>
                <td>Placement 2011</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/PlacementWebmatter2011.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
              <tr>
                <td scope="row">9</td>
                <td>Placement 2010</td>
                <td><a class="text-light" href="http://www.gbu.ac.in/Placements/PlacementWebmatter2010.pdf"><button class="btn btn-info ">Download</button></a></td>
              </tr>
            </tbody>
          </table>
    </div>
<%include footer%>