<%include header%>
	
<!-- body section start -->
<div class="container mt-4">
									
					       <section>
									<h3 class="text-lg-left">Study Circles in GBU</h3>
									<div style="height: 5px; width: 7%; background-color:#FB8C00"></div>
									<br>
									<br>
									<div class="text-justify table-responsive table-bordered">
										<table class="table table-hover">
											<thead>
												<tr>
													<th>S.No.</th>
													<th>Details of Study Circle</th>
													<th>View / Download</th>
												</tr>
											</thead>
											<tbody >
												<!-- important!!! whenever add pdf upload here (../../gbudata/studycircle/som.pdf) -->
												<tr>
													<td>1.</td>
													<td>University School of Management</td>
													<td><a class="text-light" href="#" target="_0"><button class="btn btn-info btn-sm">View Details</button></a></td> 
												</tr>
												<tr>
													<td>2. </td>
													<td>University School of Biotechnology</td>
													<td><a class="text-light" href="#" target="_0"><button class="btn btn-info btn-sm">View Details</button></a></td>
												</tr>
												<tr>
													<td>3.</td>
													<td>University School of Information & communications technology</td>
													<td><a class="text-light" href="#" target="_0"><button class="btn btn-info btn-sm">View Details</button></a></td>
												</tr>
												<tr>
													<td>4. </td>
													<td>University School of Engineering</td>
													<td><a class="text-light" href="#" target="_0"><button class="btn btn-info btn-sm">View Details</button></a></td>
												</tr>
												<tr>
													<td>5. </td>
													<td>University School of Humanities & Social Sciences</td>
													<td><a class="text-light" href="#" target="_0"><button class="btn btn-info btn-sm">View Details</button></a></td>
												</tr>
												<tr>
													<td>6. </td>
													<td>University School of Vocational Studies &amp; Applied Sciences</td>
													<td><a class="text-light" href="#" target="_0"><button class="btn btn-info btn-sm">View Details</button></a></td>
												</tr>
												<tr>
													<td>7 </td>
													<td>University School of Law Justice & Governance</td>
													<td><a class="text-light" href="#" target="_0"><button class="btn btn-info btn-sm">View Details</button></a></td>
												</tr>
												<tr>
													<td>8 </td>
													<td>University School of Buddhist Studies &amp; Civilizations</td>
													<td><a class="text-light" href="#" target="_0"><button class="btn btn-info btn-sm">View Details</button></a></td>
												</tr>
												
											</tbody>
										</table>
									</div>
						   </section>
</div>
<%include footer%>