<%include header%>
    <div class="jumbotron mb-0 clubheader">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0">
        <strong>
        STUDENTS PLACEMENTS
        </strong>
        </h1>
        <!-- <hr class="mt-0  pt-0 mb-1"> -->
      </div>
    </div>
    <!-- End pagr title -->
    <!-- Start Nevigation  -->
    <nav class="navbar navbar-expand-md navbar-dark navbarcolour">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbaraa" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
          <!-- <ul class="navbar-nav mx-auto">
            <li class="nav-item  active">
              <a href="" class="nav-link active "></a>
            
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
              
            </li>
            <li class="nav-item">
              <a href="" class="nav-link"></a>
              
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link mr-0"></a>
              
            </li>
            <li class="nav-item ">
              <a href="" class="nav-link mr-0"></a>
              
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
    <!-- Nevigation End -->
    <div class="container">
      
      <div class="card bordernow  mt-5 mb-5">
        <div class="card-body">
          <div class="container ">
              <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">
                Students Placements
              </h1>
              <hr class="mt-2 mb-5">
            </div>
          
          <p class="card-text text-justify mt-2 mb-4">
            In this competitive world, managerial leadership requires both excellent functional skills and exceptional outlook. The CRC helps students in finding appropriate summer projects and final placements. The CRC involves students strategically for summer and final placements. GBUSM placement process aims to match the requirement of the recruiters and the aspirations of the students.
          </p>
          <div class="m-3 text-justify text-center">
          	<div class="xcdx-btn mt-5">
          	<a  href="http://www.gbu.ac.in/Placements/Placementdoc_4April18.pdf" target="_blank">Placement 2017-18</a> <img src="http://www.gbu.ac.in/images/new.gif"></div><br>
			<div class="xcdx-btn ">
          	 <a  href="http://www.gbu.ac.in/Placements/Placement16%20-17_13July2017.pdf" target="_blank">Placement 2016-17</a> <img src="http://www.gbu.ac.in/images/new.gif"> </div><br>
<div class="xcdx-btn"> 
          	 <a  href="http://www.gbu.ac.in/Placements/Placement16%20-17_13July2017.pdf" target="_blank">Placement 2016-17</a> <img src="http://www.gbu.ac.in/images/new.gif"> </div><br>
<div class="xcdx-btn ">
          	 <a  href="http://www.gbu.ac.in/Placements/CRC_Placement_21July2016.pdf" target="_blank">Placement 2016 </a></div><br>
          	 <div class="xcdx-btn ">
          	 <a  href="http://www.gbu.ac.in/Placements/Website_Placement_28July%202015.pdf" target="_blank">Placement 2015 </a></div><br>
<div class="xcdx-btn ">
          	 <a  href="http://www.gbu.ac.in/Placements/Placement%202014%20Link_1stDecember14.pdf" target="_blank">Placement 2014 </a></div><br>
<div class="xcdx-btn ">
          	 <a  href="http://www.gbu.ac.in/Placements/Placement%202013_1st%20December14.pdf" target="_blank">Placement 2013 </a></div><br>
<div class="xcdx-btn ">
          	 <a  href="http://www.gbu.ac.in/Placements/Placement%20link%202012_24August2015.pdf" target="_blank">Placement 2012</a> </div><br>
<div class="xcdx-btn ">
          	 <a  href="http://www.gbu.ac.in/Placements/PlacementWebmatter2011.pdf" target="_blank">Placement 2011</a> </div><br>
<div class="xcdx-btn">
          	 <a  href="http://www.gbu.ac.in/Placements/PlacementWebmatter2010.pdf" target="_blank">Placement 2010</a>
          	 </div> 
          </div>
            
  </div>
</div>

</div>
<%include footer%>