<%include header%>
   <head>
      <title>Gautam Buddha University</title>
      <link rel="icon" type="image/gif/png" href="./img/logo_gbu.png">
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- Custom CSS -->
      <link rel="stylesheet" type="text/css" href="./css/style.css">
      <link rel="stylesheet" type="text/css" href="css/now.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--- Animation -->
      <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
   </head>
   <body >
      <!--nav bar section start from here -->


<div class="jumbotron mb-0 clubheader banner-bg" style="background-image: url(img/banner3.png);">
  <div class="banner-over" id="banner-over" style="background-image: url(img/pattern.png)!important;">
    <div class="jumbotron">
      <div class="container mb-0 ">
        <h1 class="font-weight-lighter display-4 mb-0 text-left" style="color: #ffffff">
          <strong>
          Tenders
          </strong>
        </h1>
        <hr class="mt-0  pt-0 mb-1">
      </div>
    </div>
  </div>
</div>
<div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour_rohit" role="alert">
  This section consists of all the Tenders!
</div>
<br>
<div class="container">
		<h2 class="text-lg-left mt-4 mb-0">List of Tenders</h2>
		<div class=" mb-3 mt-2 float-left" style="height: 5px; width: 20%; background-color:#FB8C00 "></div>

<br><br>

	<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
  <div class="card-body">
    <h5 class="card-title_rohit">Tender for Supply and Installation of Computer hardware</h5>

    <a href="#" class="btn btn-primary  float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
  <div class="card-body">
    <h5 class="card-title_rohit">Tender for Comprehensive Annual Maintenance Contract of HP Make Printers - 173 Nos</h5>

    <a href="#" class="btn btn-primary  float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
  <div class="card-body">
    <h5 class="card-title_rohit">Tender for Operation & Maintenance of 500 KW Roof Top Solar System For Two Years</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
  <div class="card-body">
    <h5 class="card-title_rohit">Tender for Replacement of Stainless Steel Body For 80 Liter Water Cooler</h5>

    <a href="#" class="btn btn-primary  float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
  <div class="card-body">
    <h5 class="card-title_rohit">Tender for Supplying and Installation of Insulating mat in Sub Stations in GBU</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
  <div class="card-body">
    <h5 class="card-title_rohit">Tender Bid for Selection of Firm for Providing Various Services i.e. Photocopy, Print Out, Binding Work and Sale of Snacks in Bodhisattav Dr. B.R. Ambedkar Library for Three Years</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>


<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Tender for Selection of Firm for Running Canteen at SOM Bldg, GBU For A Period Of Three Years</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Tender for Selection of Firm for Running Tuck Shop at 08 Schools, GBU for a Period of Three Years</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Tender for Selection Of Firm For Running Tuck Shop At Girls Hostel, GBU For A Period Of Three Years

</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Tender for Refilling of Fire Extinguisher with Replacement Old Dismantled Parts</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Tender for for Disposal of Old and Condemned Vehicle</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Tender for Supply, Installation, Testing and Commissioning of CCTV Surveillance Systems in Girls Hostels</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 28/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Tender for Supply and Fixing of M.S. Railing on Boundary Wall of GBU Campus

</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 24/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Quotation for Supply of security cabin 6x4x7 in GBU campus

</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>

<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 25/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Notice Inviting Quotations for Abhivyanjana-The GBU Fest 2019 For Printing of Banners,Brochures,Certificates etc



</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 25/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Quotation for Supply of Sports Items
</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
<div class="card mt-2 mb-3">
  <div class="card-header">
    Date 25/09/2019
  </div>
 <div class="card-body">
    <h5 class="card-title_rohit">Quotation for Supply of Spares for Electric Geysers

</h5>

    <a href="#" class="btn btn-primary float-right">Details</a>
  </div>
</div>
	</div>
	</body>
<%include footer%>