<%include header%>
<section>
 <div class="container">
    <h4 class=" text-lg-left mt-3 mb-0">UGC 12 B Certificate</h4>
    <div class=" mb-3 mt-2 float-left" style="height: 5px; width: 10%; background-color:#FB8C00 ">
    </div>
  </div>
  <br>
  <br>
  <p>University Grants Commission,New Delhi has granted Gautam Buddha University recognition under section 12(B) of the UGC Act, 1956.
  	<br>
  <a href="../../ugc/UGC_12BCertificate_28June19.pdf"><button type="button" class="btn btn-light">UGC 12 B Certificate</button></a>
  </p>


</section>




<%include footer%>