<%include header%>
<section>
<div class="section-1 p-4">
    <div class="container">
      <div class="row " style="padding: 20px 0px;">
        <div class="column col-md-6 " style=" background-image: url(approval/ugc.jpg);background-repeat: no-repeat;background-size: cover;" >
          
        </div>
        <div class="column col-md-6">
          <h2 style="font-size: 22px !important;">UGC 12 B Certificate</h2>​​​​
          <div class=" mb-3 mt-2 float-left" style="height: 2px; width: 20%; background-color:rgb(228, 0, 43);"></div><br><br>
          <p>University Grants Commission,New Delhi has granted Gautam Buddha University recognition under section 12(B) of the UGC Act, 1956.
          The University Grants Commission (UGC) declared fit to receive central assistance (UGC grant) under Section 12 (B)** of UGC Act, 1956 as per approved pattern of assistance under various schemes. 
            <br>
            <br>
            <br>
            <a href="approval/UGC_12BCertificate_28June19.pdf"><button type="button" class="btn btn-success">UGC 12 B Certificate</button></a>
            </p>
        </div>
      </div>
    </div>
  </div>

</section>




<%include footer%>