<%include header%>
        <div class="text-center pt-5" >
  <h1 style="font-weight: 700 ; font-size: 44px; color: #010327">VC message</h1>
  </div>
        <section  id="vc-message-section">
          <div class="p-5 card border-0">
            <div class="row justify-content-center ">
              <div class="col-sm-3 m-auto pl-5">
                  <img class="rounded-circle border border-radius-1 border-warning" src="./img/VC_Sir_BPSharma.jpg" width="200px">
              </div>
              <div class="col-sm-9 my-auto 0pl-3 pr-5">
                <div class="card-block">
                  <p class="card-text">

                    <p class="pl-3">"Education is key to enrich our socio-cultural values and facilitate the all-round scientific
                      and technological development as well as to sustain growth and prosperity in the economy. It is also a
                      potent and purposive intervention to facilitate, object oriented learning, invoke utilitarian skills,
                       consolidate moral values, bring advancement in scientific and technical know how, enhance individual
                       and social commitments, reinforce one’s faith in the self and shape the individual as well as societal
                        behavior of generations to come.
                    </p>
                    <p class="pl-3">In the wake of Fourth Industrial Revolution (4IR), our education system needs to master
                      various emerging breakthroughs in technology and also cope with the social and economic changes.
                      A host of new disciplines like data science, robotics, artificial intelligence, business informatics,
                       nano-technology, quantum computing, genomics, biotechnology, the Internet of Things, the Industrial
                        Internet of Things, fifth-generation wireless technologies, precision drones, additive manufacturing/
                        3D printing and evolution of fully autonomous, self driven and alternative energy vehicles are going
                        to disrupt almost every industry into every country. On the economic front, after experiencing full
                        cycle of globalisation, we are now at the threshold of de-globalisation. The ongoing strife in social
                        and other spheres of life can best be resolved through our rich philosophical traditions of Buddhism
                         and the ancient wisdom enshrined into our scriptures service Vedic age and other sources of rich heritage.
                    </p>
                    <p class="pl-3">So, we at the GBU have a firm resolve to endeavor, attain and outpace various international
                      benchmarks of quality and innovativeness in education, as well as to infuse education with our rich
                      heritage, ancient wisdom and national ethos, along with emphasis to integrate ethics & values in
                      the conduct behavior of our graduating students. Indeed, at the GBU we have sustained commitment for
                      all these goals."
                    </p>
                    <h6 class="float-right">Prof. Bhagwati Prakash Sharma<br>Vice-Chancellor<br>Gautam Buddha University</h6>
                </div>
              </div>
            </div>
          </div>
        </section>
       
<%include footer%>