<%include header%>
        <div class="jumbotron mb-0 clubheader bgimage_about_mission_mukul">
          <div class="container mb-0  ">
            <h1 class="display-4 text-right mb-2" style="color: white"><strong>Vision & Mission</strong></h1>
            <hr class="mt-0  pt-0 mb-2">
            <h4 class="display-5 text-right mb-1" style="color: #78335D">About Us</h4>
          </div>
        </div>
<div class="container">
	<div class="pt-5">
    <div class="container mb-0">
      <h1 style="font-size: 30px; color: #0d1491" class="text-right">Vision</h1>
      <hr class="mt-0 pt-0 mb-2">
    </div>
      <p>&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;"A globally acclaimed integrated academic and research institution that creates a vibrant community of
                   intellectuals and entrepreneurs endowed with Character,Creativity,Competence and Commitment,
                   who can inspire meaningful transformations to ensure holistic growth and development of the
                   society."</p>
                   <div class="text-center pt-5" >
                   <h1 style="font-size: 30px; color: #0d1491" class="text-right">Mission</h1>
                   <hr class="mt-0 pt-0 mb-2">
                   </div>
				<p>&nbsp; The Mission of University is expressed though the following goals:</p>
		<ul>
	     <li>To generate a community of scholars who can manage continuity and change.</li>
       <li>To seek and incorporate the best practices in teaching and learning from around the world.</li>
       <li>To inculcate in the learners due appreciation for ethical, ecological & economic issues of knowledge.</li>
       <li>To provide knowledge based scientific solutions to satisfy the need of society and industry.</li>
       <li>To ensure an academic environment that guarantees avenues for all historically excluded sections of the society.</li>
			</ul>
	</div>
  </div>
<hr class="mt-0 pt-0 mb-2">

<%include footer%>