<!DOCTYPE html>
<html>
  <head>
    <title>Website Council</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="gbuclubs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
      <!-- home -->
    <div id="home">
        <!--/top-nav -->
        <div class="jumbotrone " style="height: 100px; width: 100%;">
          
        </div>
        <!-- //top-nav -->
        <!-- banner slider -->
        <div id="homepage-slider" class="st-slider">
            <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked="" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide1" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide2" />
            <input type="radio" class="cs_anchor radio" name="slider" id="slide3" />
            <div class="images">
                <div class="images-inner">
                    <div class="image-slide">
                        <div class="banner-w3pvt-1">
                            <div class="overlay-w3ls">

                            </div>

                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3pvt-2">
                            <div class="overlay-w3ls">

                            </div>
                        </div>
                    </div>
                    <div class="image-slide">
                        <div class="banner-w3pvt-3">
                            <div class="overlay-w3ls">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="labels">
                <div class="fake-radio">
                    <label for="slide1" class="radio-btn"></label>
                    <label for="slide2" class="radio-btn"></label>
                    <label for="slide3" class="radio-btn"></label>
                </div>
            </div>
            <!-- banner-hny-info -->
            <div class="banner-hny-info">
                <h3>We Design Stunning
                    <br>Digital Websites</h3>
            </div>
            <!-- //banner-hny-info -->
        </div>
        <!-- //banner slider -->
    </div>
    <!-- //banner -->

    <!-- //home -->

    <!-- about -->
    <section class="about py-5">
        <div class="container p-md-5">
            <div class="about-hny-info text-left px-md-5">
                <h3 class="tittle-w3ls mb-3"><span class="pink">Aim</span>  and Resolution</h3>
                <p class="sub-tittle mt-3 mb-4">we design and build an interactive, friendly a beautiful website, which helps you and others to connect with Gautam Buddha University in efficient manner.</p>
            </div>
        </div>
    </section>
    <!-- //about -->
    <!--/ab-->
    <section class="banner_bottom py-5">
        <div class="container py-md-5">
            <div class="row inner_sec_info">

                <div class="col-md-6 banner_bottom_grid help">
                    <img src="images/ab.jpg" alt=" " class="img-fluid">
                </div>
                <div class="col-md-6 banner_bottom_left mt-lg-0 mt-4">
                    <h4><a class="link-hny" href="services.html">
                            Message</a></h4>
                    <p>If you are a student of Gautam Buddha University or a faculty of this university, so if you need any update of wrong data or new data entries on website, you can contact us.</p>
                    <p>Lorem Ipsum convallis diam conYou can contact to members and faculty coordinator of website council to make update.</p>
                </div>
            </div>
           
        </div>
    </section>
    <!--//ab-->

    <!--/services-->
    <section class="services" id="services">
        <div class="over-lay-blue py-5">
            <div class="container py-md-5">
                <div class="row my-4">
                    <div class="col-lg-5 services-innfo pr-5">
                        <h3 class="tittle-w3ls two mb-3 text-left"><span class="pink">Our</span> Team</h3>
                        <p class="sub-tittle mt-2 mb-sm-3 text-left">We are always looking out to get more fantastic people on our team.</p>
                        <a href="services.html"><img src="images/ab2.jpg" alt="w3pvt" class="img-fluid"></a>
                    </div>
                   
                </div>
            </div>
        </div>
    </section>
    <!--//services-->
    <section class="team py-5" id="appointment">
        <div class="container py-md-5">
             <h3 class="tittle-w3ls text-left mb-5"><span class="yellow">Team </span> Member</h3>
            <div class="row mt-lg-5 mt-4">
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid" src="wc/om.jpeg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Chairman</span>
                            <h3>Dr. Om Prakash</h3>
                            <p>University School Of Humanities & Social Sciences</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd second text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid" src="wc/Arvind_Kumar.jpeg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Dr. Arvind kumar Singh</h3>
                            <p>University School Of Buddhist Studies & Civilization</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Vinay_kumar.jpeg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Dr. Vinay kumar Litoria</h3>
                            <p>Director Corporate Relations Cell</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="row mt-lg-5 mt-4">
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Sandeep_Singh_Rana.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Dr. Sandeep Singh Rana</h3>
                            <p>System Manager <br> Central Computer Center</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd second text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Navaid_Z_Rizvi.jpeg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Dr. Navaid Rizvi member</h3>
                            <p>University School Of Information And Communication Technology</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Vimlesh_Kumar.jpeg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Member</span>
                            <h3>Dr. Vimlesh Kumar Ray</h3>
                            <p>University School Of Information And Communication Technology</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                 <div class="row mt-lg-5 mt-4">
                  <div class="col-md-12 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Pallavi.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Convener</span>
                            <h3>Mrs. Pallavi Upadhyay </h3>
                            <p>Technical Superintendent</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-facebook"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-pinterest"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                 </div>
        </div>
    </section>
    <!-- /projects -->

    <!--//services-->
    <section class="team py-5" id="appointment">
        <div class="container py-md-5">
             <h3 class="tittle-w3ls text-left mb-5"><span class="yellow">Team </span> Member</h3>
            <div class="row mt-lg-5 mt-4">
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid" src="wc/Navneet_Maurya.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Developer</span>
                            <h3>Navneet Chandra Maurya</h3>
                            <p>Student of USICT</p>
                            <div class="icon-social team mt-4">
                                <a href="https://www.linkedin.com/in/navneetmaurya/" class="button-footr">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                                <a href="https://twitter.com/navi_maurya" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="https://www.hackerrank.com/mauryanavis" class="button-footr">
                                    <img width="20px" src="wc/hackerrank.png" alt="hackerrank">
                                </a>
                                <a href="https://github.com/Navimaurya" class="button-footr">
                                    <span class="fa fa-github"></span>
                                </a>
                                <a href="mailto:mauryanavis@gmail.com" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Mukul_rai.jpeg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Developer</span>
                            <h3>Mukul Rai</h3>
                            <p>Student of USICT</p>
                            <div class="icon-social team mt-4">
                              <a href="https://www.linkedin.com/in/raimukul/" class="button-footr">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                                <a href="https://twitter.com/raimukul68585" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="https://www.hackerrank.com/raimukul" class="button-footr">
                                    <img width="20px" src="wc/hackerrank.png" alt="hackerrank">
                                </a>
                                <a href="mailto:17ics055@gbu.ac.in" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Pranjal.jpeg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Developer</span>
                            <h3>Pranjal Varshney</h3>
                            <p>Student of USICT</p>
                            <div class="icon-social team mt-4">
                                <a href="https://www.linkedin.com/in/rohit-rajsurya-prasad-5836a7197" class="button-footr">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                                <a href="https://twitter.com/PrasadRajsurya?s=08" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="https://www.hackerrank.com/rohit_rajsurya10" class="button-footr">
                                    <img width="20px" src="wc/hackerrank.png" alt="hackerrank">
                                </a>
                                <a href="https://github.com/pranjalvarshney" class="button-footr">
                                    <span class="fa fa-github"></span>
                                </a>
                                <a href="mailto:" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
              <div class="row mt-lg-5 mt-4">
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Ishan.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Developer</span>
                            <h3>Ishan Varshney</h3>
                            <p>Student of USICT</p>pranjalvarshney
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <img width="20px" src="wc/hackerrank.png" alt="hackerrank">
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd second text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid" src="wc/rohit_rajsurya_prasad.jpg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Developer</span>
                            <h3>Rohit Rajsurya Prasad</h3>
                            <p>Student of USICT</p>
                            <div class="icon-social team mt-4">
                                <a href="https://www.linkedin.com/in/rohit-rajsurya-prasad-5836a7197" class="button-footr">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                                <a href="https://twitter.com/PrasadRajsurya?s=08" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="https://www.hackerrank.com/rohit_rajsurya10" class="button-footr">
                                    <img width="20px" src="wc/hackerrank.png" alt="hackerrank">
                                </a>
                                <a href="https://github.com/rajrohit10" class="button-footr">
                                    <span class="fa fa-github"></span>
                                </a>
                                <a href="mailto:" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 team-gd text-center">
                        <div class="team-img mb-4">
                            <img class=" img-fluid"src="wc/Aaradhy.jpeg" style="height: auto; width: 250px;" alt="user-image">
                        </div>
                        <div class="team-info">
                            <span class="sub-tittle-team">Developer</span>
                            <h3>Aaradhy Srivastsva</h3>
                            <p>Student of USICT</p>
                            <div class="icon-social team mt-4">
                                <a href="#" class="button-footr">
                                    <span class="fa fa-linkedin"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-twitter"></span>
                                </a>
                                <a href="#" class="button-footr">
                                    <img width="20px" src="wc/hackerrank.png" alt="hackerrank">
                                </a>
                                <a href="#" class="button-footr">
                                    <span class="fa fa-envelope"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
    </section>
  
    </body>
  </html>
