<!DOCTYPE html>
<html>
  <head>
    <title>Website Council</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="gbuclubs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="jumbotron mb-0 clubheader">
      <div class="container mb-0 ">
        <h1 class="display-4 mb-0"><strong>CLUBS & SOCIETIES</strong></h1>
        <hr class="mt-0  pt-0 mb-1">
        <h3 class="display-5 text-right mb-0">Website Council</h3>
      </div>
    </div>
    <div class="alert alert-dark mt-0 mb-0 ml-0 mr-0 text-center navbarcolour" role="alert">
      This is the official page of Website Council. Visit for regular updates!
    </div>
    <div class="container">
      <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">ABOUT Website Council</h1>
      <hr class="mt-2 mb-5">
    </div>
    <div class="container">
      <div class="ml-3 text-justify">
        <p><ul>
          <li>Dishayan, the dramatics club is the largest of all university clubs with about five hundred members.</li>
        <li>It is the first club in the university to have its own blog, on which only the administrator can write.</li>
        <li>It showcases the activities of the club. The aim of Dishayan is to provide the students a forum for the expression of their talent of acting and directing plays.</li>
      <li>It also tries to sensitize them on social issues through the selection of such plays for enactment that draw our attention to the ills that plague our society.</li>
      <li> The club also provided an avenue of expression to those who indulged in creative writing through its unit dedicated to literature until an independent literary club was not established.</li>
      <li>The club has a session every week.</li>
    </ul></p>
      </div>
    </div> <br>
    <div class="container">
      <h1 class="font-weight-light text-center text-lg-right mt-4 mb-0">TEAM MEMBERS</h1>
      <hr class="mt-2 mb-1">
    </div>
    <br>
    <div class="container">
      <h3 class="font-weight-dark text-lg-left  mt-4 mb-0">01.Faculty Coordinators</h3>
      <hr class="mt-2 mb-5">
    </div>
    <div class="container">
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Alpa Yadav</div>
            <div class="designeventnew text-center">Contact: +919999993644, <br>ext. No. 4372</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Sandeep Sharma</div>
            <div class="designeventnew text-center">Contact: +918800978609, <br>ext. No. 6087</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Muhammad Asif</div>
            <div class="designeventnew text-center">Contact: +918800544229, <br>ext. No. 4449</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Dr. Rooplai Srivastava</div>
            <div class="designeventnew text-center">Contact: +919891680347, <br>ext. No. 4447</div>
          </a>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="container">
        <h3 class="font-weight-dark text-lg-left  mt-4 mb-0">02.Student Coordinators</h3>
        <hr class="mt-2 mb-5">
      </div>
      <div class="row text-center text-lg-left">
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/pWkk7iiCoDM/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Akshay Kumar(11/IME/005)</div>
            <div class="designeventnew text-center">General Secretary</div>
            <div class="designeventnew text-center">akshay.nain555@gmail.com <br>9818323797</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/aob0ukAYfuI/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Aakanksha (11/IEE/005)
            </div>
            <div class="designeventnew text-center">Secretary</div>
            <div class="designeventnew text-center">93aakanksha2008@gmail.com <br> 9873855921</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/EUfxH-pze7s/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Deepika (11/IEC/112)
            </div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">deepika.tanwar05@gmail.com <br> 8826643119</div>
          </a>
        </div>
        <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/M185_qYH8vg/400x300" alt="">
            <div class="card-text text-center designevent  mt-1"> Deepakshi (11/ICS/035)
            </div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">deeps1488@gmail.com <br> 9953139092</div>
          </a>
        </div>

        <!-- <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
          <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/AvhMzHwiE_0/400x300" alt="">
            <div class="card-text text-center designevent  mt-1">Jai Vardhan Singh (12/AR/011)
            </div>
            <div class="designeventnew text-center">Member</div>
            <div class="designeventnew text-center">jsingh124@gmail.com <br> 8826358020</div>
          </a>
        </div> -->
      </div>

      <div class="container">
        <div class="container">
          <h3 class="font-weight-light  text-lg-right mt-4 mb-0">EVENTS/ACTIVITIES</h3>
          <hr class="mt-2 mb-5">
        </div>
        <div class="ml-3 text-justify">
      <ul>

        <li> <p>Dishayan has held competitions of skits, street plays and dramatic endorsements along with one or two act plays in Hindi and English and organized a lecture by eminent Israeli playwright and film-screenplay writer Motti Lerner. It also emerged as the first club of the university to put up a show outside of the university when it staged a play at the Jawaharlal Nehru University, New Delhi. The club intends to continue with its activities mentioned above.</p> </li>
          <li><p>The club also plans to invite the Cambridge Rickshaw Theatre Project for a theatre workshop. Formerly known as ‘BackPact’, the Rickshaw Theatre Project has been running for the past five years. Based in Cambridge and run entirely by students it was first started back in 2006 by James Norton as an attempt to combine his passion for theatre, travelling, and children. Since then it has developed and evolved to become what it is today. As the team of students is continually revolving each year’s programme is entirely unique as the group members bring their own knowledge, specialities and passions to the project. Despite this, the core focus of the project has remained the same over the past five years; to take theatre to those children that won’t have had the chance to experience it before, and to give them the freedom to enjoy it.</p></li>
</ul>
        </div>
      </div>
      <!-- photo gallery start-->
      <div class="container">
        <h3 class="font-weight-light  text-lg-right mt-4 mb-0">PHOTO GALLERY</h3>
        <hr class="mt-2 mb-5">
      </div>
<!-- gallery 1st row -->
      <div class="container">
        <div class="row text-center text-lg-left">
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">

            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">

            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">

            </a>
          </div>
          <div class="col-lg-3 col-md-4 col-6">
            <a href="#" class="d-block mb-4 h-100">
              <img class="img-fluid img-thumbnail" src="https://source.unsplash.com/sesveuG_rNo/400x300" alt="">

            </a>
          </div>
        </div>
        <!-- gallery 1st row end -->
        <!-- gallery 2nd row start-->

        <!-- gallery 2nd row end-->
      </div>
    </body>
  </html>
