<p class="mb-3 text-center">
                                 <a href="https://www.youtube.com/watch?v=cnB_pfNGPX8" style="color: white">GBU Learning
                                    Resources</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="https://www.youtube.com/channel/UCmU_Lsw1s03PNjQ0_xE48QQ"
                                    style="color: white">Electrical Engg.</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="https://www.youtube.com/channel/UCqw1kF4WsAS_rybKgqQviXQ"
                                    style="color: white">Applied Mathematics</a>
                              </p>
                              <p class="mb-3 text-center">
                                 <a href="https://www.youtube.com/channel/UClBWls_W9SAfR-O0PNXqPwQ"
                                    style="color: white">Electronics & Communication Engg.</a>
                              </p>