body{
	zoom: 100%;
  text-align:justify; 
  text-justify:auto;
}
p{
  text-align:justify; 
  text-justify:auto;
}
#first-nav{
	background: #78335D !important;
}
#top-navigation{
	background: #fff;
}
#college-name{
	font-size: 18px;
	font-weight: 600;
	color: #010327;
	vertical-align: middle;
	display: inline-block;
}
.navbar-toggler{
	color: #012454;
}
.navbar{
	color: #010327;
	background: #fff;
	/*border-bottom: 3px solid #F4A460; */
}
.nav-1{
	font-size: 13px;
	background: #78335D !important;
	color: #fff !important;
	font-weight: 500;

}
.nav-1:hover{
	font-size: 14px;
	color: #C0C0C0 !important;
	font-weight: 500;

}
#nav-2-box{
	border: 0.1px solid #ecf0f1;
	transform: skewX(15deg);
}
.nav-2{
	font-weight: 600;
	color: #010327;
	font-size: 16px;
	transform: skewX(-15deg);
	text-decoration: none;
}
#nav-2-box:hover{
	transform: skewX(15deg);
	background: #FF4343;
	color: #fff;
	transition: all .5s;
}
.nav-2:hover{
	color: #fff;
	text-transform: skewX(15deg);
}

.main-navigation-wrapper{
  width: 100%;
  background: #fff;
/*  border-top: 3px solid #012454;
*/
}
#main-navigation-item{
}
.main-navigation-a{
  color: #000;
  font-size: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  display: inline-block;
  padding: 8px;
  width: 100%;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  transition: all .7s;
}
.main-navigation-a:hover{
  background: #FF4343;
  color: #fff;
  transform: scale(1.0);
  font-weight: 600;
  text-decoration: none;
}
.toggleNav{
  display:none;
}
.flex-nav ul{
  margin: 0;
  padding: 0;
  list-style:none;
  display:flex;
}
.flex-nav li{
  flex:3;
}
@media all and (max-width: 992px){
  .flex-nav ul{
    flex-wrap:wrap;
  }
  .flex-nav li{
    flex: 1 1 50%;
  }
}
@media all and (max-width: 992px){
  .toggleNav{
    display:block;
  }
  .flex-nav ul{
    display:none;
  }
  .flex-nav ul.open{
    display:flex;
  }
}
.dropdown-menu{
	padding: 10px;
	column-span: all;
}
.dropdown-submenu {
                position: relative;
            }

            .dropdown-submenu> a:after {
                content: ">";
                float: right;
            }

            .dropdown-submenu>.dropdown-menu {
                top: 0;
                left: 100%;
                margin-top: 0px;
                margin-left: 0px;
            }

            .dropdown-submenu:hover>.dropdown-menu {
                display: block;
            }
#main-carousel{
	max-height: 400px;
}
#main-page-news-media{
	background:;
}
#main-page-news-media-box{
	background: lightblue ;
}
#vc-message-section{
	background: ;
}

#section0{
}
#section0-card{
	max-width: 400px;
	height: 400px;
}

#section0-card-header{
	background: #010327;
	color: #fff;
	border-bottom: 2px solid #C0C0C0;
	font-weight: 600;
}
#section0-card-body{
	background: white;

}
#section0-media-body-heading{
	font-weight: 600;
	text-decoration: none;
	font-size: 15px;
	color: #012454;
}
#section0-media-body-text{
	color: #000;
	font-size: 12px;
	text-decoration: none;
	font-weight: 300;
}
#media-date-box{
	background-color: green;
	vertical-align: middle;
}
#media-date-box-heading{
	color: #fff;
}
#media-date-box-p{
	font-size: 10px;
	font-weight: 400;
	color: #fff;
}
#section-0-media-box{

}
#section-0-media-img{

}
#section-0-media-h6{
	font-weight: 600;
}
#section-0-media-p{
	font-size: 13px;
}
#section0-row2{
	background: #cc3636;
	width: 50%;
	text-decoration: none;
}
#section0-row2 a{
	text-decoration: none;
	color: #fff;
}
	#section0-row2-text{
	font-weight: 400;
}
#important-card-header{
	font-size: 15px;
	font-weight: 500;
	background: white;
	color: #000;
	font-size-adjust: all;
	max-height: 40px;
}

#important-card-body{
	font-size: 14px;
}
#section1{

	background: url(./img/17583.jpg) repeat 0 0 ;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%
    width: 100%;
	color: #010327;
}
#header-section-1{
	color: #010327;
}
#section1-card{
	max-height: 330px;
}
#section1-card-body-link{
	color: #000;
	font-size: 14px;
	text-decoration: none;
	font-weight: 500;
}

#section1-card-body-link:hover{
	color: red;
	text-decoration: none;
	font-weight: 500;
}
#section1-carousel{
	position: relative;
	max-height: 350px;

}
#section1-card-header1{
	background: #DC143C;
	color: #fff;
	font-weight: 500;

}
#section1-card-header2{
	background: #C2185B;
	color: #fff;
	font-weight: 500;

}
#header-h1-campus-life{
	text-align: center;
	font-weight: 700;
	color: #000;
}
#header-p-campus-life{
	text-align: center;
	font-weight: 500;
	font-size: 20px;
}
#strong-figure{
	font-size: 25px;
	font-weight: bold;
}
#p-figure{
	font-size: 22px;
}
#section-events{
	background: #FF4343;
}
#events-card{
}
.events-img{
	border-bottom: 4px solid #800000;
}
#section2{
    background: url(./img/17583.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    width: 100%;
	color: #010327;

}
#section-media{
	color: #010327;
	background: #808080;
}
#section3{
}

#section4{
	background: #FFE4C4	;
}
/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active,
.carousel-inner>.row-equal.next,
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left,
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */


.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}

/* schools hover */

.img-hover-zoom{
	overflow: hidden;
}
.img-hover-zoom img{
	filter: blur(2.5px);
    transition: transform .5s ease;
}
.img-hover-zoom h6{
	filter: blur(0px);
	background: white transparent;
	border: 1px solid white;
	padding: 15px;
	position: absolute;
	color: #fff;
	opacity: 0.5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease;
}
.img-hover-zoom:hover img {
    transform: scale(1.05);
    filter: blur(0);
    opacity: 1px;
}
.img-hover-zoom:hover h6{
    display: none;
}

/* schools hover  end*/

.fill {
    width: 100%;
    background-attachment: fixed;
    height: 380px;
    filter: brightness(.9);
    opacity: 1;
}


#library-section-jumbotron{
	background: #DDA0DD;
}
#meditation-center-jumbotron{
	background: #00FA9A;
}
#eveningout-jumbotron{
	background: #FFE4C4;
}

.clubheader{
	background-color: #FB8C00;
	border-radius: 0;
	border: none;
	height: 250px;
}
.navbarcolour{
	background-color: #012425!important;
	color: white;

}
.bordernow {
	border: none;
}
.buttoncolour{
	border-color: #012454;
	color: #012454;
}
.buttoncolour:hover{
	background-color: #FB8C00;

}

.btn-outline-primary{
	color: #000000;
}
.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #FB8C00;
    border-color: #007bff;
    transition: 0.5s;
}

.bgimage_library {
	background-image: url('../img/bannerwhite.png');
}

/* banner*/
.jumbotron {
     background-color: #fefeff00!important; 
  }
.banner-bg{
    
    /*add IMG inline*/
    
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
    }
    .banner-over{
      position: absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

   .clubheader1{
      background-color: #FB8C00;
      border-radius: 0;
      border: none;
      }
      /* Extra small devices (phones, 600px and down) */
      @media only screen and (max-width: 600px) {
      .clubheader1{
      height: 142px;
      }}
      @media only screen and (min-width: 768px) {
      .clubheader1{
      height: 150px;
      }}
      @media only screen and (min-width: 992px) {
      .clubheader1{
      height: 168px;
      }}
      @media only screen and (min-width: 1200px) {
      .clubheader1{
      height: 155px;
      }}
