
table {
	border-collapse:collapse;
	border-spacing:0;
}

ol,ul {
	list-style:none;
}

/*-------------over slide-------------*/
.info-over-slide{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 500px;
	background-color:#4e4f5794;
	color: white;
	transition: 0.5s ease-in-out;
}

/*--------hover over slide ul-------------*/
.info-over-slide:hover{
	transition: 0.5s;
	color: black;
	background-color:#f3f2cb36; 
}

@media screen and (max-width: 800px) { 
    .info-over-slide {
    height: 20rem;
}
}
