<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>GBU | Website Council</title>
    <link rel="icon" type="image/gif/png" href="/img/gbu_logo.png" />
    <!-- Required meta tags -->
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <!--Bootstrap CSS -->
    <link rel="stylesheet" href="/form/css/bootstrap.css" />
    <link rel="stylesheet" href="/form/css/bootstrap-grid.css" />
    <!-- <link rel="stylesheet" href="/form/css/bootstrap-reboot.css" /> -->
    <link rel="stylesheet" href="/form/css/style.css" />
    <link rel="stylesheet" href="/form/cropperjs/dist/cropper.css" />
    <link rel="stylesheet" href="/form/css/agency.min.css" />

    <link
      href="/form/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
      type="text/css"
    />
    <!-- Custom styles for this template-->
    <link href="/form/css/sb-admin-2.css" rel="stylesheet" />

    <!-- JS -->
    <script type="text/javascript" src="/form/js/ckeditor/ckeditor.js"></script>
    <script type="text/javascript" src="/js/jquery.js"></script>
  </head>

  <body></body>
</html>
