<div class="site-wrap">
    <div class="jumbotron mt-0 mb-0 pt-0"
        style="background-color:#e7e7e7ba !important; padding-top: 5rem!important; padding-bottom: 5rem!important">
        <div class="container-fluied content-container">
            <div class="row">
                <div class="col-md-3 mr-0 px-0 tab-col">
                    <div class="tab-container">
                        <%include tabs%>
                    </div>
                </div>
                <div class="col-md-9 ml-0 px-0 form-col">
                    <div class="form-container" id="form-content" style="min-height: 39rem;">
                        <div id="maincontent">
                            <div id="content">
                                <form id="data-form-all">
                                    <div id="data-field" data-form="bio">
                                        <!-- form area -->
                                    </div>
                                    <!-- SUBMIT BUTTON -->
                                    <div class="row mt-5">
                                        <div class="col-12 text-center">
                                            <button id="submit" class="sb1 btn btn--small btn--green">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>