<div class="text-center d-block profesh" style="color: #ffff; background-color:#78335d; padding: 10px 0px; ">
  <h5 class="">Professional</h5>
</div>
<nav class="navbar navbar-expand-md pl-0">
  <div class="text-center   navbar-toggler" style="color: #ffff;  padding: 5px 10px; ">
    <h5 class="">Professional</h5>
  </div>
  <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNav"
    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    &#9776;
    <!-- <span class="navbar-toggler-icon"></span> -->
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav" style="display: initial!important;;">
      <li class="nav-item nav-item-css active">
        <a id="btnbio" data-location="bio" class="nav-link nav-link-css" href="javascript: void(0)">Biography </a>
      </li>
      <li class="nav-item nav-item-css">
        <a id="btnteaching" data-location="teaching" class="nav-link nav-link-css"
          href="javascript: void(0)">Teaching</a>
      </li>
      <li class="nav-item nav-item-css">
        <a id="btnresearchs" data-location="researchs" class="nav-link nav-link-css"
          href="javascript: void(0)">Research</a>
      </li>
      <li class="nav-item nav-item-css">
        <a id="btnpublications" data-location="publications" class="nav-link nav-link-css"
          href="javascript: void(0)">Publications</a>
      </li>
      <li class="nav-item nav-item-css">
        <a id="btnstudents" data-location="students" class="nav-link nav-link-css"
          href="javascript: void(0)">Students</a>
      </li>
      <li class="nav-item nav-item-css">
        <a id="btncontact" data-location="contact" class="nav-link nav-link-css" href="javascript: void(0)">Contact</a>
      </li>
      <div class="line w-100" style="margin: 2rem 0rem!important;">&nbsp;</div>
      <li class="nav-item nav-item-css">
        <a id="btncontact" data-location="contact" class="nav-link nav-link-css" href="/facultyzone/"><i
            class="fas fa-home" style="font-size: 20px;"> </i> Home</a>
      </li>
      <li class="nav-item nav-item-css">
        <a id="btncontact" data-location="contact" class="nav-link nav-link-css" href="/facultyzone/allview"><i
            class="fas fa-list" style="font-size: 20px;"> </i> View all</a>
      </li>
    </ul>
  </div>
</nav>