<%include header%>
<%include navbar%>

<!-- Header -->
<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">
        Welcome To GBU <i class="text-primary">website council!</i>
      </div>
      <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
      <a class="btn btn-primary btn-xl text-uppercase mx-2" href="/facultyzone/profile">Go TO Submit Forms</a>
      <a class="btn btn-primary btn-xl text-uppercase my-2 mx-2" href="/facultyzone/allview">View Others</a>
    </div>
  </div>
</header>

<%include ../footer%>