<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
  <title>Gautam Buddha University</title>
  <link rel="icon" type="image/gif/png" href="../../../img/logo_gbu.png">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Averia Gruesa Libra" rel="stylesheet">
  <!-- Custom CSS -->

  <link rel="stylesheet" type="text/css" href="../../../../../../../../css/style.css">


  <link rel="stylesheet" type="text/css" href="../gallery/assets/css/slide.css">
  <link rel="stylesheet" type="text/css" href="../gallery/assets/css/vr.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--- Animation -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../../admission/animeCssJs/css/anime.css" />
  <link rel="stylesheet" type="text/css" href="../../admission/animeCssJs/css/anime-style.css" />
  <link rel="stylesheet" type="text/css" href="../clubs/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../clubs/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../clubs/css/style.css">

  <!-- video -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
  <!-- video -->


  <script type="text/javascript" src="../../admission/animeCssJs/js/anime.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="../admission/assets/js/on-scroll-fadeUp.js">
  </script>
  <script type="text/javascript">
    function executeQuery() {
      var input = document.getElementById('form-search-input');
      console.log(input)
      var element = google.search.cse.element.getElement('searchresults-only0');
      if (input.value == '') {
        element.clearAllResults();
      } else {
        element.execute(input.value);
      }
      return false;
    }
  </script>
  <!-- e slide -->

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="../admission/admissions.css">
  <!-- Font Awesome -->

</head>

<body>
  <!--nav bar section start from here -->
  <nav class="navbar navbar-dark bg-dark py-0 navbar-expand-lg py-md-0" id="first-nav">
    <div class="navbar-collapse collapse" id="">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item py-0 px-1"><a href="../../../campus-life" class="nav-link nav-1">Campus Life</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../clubs" class="nav-link nav-1">Clubs</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../gallery" class="nav-link nav-1">Photo Gallery</a></li>
        <li class="nav-item py-0 px-1"><a href="http://mail.gbu.ac.in/" class="nav-link nav-1">Webmail</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../library" class="nav-link nav-1">Library</a></li>

        <li class="nav-item py-0 px-1"><a href="../../../naac" class="nav-link nav-1">Privacy Policy</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../iqac" class="nav-link nav-1">Terms and Conditions</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../faqs" class="nav-link nav-1">FAQs</a></li>
      </ul>
    </div>
  </nav>
  <div class="header sticky-top">
    <nav class="navbar py-2 navbar-expand-lg navbar-bgcolor">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../../../../../../../img/gbu_logo.png" style="width: 100%;" class="logo">
          <h5 class="px-1 my-auto" id="college-name">
            गौतम बुद्ध विश्वविद्यालय<br>GAUTAM BUDDHA UNIVERSITY<br>
            <p class="college-name-tag my-auto">Established by the UP GBU Act 2002 UP Act No. 9 of 2002<br>
              Approved by UGC under Section 12-B, NAAC Accredited
            </p>
          </h5>
        </a>
        <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="collapse-button" aria-expanded="false">
          <span><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
          <div class="col-3 d-none d-lg-block"></div>
          <form class=" form-inline my-2 my-lg-0 w-50 mr-0 " id="form-search-box" onsubmit="return executeQuery();">
            <div class="container">
              <label id="search"><input autocomplete="off" class="form-control form-control-sm" id="form-search-input" type="search" placeholder="Search" aria-label="Search" /></label>
            </div>
          </form>

          <div class="my-3 text-center text-md-right ">
            <!-- Facebook -->
            <a class="fb-ic  " href="http://mail.gbu.ac.in/">
              <i id="fa-size" class="fa fa-envelope mx-1 text-danger"></i>
            </a>
            <a class="fb-ic" href="https://www.facebook.com/gbugrnoida.dic/">
              <i id="fa-size" class="fa fa-facebook-official mx-1" style="color:#3b5998 "></i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/gbugrnoida">
              <i id="fa-size" class="fa fa-twitter white-text mx-1" style="color: #1da1f2"> </i>
            </a>
          </div>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main-navigation-wrapper shadow">
      <nav class="container flex-nav">
        <a class="main-navigation-a d-none">Menu</a>
        <ul class="mx-0 justify-content-center">
          <li><a class="main-navigation-a" href="/admissions">Home</a></li>
          <li class="dropdown">
            <a class="main-navigation-a dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">About</a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-12">
                  <a class="dropdown-item" id="sub-main-navigation" href="#schools-programmes">Schools & Programmes</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admissions/team">Admission Team</a>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="main-navigation-a dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admissions Information</a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-12">
                  <a class="dropdown-item" id="sub-main-navigation" href="#/academics/academic-programmes">Admission Brochure 2020</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admission/important-dates">Important Dates</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admission/fee-structure">Fee Structure</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admissions/international-students">International Students</a>
                </div>
              </div>
            </div>
          </li>
          <li><a class="main-navigation-a" href="#">Apply for Admission</a></li>
          <li><a class="main-navigation-a" href="https://youtu.be/awlKnKv17L8" target="_blank">Exam Demo</a></li>
          <li><a class="main-navigation-a" href="/admissions/contact-us">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="gcse-searchresults-only"></div>
  <!--nav bar section end here -->
  <style>
    .gsc-control-cse {
      padding: 0rem;
    }

    .xxx-l {
      font-size: 41px;
      position: absolute;
      bottom: 162px;
      left: -86px;
      word-spacing: 3px;
      font-family: 'Averia Gruesa Libra';
      font-weight: 200;
    }

    .xxx-r {
      font-size: 41px;
      position: absolute;
      bottom: 162px;
      left': -60px;
word-spacing: 3px;
      font-family: 'Averia Gruesa Libra';
      font-weight: 200;
    }

    .nav-tabs {
      border-bottom: 3px solid #dee2e6 !important;
    }

    .heading2 {
      margin: 25px 0;
      margin-bottom: 15px;
      font-weight: 350;
      "

    }
  </style>


  <!-- ----------------------------------------------------------------------------------------- -->

  <!-- start slide -->
  <div id="page" class="jumbotron slide-cont mt-0 mb-0 pt-2 ">
    <ul class="cb-slideshow">
      <!-- img ration w/h==1891/626 OR 3.02/1 -->
      <li><span>Image 01</span></li>
      <li><span>Image 02</span></li>
      <li><span>Image 03</span></li>
      <li><span>Image 04</span></li>
      <li><span>Image 05</span></li>
      <li><span>Image 06</span></li>
      <li><span>Image 07</span></li>
    </ul>


    <!-- 
        <div class="info-over-slide m-0  ">   
  
        <div class="container">
          <div class="card-body  ">
          </div>
        </div>
      </div>

       -->

  </div>
  <!-- end slide -->

  <div class="" style="background-color: #fb8d1c; height: 30px;">
    <div class="container text-center" style="vertical-align:middle;">
      <marquee align="center" onmouseout="start();" onmouseover="stop();" scrollamount="4">
        <a href="http://adm-del.nielit.in/">
          <p style="color: #000; font-size: 16px;">Registration open for Admission in Advance Certificate Course in Big Data Analytics </p>
        </a>
      </marquee>
    </div>
  </div>



  <!--   <div class="text-center navbarcolor sticky inline-block py-3">
      <h3>Schools of Studies</h3>
      <p class="text-center">Management | ICT |  Engineering | Biotechnology | Vocational Studies & Applied Sciences | Buddhism | Law |  Humanities & Social Sciences</p>
    </div> -->


  <!--     <div class="fadeuponsc jumbotron m-0 page-header" id="schools-programmes">
      <div class="over-lay mt-0">
        <br> -->
  <div class="container-fluid" style="background-color: #e9ecef">
    <div class="row">

      <div class="col-md-4 my-3 pt-3">
        <div class="card shadow" id="">
          <div class="card-header text-center text-white" style="background-color:#fb8d1c" id=""><strong>Latest Updates</strong></div>
          <div class="card-body">
            <marquee direction="up" onmouseover="this.stop();" onmouseout="this.start();" scrollamount="3">
              <a href="#">
                <p>lorem ipsem is good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very very good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very very very good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very very very very good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very very very very good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very very very very good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very very very very good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very very very very good</p>
              </a>
              <a href="#">
                <p>lorem ipsem is very very very very good</p>
              </a>
              <a href="#">
                <p></p>
              </a>
            </marquee>
          </div>
        </div>
      </div>

      <br><br>

      <div class="col-md-8 my-3 pt-3">
        <div class="card shadow" id="">
          <div class="card-header text-center text-white" style="background-color:#fb8d1c" id=""><strong>EIGHT SCHOOLS OF LEARNINGS</strong></div>

          <style type="text/css">
            p {
              color: gray;
            }

            h6 {
              color: #fb8d1c;
              font-weight: bold;
            }
          </style>

          <div class="card-body" style="font-size: 14px;">

            <!-- <img src="../admission/assets/img/schools.png" style="align-content: center"> -->

            <h6>University School of Management</h6>
            <p>Dual Degree Programme BBA-MBA [with exit option after BBA]; B.Com. (Hons.); MBA (HRM /Finance/Marketing/Operations/Strategy); MBA (Business Analytics); and Ph.D. (Management).</p>

            <h6>University School of Information and Communication Technology</h6>
            <p>B.Tech (CSE, ECE, IT, Artificial Intelligence); Five Year Integrated B.Tech.-M.Tech. (ECE/CSE) (Without permission to exit and lateral entry options); BCA; M.Tech (CSE, ECE, Cyber Security); MCA and Ph.D. (ECE/CSE). <br> (Lateral Entry
              option is available for Diploma holders and Science Graduates in B.Tech (ECE/CSE/AI) Programme).</p>

            <h6>University School of Biotechnology</h6>
            <p>Integrated (B. Tech.-M. Tech. (Biotechnology)/MBA) Programme (with no exit and without lateral entry options); M.Tech in Biotechnology; M.Sc. in Biotechnology; M.Sc. (Molecular Medicine); M.Sc. (Genomics & Genome Engineering) and Ph.D.
              (Biotechnology).</p>

            <h6>University School of Engineering</h6>
            <p>B.Tech (CE, ME, EE); B.Arch; I.D.; Dual Degree (4+2) B.Tech.-M.Tech. (EE) (with exit option after 4 years); M.Tech. in Electrical Engineering; M.Tech. in Civil Engineering; Master of Urban & Regional Planning (MURP), M.Arch. and Ph.D.
              (ME, EE, CE and Architecture & Planning). <br>(Lateral Entry option is available for Diploma holders and Science Graduates in B.Tech (CEME, EE) Programme).</p>

            <div id="more1" class="collapse">

              <h6>University School of Vocational Studies and Applied Sciences</h6>
              <p>B.Tech (Food Processing and Technology); B.Sc. (Physical Sciences); B.Sc. (Hons.) Physics/ Chemistry/Mathematics; M.Tech. (Food Processing and Technology); M.Sc. (Applied Chemistry, Applied Physics, Applied Mathematics, Environmental
                Science and Food Science) and Ph.D. (Applied Physics, Applied Mathematics, Applied Chemistry and Environmental Science).</p>


              <h6>University School of Humanities and Social Sciences</h6>
              <p>B.A.; B.A. (Hons.) in English, Political Science, Applied Psychology, Hindi, Urdu, Economics, History; Bachelor of Social Work (BSW); B.Ed.; MA (Economics, Planning and Development; English; Hindi; Urdu; Political Science and
                International Relations; Education; History & Civilization); MA/M.Sc. (Applied Psychology); MSW; M.Phil (Clinical Psychology); M.Phil (Political Science & International Relations); PG Diploma in English Language Teaching; Diploma in
                Urdu Language and Ph.D. (Political Science and International Relations, English/Linguistics).</p>


              <h6>University School of Buddhist Studies and Civilization</h6>
              <p>BA (Hons.) (Buddhist Studies & Civilization); Certificate Course in Pali Language and Literature; Post Graduate Diploma in Pali Language and Literature; Post Graduate Diploma in Buddhist Tourism and Heritage; MA (Buddhist Studies &
                Civilization) and M.Phil (Buddhist Studies & Civilization) and Ph.D (Buddhist Studies & Civilization)</p>

              <h6>University School of Law, Justice & Governance</h6>
              <p>BA. LL.B (5-Year Integrated Programme); PG Diploma in Business & Economic Laws; LL.M. (one year) and Ph.D (Law).</p>
            </div>
            <a href="#more1" class="float-right collapsed expand-a" data-toggle="collapse" aria-expanded="false"><strong class="btn btn-outline-primary">Expand</strong></a>

          </div>


        </div>
      </div>

      <!--     </div>
  </div> -->

      <!-- <div class="container img-h mt-0">
          <div class=" width-50 ml-3 h-line position-relative">
             IMG PX ratio is h/w == 500/490 ||  
            <img class="fadeuponsc position-absolute img-fluid img-gbu float-right" alt="gbu" src="../admission/assets/img/Admission_home/gbu-img.jpg">
          </div>
          <div class=" width-50">
            <div class="sp1" ></div>
            <div class="title">
              <div class="fadeuponsc">
                <h3 style="font-size: 1.25rem"> Admissions</h3><h1 style="font-size: 3.25rem; color: #012454">Reach Higher</h1>
              </div>
              <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
              <div style="height: 40px"></div>
              <div>
                <p class="fadeuponsc text-justify  font-weight-lighter m-3" style="font-size:1.405rem; width: 80%;">The opportunity of a Gautam Buddha University education attracts the brightest minds from around the world.</p>
              </div>
            </div>
          </div>
        </div> -->


    </div>
  </div>
  <br>


  <div class="mt-4">

    <!-- S Tab -->
    <!-- ===================== -->
    <div class="fadeuponsc container navbar-expand-md ">
      <ul class="nav navbar-nav list-unstyled nabar-expand-md nav-justified mx-auto ">
        <li class="nav-item nav-itemc m-1">
          <a href="#home" class="nav-link" data-toggle="tab"> Under Graduation </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#noti" class="nav-link" data-toggle="tab"> Post Graduation </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#msg" class="nav-link" data-toggle="tab"> Ph.D/M.Phil </a>
        </li>
        <li class="nav-item nav-itemc m-1">
          <a href="#cr-dp" class="nav-link" data-toggle="tab"> Certification/Diploma </a>
        </li>
      </ul>
    </div>
    <!--E tab -->
    <div class="jumbotron mt-2 mb-0 text-center">
      <div class=" tab-content container">
        <div class="tab-pane active" id="home"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Undergraduation Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify">
                    <h5 class="">Undergraduatin Courses</h5>
                    <p>(B.Tech) in Civil Engineering, Mechanical Engineering, Electrical Engineering, Computer Science Engineering & Electronics and Communication Engineering, Food Processing and Technology, Biotechnology, Integrated Dual Degree
                      Programme BBA-MBA, Integrated Dual Degree Programme BBA-MBA, BA+ LLB (5-Year Integrated Programme), Bachelor in Architecture (B. Arch), B.Tech in Information Technology (IT), B. Sc., B. Voc. (Bachelor of Vocational Studies) in
                      Food Processing, B.A. (Hons.)-MA in Buddhist Studies and Civilization.</p>
                  </div>
                  <br>
                  <br>
                  <!-- <a href="https://gbu.epravesh.com/" class="xcdx-btn text-white p-4">Undergraduation Admissions</a> -->
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <!-- img resolution ration h/w == 400/490 -->
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbu-ug.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="noti"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Postgraduation Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify">
                    <h5>Postgraduation courses</h5>
                    <p>M. Plan (Master of Urban and Regional Planning), M.Tech in Power System Engineering, M.Tech in Instrumentation and Control, M.Tech in Power Electronics and Drives, M.Tech (Biotech), M.Tech in Specialization in Software
                      Engineering, M. Tech in Specialization in Intelligent System and Robotics, M.Tech in Specialization in Wireless Communication and Networks, M.Tech in Specialization in VLSI Design, M.Tech in Computer Science.
                      <p id="pgex" class="collapse fadeuponsc text-justify left-70 visible">M.Tech in Embedded System, M.Tech in Food Processing and Technology, M. Sc. in Applied Chemistry, M. Sc.in Applied Physics, M. Sc. in Applied Mathematics, M.
                        Sc. in Environmental Science, M. Sc. in Food Science, MA in Buddhist Studies & Civilization, M. Phil in Buddhist Studies & Civilization, MA in Education, MA in History and Civilization, MA in Economics, Planning and
                        Development, MA in English, MA in Hindi, MA in Urdu, MA in Mass Communication, MSW(Master in Social Work), MA in Sociology, MA in Political Science and International Relations, MA/M.Sc. in Applied Psychology, Master in
                        Disability Rehabilitation & Administration, M.Phil in Clinical Psychology, Master in Public Policy and Governance
                      </p>
                    </p>
                    <a href="#pgex" class="float-right collapsed expand-a" data-toggle="collapse" aria-expanded="false"><strong class="btn btn-outline-primary  justify-content-center color-black ">Expand</strong></a>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbu-pg.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="msg"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Ph.D/M.Phil Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify">
                    <h5>Ph.D/M.Phil courses</h5>
                    <p>Ph.D. (Electrical Engg.), (Power converters & Drives, Control System Optimization, Biomedical Instrumentation & Image Processing), Ph.D. in Civil Engineering, Ph.D. (Architecture & Planning), Ph.D. (Mechanical Engg.), Ph.D. in
                      Management, Ph.D. in Applied Chemistry, Ph.D. in Applied Physics, Ph.D. in Applied Mathematics, Ph.D. in various areas of Biotechnology, Ph.D. in law </p>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbu-phd.jpg">
              </div>
            </div>
          </div>
        </div>
        <div class="tab-pane" id="cr-dp"> <br>
          <div class="fadeuponsc row w-100">
            <div class="container m-0 ttab w-100">
              <div class="cl1 ttabc-com mr-2">
                <div class="stats-copy">
                  <h2 class="text-lg-left">Certification/ Diploma Admissions</h2>
                  <div style="height: 5px; width: 150px; background-color:#FB8C00"></div>
                  <br>
                  <div class="text-justify">
                    <h5>Certification/Diploma Admissions</h5>
                    <p>PG DIPLOMA IN BUSINESS AND ECONOMIC LAWS ( PGL01 )
                      PG DIPLOMA IN ENGLISH LANGUAGE TEACHING (ELT) (PART-TIME,NON-RESIDENTIAL) ( PGH01 )
                      DIPLOMA IN URDU LANGUAGE (PART-TIME,NON-RESIDENTIAL) ( DH01 )
                      CERTIFICATE COURSE IN PALI LANGUAGE AND LITERATURE (PART-TIME) ( CBS01 )
                      PG DIPLOMA IN PALI LANGUAGE AND LITERATURE (PART-TIME) ( PGBS01 )
                      PG DIPLOMA IN BUDDHIST TOURISM AND HERITAGE (PART-TIME) ( PGBS02 )</p>
                  </div>
                  <br>
                  <br>
                </div>
              </div>
              <div class="cl2 ttabc-com  ml-3">
                <img class="ug-img img-fluid" src="../admission/assets/img/Admission_home/gbuug.jpg">
              </div>
            </div>
          </div>
        </div>
        <br><br>
        <hr>
        <div class="fadeuponsc container">
          <ul class=" row  list-unstyled nav-justified">
            <li class=" nav-item nav-itemc py-3">
              <a href="#" target="_blank" class="nav-link">Admission Brochure </a>
            </li>
            <li class="nav-item nav-itemc py-3">
              <a href="/admission/fee-structure" class="nav-link"> Fees Structure </a>
            </li>
            <li class="nav-item nav-itemc py-3">
              <a href="/admission/important-dates" class="nav-link">Important Dates </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
<%include footer%>