<!DOCTYPE html>
<html lang="en">

<head>
  <script async src="https://cse.google.com/cse.js?cx=014142162027795520387:rpatngdrvw9"></script>
  <title>Gautam Buddha University</title>
  <link rel="icon" type="image/gif/png" href="../../../img/logo_gbu.png">
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Averia Gruesa Libra" rel="stylesheet">
  <!-- Custom CSS -->

  <link rel="stylesheet" type="text/css" href="../../../../../../../../css/style.css">


  <link rel="stylesheet" type="text/css" href="../gallery/assets/css/slide.css">
  <link rel="stylesheet" type="text/css" href="../gallery/assets/css/vr.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Poppins:400,500|Source+Sans+Pro&display=swap" rel="stylesheet">
  <!-- Font Awesome -->
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!--- Animation -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="../../admission/animeCssJs/css/anime.css" />
  <link rel="stylesheet" type="text/css" href="../../admission/animeCssJs/css/anime-style.css" />
  <link rel="stylesheet" type="text/css" href="../clubs/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="../clubs/css/font-awesome.css">
  <link rel="stylesheet" type="text/css" href="../clubs/css/style.css">

  <!-- video -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js">
  <!-- video -->


  <script type="text/javascript" src="../../admission/animeCssJs/js/anime.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="../admission/assets/js/on-scroll-fadeUp.js">
  </script>
  <script type="text/javascript">
    function executeQuery() {
      var input = document.getElementById('form-search-input');
      console.log(input)
      var element = google.search.cse.element.getElement('searchresults-only0');
      if (input.value == '') {
        element.clearAllResults();
      } else {
        element.execute(input.value);
      }
      return false;
    }
  </script>
  <!-- e slide -->

  <!-- Custom CSS -->
  <link rel="stylesheet" type="text/css" href="../admission/admissions.css">
  <!-- Font Awesome -->

</head>

<body>
  <!--nav bar section start from here -->
  <nav class="navbar navbar-dark bg-dark py-0 navbar-expand-lg py-md-0" id="first-nav">
    <div class="navbar-collapse collapse" id="">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item py-0 px-1"><a href="../../../campus-life" class="nav-link nav-1">Campus Life</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../clubs" class="nav-link nav-1">Clubs</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../gallery" class="nav-link nav-1">Photo Gallery</a></li>
        <li class="nav-item py-0 px-1"><a href="http://mail.gbu.ac.in/" class="nav-link nav-1">Webmail</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../library" class="nav-link nav-1">Library</a></li>

        <li class="nav-item py-0 px-1"><a href="../../../naac" class="nav-link nav-1">Privacy Policy</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../iqac" class="nav-link nav-1">Terms and Conditions</a></li>
        <li class="nav-item py-0 px-1"><a href="../../../faqs" class="nav-link nav-1">FAQs</a></li>
      </ul>
    </div>
  </nav>
  <div class="header sticky-top">
    <nav class="navbar py-2 navbar-expand-lg navbar-bgcolor">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="../../../../../../../../img/gbu_logo.png" style="width: 100%;" class="logo">
          <h5 class="px-1 my-auto" id="college-name">
            गौतम बुद्ध विश्वविद्यालय<br>GAUTAM BUDDHA UNIVERSITY<br>
            <p class="college-name-tag my-auto">Established by the UP GBU Act 2002 UP Act No. 9 of 2002<br>
              Approved by UGC under Section 12-B, NAAC Accredited
            </p>
          </h5>
        </a>
        <button class="navbar-toggler collapsed my-auto" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" id="collapse-button" aria-expanded="false">
          <span><i class="fa fa-bars"></i></span>
        </button>
        <div class="navbar-collapse collapse" id="collapsibleNavbar">
          <div class="col-3 d-none d-lg-block"></div>
          <form class=" form-inline my-2 my-lg-0 w-50 mr-0 " id="form-search-box" onsubmit="return executeQuery();">
            <div class="container">
              <label id="search"><input autocomplete="off" class="form-control form-control-sm" id="form-search-input" type="search" placeholder="Search" aria-label="Search" /></label>
            </div>
          </form>

          <div class="my-3 text-center text-md-right ">
            <!-- Facebook -->
            <a class="fb-ic  " href="http://mail.gbu.ac.in/">
              <i id="fa-size" class="fa fa-envelope mx-1 text-danger"></i>
            </a>
            <a class="fb-ic" href="https://www.facebook.com/gbugrnoida.dic/">
              <i id="fa-size" class="fa fa-facebook-official mx-1" style="color:#3b5998 "></i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic" href="https://twitter.com/gbugrnoida">
              <i id="fa-size" class="fa fa-twitter white-text mx-1" style="color: #1da1f2"> </i>
            </a>
          </div>
          </ul>
        </div>
      </div>
    </nav>
    <div class="main-navigation-wrapper shadow">
      <nav class="container flex-nav">
        <a class="main-navigation-a d-none">Menu</a>
        <ul class="mx-0 justify-content-center">
          <li><a class="main-navigation-a" href="/admissions">Home</a></li>
          <li class="dropdown">
            <a class="main-navigation-a dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">About</a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-12">
                  <a class="dropdown-item" id="sub-main-navigation" href="#/schools-programmes/">Schools & Programmes</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admissions/team">Admission Team</a>
                </div>
              </div>
            </div>
          </li>
          <li class="dropdown">
            <a class="main-navigation-a dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Admissions Information</a>
            <div class="dropdown-menu">
              <div class="row">
                <div class="col-12">
                  <a class="dropdown-item" id="sub-main-navigation" href="#" target="_blank">Admission Brochure 2020</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admission/important-dates">Important Dates</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admission/fee-structure">Fee Structure</a>
                  <a class="dropdown-item" id="sub-main-navigation" href="/admissions/international-students">International Students</a>
                </div>
              </div>
            </div>
          </li>
          <li><a class="main-navigation-a" href="#" target="_blank">Apply for Admission</a></li>
          <li><a class="main-navigation-a" href="https://youtu.be/awlKnKv17L8" target="_blank">Exam Demo</a></li>
          <li><a class="main-navigation-a" href="/admissions/contact-us">Contact Us</a></li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="gcse-searchresults-only"></div>
  <!--nav bar section end here -->
  <style>
    .gsc-control-cse {
      padding: 0rem;
    }

    .xxx-l {
      font-size: 41px;
      position: absolute;
      bottom: 162px;
      left: -86px;
      word-spacing: 3px;
      font-family: 'Averia Gruesa Libra';
      font-weight: 200;
    }

    .xxx-r {
      font-size: 41px;
      position: absolute;
      bottom: 162px;
      left': -60px;
word-spacing: 3px;
      font-family: 'Averia Gruesa Libra';
      font-weight: 200;
    }

    .nav-tabs {
      border-bottom: 3px solid #dee2e6 !important;
    }

    .heading2 {
      margin: 25px 0;
      margin-bottom: 15px;
      font-weight: 350;
      "

    }
  </style>


  <!-- ----------------------------------------------------------------------------------------- -->

  <div class="container-fluid m-0 px-5 py-3">
    <h3 class="text-lg-left mt-3 mb-0">Contact Us</h3>
    <div class=" my-2 float-left" style="height: 5px; width: 7%; background-color:#FB8C00 "></div>
    <br><br>

    <div class="row">
      <div class="col-md-6 col-sm-12">
        <h5 class="ml-5"> <b>Admission Office</b></h5>
        <p class="card-text ml-5">
          Administrative Block, <br>
          Gautam Buddha University, <br>
          Greater NOIDA,
          Gautam Budh Nagar,<br>
          Uttar Pradesh-201312 (INDIA)<br>
          <!--  <i class="fa fa-envelope"></i>&nbsp; <a href="mailto:info@gbu.ac.in"> info@gbu.ac.in</a> <br> -->
          <i class="fa fa-envelope"></i>&nbsp; <a href="mailto:admissions@gbu.ac.in"> admissions@gbu.ac.in</a> <br>
          <i class="fa fa-phone"></i>&nbsp;<a href="tel:01202344200"> 0120-234 4200 </a><br>
        </p>

        <br><br>

        <p class="pl-5"> <a href="/admissions/query" class="xcdx-btn text-white p-4">Admission Query</a></p> <br><br>
      </div>

      <div class="col-md-6 col-sm-12">
        <h5 class="mr-5 text-center"> <b>Important Phone No.</b></h5> <br>

        <table class="table-sm table-hover table-responsive pl-3 border-0" border="1">
          <tr>
            <td>General Enquiry</td>
            <td><a href="tel:01202344200"> 0120-234 4200 </a></td>
          </tr>
          <tr>
            <td>Admission Help Desk (General)</td>
            <td><a href="tel:01202344234"> 0120-234 4234/47 </a></td>
          </tr>
          <tr>
            <td>Admission Help Desk (Technical & Financial Issues)</td>
            <td><a href="tel:01202344255"> 0120-234 4255 </a></td>
          </tr>
          <tr>
            <td>Chief Warden (Male and Female)</td>
            <td><a href="tel:01202346175"> 0120-234 6175 </a></td>
          </tr>
        </table>

      </div>

    </div>

  </div>


  <%include footer%>