*{
	margin: 0px;
	padding: 0px;
}

.fadeuponsc {
    opacity: 0.5;
    transform: translate(0, 60px);
    transition: all 0.8s;
    }
    .fadeuponsc.visible {
    opacity: 1;
    transform: translate(0, 0);
    }
     

.navbarcolor{
    background-color: #012454;
    color: #ffffff;
}
.nav-itemc{
	box-shadow: 1px 2px 5px 1px #080808d6;
	margin: 15px;
	border-radius: 50px;
	transition: 0.7s ease-in-out;
	color: #ffffff;
	background-color: #012454;
}
.nav-itemc a{
color: #ffffff;
}
.nav-itemc:hover{
	background-color: #FB8C00;
	color: #012454;
	transition: 0.7s;
	border-radius: 10px;
}

.nav-tabs{
	border: hidden;
}

.ttabc-com{
	width: 48%;
	height: 100%;
	float: left;
}

.stats-copy h2{
	font-size:  2.5rem;
	color: #012454;
}
.stats-copy p{
	margin: 0 0 1rem;
    line-height: 1.65em;
}

.ug-img{
	height: 400px; 
	width: 500px;
}



.row1-c{
	width:50%;
}



/*---------*/
.xcdx-btn{
	width: 30%;
	padding: 2% 1.7%;  
	background-color: #012454;
	transition: 0.5s ease-in-out;
	text-decoration: none;
	border-radius: 50px;
	text-decoration: none;
}
.xcdx-btn:hover{
	background-color: #FB8C00;
	 transition: 0.5s;
	 border-radius: 10px;
}

.xcdx-btn a{
	text-decoration: none;
}


.btn-outline-primary{
	color: #000000;
	transition: 0.5s ease-in-out;
}
.btn-outline-primary:hover {
    color: #ffffff;
    background-color: #FB8C00; 
    border-color: #007bff;
    transition: 0.5s;
}

/*meditation img*/
.mdc-img img{
	height: 100px;
	width: 100px;
}


/*==============S head page=======
 */


.h-line{
	float: right;
	margin-top: 3rem!important;

}
.width-50{
	width: 50%
}

.page-header{
	min-height: 500px!important;
	max-height: 100%!important;
	background-color: rgba(255, 255, 255, 0.79);
	/*Bg-image PX ratio  h/w == 32/5 || 7.4/1  */
	background-image: url(assets/img/Admission_home/gbust1.jpg);
	background-repeat: no-repeat;
	background-size: 100% 300px;
	position: relative;
}
.over-lay{
 	background-color: #f7fddbc9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.sp1{
	height: 70px;
	width: 100%;
}
.img-gbu{
	height: 500px; 
	width: 700px;
}

.title{
	margin-top: 100px;
	height: 100%;
}
@media only screen and (max-width: 800px){
	.width-50{
		width: 100%;
	}

.h-line{
	float: none;
	margin-top: 0rem!important;
}


.page-header{
	min-height: 25rem!important;
	background-image: url(assets/img/Admission_home/gbust2.jpg);
	margin: auto;
	background-size: 100% 200px;
}
/* gbu img*/
.img-gbu{
	width: 0;
	height: 0rem!important;
}

.sp1{
	height: 20px;
}

.title{
	margin-top: 20px;
	height: 100%;
}



/*UG PG PHD CRDIP*/


.ttabc-com{
	width: 100%;
	float: none;
	/*height: 100%;*/
}
.stats-copy h2{
	font-size:  2.5rem;
	color: #012454;
}
.stats-copy p{
	margin: 0 0 1rem;
    line-height: 1.65rem;
}

.ug-img{
	height: 0px; 
	width: 0px; 
}
}

@media only screen and (min-width: 60em){
.h-line{
    margin-top: 3rem;
}
}

/*------------e head page----------*/